LoansPQWSWrappers.JXChange_2012/JXChange2019003/Web References/JXChange2019003.CrCard/TPG_CrCard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="2019.0.03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_CrCardMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="CrCardTrnHistSrchInput">
    <part name="params" element="tns:CrCardTrnHistSrch" />
  </message>
  <message name="CrCardTrnHistSrchOutput">
    <part name="params" element="tns:CrCardTrnHistSrchResponse" />
  </message>
  <message name="CrCardAcctInqInput">
    <part name="params" element="tns:CrCardAcctInq" />
  </message>
  <message name="CrCardAcctInqOutput">
    <part name="params" element="tns:CrCardAcctInqResponse" />
  </message>
  <message name="CrCardRwrdInqInput">
    <part name="params" element="tns:CrCardRwrdInq" />
  </message>
  <message name="CrCardRwrdInqOutput">
    <part name="params" element="tns:CrCardRwrdInqResponse" />
  </message>
  <message name="CrCardTrnAddInput">
    <part name="params" element="tns:CrCardTrnAdd" />
  </message>
  <message name="CrCardTrnAddOutput">
    <part name="params" element="tns:CrCardTrnAddResponse" />
  </message>
  <message name="CrCardActInput">
    <part name="params" element="tns:CrCardAct" />
  </message>
  <message name="CrCardActOutput">
    <part name="params" element="tns:CrCardActResponse" />
  </message>
  <message name="CrCardRptLostAddInput">
    <part name="params" element="tns:CrCardRptLostAdd" />
  </message>
  <message name="CrCardRptLostAddOutput">
    <part name="params" element="tns:CrCardRptLostAddResponse" />
  </message>
  <message name="CrCardStmtSrchInput">
    <part name="params" element="tns:CrCardStmtSrch" />
  </message>
  <message name="CrCardStmtSrchOutput">
    <part name="params" element="tns:CrCardStmtSrchResponse" />
  </message>
  <message name="CrCardStmtGenInput">
    <part name="params" element="tns:CrCardStmtGen" />
  </message>
  <message name="CrCardStmtGenOutput">
    <part name="params" element="tns:CrCardStmtGenResponse" />
  </message>
  <message name="CrCardAcctSrchInput">
    <part name="params" element="tns:CrCardAcctSrch" />
  </message>
  <message name="CrCardAcctSrchOutput">
    <part name="params" element="tns:CrCardAcctSrchResponse" />
  </message>
  <message name="CrCardStmtModInput">
    <part name="params" element="tns:CrCardStmtMod" />
  </message>
  <message name="CrCardStmtModOutput">
    <part name="params" element="tns:CrCardStmtModResponse" />
  </message>
  <message name="CrCardStmtInqInput">
    <part name="params" element="tns:CrCardStmtInq" />
  </message>
  <message name="CrCardStmtInqOutput">
    <part name="params" element="tns:CrCardStmtInqResponse" />
  </message>
  <portType name="CrCardService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardTrnHistSrch">
      <input message="tns:CrCardTrnHistSrchInput" />
      <output message="tns:CrCardTrnHistSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardAcctInq">
      <input message="tns:CrCardAcctInqInput" />
      <output message="tns:CrCardAcctInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardRwrdInq">
      <input message="tns:CrCardRwrdInqInput" />
      <output message="tns:CrCardRwrdInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardTrnAdd">
      <input message="tns:CrCardTrnAddInput" />
      <output message="tns:CrCardTrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardAct">
      <input message="tns:CrCardActInput" />
      <output message="tns:CrCardActOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardRptLostAdd">
      <input message="tns:CrCardRptLostAddInput" />
      <output message="tns:CrCardRptLostAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardStmtSrch">
      <input message="tns:CrCardStmtSrchInput" />
      <output message="tns:CrCardStmtSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardStmtGen">
      <input message="tns:CrCardStmtGenInput" />
      <output message="tns:CrCardStmtGenOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardAcctSrch">
      <input message="tns:CrCardAcctSrchInput" />
      <output message="tns:CrCardAcctSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardStmtMod">
      <input message="tns:CrCardStmtModInput" />
      <output message="tns:CrCardStmtModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="CrCardStmtInq">
      <input message="tns:CrCardStmtInqInput" />
      <output message="tns:CrCardStmtInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="CrCardServiceSoapBinding" type="tns:CrCardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardTrnHistSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardTrnHistSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardAcctInq">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardAcctInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardRwrdInq">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardRwrdInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardTrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardTrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardAct">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardAct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardRptLostAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardRptLostAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardStmtSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardStmtSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardStmtGen">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardStmtGen" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardAcctSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardAcctSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardStmtMod">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardStmtMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="CrCardStmtInq">
      <soap:operation soapAction="http://jackhenry.com/ws/CrCardStmtInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CrCardService">
    <documentation>Service Description for the CrCardService Interface</documentation>
    <port name="CrCardServiceSoap" binding="tns:CrCardServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/CrCard.svc" />
    </port>
  </service>
</definitions>