LoansPQWSWrappers.JXChange_2012/JXChange2014008/Web References/JXChange2014008.Custom/TPG_Custom.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="2014.0.08" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_CustomMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="IntnetFinInstUsrAuthenInqInput">
    <part name="params" element="tns:IntnetFinInstUsrAuthenInq" />
  </message>
  <message name="IntnetFinInstUsrAuthenInqOutput">
    <part name="params" element="tns:IntnetFinInstUsrAuthenInqResponse" />
  </message>
  <message name="IntnetAlrtMsgAddInput">
    <part name="params" element="tns:IntnetAlrtMsgAdd" />
  </message>
  <message name="IntnetAlrtMsgAddOutput">
    <part name="params" element="tns:IntnetAlrtMsgAddResponse" />
  </message>
  <message name="FarmCrBankRateIdxAddInput">
    <part name="params" element="tns:FarmCrBankRateIdxAdd" />
  </message>
  <message name="FarmCrBankRateIdxAddOutput">
    <part name="params" element="tns:FarmCrBankRateIdxAddResponse" />
  </message>
  <message name="FarmCrBankRateIdxModInput">
    <part name="params" element="tns:FarmCrBankRateIdxMod" />
  </message>
  <message name="FarmCrBankRateIdxModOutput">
    <part name="params" element="tns:FarmCrBankRateIdxModResponse" />
  </message>
  <message name="FarmCrBankRateIdxInqInput">
    <part name="params" element="tns:FarmCrBankRateIdxInq" />
  </message>
  <message name="FarmCrBankRateIdxInqOutput">
    <part name="params" element="tns:FarmCrBankRateIdxInqResponse" />
  </message>
  <message name="BrooklineMAWireTrnAddInput">
    <part name="params" element="tns:BrooklineMAWireTrnAdd" />
  </message>
  <message name="BrooklineMAWireTrnAddOutput">
    <part name="params" element="tns:BrooklineMAWireTrnAddResponse" />
  </message>
  <message name="BrooklineMAWireTrnInqInput">
    <part name="params" element="tns:BrooklineMAWireTrnInq" />
  </message>
  <message name="BrooklineMAWireTrnInqOutput">
    <part name="params" element="tns:BrooklineMAWireTrnInqResponse" />
  </message>
  <message name="SheffieldALIVRPINValidateInput">
    <part name="params" element="tns:SheffieldALIVRPINValidate" />
  </message>
  <message name="SheffieldALIVRPINValidateOutput">
    <part name="params" element="tns:SheffieldALIVRPINValidateResponse" />
  </message>
  <message name="SheffieldALIVRPINModInput">
    <part name="params" element="tns:SheffieldALIVRPINMod" />
  </message>
  <message name="SheffieldALIVRPINModOutput">
    <part name="params" element="tns:SheffieldALIVRPINModResponse" />
  </message>
  <message name="FtWorthTXCrCardLogOnInput">
    <part name="params" element="tns:FtWorthTXCrCardLogOn" />
  </message>
  <message name="FtWorthTXCrCardLogOnOutput">
    <part name="params" element="tns:FtWorthTXCrCardLogOnResponse" />
  </message>
  <message name="FtWorthTXCrCardLogOffInput">
    <part name="params" element="tns:FtWorthTXCrCardLogOff" />
  </message>
  <message name="FtWorthTXCrCardLogOffOutput">
    <part name="params" element="tns:FtWorthTXCrCardLogOffResponse" />
  </message>
  <message name="FtWorthTXCrCardSrchInput">
    <part name="params" element="tns:FtWorthTXCrCardSrch" />
  </message>
  <message name="FtWorthTXCrCardSrchOutput">
    <part name="params" element="tns:FtWorthTXCrCardSrchResponse" />
  </message>
  <message name="FtWorthTXCrCardAuthInqInput">
    <part name="params" element="tns:FtWorthTXCrCardAuthInq" />
  </message>
  <message name="FtWorthTXCrCardAuthInqOutput">
    <part name="params" element="tns:FtWorthTXCrCardAuthInqResponse" />
  </message>
  <portType name="CustomService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="IntnetFinInstUsrAuthenInq">
      <input message="tns:IntnetFinInstUsrAuthenInqInput" />
      <output message="tns:IntnetFinInstUsrAuthenInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="IntnetAlrtMsgAdd">
      <input message="tns:IntnetAlrtMsgAddInput" />
      <output message="tns:IntnetAlrtMsgAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FarmCrBankRateIdxAdd">
      <input message="tns:FarmCrBankRateIdxAddInput" />
      <output message="tns:FarmCrBankRateIdxAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FarmCrBankRateIdxMod">
      <input message="tns:FarmCrBankRateIdxModInput" />
      <output message="tns:FarmCrBankRateIdxModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FarmCrBankRateIdxInq">
      <input message="tns:FarmCrBankRateIdxInqInput" />
      <output message="tns:FarmCrBankRateIdxInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="BrooklineMAWireTrnAdd">
      <input message="tns:BrooklineMAWireTrnAddInput" />
      <output message="tns:BrooklineMAWireTrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="BrooklineMAWireTrnInq">
      <input message="tns:BrooklineMAWireTrnInqInput" />
      <output message="tns:BrooklineMAWireTrnInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="SheffieldALIVRPINValidate">
      <input message="tns:SheffieldALIVRPINValidateInput" />
      <output message="tns:SheffieldALIVRPINValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="SheffieldALIVRPINMod">
      <input message="tns:SheffieldALIVRPINModInput" />
      <output message="tns:SheffieldALIVRPINModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FtWorthTXCrCardLogOn">
      <input message="tns:FtWorthTXCrCardLogOnInput" />
      <output message="tns:FtWorthTXCrCardLogOnOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FtWorthTXCrCardLogOff">
      <input message="tns:FtWorthTXCrCardLogOffInput" />
      <output message="tns:FtWorthTXCrCardLogOffOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FtWorthTXCrCardSrch">
      <input message="tns:FtWorthTXCrCardSrchInput" />
      <output message="tns:FtWorthTXCrCardSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FtWorthTXCrCardAuthInq">
      <input message="tns:FtWorthTXCrCardAuthInqInput" />
      <output message="tns:FtWorthTXCrCardAuthInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="CustomServiceSoapBinding" type="tns:CustomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="IntnetFinInstUsrAuthenInq">
      <soap:operation soapAction="http://jackhenry.com/ws/IntnetFinInstUsrAuthenInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="IntnetAlrtMsgAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/IntnetAlrtMsgAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FarmCrBankRateIdxAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/FarmCrBankRateIdxAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FarmCrBankRateIdxMod">
      <soap:operation soapAction="http://jackhenry.com/ws/FarmCrBankRateIdxMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FarmCrBankRateIdxInq">
      <soap:operation soapAction="http://jackhenry.com/ws/FarmCrBankRateIdxInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="BrooklineMAWireTrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/BrooklineMAWireTrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="BrooklineMAWireTrnInq">
      <soap:operation soapAction="http://jackhenry.com/ws/BrooklineMAWireTrnInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="SheffieldALIVRPINValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/SheffieldALIVRPINValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="SheffieldALIVRPINMod">
      <soap:operation soapAction="http://jackhenry.com/ws/SheffieldALIVRPINMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FtWorthTXCrCardLogOn">
      <soap:operation soapAction="http://jackhenry.com/ws/FtWorthTXCrCardLogOn" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FtWorthTXCrCardLogOff">
      <soap:operation soapAction="http://jackhenry.com/ws/FtWorthTXCrCardLogOff" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FtWorthTXCrCardSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/FtWorthTXCrCardSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FtWorthTXCrCardAuthInq">
      <soap:operation soapAction="http://jackhenry.com/ws/FtWorthTXCrCardAuthInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CustomService">
    <documentation>Service Description for the CustomService Interface</documentation>
    <port name="CustomServiceSoap" binding="tns:CustomServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/Custom.svc" />
    </port>
  </service>
</definitions>