LoansPQWSWrappers/Web References/AFCU16.OpenCloseAccount/CommonTypesLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/CommonTypesLib" targetNamespace="http://www.americafirst.com/20070315/CommonTypesLib" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="String_1">
    <restriction base="string">
      <maxLength value="5" />
    </restriction>
  </simpleType>
  <simpleType name="String_2">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <simpleType name="String_3">
    <restriction base="string">
      <maxLength value="3" />
    </restriction>
  </simpleType>
  <simpleType name="String_4">
    <restriction base="string">
      <maxLength value="4" />
    </restriction>
  </simpleType>
  <simpleType name="String_5">
    <restriction base="string">
      <maxLength value="5" />
    </restriction>
  </simpleType>
  <simpleType name="String_6">
    <restriction base="string">
      <maxLength value="6" />
    </restriction>
  </simpleType>
  <simpleType name="String_7">
    <restriction base="string">
      <maxLength value="7" />
    </restriction>
  </simpleType>
  <simpleType name="String_10">
    <restriction base="string">
      <maxLength value="10" />
    </restriction>
  </simpleType>
  <simpleType name="String_12">
    <restriction base="string">
      <maxLength value="12" />
    </restriction>
  </simpleType>
  <simpleType name="String_15">
    <restriction base="string">
      <maxLength value="15" />
    </restriction>
  </simpleType>
  <simpleType name="String_20">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <simpleType name="String_25">
    <restriction base="string">
      <maxLength value="25" />
    </restriction>
  </simpleType>
  <simpleType name="String_30">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <simpleType name="String_65">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <simpleType name="Decimal_5_3">
    <restriction base="decimal">
      <totalDigits value="5" />
      <fractionDigits value="3" />
    </restriction>
  </simpleType>
  <simpleType name="Decimal_7_2">
    <restriction base="decimal">
      <totalDigits value="7" />
      <fractionDigits value="2" />
    </restriction>
  </simpleType>
  <simpleType name="Decimal_7_3">
    <restriction base="decimal">
      <totalDigits value="7" />
      <fractionDigits value="3" />
    </restriction>
  </simpleType>
  <simpleType name="Decimal_9_5">
    <restriction base="decimal">
      <totalDigits value="9" />
      <fractionDigits value="5" />
    </restriction>
  </simpleType>
  <simpleType name="Decimal_15_2">
    <restriction base="decimal">
      <totalDigits value="15" />
      <fractionDigits value="2" />
    </restriction>
  </simpleType>
  <simpleType name="Decimal_16_3">
    <restriction base="decimal">
      <totalDigits value="16" />
      <fractionDigits value="3" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_1">
    <restriction base="nonNegativeInteger">
      <totalDigits value="1" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_3">
    <restriction base="nonNegativeInteger">
      <totalDigits value="3" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_4">
    <restriction base="nonNegativeInteger">
      <totalDigits value="4" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_7">
    <restriction base="nonNegativeInteger">
      <totalDigits value="7" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_8">
    <restriction base="nonNegativeInteger">
      <totalDigits value="8" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_9">
    <restriction base="nonNegativeInteger">
      <totalDigits value="9" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_15">
    <restriction base="nonNegativeInteger">
      <totalDigits value="15" />
    </restriction>
  </simpleType>
  <simpleType name="NonNegativeInteger_16">
    <restriction base="nonNegativeInteger">
      <totalDigits value="16" />
    </restriction>
  </simpleType>
  <simpleType name="Short_3">
    <restriction base="short">
      <totalDigits value="3" />
    </restriction>
  </simpleType>
  <simpleType name="Long_7">
    <restriction base="long">
      <totalDigits value="7" />
    </restriction>
  </simpleType>
  <simpleType name="Long_8">
    <restriction base="long">
      <totalDigits value="8" />
    </restriction>
  </simpleType>
  <simpleType name="Long_9">
    <restriction base="long">
      <totalDigits value="9" />
    </restriction>
  </simpleType>
  <simpleType name="Long_13">
    <restriction base="long">
      <totalDigits value="13" />
    </restriction>
  </simpleType>
</schema>