LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISRelationshipDemographicUpdate/CIRltDemogUpdtWSV2SvcRes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cw303="mtvnCWCIRltDemogUpdtResData" xmlns:cw000="mtvnCWCIRltDemogUpdtSvcRes" elementFormDefault="qualified" targetNamespace="mtvnCWCIRltDemogUpdtSvcRes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="./CIRltDemogUpdtWSV2SvcResData.xsd" namespace="mtvnCWCIRltDemogUpdtResData" />
  <xs:element name="ErrCde" type="xs:string" />
  <xs:element name="ErrMsg" type="xs:string" />
  <xs:element name="CIRltDemogUpdtMtvnSvcRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MtvnSvcVer">
          <xs:annotation>
            <xs:documentation>The version of this message.   Currently 1.0</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1.0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MsgUUID" type="xs:string">
          <xs:annotation>
            <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Svc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SvcParms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApplID">
                      <xs:annotation>
                        <xs:documentation>The application ID of the service.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="CI" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SvcID">
                      <xs:annotation>
                        <xs:documentation>The service ID.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="CIRltDemogUpdt" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SvcVer">
                      <xs:annotation>
                        <xs:documentation>The service version.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="2.0" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="RqstUUID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MsgData">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="DefaultResData" type="xs:string" />
                    <xs:element ref="cw303:CIRltDemogUpdtResData" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element ref="cw000:ErrCde" />
              <xs:element minOccurs="0" ref="cw000:ErrMsg" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="cw000:ErrCde" />
        <xs:element minOccurs="0" ref="cw000:ErrMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>