LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISCustomerSearchByTaxNumber/CICustTaxNbrSrchWSV7SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustTaxNbrSrchReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustTaxNbrSrchReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustTaxNbrSrchReqData">
    <xs:annotation>
      <xs:documentation>CIS Customer Search by Tax Number (CI002) - The customer search functions are used to search for existing customers and return name, address, and basic demographic information about them.  This search will use the social security number to locate customers.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E10031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS More to be Returned Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10085" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search City Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10089" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search State Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10090" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Street Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10091" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10093" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10130" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10199" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Customer Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10201" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10202" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Social Security Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10208" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number to Start Search</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10210" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10292" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Type Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10762" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Entity Filter</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>