LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.PowerSportsService/UsedPowersportsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsedPowersportsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUsedPowersportsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfService" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Marine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsedPowersportsService_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetMakes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q1:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetCategories_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q2:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYears" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetYears_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q3:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetYearsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsByCategory" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetYearsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetYearsByCategory_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q4:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTypes" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTypes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q5:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrims" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrims_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q6:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrimsByModelTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsByModelTypes" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrimsByModelTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsByModelTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrimsByModelTypes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q7:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrimsWithSpecs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsWithSpecs" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrimsWithSpecs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsWithSpecsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelTrimsWithSpecs_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q8:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetOptions_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q9:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetConsumerPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPrices" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetConsumerPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetConsumerPrices_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q10:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetTradePrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePrices" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetTradePrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePricesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetTradePrices_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q11:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetStandardEquipment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardEquipment" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetStandardEquipment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStandardEquipmentResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetStandardEquipment_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q12:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelsByVIN_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsByVIN" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelsByVIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsByVINResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedPowersportsService_GetModelsByVIN_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q13:WcfFault" />
  </wsdl:message>
  <wsdl:portType name="IUsedPowersportsService">
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetMakes" message="tns:IUsedPowersportsService_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetMakesResponse" message="tns:IUsedPowersportsService_GetMakes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetMakesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetMakes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetCategories" message="tns:IUsedPowersportsService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetCategoriesResponse" message="tns:IUsedPowersportsService_GetCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetCategoriesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetCategories_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetYears" message="tns:IUsedPowersportsService_GetYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetYearsResponse" message="tns:IUsedPowersportsService_GetYears_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetYearsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetYears_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYearsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetYearsByCategory" message="tns:IUsedPowersportsService_GetYearsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetYearsByCategoryResponse" message="tns:IUsedPowersportsService_GetYearsByCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetYearsByCategoryWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetYearsByCategory_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTypes" message="tns:IUsedPowersportsService_GetModelTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTypesResponse" message="tns:IUsedPowersportsService_GetModelTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTypesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetModelTypes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrims">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrims" message="tns:IUsedPowersportsService_GetModelTrims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsResponse" message="tns:IUsedPowersportsService_GetModelTrims_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetModelTrims_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimsByModelTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsByModelTypes" message="tns:IUsedPowersportsService_GetModelTrimsByModelTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsByModelTypesResponse" message="tns:IUsedPowersportsService_GetModelTrimsByModelTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsByModelTypesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetModelTrimsByModelTypes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimsWithSpecs">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsWithSpecs" message="tns:IUsedPowersportsService_GetModelTrimsWithSpecs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsWithSpecsResponse" message="tns:IUsedPowersportsService_GetModelTrimsWithSpecs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelTrimsWithSpecsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetModelTrimsWithSpecs_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetOptions" message="tns:IUsedPowersportsService_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetOptionsResponse" message="tns:IUsedPowersportsService_GetOptions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetOptionsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetOptions_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetConsumerPrices" message="tns:IUsedPowersportsService_GetConsumerPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetConsumerPricesResponse" message="tns:IUsedPowersportsService_GetConsumerPrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetConsumerPricesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetConsumerPrices_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradePrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetTradePrices" message="tns:IUsedPowersportsService_GetTradePrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetTradePricesResponse" message="tns:IUsedPowersportsService_GetTradePrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetTradePricesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetTradePrices_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStandardEquipment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetStandardEquipment" message="tns:IUsedPowersportsService_GetStandardEquipment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetStandardEquipmentResponse" message="tns:IUsedPowersportsService_GetStandardEquipment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetStandardEquipmentWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetStandardEquipment_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelsByVIN">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelsByVIN" message="tns:IUsedPowersportsService_GetModelsByVIN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelsByVINResponse" message="tns:IUsedPowersportsService_GetModelsByVIN_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedPowersportsService/GetModelsByVINWcfFaultFault" name="WcfFaultFault" message="tns:IUsedPowersportsService_GetModelsByVIN_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsedPowersportsService" type="tns:IUsedPowersportsService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUsedPowersportsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMakes">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetYearsByCategory">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetYearsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTypes">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetModelTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrims">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetModelTrims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimsByModelTypes">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetModelTrimsByModelTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimsWithSpecs">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetModelTrimsWithSpecs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPrices">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetConsumerPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTradePrices">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetTradePrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStandardEquipment">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetStandardEquipment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelsByVIN">
      <soap:operation soapAction="http://tempuri.org/IUsedPowersportsService/GetModelsByVIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsedPowersportsService">
    <wsdl:port name="BasicHttpBinding_IUsedPowersportsService" binding="tns:BasicHttpBinding_IUsedPowersportsService">
      <soap:address location="https://www.nadaguideswebservices.com/UsedPowersportsService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>