LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.PowerSportsService/UsedPowersportsService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ErrorReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReturnTO" nillable="true" type="tns:ErrorReturnTO" />
  <xs:complexType name="VersionTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      <xs:element minOccurs="0" name="VersionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionTO" nillable="true" type="tns:VersionTO" />
  <xs:complexType name="ArrayOfCategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryReturnTO" nillable="true" type="tns:ArrayOfCategoryReturnTO" />
  <xs:complexType name="CategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
  <xs:complexType name="MakeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MakeID" type="xs:int" />
      <xs:element minOccurs="0" name="MakeDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MakeReturnTO" nillable="true" type="tns:MakeReturnTO" />
  <xs:complexType name="ArrayOfOptionReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionReturnTO" nillable="true" type="tns:OptionReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionReturnTO" nillable="true" type="tns:ArrayOfOptionReturnTO" />
  <xs:complexType name="OptionReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OptionGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="OptionDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionReturnTO" nillable="true" type="tns:OptionReturnTO" />
  <xs:complexType name="ArrayOfEquipmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentGroup" nillable="true" type="tns:EquipmentGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentGroup" nillable="true" type="tns:ArrayOfEquipmentGroup" />
  <xs:complexType name="EquipmentGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Details" nillable="true" type="tns:ArrayOfEquipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentGroup" nillable="true" type="tns:EquipmentGroup" />
  <xs:complexType name="ArrayOfEquipment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Equipment" nillable="true" type="tns:Equipment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipment" nillable="true" type="tns:ArrayOfEquipment" />
  <xs:complexType name="Equipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Equipment" nillable="true" type="tns:Equipment" />
</xs:schema>