LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.PowerSportsService/UsedPowersportsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.TransferObjects.Powersports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.TransferObjects.Powersports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.jdpowerwebservices.com/UsedPowersportsService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/NADA.TransferObjects" />
  <xs:complexType name="ArrayOfNewPowersportOptionTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewPowersportOptionTO" nillable="true" type="tns:NewPowersportOptionTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewPowersportOptionTO" nillable="true" type="tns:ArrayOfNewPowersportOptionTO" />
  <xs:complexType name="NewPowersportOptionTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PowersportOptionTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewPowersportOptionTO" nillable="true" type="tns:NewPowersportOptionTO" />
  <xs:complexType name="PowersportOptionTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.TransferObjects" base="q1:BaseTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsStd" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PowersportOptionTO" nillable="true" type="tns:PowersportOptionTO" />
</xs:schema>