LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.PowerSportsService/UsedPowersportsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" />
  <xs:import schemaLocation="https://www.nadaguideswebservices.com/UsedPowersportsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
  <xs:element name="GetMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryIDs" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetMakesResult" nillable="true" type="q1:ArrayOfUsedPowersportsMake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q2:ArrayOfCategoryReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetYearsResult" nillable="true" type="q3:PowersportsModelYearReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetYearsByCategoryResult" nillable="true" type="q4:PowerSportsYearReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelTypesResult" nillable="true" type="q5:ModelTypeReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelTrimsResult" nillable="true" type="q6:PowersportsModelTrimsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrimsByModelTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelTypes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrimsByModelTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelTrimsByModelTypesResult" nillable="true" type="q7:PowersportsModelTrimsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrimsWithSpecs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoryID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrimsWithSpecsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelTrimsWithSpecsResult" nillable="true" type="q8:ModelTrimSpecReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetOptionsResult" nillable="true" type="q9:PowersportsOptionsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selectedOptions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="engineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetConsumerPricesResult" nillable="true" type="q10:PowersportsModelTrimValueReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradePrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="selectedOptions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="engineID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradePricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetTradePricesResult" nillable="true" type="q11:PowersportsModelTrimValueReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardEquipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStandardEquipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetStandardEquipmentResult" nillable="true" type="q12:PowersportsEquipmentReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vinID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelsByVINResult" nillable="true" type="q13:PowersportsVINReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>