LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.PowerSportsService/UsedPowersportsService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Marine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Marine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMarineEngineReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarineEngineReturnTO" nillable="true" type="tns:MarineEngineReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarineEngineReturnTO" nillable="true" type="tns:ArrayOfMarineEngineReturnTO" />
  <xs:complexType name="MarineEngineReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultEngine" type="xs:boolean" />
      <xs:element minOccurs="0" name="EngineId" type="xs:int" />
      <xs:element minOccurs="0" name="EngineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EnginePriceAdjustment" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarineEngineReturnTO" nillable="true" type="tns:MarineEngineReturnTO" />
</xs:schema>