LoansPQWSWrappers.JXChange_2012/JXChange2017302/Web References/JXChange2017302.BrdCst/TPG_BrdCst.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="2017.3.02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_BrdCstMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="BrdCstSrchInput">
    <part name="params" element="tns:BrdCstSrch" />
  </message>
  <message name="BrdCstSrchOutput">
    <part name="params" element="tns:BrdCstSrchResponse" />
  </message>
  <portType name="BrdCstService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="BrdCstSrch">
      <input message="tns:BrdCstSrchInput" />
      <output message="tns:BrdCstSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="BrdCstServiceSoapBinding" type="tns:BrdCstService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="BrdCstSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/BrdCstSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BrdCstService">
    <documentation>Service Description for the BrdCstService Interface</documentation>
    <port name="BrdCstServiceSoap" binding="tns:BrdCstServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/BroadcastEvent/BroadcastEventSG.svc" />
    </port>
  </service>
</definitions>