LoansPQWSWrappers.FiservCPS/FiservCPS/Web References/FiservCPS_RelationshipMaintenanceV2/RelationshipMaintenanceV2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:hdrns="http://Card.Services.Credit.com" xmlns:tns="http://www.RelationshipMaintenanceV2.com" xmlns:resns="http://www.RelationshipMaintenanceV2.Response.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:reqns="http://www.RelationshipMaintenanceV2.Request.com" targetNamespace="http://www.RelationshipMaintenanceV2.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Card.Services.Credit.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="CPSHeader.xsd" />
    </xsd:schema>
    <xsd:schema xmlns:tns="http://www.RelationshipMaintenanceV2.Request.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.RelationshipMaintenanceV2.Request.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
      </xsd:annotation>
      <xsd:annotation>
        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:14 EDT 2008
com.ibm.cics.wsdl.properties.mappingLevel=1.2
</xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="ProgramInterface" final="#all" block="#all">
        <xsd:sequence>
          <xsd:element name="RelationshipMaintenanceV2">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="RelationshipMaintenanceV2Request">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="MessageID">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="24" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Source">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Organization">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:unsignedShort">
                            <xsd:maxInclusive value="998" />
                            <xsd:minInclusive value="001" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="RelationshipNumber">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="19" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="10" name="UpdateArray">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="FieldToUpdate">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="RelationshipDiversionIndicator" />
                                  <xsd:enumeration value="DiversionMCCExclusion" />
                                  <xsd:enumeration value="RelationshipBillingLevel" />
                                  <xsd:enumeration value="RelationshipCreditLimit" />
                                  <xsd:enumeration value="CommercialLimitExceedIndicator" />
                                  <xsd:enumeration value="CommercialSpendingLimit" />
                                  <xsd:enumeration value="CommercialCreditLimit" />
                                  <xsd:enumeration value="RelationshipTemporaryCreditLimit" />
                                  <xsd:enumeration value="RelationshipTemporaryCreditLimitExpirationDate" />
                                  <xsd:enumeration value="FrequentShopperConsolidationFlag" />
                                  <xsd:enumeration value="CardReplacementFeeAmount" />
                                  <xsd:maxLength value="50" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="FieldOccurrence">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:unsignedShort">
                                  <xsd:maxInclusive value="99" />
                                  <xsd:minInclusive value="0" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="FieldData">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="999" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RelationshipMaintenanceV2Operation" type="tns:ProgramInterface" />
    </xsd:schema>
    <xsd:schema xmlns:tns="http://www.RelationshipMaintenanceV2.Response.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.RelationshipMaintenanceV2.Response.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:annotation>
        <xsd:documentation source="http://www.ibm.com/software/htp/cics/annotations">This schema was generated by the CICS Web services assistant.</xsd:documentation>
      </xsd:annotation>
      <xsd:annotation>
        <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:17 EDT 2008
com.ibm.cics.wsdl.properties.mappingLevel=1.2
</xsd:appinfo>
      </xsd:annotation>
      <xsd:complexType name="ProgramInterface" final="#all" block="#all">
        <xsd:sequence>
          <xsd:element name="RelationshipMaintenanceV2">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="RelationshipMaintenanceV2Request">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" name="MessageID">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="24" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Source">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="3" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Organization">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:unsignedShort">
                            <xsd:maxInclusive value="998" />
                            <xsd:minInclusive value="001" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="RelationshipNumber">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="19" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="10" name="UpdateArray">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="FieldToUpdate">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="50" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="FieldOccurrence">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:unsignedShort">
                                  <xsd:maxInclusive value="99" />
                                  <xsd:minInclusive value="0" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="FieldData">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="999" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestDate5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestAmount5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalRequestField5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element name="RelationshipMaintenanceV2Response">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DateProcessed">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:17 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:date">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="TimeProcessed">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:17 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:time">
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="ResponseStatus">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:17 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="1" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element name="NumberOfErrors">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:17 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:unsignedShort">
                            <xsd:maxInclusive value="99" />
                            <xsd:minInclusive value="0" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="5" name="ErrorConditions">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="ErrorCode">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:17 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="10" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="ErrorDescription">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:18 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="79" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Organization">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:unsignedShort">
                            <xsd:maxInclusive value="998" />
                            <xsd:minInclusive value="001" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RelationshipNumber">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="19" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="10" name="ResultsArray">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element name="FieldToUpdate">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="50" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="FieldOccurrence">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:unsignedShort">
                                  <xsd:maxInclusive value="99" />
                                  <xsd:minInclusive value="0" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element name="PreviousFieldData">
                              <xsd:simpleType>
                                <xsd:annotation>
                                  <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Thu Apr 03 11:42:15 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                                </xsd:annotation>
                                <xsd:restriction base="xsd:string">
                                  <xsd:maxLength value="999" />
                                  <xsd:whiteSpace value="collapse" />
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalDate1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalDate2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalDate3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalDate4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalDate5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="10" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalAmount1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalAmount2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalAmount3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalAmount4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalAmount5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:14 EDT 2008
com.ibm.cics.wsdl.properties.synchronized=false
com.ibm.cics.wsdl.properties.decimal=packed
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:decimal">
                            <xsd:totalDigits value="17" />
                            <xsd:fractionDigits value="2" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalField1">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalField2">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalField3">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalField4">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="AdditionalField5">
                        <xsd:simpleType>
                          <xsd:annotation>
                            <xsd:appinfo source="http://www.ibm.com/software/htp/cics/annotations">#Fri Oct 24 11:35:13 EDT 2008
com.ibm.cics.wsdl.properties.charlength=fixed
com.ibm.cics.wsdl.properties.synchronized=false
</xsd:appinfo>
                          </xsd:annotation>
                          <xsd:restriction base="xsd:string">
                            <xsd:maxLength value="40" />
                            <xsd:whiteSpace value="collapse" />
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RelationshipMaintenanceV2OperationResponse" type="tns:ProgramInterface" />
    </xsd:schema>
  </types>
  <message name="RelationshipMaintenanceV2OperationRequest">
    <part name="CPSHeaderReq" element="hdrns:CPSHeader" />
    <part name="RequestPart" element="reqns:RelationshipMaintenanceV2Operation" />
  </message>
  <message name="RelationshipMaintenanceV2OperationResponse">
    <part name="CPSHeaderResp" element="hdrns:CPSHeader" />
    <part name="ResponsePart" element="resns:RelationshipMaintenanceV2OperationResponse" />
  </message>
  <portType name="RelationshipMaintenanceV2Port">
    <operation name="RelationshipMaintenanceV2Operation">
      <input name="RelationshipMaintenanceV2OperationRequest" message="tns:RelationshipMaintenanceV2OperationRequest" />
      <output name="RelationshipMaintenanceV2OperationResponse" message="tns:RelationshipMaintenanceV2OperationResponse" />
    </operation>
  </portType>
  <binding name="RelationshipMaintenanceV2HTTPSoapBinding" type="tns:RelationshipMaintenanceV2Port">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="RelationshipMaintenanceV2Operation">
      <soap:operation soapAction="" style="document" />
      <input name="RelationshipMaintenanceV2OperationRequest">
        <soap:header message="tns:RelationshipMaintenanceV2OperationRequest" part="CPSHeaderReq" use="literal" />
        <soap:body use="literal" parts="RequestPart" />
      </input>
      <output name="RelationshipMaintenanceV2OperationResponse">
        <soap:header message="tns:RelationshipMaintenanceV2OperationResponse" part="CPSHeaderResp" use="literal" />
        <soap:body use="literal" parts="ResponsePart" />
      </output>
    </operation>
  </binding>
  <service name="RelationshipMaintenanceV2Service">
    <port name="RelationshipMaintenanceV2Port" binding="tns:RelationshipMaintenanceV2HTTPSoapBinding">
      <soap:address location="http://my-server:my-port/RelationshipMaintenanceV2" />
    </port>
  </service>
</definitions>