LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CBCardReissueNPResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCBCardReissueNPResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCBCardReissueNPResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CBCardReissueNPResData">
    <xs:annotation>
      <xs:documentation>Cardbase Card Reissue No PIN (CB400) - This function is used to reissue a card.  This function does not require a PIN and is intended for properly authorized personnel.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E130013" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130015" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Institution Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130295" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Reissue Card Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>