LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CBNegFleMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCBNegFleMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCBNegFleMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CBNegFleMaintReqData">
    <xs:annotation>
      <xs:documentation>Cardbase Negative File Maintenance (CB250) - This function will allow the user to add a card to the negative file, maintain a card on the negative file, or delete a card from the negative file.  It can also be used to change the status of a card.   A negative file is a reference file that maintains a list of all cardholder accounts that are not valid for transaction use (hot cards) or that are only valid for deposit (credit) transactions (warm cards).    MasterCard's Warning Bulletin is a list of invalid MasterCard account numbers, covering the U.S. and five worldwide regions, published weekly or bi-weekly depending on the region. The issuer is charged per account number and per region for each Bulletin listing.  In addition, MasterCard's Stand-In File is a worldwide database of account numbers of lost/stolen cards or other cards that issuers have designated for confiscation, referral to issuers, or other special handling. All transactions routed through the MasterCard network have their account numbers checked against the Stand-In File.   VISA's Exception File is a worldwide database of account numbers of lost/stolen cards or other cards that issuers have designated for confiscation, referral to issuers, or other special handling.  All transactions routed through the VISA Payment System have their account numbers checked against the Exception File.  In addition, VISA's Recovery Bulletin is an international printed list of lost/stolen, counterfeit, and other cards that issuers have listed for pickup. The Recovery Bulletin is only printed in countries outside the United States.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E130013" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130015" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Institution Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130051" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Reason Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130362" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Originator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130442" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stand-In Update Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130443" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stand-In Reason Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130444" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Update Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130445" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Reason Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130446" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Region 1 Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130447" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Region A Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130448" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Region B Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130449" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Region C Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130450" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Region D Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130451" type="xs:string">
          <xs:annotation>
            <xs:documentation>Warning Bulletin Region E Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130452" type="xs:string">
          <xs:annotation>
            <xs:documentation>Exception File Update Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130453" type="xs:string">
          <xs:annotation>
            <xs:documentation>Exception File Purge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130454" type="xs:string">
          <xs:annotation>
            <xs:documentation>Exception File Action Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130455" type="xs:string">
          <xs:annotation>
            <xs:documentation>Recovery Bulletin Region A Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130456" type="xs:string">
          <xs:annotation>
            <xs:documentation>Recovery Bulletin Region B Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130457" type="xs:string">
          <xs:annotation>
            <xs:documentation>Recovery Bulletin Region C Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130458" type="xs:string">
          <xs:annotation>
            <xs:documentation>Recovery Bulletin Region E Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130459" type="xs:string">
          <xs:annotation>
            <xs:documentation>Recovery Bulletin Region F Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130460" type="xs:string">
          <xs:annotation>
            <xs:documentation>Send to Negative File Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>