LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CBNewCrdAcctReqDataV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCBNewCrdAcctReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCBNewCrdAcctReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CBNewCrdAcctReqData">
    <xs:annotation>
      <xs:documentation>Cardbase New Card Account (CB100) - This function is used to create a new card account on the Cardbase Management System.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E130001" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Record ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130013" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130015" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Institution Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130016" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Prefix Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130018" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130021" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB PIN Offset</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130023" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Short Name - Last</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130024" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Short Name - First</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130025" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Name Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130027" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Name Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130029" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Street Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130030" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Street Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB City Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130032" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB State Abbreviation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130034" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130035" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Primary DDA Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130038" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Primary Savings Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130041" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Primary Credit Card Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130051" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Card Reason Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130053" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130093" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Service Charge Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130095" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Next Service Charge Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130096" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Service Charge Waive Flag</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E130102" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Optional Personal Limits</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130103" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB ATM Cash Out Dollar Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130104" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB ATM Cash Out # Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130105" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB POS Purchase Dollar Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130106" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB POS Purchase # Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130107" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Cash Advance Dollar Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130108" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Cash Advance # Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130109" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB VISA/MC Purchase Dollar Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130110" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB VISA/MC Purchase # Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130115" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB ATM Deposit Cash Back Dollar</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130132" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB User Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130133" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB User Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130134" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB User Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130135" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB User Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130136" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB User Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130139" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Optional Debit Pad</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130140" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Debit Pad Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130141" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Debit Pad Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130142" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Float Available</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130143" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Deposits Allowed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130155" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130156" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB Limits Reset Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130301" type="xs:string">
          <xs:annotation>
            <xs:documentation>CB ZIP Code Area</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130033" type="xs:string">
          <xs:annotation>
            <xs:documentation>Country Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130138" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Home Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130145" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary SSN</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130146" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Business Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130147" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Birth Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130149" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Mother's Maiden Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130403" type="xs:string">
          <xs:annotation>
            <xs:documentation>Reward Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130404" type="xs:string">
          <xs:annotation>
            <xs:documentation>Reward ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130405" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130406" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130407" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130408" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130409" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130411" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name Embossed on Card</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130412" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name Embossed on Second Card</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130413" type="xs:string">
          <xs:annotation>
            <xs:documentation>Optional Line Embossed on Card</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130425" type="xs:string">
          <xs:annotation>
            <xs:documentation>Service Charge Plan 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130427" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Service Charge Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130470" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account-to-Account Transfer Daily Transaction Amount Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130471" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account-to-Account Transfer Daily Transaction Count Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130474" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account-to-Account Payment Daily Transaction Amount Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130475" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account-to-Account Payment Daily Transaction Count Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130479" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Since Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E130480" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>