LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CIAcctNmeAddrMaintResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIAcctNmeAddrMaintResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIAcctNmeAddrMaintResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIAcctNmeAddrMaintResData">
    <xs:annotation>
      <xs:documentation>CIS Account Name/Address Maintenance (CI035) -  This function is used to add or update current or future account name and address information.  Please note the following business logic when creating files for this service:  To update  name/address lines, you must enter all name/address lines in the order you would like them to appear on the account.  The lines must be entered in this order:  Name (N), Address (A), Street (S) and City (C).  Each account  is required to have at least one Name (N), Street (S) and City (C) line.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E16054" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16055" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16016" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16191" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Address Same as Customer Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16157" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16158" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16159" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Telex Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16160" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16192" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Phone Number Same as Customer Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16019" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Record Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16020" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16028" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16021" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16029" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16022" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16030" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16023" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16024" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16032" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16025" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16026" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code (04)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16034" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line (04)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16027" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code (05)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16035" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line (05)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16901" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>