LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CIAcctNmeAddrMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIAcctNmeAddrMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIAcctNmeAddrMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIAcctNmeAddrMaintReqData">
    <xs:annotation>
      <xs:documentation>CIS Account Name/Address Maintenance (CI035) -  This function is used to add or update current or future account name and address information.  Please note the following business logic when creating files for this service:  To update  name/address lines, you must enter all name/address lines in the order you would like them to appear on the account.  The lines must be entered in this order:  Name (N), Address (A), Street (S) and City (C).  Each account  is required to have at least one Name (N), Street (S) and City (C) line.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E16054" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16055" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16000" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16008" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (01)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16001" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16009" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (02)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16002" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16010" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (03)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16003" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (04)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16011" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (04)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16004" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (05)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16012" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (05)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16005" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (06)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16013" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (06)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16006" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (07)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16014" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (07)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16007" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code (08)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16015" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line (08)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16016" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16017" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Standardization Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16191" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Address Same as Customer Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16157" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16158" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16159" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Telex Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16160" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16192" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Phone Number Same as Customer Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16198" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16105" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Last Update Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16901" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>