LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CIAliasNmeMaintResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIAliasNmeMaintResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIAliasNmeMaintResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIAliasNmeMaintResData">
    <xs:annotation>
      <xs:documentation>CIS Alias Name Maintenance (CI018) - This function is used to add, change, or delete alias names for customers on CIS.  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10016" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Add/Change/Delete Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10121" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name/Address Customer Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10230" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10108" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name/Address Standardization Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10373" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Sequence Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10383" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Process Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>