LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CICustNameAddrMaintResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustNameAddrMaintResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustNameAddrMaintResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustNameAddrMaintResData">
    <xs:annotation>
      <xs:documentation>CIS Customer Name/Address Maintenance (CI015) -  This function is used to add, change, or delete current or future customer name and address information.  You may update some or all of the data.  If you enter any name/address information, you must include at least a name, street, and city/state/ZIP line.  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Application Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10035" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10037" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 1 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10038" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 2 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10039" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 3 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10040" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 4 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10041" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 5 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10042" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 1 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10043" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 2 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10044" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 3 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10045" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 4 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10046" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 5 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10082" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10083" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10084" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10086" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10087" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10088" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10092" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Appendage Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10094" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10095" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Direction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10096" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name/Address Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10097" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10098" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS First Name and Middle Initial</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10099" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized House Number Fraction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10100" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized  House Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10101" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Last Name Key Field 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10102" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current First Name Key Field 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10103" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name Key Field 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10104" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name 2 Key Field 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10106" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Odd/Even Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10109" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10111" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Record Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10113" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10114" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10115" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Street</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10116" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Suffix Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10117" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Supplemental Address Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10118" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Surname</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10119" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Telex Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10120" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name Title Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10122" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10299" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Elementized Country</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10393" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home From Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10394" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home From Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10395" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home To Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10396" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home To Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10397" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home From Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10398" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home From Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10399" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home To Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10400" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home To Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10578" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>