LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CICustDemogMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustDemogMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustDemogMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustDemogMaintReqData">
    <xs:annotation>
      <xs:documentation>CIS Individual Customer Demographics Maintenance (CI017) - This function is used to make changes to individual customer demographic information.  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Application Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10036" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Date of Birth</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10048" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS W-8 Certificate Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10049" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS W-8 Certificate Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10051" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10052" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Census Tract Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10053" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Cost Center Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10054" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Credit Rating Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10056" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10057" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Citizenship Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10058" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mail Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10060" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10061" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10062" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10063" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10064" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10065" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10066" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10067" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10068" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10069" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10123" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10125" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Restriction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10128" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10129" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Solicit Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10132" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10133" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10134" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10135" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10136" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10137" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10138" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10139" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10140" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10141" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10142" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10143" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10144" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10145" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10146" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10147" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10148" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10149" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10150" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Closed Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10151" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Open Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10152" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Since Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10153" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Record Type Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10156" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Deceased Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10157" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Education Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10158" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Employment Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10159" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Employment School</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10160" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Ethnic Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10163" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Income Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10168" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Marital Status Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10169" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mother's Maiden Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10171" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Occupation Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10174" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Own/Rent Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10351" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Prospect Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10352" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Last Update Time of Common Demographics</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10540" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS NAICS</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10542" type="xs:string">
          <xs:annotation>
            <xs:documentation>Market Area Pricing Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10047" type="xs:string">
          <xs:annotation>
            <xs:documentation>ATS Service Charge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10167" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Duplicate Tax ID Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10430" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bank Cardholder Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10431" type="xs:string">
          <xs:annotation>
            <xs:documentation>Contact Time Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10432" type="xs:string">
          <xs:annotation>
            <xs:documentation>Credit History Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10433" type="xs:string">
          <xs:annotation>
            <xs:documentation>Language Preference Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10434" type="xs:string">
          <xs:annotation>
            <xs:documentation>Address YTD</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10435" type="xs:string">
          <xs:annotation>
            <xs:documentation>Profitability Score </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10436" type="xs:string">
          <xs:annotation>
            <xs:documentation>Region Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10437" type="xs:string">
          <xs:annotation>
            <xs:documentation>Region Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10569" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Code Edit Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10699" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP TIN Applied For</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10700" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Risk Assessment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10701" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Password</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10702" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Password Question</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10703" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Resolution of Discrepancy</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10704" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10705" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10706" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10707" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10708" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10709" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10710" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10711" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10712" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10713" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10714" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10715" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10716" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10717" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10718" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10719" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10720" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10721" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10722" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10723" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10724" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10725" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10726" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10727" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10728" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10729" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10730" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10731" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10732" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10733" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10734" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10735" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10736" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10737" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10738" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10739" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 3</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>