LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CICustNameAddrMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustNameAddrMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustNameAddrMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustNameAddrMaintReqData">
    <xs:annotation>
      <xs:documentation>CIS Customer Name/Address Maintenance (CI015) -  This function is used to add, change, or delete current or future customer name and address information.  You may update some or all of the data.  If you enter any name/address information, you must include at least a name, street, and city/state/ZIP line.  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E10028" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Process Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Application Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10070" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10071" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10072" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10073" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10074" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10075" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10076" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10077" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10078" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10079" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10080" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10081" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10092" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Appendage Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10094" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10095" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Direction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10096" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name/Address Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10097" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10098" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS First Name and Middle Initial</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10099" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized House Number Fraction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10100" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized  House Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10101" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Last Name Key Field 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10102" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current First Name Key Field 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10103" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name Key Field 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10104" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name 2 Key Field 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10106" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Odd/Even Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10107" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Override Elementation Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10108" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Override Standardization Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10109" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10113" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10114" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10115" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Street</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10116" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Suffix Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10117" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Supplemental Address Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10118" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Surname</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10119" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Telex Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10120" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name Title Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10122" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10299" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Elementized Country</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10300" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name/Address Line Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10301" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name/Address Line 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10302" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Create Previous Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10313" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name/Address Line 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10314" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name/Address Line Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10393" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home From Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10394" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home From Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10395" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home To Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10396" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Home To Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10397" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home From Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10398" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home From Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10399" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home To Time Range</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10400" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Home To Period AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10578" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>