LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CIMiscAcctMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIMiscAcctMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIMiscAcctMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIMiscAcctMaintReqData">
    <xs:annotation>
      <xs:documentation>CIS Miscellaneous Account Maintenance (CI027) - This function allows you to make changes to the current demographic information for miscellaneous accounts. This function is not used for accounts that reside on the Deposit, Loan, Safe Deposit, or Cardbase Management Systems. The parameters set on Account Demographics Option Segment 630 of Bank Control determine in which fields information is required and/or verified by the system. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E16054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16055" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number  </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16065" type="xs:string">
          <xs:annotation>
            <xs:documentation>Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16066" type="xs:string">
          <xs:annotation>
            <xs:documentation>Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16067" type="xs:string">
          <xs:annotation>
            <xs:documentation>Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16070" type="xs:string">
          <xs:annotation>
            <xs:documentation>Tax Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16071" type="xs:string">
          <xs:annotation>
            <xs:documentation>Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16073" type="xs:string">
          <xs:annotation>
            <xs:documentation>Withholding Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16074" type="xs:string">
          <xs:annotation>
            <xs:documentation>Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16075" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16076" type="xs:string">
          <xs:annotation>
            <xs:documentation>Secondary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16078" type="xs:string">
          <xs:annotation>
            <xs:documentation>Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16079" type="xs:string">
          <xs:annotation>
            <xs:documentation>Mail Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16080" type="xs:string">
          <xs:annotation>
            <xs:documentation>Restriction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16082" type="xs:string">
          <xs:annotation>
            <xs:documentation>Credit Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16083" type="xs:string">
          <xs:annotation>
            <xs:documentation>Source Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16085" type="xs:string">
          <xs:annotation>
            <xs:documentation>Close Date</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>