LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CIOpenMiscAcctResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIOpenMiscAcctResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIOpenMiscAcctResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIOpenMiscAcctResData">
    <xs:annotation>
      <xs:documentation>CIS Open Miscellaneous Account (CI019) -  This function is used to open miscellaneous accounts and establish customer to account relationships for the new accounts.  A maximum of six customers can be related to an account in the open process.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10176" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10178" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Entity 1 to Entity 2 Relationship Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10183" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10203" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10204" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10205" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10206" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10207" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10211" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10212" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10213" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10214" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10215" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10216" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10217" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10218" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10219" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10220" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16000" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16001" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16002" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16003" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16004" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16005" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16006" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16007" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16008" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16009" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16010" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16011" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16012" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16013" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16014" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16015" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16017" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Standardization Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16020" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16021" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16022" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16023" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16024" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16025" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16026" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16027" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16028" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16029" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16030" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16032" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16034" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16035" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16053" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16054" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16055" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16056" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16057" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16059" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16060" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16061" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16062" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16063" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16064" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Last Update Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16065" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16066" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16067" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16070" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Tax Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16071" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16073" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Withholding Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16074" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16075" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Primary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16076" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Secondary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16078" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16079" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Mail Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16080" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Restriction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16082" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Credit Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16083" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Source Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16157" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16158" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16159" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Telex Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16160" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16901" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>