LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/CustomerInfoSystemSCPWSV1SvcRes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cw145="mtvnCWCBNewMultAcctResData" xmlns:cw147="mtvnCWCIAcctNmeAddrMaintResData" xmlns:cw035="mtvnCWDPNewCDResData" xmlns:cw096="mtvnCWCIOpenMiscAcctResData" xmlns:cw149="mtvnCWCIOrgCustDemogMaintResData" xmlns:cw148="mtvnCWCIMiscAcctMaintResData" xmlns:cw093="mtvnCWCICustNameAddrMaintResData" xmlns:cw032="mtvnCWDPKywrdResData" xmlns:cw324="mtvnCWCIProdIDMaintResData" xmlns:cw320="mtvnCWCBNegFleMaintResData" xmlns:cw323="mtvnCWCBCardReissueNPResData" xmlns:cw017="mtvnCWCIOpenIndvCustResData" xmlns:cw016="mtvnCWCICustToAcctRltResData" xmlns:cw351="mtvnCWCIExtAcctMaintResData" xmlns:cw018="mtvnCWCIOpenOrgCustResData" xmlns:cw084="mtvnCWCBNewCrdAcctResData" xmlns:cw303="mtvnCWCIRltDemogUpdtResData" xmlns:cw138="mtvnCWCICustEmailMaintResData" xmlns:cw034="mtvnCWDPNewAcctResData" xmlns:cw083="mtvnCWCBAcctNbrGenResData" xmlns:cw036="mtvnCWDPNmeAddrMaintResData" xmlns:cw314="mtvnCWCIAliasNmeMaintResData" xmlns:cw317="mtvnCWCIAcctToCustRltMaintResData" xmlns:cw089="mtvnCWCICustDemogMaintResData" xmlns:cw153="mtvnCWCIConvPrspctToCustResData" xmlns:cw065="mtvnCWLNNewAcctResData" xmlns:cw095="mtvnCWCIAcctToAcctRltResData" xmlns:cw066="mtvnCWLNNewCommtResData" xmlns:cw000="mtvnCWCustomerInfoSystemSCPSvcRes" xmlns:cw341="mtvnCWMBPassResData" xmlns:cw284="mtvnCWCICustToCustRltMaintResData" xmlns:cw069="mtvnCWLNNewNoteResData" xmlns:cw068="mtvnCWLNNewNmeAddrResData" xmlns:cw099="mtvnCWLNKywrdResData" xmlns:cw176="mtvnCWDPAcctNbrGenResData" elementFormDefault="qualified" targetNamespace="mtvnCWCustomerInfoSystemSCPSvcRes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CB/CBAcctNbrGenResDataV1.xsd" namespace="mtvnCWCBAcctNbrGenResData" />
  <xs:import schemaLocation="../CB/CBCardReissueNPResDataV1.xsd" namespace="mtvnCWCBCardReissueNPResData" />
  <xs:import schemaLocation="../CB/CBNegFleMaintResDataV1.xsd" namespace="mtvnCWCBNegFleMaintResData" />
  <xs:import schemaLocation="../CB/CBNewCrdAcctResDataV2.xsd" namespace="mtvnCWCBNewCrdAcctResData" />
  <xs:import schemaLocation="../CB/CBNewMultAcctResDataV1.xsd" namespace="mtvnCWCBNewMultAcctResData" />
  <xs:import schemaLocation="./CIAcctNmeAddrMaintResDataV1.xsd" namespace="mtvnCWCIAcctNmeAddrMaintResData" />
  <xs:import schemaLocation="./CIAcctToAcctRltResDataV1.xsd" namespace="mtvnCWCIAcctToAcctRltResData" />
  <xs:import schemaLocation="./CIAcctToCustRltMaintResDataV1.xsd" namespace="mtvnCWCIAcctToCustRltMaintResData" />
  <xs:import schemaLocation="./CIAliasNmeMaintResDataV1.xsd" namespace="mtvnCWCIAliasNmeMaintResData" />
  <xs:import schemaLocation="./CIConvPrspctToCustResDataV1.xsd" namespace="mtvnCWCIConvPrspctToCustResData" />
  <xs:import schemaLocation="./CICustDemogMaintResDataV1.xsd" namespace="mtvnCWCICustDemogMaintResData" />
  <xs:import schemaLocation="./CICustEmailMaintResDataV1.xsd" namespace="mtvnCWCICustEmailMaintResData" />
  <xs:import schemaLocation="./CICustNameAddrMaintResDataV1.xsd" namespace="mtvnCWCICustNameAddrMaintResData" />
  <xs:import schemaLocation="./CICustToAcctRltResDataV1.xsd" namespace="mtvnCWCICustToAcctRltResData" />
  <xs:import schemaLocation="./CICustToCustRltMaintResDataV1.xsd" namespace="mtvnCWCICustToCustRltMaintResData" />
  <xs:import schemaLocation="./CIExtAcctMaintResDataV1.xsd" namespace="mtvnCWCIExtAcctMaintResData" />
  <xs:import schemaLocation="./CIMiscAcctMaintResDataV1.xsd" namespace="mtvnCWCIMiscAcctMaintResData" />
  <xs:import schemaLocation="./CIOpenIndvCustResDataV1.xsd" namespace="mtvnCWCIOpenIndvCustResData" />
  <xs:import schemaLocation="./CIOpenMiscAcctResDataV1.xsd" namespace="mtvnCWCIOpenMiscAcctResData" />
  <xs:import schemaLocation="./CIOpenOrgCustResDataV1.xsd" namespace="mtvnCWCIOpenOrgCustResData" />
  <xs:import schemaLocation="./CIOrgCustDemogMaintResDataV1.xsd" namespace="mtvnCWCIOrgCustDemogMaintResData" />
  <xs:import schemaLocation="./CIProdIDMaintResDataV1.xsd" namespace="mtvnCWCIProdIDMaintResData" />
  <xs:import schemaLocation="./CIRltDemogUpdtResDataV1.xsd" namespace="mtvnCWCIRltDemogUpdtResData" />
  <xs:import schemaLocation="../DP/DPAcctNbrGenResDataV1.xsd" namespace="mtvnCWDPAcctNbrGenResData" />
  <xs:import schemaLocation="../DP/DPKywrdResDataV1.xsd" namespace="mtvnCWDPKywrdResData" />
  <xs:import schemaLocation="../DP/DPNewAcctResDataV3.xsd" namespace="mtvnCWDPNewAcctResData" />
  <xs:import schemaLocation="../DP/DPNewCDResDataV1.xsd" namespace="mtvnCWDPNewCDResData" />
  <xs:import schemaLocation="../DP/DPNmeAddrMaintResDataV1.xsd" namespace="mtvnCWDPNmeAddrMaintResData" />
  <xs:import schemaLocation="../LN/LNKywrdResDataV1.xsd" namespace="mtvnCWLNKywrdResData" />
  <xs:import schemaLocation="../LN/LNNewAcctResDataV1.xsd" namespace="mtvnCWLNNewAcctResData" />
  <xs:import schemaLocation="../LN/LNNewCommtResDataV2.xsd" namespace="mtvnCWLNNewCommtResData" />
  <xs:import schemaLocation="../LN/LNNewNmeAddrResDataV1.xsd" namespace="mtvnCWLNNewNmeAddrResData" />
  <xs:import schemaLocation="../LN/LNNewNoteResDataV1.xsd" namespace="mtvnCWLNNewNoteResData" />
  <xs:import schemaLocation="../MB/MBPassResDataV2.xsd" namespace="mtvnCWMBPassResData" />
  <xs:element name="ErrCde" type="xs:string" />
  <xs:element name="ErrMsg" type="xs:string" />
  <xs:element name="CustomerInfoSystemSCPMtvnSvcRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MtvnSvcVer">
          <xs:annotation>
            <xs:documentation>The version of this message.   Currently 1.0</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1.0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MsgUUID" type="xs:string">
          <xs:annotation>
            <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Svc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SvcParms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApplID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The application ID of the service.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SvcID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The service ID.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SvcVer" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The service version.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="RqstUUID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MsgData">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="DefaultResData" type="xs:string" />
                    <xs:element ref="cw083:CBAcctNbrGenResData" />
                    <xs:element ref="cw323:CBCardReissueNPResData" />
                    <xs:element ref="cw320:CBNegFleMaintResData" />
                    <xs:element ref="cw084:CBNewCrdAcctResData" />
                    <xs:element ref="cw145:CBNewMultAcctResData" />
                    <xs:element ref="cw147:CIAcctNmeAddrMaintResData" />
                    <xs:element ref="cw095:CIAcctToAcctRltResData" />
                    <xs:element ref="cw317:CIAcctToCustRltMaintResData" />
                    <xs:element ref="cw314:CIAliasNmeMaintResData" />
                    <xs:element ref="cw153:CIConvPrspctToCustResData" />
                    <xs:element ref="cw089:CICustDemogMaintResData" />
                    <xs:element ref="cw138:CICustEmailMaintResData" />
                    <xs:element ref="cw093:CICustNameAddrMaintResData" />
                    <xs:element ref="cw016:CICustToAcctRltResData" />
                    <xs:element ref="cw284:CICustToCustRltMaintResData" />
                    <xs:element ref="cw351:CIExtAcctMaintResData" />
                    <xs:element ref="cw148:CIMiscAcctMaintResData" />
                    <xs:element ref="cw017:CIOpenIndvCustResData" />
                    <xs:element ref="cw096:CIOpenMiscAcctResData" />
                    <xs:element ref="cw018:CIOpenOrgCustResData" />
                    <xs:element ref="cw149:CIOrgCustDemogMaintResData" />
                    <xs:element ref="cw324:CIProdIDMaintResData" />
                    <xs:element ref="cw303:CIRltDemogUpdtResData" />
                    <xs:element ref="cw176:DPAcctNbrGenResData" />
                    <xs:element ref="cw032:DPKywrdResData" />
                    <xs:element ref="cw034:DPNewAcctResData" />
                    <xs:element ref="cw035:DPNewCDResData" />
                    <xs:element ref="cw036:DPNmeAddrMaintResData" />
                    <xs:element ref="cw099:LNKywrdResData" />
                    <xs:element ref="cw065:LNNewAcctResData" />
                    <xs:element ref="cw066:LNNewCommtResData" />
                    <xs:element ref="cw068:LNNewNmeAddrResData" />
                    <xs:element ref="cw069:LNNewNoteResData" />
                    <xs:element ref="cw341:MBPassResData" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element ref="cw000:ErrCde" />
              <xs:element minOccurs="0" ref="cw000:ErrMsg" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="cw000:ErrCde" />
        <xs:element minOccurs="0" ref="cw000:ErrMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>