LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/DPAcctNbrGenReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWDPAcctNbrGenReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWDPAcctNbrGenReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DPAcctNbrGenReqData">
    <xs:annotation>
      <xs:documentation>Deposit Account Number Generator (DLANG) - This function is used to generate a Deposit System account number.  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20046" type="xs:string">
          <xs:annotation>
            <xs:documentation>Deposit Account Branch</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20047" type="xs:string">
          <xs:annotation>
            <xs:documentation>Deposit Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E21664" type="xs:string">
          <xs:annotation>
            <xs:documentation>Deposit Application Identification</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>