LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/DPKywrdResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWDPKywrdResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWDPKywrdResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DPKywrdResData">
    <xs:annotation>
      <xs:documentation>Deposit Keyword Change (DLKEY) -  This function is used to do maintenance to an individual field for a deposit account.  Each field has its own keyword.  To change a field's contents, enter the field's keyword and the new data.  All keyword changes are listed on the Account Master Changes Report (R-2030).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20007" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20010" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21001" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Segment ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E21002" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E21003" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21008" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Name/Address Line 3 Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21009" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Second New Literal Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21010" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword YTDBAL Literal Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21011" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Name/Address Line 4 Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21012" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Second Old Literal Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21013" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Name/Address Line 5 Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21014" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Name/Address Line 6 Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21015" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Name/Address Line 7 Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21016" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Name/Address Line 8 Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21017" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Alert Message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20002" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Organization Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20003" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Organization Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21004" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword New Literal Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21005" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword CTDBAL Literal Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21006" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Old Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21007" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Keyword Old Literal Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20044" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Transaction  Message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20747" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP IRA Next Distribution Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>