LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/DPNewAcctReqDataV3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWDPNewAcctReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWDPNewAcctReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DPNewAcctReqData">
    <xs:annotation>
      <xs:documentation>Deposit New Account (DLNEW) -  This function is used to open a new account on the Deposit System.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20007" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20046" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Branch</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20047" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20048" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20049" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Federal Tax ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20050" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Federal Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20051" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Federal Withholding Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20053" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Analysis Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20055" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Statement Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20057" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20059" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Funds Availability Exception Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20060" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Bulkfile Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20062" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Track Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20063" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Telephone Inquiry PIN</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20065" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Charge/No Charge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20067" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Service Charge Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20069" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Primary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20070" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Secondary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20071" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP User Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20072" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Status Codes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20073" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Interest Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20075" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Deposit Category</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20077" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Interest Payment Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20079" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Transfer Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20080" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Statement Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20082" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Analysis Statement</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20084" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Overdraft Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20086" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Overdraft Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20088" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Package Post Credits</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20090" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Package Post Debits</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20092" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP ABA Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20093" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP External Transfer Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20094" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Periodic Fee Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20096" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Periodic Fee Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20098" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Funds Credit Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20100" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP External Transfer Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20101" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Revolving Credit Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20102" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Analysis Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20104" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Customer Profitability System Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20106" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Cycles to Waive Service Charge</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20108" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Consumer Account Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20110" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Birthdate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20111" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Retirement Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20112" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Retirement Plan Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20113" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Employer Federal Tax Number Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20114" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Employer Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20115" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Escrow Sub Account Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20116" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Confirmation Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E21194" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Exception Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20842" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Market Area Pricing Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20839" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Employee Account Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E25001" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Fee 2 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E25002" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Fee 2 Cycle</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E25003" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Fee 3 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E25004" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Fee 3 Cycle</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E25005" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Fee 4 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E25006" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Fee 4 Cycle</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20274" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Open Date</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>