LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/DPNmeAddrMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWDPNmeAddrMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWDPNmeAddrMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DPNmeAddrMaintReqData">
    <xs:annotation>
      <xs:documentation>Deposit Name and Address Maintenance (DLNAM) -  This function is used to enter name and address information for new deposit accounts or name and address changes to existing deposit accounts.  Normally, institutions using CIS enter deposit name/address changes through CIS; but with Connectware, this function is used.  Whenever changing a name and address, all five lines must be reentered.  New account name and address information and existing account name and address changes are listed on the Address Changes report (R-2150) for verification.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20007" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20390" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20928" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP CIS Request Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20392" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Number of Statement Copies</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20393" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20395" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20397" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20399" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20401" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20403" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20404" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20405" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20396" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Business Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20398" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Home Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20400" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line of TIN Owner</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>