LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/DPNmeAddrMaintResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWDPNmeAddrMaintResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWDPNmeAddrMaintResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DPNmeAddrMaintResData">
    <xs:annotation>
      <xs:documentation>Deposit Name and Address Maintenance (DLNAM) -  This function is used to enter name and address information for new deposit accounts or name and address changes to existing deposit accounts.  Normally, institutions using CIS enter deposit name/address changes through CIS; but with Connectware, this function is used.  Whenever changing a name and address, all five lines must be reentered.  New account name and address information and existing account name and address changes are listed on the Address Changes report (R-2150) for verification.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E20007" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20390" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20928" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP CIS Request Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E20392" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Number of Statement Copies</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20393" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20395" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20397" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20399" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20401" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20403" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20404" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20405" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20396" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Business Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20398" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Home Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20400" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Line of TIN Owner</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20938" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address Type Default Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20948" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Statement Number of Copies</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20940" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20941" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20942" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20943" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20944" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20951" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20952" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20953" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20945" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Business Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20946" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Home Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20939" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Name and Address TIN Owner Default Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E20947" type="xs:string">
          <xs:annotation>
            <xs:documentation>DP Previous Name and Address Line of TIN Owner</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>