LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/LNKywrdReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNKywrdReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNKywrdReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNKywrdReqData">
    <xs:annotation>
      <xs:documentation>Loan Keyword Change (LNKEY) - This function can be used to change almost any data on an account, note, participation, item, invoice, fee, or liability segment. Each field on these segments is assigned a keyword. When you use the keyword function, you identify the field that you are changing (in szKywrd) and enter the new data to replace the existing data (in szNewData).  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30072" type="xs:string">
          <xs:annotation>
            <xs:documentation>Name/Address Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30073" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Summary</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30074" type="xs:string">
          <xs:annotation>
            <xs:documentation>Participation Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30075" type="xs:string">
          <xs:annotation>
            <xs:documentation>Participation Sequence Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30076" type="xs:string">
          <xs:annotation>
            <xs:documentation>Item Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30077" type="xs:string">
          <xs:annotation>
            <xs:documentation>Invoice Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31501" type="xs:string">
          <xs:annotation>
            <xs:documentation>Fee ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30069" type="xs:string">
          <xs:annotation>
            <xs:documentation>Liability Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31502" type="xs:string">
          <xs:annotation>
            <xs:documentation>Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31503" type="xs:string">
          <xs:annotation>
            <xs:documentation>Transaction Sequence Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31504" type="xs:string">
          <xs:annotation>
            <xs:documentation>Keyword</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31505" type="xs:string">
          <xs:annotation>
            <xs:documentation>New Data</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>