LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/LNNewAcctReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNewAcctReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNewAcctReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNewAcctReqData">
    <xs:annotation>
      <xs:documentation>Loan New Account (LNANW) -  This function is used to create new loan accounts.  The account record must exist before any notes can be added.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31102" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31103" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31104" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31105" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Primary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31106" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Secondary Officer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31107" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN NAICS Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31108" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax ID Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31109" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax Number Formatted as SSN</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31110" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Detail Bill Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31111" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Organization Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31112" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Purpose Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31113" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Foreign Class</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31114" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Guarantee/Endorsement Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31115" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Profitability Analysis Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31116" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fiscal Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31117" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Financial Statement Due Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31118" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tickler Due Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31119" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Date of Birth</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31120" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN UCC Agreement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31121" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Combined Statement Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31122" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31123" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Guarantee or Endorser Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31124" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31125" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31126" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31127" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31128" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31129" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Direct Accommodation Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31130" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Bill Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31131" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Currency Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31132" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Extract Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31133" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Credit Due Date Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31134" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Region</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31135" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Coborrower Social Security Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31136" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Risk Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31137" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Combined 1098 Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31138" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Customer Extension Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31139" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Application Advance Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31140" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Advance Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31141" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Inventory Advance Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31142" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Equipment Advance Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31143" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Government Advance Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31144" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Chattel Advance Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31145" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Floor Plan Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31149" type="xs:string">
          <xs:annotation>
            <xs:documentation>LNANW User ID 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31150" type="xs:string">
          <xs:annotation>
            <xs:documentation>LNANW User ID 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31151" type="xs:string">
          <xs:annotation>
            <xs:documentation>LNANW User ID 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31152" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Origination Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31153" type="xs:string">
          <xs:annotation>
            <xs:documentation>LNANW User ID 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31154" type="xs:string">
          <xs:annotation>
            <xs:documentation>LNANW User ID 5</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>