LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/LNNewNmeAddrResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNewNmeAddrResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNewNmeAddrResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNewNmeAddrResData">
    <xs:annotation>
      <xs:documentation>Loan New/Changed Name and Address (LNDNW) -  This function is used to add, change, or delete name and address information associated with a loan account.  There are nine name and address records available per account.  You specify which of these records you wish to add/change/delete in the lLNNmeAndAddrInd field.  When changing an address, the entire name and address must be re-entered, overlaying the existing information.  First through fifth name/address lines are used for name and address, including ZIP code, exactly as it is to appear on mailings.  Do not leave any blank lines in the middle of the name/address information.  For credit bureau reported joint loans, each name must be on a separate line.  Some items, such as coupon books, credit bureau reports, and 1098 forms only permit four lines.  Interest paid year-to-date statements show up to five lines.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30072" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Name and Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31201" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Allow Name 1 Update</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31202" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Loan Assumption Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31203" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Business Phone Number of Property</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31204" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Business Phone Length</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31205" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31206" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Country</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31207" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Customer Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31209" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address First Middle Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31210" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Home Phone Number For Property</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31211" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Home Phone Length</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31212" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Last Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31213" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Mortgage Products</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31214" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Name New Change</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31216" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN First Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31217" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Second Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31218" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Name 2 Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31219" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Third Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31220" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Name 3 Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31221" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fourth Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31222" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fifth Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31223" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Sixth Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31224" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Seventh Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31225" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Eighth Name/Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31227" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31229" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address Transaction Origination Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31230" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address ZIP Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31231" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New/Changed Name/Address ZIP Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>