LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISSingleCommitPointProcessing/LNNewNoteResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNewNoteResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNewNoteResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNewNoteResData">
    <xs:annotation>
      <xs:documentation>Loan New Note (LNNNW) -  This function is used to add a new note to an account record.  The account must be on file prior to entry of a new note.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32002" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Lending Limit Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E32003" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Issue Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32004" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32005" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32006" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Loan Category</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32007" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN 1098 Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32008" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Payment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Management Class</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32010" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E32011" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32012" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Federal Call Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32013" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32014" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32015" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Send No Bill Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32016" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Charge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32017" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Charge Account</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32018" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32019" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Times Renewed Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32020" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Census Tract Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32021" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Amortization Edit Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E32022" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Principal Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32023" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment  Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32024" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan Default</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32025" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32026" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32027" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Branch Fee Default</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32028" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Property Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32029" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Property ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32030" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Secured Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32031" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Appraisal Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32032" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Appraisal Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32033" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32034" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32035" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32036" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32037" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Flag 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32038" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32039" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Points</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32040" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Amortization To Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32041" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Interest Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32042" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Collateral Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32043" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Collateral Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32044" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN UCC Filing Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32045" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Collateral Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32046" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Deposit Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32047" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN P and I Edit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32048" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Purpose</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Foreign Class</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32055" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Collateral Make</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32056" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Collateral Model</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32057" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Collateral Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32058" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Collateral Insurance Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32059" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Credit Score 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32060" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Credit Score 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32061" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note VIN Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32062" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN SBA Guarantee Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32063" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Nonaccrual Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32064" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax Equivalency Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32065" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Late Notice Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32066" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Late Notice Endorser Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32067" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Collection Referral Card Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32068" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Credit Bureau Reporting Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32069" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Credit Information Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32070" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Number of Coupons</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32071" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Lead Time Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32072" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Lead Time Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32073" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Lead Time Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32074" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32075" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32076" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32077" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Occupant Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32078" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Reamortization Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32079" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Balance Advice Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32080" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Regulation Z Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32081" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Assumption Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32082" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Assumption Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32083" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Part Bought Over Lending Limit Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32084" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ACH Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32085" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ACH/Autopay Number of Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32086" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Expected Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32087" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ABA Routing Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32088" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ABA Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32089" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Variable Rate Extension Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32090" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Section Act of FHA</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32091" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Subnote Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32092" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reporting Region</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32093" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment/Term Change Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32094" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Occupant Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32095" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Late Charge Assessment  Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32096" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Accrual Method Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32097" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Comaker #1 Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32098" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Comaker #2 Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32099" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Comaker #3 Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32100" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Employer Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32101" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Attorney Name/Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32102" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN On-line Collection System Activity Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32103" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Allow Credit Balance Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32104" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Client Reference Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32105" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Foreign Currency Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32106" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Letter of Credit Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32107" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Banker's Acceptance Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32108" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Participation Bought Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32109" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Flat Fee Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32110" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Amount Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32111" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Lead Lender Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32112" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32113" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Contract Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32114" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Collateral Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32115" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Collateral Class</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32116" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Investor Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32117" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Property Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32118" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Number of Dwelling Units</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32119" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Risk Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32120" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Building Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32121" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB State Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32122" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Track Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32123" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Refinance Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32124" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Index Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32125" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Overhead Cost Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32126" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Mortgage Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32127" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHLBB Rate Cap</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32128" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Spread Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32129" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Priority Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32130" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Warehouse Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32131" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Disposition Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32132" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Participation/Syndication Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32133" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Participation Distribution Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32134" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN HUD Formula 1 Buydown Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32135" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN A/R Collateral</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32136" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN HUD Formula 2 Buydown Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32137" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Report to HMDA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32138" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Restructured Loan Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32139" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Income Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32140" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN HMDA State/County Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32141" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN FHA Case Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32142" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Guarantee Company Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32143" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Investor/Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32144" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Curtailment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32145" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Bypass Analysis Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32146" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Expected Escrow Analysis Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32147" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Property Sales Price</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32148" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Application Score</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32149" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Final Score</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32150" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN SMS Program</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32151" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Property Market Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32152" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Percentage Government Insured</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32153" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Balloon Loan Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32154" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Delivery Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32155" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Secondary NAICS Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32156" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Purchase ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32157" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Purchase Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32158" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Purchase Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32159" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Start Interest Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32160" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Default Rate Option Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32161" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Analysis Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32162" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Maturity Extension Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32163" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Horizontal Payment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32164" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Tax Realty Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32165" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Funds Index</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32166" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Funds Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32167" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Automatic Reaccrual</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32168" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Dealer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32169" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note HMDA Reporting Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32170" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Revolving Credit Due Date Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32171" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32172" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Net Proceeds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32173" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32174" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32175" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Escrow Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32176" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Additional Charges</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32177" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Buydown Original Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32178" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Buydown Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32179" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tickler Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32180" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tickler Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32181" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Rate 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32182" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Margin 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32183" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Relationship 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32184" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Floor 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32185" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Ceiling 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32186" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Annual Percentage Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32187" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Rate 1 (Under)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32188" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Margin 1 (Under)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32189" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Relationship 1 (Under)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32190" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Floor 1 (Under)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32191" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Ceiling 1 (Under)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32192" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Split Rate Limit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32193" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32194" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Margin</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32195" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Relationship</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32196" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Floor</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32197" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Ceiling</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32198" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32199" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Pricing Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32200" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Margin Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32201" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Capitalization Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32202" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill All Interest Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32203" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32204" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Accrual Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32205" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Future Accrual Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32206" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Future Basis Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32207" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Earnings/Rebate Interest Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32208" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Index Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32209" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Variable Plan Rounding Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32210" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Rate Change Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32211" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Rate Change Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32212" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Variable Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32213" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Negative Amortization Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32214" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Index</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32215" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Next Rate Change Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32216" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Rate Change Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32217" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Settlement Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32218" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Settlement Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32219" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32220" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Next Settlement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32221" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost of Funds Last Settlement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32222" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Conversion Option Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32223" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Conversion Option Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32224" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Conversion Option Fee</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32225" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Conversion Option Fee Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32226" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Margin Calculation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32227" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Rate Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32228" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Rate Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32229" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Earnings Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32230" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Start Interest Accrual Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32231" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Usury Index</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32232" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Usury Margin</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32233" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Note Usury Edit Option</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32416" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bank Control Default Escrow Analysis Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32417" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Analysis Option Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32418" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Analysis Option Reset Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32419" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Analysis Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32420" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Escrow Analysis Payment Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32421" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Overage Refund Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32698" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Right to Cure State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32700" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Dealer Reserve Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32701" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance Reserve Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32702" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Amount for Error Message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32703" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Dealer Reserve Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32704" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Insurance Reserve Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32705" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Interest Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32706" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Original Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32707" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Total Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32753" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32754" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN CRA Reportable</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37687" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Deposit Collateral Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37689" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Deposit Collateral Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37705" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Hold Release Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37993" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Credit Bureau Date Delinquent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37994" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Credit Bureau Special Comments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38134" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN HPA Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38136" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN PMI Cancellation Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38137" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN PMI Termination Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38138" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN PMI Midpoint Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32708" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32709" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32710" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32711" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32712" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32713" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32714" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32715" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32716" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32717" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32718" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32719" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32720" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32721" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32722" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32723" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32724" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32725" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32726" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32727" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32728" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32729" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32730" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32731" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32732" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32733" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32734" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32735" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32736" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32737" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32738" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32739" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32740" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32741" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32742" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32743" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32744" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32745" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32746" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32747" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32748" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32749" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32750" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Schedule Number Error 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32751" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Calculated Principal and Interest Amount Error 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32752" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Actual Principal and Interest Amount Error 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32935" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral Property Tax ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32936" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral VIN/Serial Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32937" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral VIN/Serial Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32938" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral Application Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32939" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral Make</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32940" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral Model</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32941" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32942" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral User Score 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32943" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Collateral User Score 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32989" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Deficit Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37720" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Close Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34151" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Option ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34152" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Rate Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34153" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Base Options Borrowing Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33925" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note OBP Schedule Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33905" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Credit Bureau Portfolio Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33906" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Credit Bureau Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34155" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Combine R6807 1098 Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="LNPmtSchedLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNPmtSched">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E32288" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payment Effective Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32289" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payment Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32290" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Number of Payments</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32291" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payment Frequency</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32292" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Business Day</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32293" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payment Percent</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32294" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Minimum Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32295" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Total Scheduled Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32296" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Principal and Interest Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32297" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32298" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Buydown Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32299" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Charge Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32300" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Charge DDA Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32301" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payment Plan Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32302" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Day of Week</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32303" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN New Note Occur of Week</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="LNEscrLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNEscr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E32422" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Company Payee Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32423" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32424" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Company Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32425" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Company Subcategory</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32426" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Collection Method</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32427" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Insurance Expiration Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32428" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32429" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Analysis Option Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32430" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Current FHA Anniversary Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32431" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN R-7360 Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32432" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Status Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32433" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Current Escrow Premium</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32434" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Premium Calculation Method</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32435" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow User Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32436" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Disbursement Frequency</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32437" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Next Expected Escrow Disbursement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32438" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Next Expected Escrow Disbursement Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32439" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Disbursement Exception Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32440" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Interest Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32441" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Customer/Payee Escrow Recipient</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32442" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Disbursement Method</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32443" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Check Recipient</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32444" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Insurance Coverage Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32445" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Check Group Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32446" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Automatic Disbursement Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32447" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Automatic Disbursement Lead Days</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32448" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Automatic Disbursement Status</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32449" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Even Installments Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32450" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Number of Installments</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32451" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Tax/Insurance Identification Number 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32452" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Tax/Insurance Identification Number 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32453" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Tax/Insurance Identification Number 3</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32454" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Tax/Insurance Identification Number 4</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32455" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Tax/Insurance Identification Number 5</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32456" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 1 Disbursement Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32457" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 1 Disbursement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32458" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 2 Disbursement Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32459" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 2 Disbursement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32460" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 3 Disbursement Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32461" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 3 Disbursement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32462" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 4 Disbursement Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32463" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment 4 Disbursement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32464" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Deletion Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32465" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Schedule Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32466" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Parcel Policy Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="LNResrvLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNResrv">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E32647" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Company Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32648" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Company Purpose</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32649" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Company Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32650" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Company Subcategory</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32651" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Earning/Rebating Method</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32652" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Original Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32653" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Effective Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32654" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Termination Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32655" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Prepaid Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32656" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Accrual Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32657" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Voluntary Insurance Payment Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32658" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Maximum Voluntary Insurance Premium</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32659" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Recourse</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32660" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Insurance Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32661" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Insurance Plan</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32662" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Associate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32663" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Reserve Associate Birth Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>