LoansPQWSWrappers/Web References/Unity/UnityMeridianLinkWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.swbc.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.swbc.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SWBC Unity Meridian Link Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.swbc.com/">
      <s:element name="GetLoanData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ARequest" type="tns:UnityRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnityRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MLID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLoanDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoanDataResult" type="tns:UnityResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UnityResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DS">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLoanDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoanData" />
  </wsdl:message>
  <wsdl:message name="GetLoanDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoanDataResponse" />
  </wsdl:message>
  <wsdl:portType name="UnityMeridianLinkWSSoap">
    <wsdl:operation name="GetLoanData">
      <wsdl:input message="tns:GetLoanDataSoapIn" />
      <wsdl:output message="tns:GetLoanDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UnityMeridianLinkWSSoap" type="tns:UnityMeridianLinkWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoanData">
      <soap:operation soapAction="http://www.swbc.com/GetLoanData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UnityMeridianLinkWSSoap12" type="tns:UnityMeridianLinkWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLoanData">
      <soap12:operation soapAction="http://www.swbc.com/GetLoanData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnityMeridianLinkWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SWBC Unity Meridian Link Web Service</wsdl:documentation>
    <wsdl:port name="UnityMeridianLinkWSSoap" binding="tns:UnityMeridianLinkWSSoap">
      <soap:address location="http://unitytest.swbc.com/uinterface/testmeridianlink/UnityMeridianLinkWS.asmx" />
    </wsdl:port>
    <wsdl:port name="UnityMeridianLinkWSSoap12" binding="tns:UnityMeridianLinkWSSoap12">
      <soap12:address location="http://unitytest.swbc.com/uinterface/testmeridianlink/UnityMeridianLinkWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>