LoansPQWSWrappers/Web References/IWCService/CredentialsV10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:cunamutual:loanliner:credentials:v1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:cunamutual:loanliner:credentials:v1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <version xmlns="urn:cunamutual:loanliner:credentials:v1.0">1.0</version>
      <genDate xmlns="urn:cunamutual:loanliner:credentials:v1.0">4/2010</genDate>
    </xs:appinfo>
    <xs:documentation>This is the CUNA Mutual Group Credential schema definition.</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>Credentials is used for userid, domain, password, and encrypted password</xs:documentation>
  </xs:annotation>
  <xs:element name="Domain">
    <xs:annotation>
      <xs:documentation>The domain the userid is associated with.  It is an open enumeration that will accept	any of the values listed in the restriction plus others.  This is to provide flexibility in case we add additional domains.</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:union memberTypes="xs:string">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="CMEMBERS" />
            <xs:enumeration value="CMEMBERSM" />
            <xs:enumeration value="CMEMBERSD" />
            <xs:enumeration value="CUNIONS" />
            <xs:enumeration value="CUNIONSM" />
            <xs:enumeration value="CUNIONSD" />
            <xs:enumeration value="CMUTUAL" />
            <xs:enumeration value="CMUTUALM" />
            <xs:enumeration value="CMUTUALD" />
          </xs:restriction>
        </xs:simpleType>
      </xs:union>
    </xs:simpleType>
  </xs:element>
  <xs:element name="UserId">
    <xs:annotation>
      <xs:documentation>The main CUNA Mutual Group active directory logon id/user id</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="20" />
        <xs:minLength value="6" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Password">
    <xs:annotation>
      <xs:documentation>
        If this value is being passed in clear text, then the request and response must use a secured
        transport mechanism like SSL, and the message must be encrypted if saved to a file or database.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:maxLength value="127" />
        <xs:minLength value="6" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="EncryptedPassword">
    <xs:simpleType>
      <xs:restriction base="xs:string" />
    </xs:simpleType>
  </xs:element>
</xs:schema>