LoansPQWSWrappers/Web References/com.epl.LoanCodeListService/LoanCodeListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://com.eplinc.hub.service.lending/LoanCodeListService.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://com.eplinc.hub.service.lending/LoanCodeListService.xsd" name="LoanCodeListService" targetNamespace="http://com.eplinc.hub.service.lending/LoanCodeListService.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  WSDL for Service: LoanCodeListService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>
  <types>
    <schema xmlns:tns="http://com.eplinc.hub.service.lending/LoanCodeListService.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.eplinc.hub.service.lending/LoanCodeListService.xsd" xmlns="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanCodeWSO">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_LoanCodeWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_ServiceRequesterWSO">
        <xsd:all>
          <xsd:element name="destinationId" type="xsd:string" />
          <xsd:element name="requesterIdentifier" type="xsd:string" />
          <xsd:element name="sessionIdentifier" type="xsd:string" />
          <xsd:element name="sessionInfo" type="tns:com_eplinc_hub_wso_SessionInfoWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_SessionInfoWSO">
        <xsd:all>
          <xsd:element name="branchNum" type="xsd:int" />
          <xsd:element name="drawerNum" type="xsd:int" />
          <xsd:element name="institutionNum" type="xsd:int" />
          <xsd:element name="tellerNum" type="xsd:int" />
          <xsd:element name="terminalName" type="xsd:string" />
          <xsd:element name="userNum" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </schema>
  </types>
  <message name="getPaymentFrequenciesInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
  </message>
  <message name="getLoanTypeCodesInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
  </message>
  <message name="getLoanTypeCodesOutput">
    <part name="output" type="xsd1:ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO" />
  </message>
  <message name="getLoanCodesInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
  </message>
  <message name="getLienCodesOutput">
    <part name="output" type="xsd1:ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO" />
  </message>
  <message name="getLoanCollateralCodesOutput">
    <part name="output" type="xsd1:ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO" />
  </message>
  <message name="getLoanCodesWithFilterOutput">
    <part name="output" type="xsd1:ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO" />
  </message>
  <message name="getLoanCodesWithFilterInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
    <part name="param1" type="xsd1:ArrayOfString" />
  </message>
  <message name="getLienCodesInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
  </message>
  <message name="getLoanCodesOutput">
    <part name="output" type="xsd1:ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO" />
  </message>
  <message name="getPaymentFrequenciesOutput">
    <part name="output" type="xsd1:ArrayOfCom_eplinc_hub_wso_lending_LoanCodeWSO" />
  </message>
  <message name="getLoanCollateralCodesInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
  </message>
  <portType name="LoanCodeListServicePortType">
    <operation name="getLienCodes">
      <input message="tns:getLienCodesInput" />
      <output message="tns:getLienCodesOutput" />
    </operation>
    <operation name="getLoanCodesWithFilter">
      <input message="tns:getLoanCodesWithFilterInput" />
      <output message="tns:getLoanCodesWithFilterOutput" />
    </operation>
    <operation name="getPaymentFrequencies">
      <input message="tns:getPaymentFrequenciesInput" />
      <output message="tns:getPaymentFrequenciesOutput" />
    </operation>
    <operation name="getLoanTypeCodes">
      <input message="tns:getLoanTypeCodesInput" />
      <output message="tns:getLoanTypeCodesOutput" />
    </operation>
    <operation name="getLoanCollateralCodes">
      <input message="tns:getLoanCollateralCodesInput" />
      <output message="tns:getLoanCollateralCodesOutput" />
    </operation>
    <operation name="getLoanCodes">
      <input message="tns:getLoanCodesInput" />
      <output message="tns:getLoanCodesOutput" />
    </operation>
  </portType>
  <binding name="LoanCodeListServiceBinding" type="tns:LoanCodeListServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getLienCodes">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LoanCodeListService/getLienCodes" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLoanCodesWithFilter">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LoanCodeListService/getLoanCodesWithFilter" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getPaymentFrequencies">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LoanCodeListService/getPaymentFrequencies" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLoanTypeCodes">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LoanCodeListService/getLoanTypeCodes" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLoanCollateralCodes">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LoanCodeListService/getLoanCollateralCodes" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLoanCodes">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LoanCodeListService/getLoanCodes" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LoanCodeListService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="LoanCodeListService">
    <port name="LoanCodeListServicePort" binding="tns:LoanCodeListServiceBinding">
      <soap:address location="https://shubdmz.eplinc.com:4443/webserv/lending/loancodes" />
    </port>
  </service>
</definitions>