LoansPQWSWrappers/Web References/com.epl.LendingInquiryService/LendingInquiryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://com.eplinc.hub.service.lending/LendingInquiryService.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd1="http://com.eplinc.hub.service.lending/LendingInquiryService.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LendingInquiryService" targetNamespace="http://com.eplinc.hub.service.lending/LendingInquiryService.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  WSDL for Service: LendingInquiryService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>
  <types>
    <xsd:schema xmlns:tns="http://com.eplinc.hub.service.lending/LendingInquiryService.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://com.eplinc.hub.service.lending/LendingInquiryService.xsd">
      <xsd:complexType name="com_eplinc_hub_wso_lending_ApplicantInquiryRespWSO">
        <xsd:all>
          <xsd:element name="assets" type="tns:ArrayOfCom_eplinc_hub_wso_lending_AssetWSO" />
          <xsd:element name="person" type="tns:com_eplinc_hub_wso_acctinquiry_PersonProfileWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_AssetWSO">
        <xsd:all>
          <xsd:element name="accountNum" type="xsd:string" />
          <xsd:element name="currentBalance" type="xsd:decimal" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="joint" type="xsd:boolean" />
          <xsd:element name="suffixNum" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_AssetWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_AssetWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_acctinquiry_PersonProfileWSO">
        <xsd:all>
          <xsd:element name="address" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="buyRentOwn" type="xsd:string" />
          <xsd:element name="comments" type="xsd:string" />
          <xsd:element name="dateHired" type="xsd:string" />
          <xsd:element name="deathDate" type="xsd:string" />
          <xsd:element name="dependentsAges" type="xsd:string" />
          <xsd:element name="driversLicenseId" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="driversLicenseNum" type="xsd:string" />
          <xsd:element name="driversLicenseState" type="xsd:string" />
          <xsd:element name="emailAddress" type="xsd:string" />
          <xsd:element name="employerAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="employerName" type="xsd:string" />
          <xsd:element name="grossIncome" type="xsd:decimal" />
          <xsd:element name="hadBankruptcy" type="xsd:boolean" />
          <xsd:element name="hadForeclosureOrRepo" type="xsd:boolean" />
          <xsd:element name="hadJudgementOrGarnishments" type="xsd:boolean" />
          <xsd:element name="hasLawsuits" type="xsd:boolean" />
          <xsd:element name="homeBankingFlag" type="xsd:boolean" />
          <xsd:element name="homePresentValue" type="xsd:decimal" />
          <xsd:element name="isCosigner" type="xsd:boolean" />
          <xsd:element name="maritalStatus" type="xsd:string" />
          <xsd:element name="mobileNum" type="xsd:string" />
          <xsd:element name="monthsAtCurrentAddress" type="xsd:int" />
          <xsd:element name="monthsAtPreviousAddress" type="xsd:int" />
          <xsd:element name="monthsAtPreviousAddress2" type="xsd:int" />
          <xsd:element name="monthsEmployed" type="xsd:int" />
          <xsd:element name="mothersMaidenName" type="xsd:string" />
          <xsd:element name="netIncome" type="xsd:decimal" />
          <xsd:element name="notUSCitizen" type="xsd:boolean" />
          <xsd:element name="numOfDependents" type="xsd:int" />
          <xsd:element name="occupation" type="xsd:string" />
          <xsd:element name="patriotActId1" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="patriotActId2" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="patriotActId3" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="payAlimony" type="xsd:boolean" />
          <xsd:element name="payChildSupport" type="xsd:boolean" />
          <xsd:element name="personIdentifier" type="tns:com_eplinc_hub_wso_PersonIdentifierWSO" />
          <xsd:element name="phoneNum" type="xsd:string" />
          <xsd:element name="prevEmployerName" type="xsd:string" />
          <xsd:element name="prevMonthsEmployed" type="xsd:int" />
          <xsd:element name="prevOccupation" type="xsd:string" />
          <xsd:element name="prevSupervisor" type="xsd:string" />
          <xsd:element name="prevYearsEmployed" type="xsd:int" />
          <xsd:element name="previousAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="previousAddress2" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="previousEmployerAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="supervisor" type="xsd:string" />
          <xsd:element name="voiceResponseFlag" type="xsd:int" />
          <xsd:element name="workEmailAddress" type="xsd:string" />
          <xsd:element name="workMobileNum" type="xsd:string" />
          <xsd:element name="workPhoneNum" type="xsd:string" />
          <xsd:element name="yearsAtCurrentAddress" type="xsd:int" />
          <xsd:element name="yearsAtPreviousAddress" type="xsd:int" />
          <xsd:element name="yearsAtPreviousAddress2" type="xsd:int" />
          <xsd:element name="yearsEmployed" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_AddressWSO">
        <xsd:all>
          <xsd:element name="address1" type="xsd:string" />
          <xsd:element name="address2" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />
          <xsd:element name="county" type="xsd:string" />
          <xsd:element name="foreign" type="xsd:boolean" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="zipcode" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="docType" type="xsd:string" />
          <xsd:element name="expireDate" type="xsd:string" />
          <xsd:element name="idType" type="xsd:int" />
          <xsd:element name="issueDate" type="xsd:string" />
          <xsd:element name="number" type="xsd:string" />
          <xsd:element name="stateProvince" type="xsd:string" />
          <xsd:element name="verifyDate" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_PersonIdentifierWSO">
        <xsd:all>
          <xsd:element name="birthDate" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="generation" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="middleInitial" type="xsd:string" />
          <xsd:element name="relationship" type="xsd:string" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="title" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_ServiceRequesterWSO">
        <xsd:all>
          <xsd:element name="destinationId" type="xsd:string" />
          <xsd:element name="requesterIdentifier" type="xsd:string" />
          <xsd:element name="sessionIdentifier" type="xsd:string" />
          <xsd:element name="sessionInfo" type="tns:com_eplinc_hub_wso_SessionInfoWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_SessionInfoWSO">
        <xsd:all>
          <xsd:element name="branchNum" type="xsd:int" />
          <xsd:element name="drawerNum" type="xsd:int" />
          <xsd:element name="institutionNum" type="xsd:int" />
          <xsd:element name="tellerNum" type="xsd:int" />
          <xsd:element name="terminalName" type="xsd:string" />
          <xsd:element name="userNum" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanInquiryRespWSO">
        <xsd:all>
          <xsd:element name="accountNum" type="xsd:string" />
          <xsd:element name="loanDetails" type="tns:com_eplinc_hub_wso_lending_LoanDetailsWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanDetailsWSO">
        <xsd:all>
          <xsd:element name="addOn" type="xsd:boolean" />
          <xsd:element name="balloonNote" type="xsd:boolean" />
          <xsd:element name="balloonPymtAmount" type="xsd:decimal" />
          <xsd:element name="collateralCode" type="xsd:string" />
          <xsd:element name="currentBalance" type="xsd:decimal" />
          <xsd:element name="draftSuffixNum" type="xsd:int" />
          <xsd:element name="ecoaCode" type="xsd:string" />
          <xsd:element name="finalPymtDate" type="xsd:string" />
          <xsd:element name="firstPymtDate" type="xsd:string" />
          <xsd:element name="insuranceAmount" type="xsd:decimal" />
          <xsd:element name="insuranceCode" type="xsd:string" />
          <xsd:element name="interestRate" type="xsd:decimal" />
          <xsd:element name="lastPymtDate" type="xsd:string" />
          <xsd:element name="lateChargeCode" type="xsd:string" />
          <xsd:element name="lifeCapAmount" type="xsd:decimal" />
          <xsd:element name="lineOfCredit" type="xsd:boolean" />
          <xsd:element name="loanClass" type="xsd:int" />
          <xsd:element name="loanType" type="xsd:string" />
          <xsd:element name="locAmount" type="xsd:decimal" />
          <xsd:element name="locExpDate" type="xsd:string" />
          <xsd:element name="noteNum" type="xsd:string" />
          <xsd:element name="numOfPymts" type="xsd:int" />
          <xsd:element name="pymtAmount" type="xsd:decimal" />
          <xsd:element name="pymtCalcMethod" type="xsd:int" />
          <xsd:element name="pymtFrequency" type="xsd:int" />
          <xsd:element name="pymtMethod" type="xsd:string" />
          <xsd:element name="pymtSourceNum" type="xsd:int" />
          <xsd:element name="requestedAmount" type="xsd:decimal" />
          <xsd:element name="suffixNum" type="xsd:int" />
          <xsd:element name="termCapAmount" type="xsd:decimal" />
          <xsd:element name="variableRate" type="xsd:boolean" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="performApplicantInquiryInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
    <part name="param1" type="xsd:string" />
  </message>
  <message name="performApplicantInquiryOutput">
    <part name="output" type="xsd1:com_eplinc_hub_wso_lending_ApplicantInquiryRespWSO" />
  </message>
  <message name="performLoanInquiryInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
    <part name="param1" type="xsd:string" />
    <part name="param2" type="xsd:int" />
  </message>
  <message name="performLoanInquiryOutput">
    <part name="output" type="xsd1:com_eplinc_hub_wso_lending_LoanInquiryRespWSO" />
  </message>
  <portType name="LendingInquiryServicePortType">
    <operation name="performApplicantInquiry">
      <input message="tns:performApplicantInquiryInput" />
      <output message="tns:performApplicantInquiryOutput" />
    </operation>
    <operation name="performLoanInquiry">
      <input message="tns:performLoanInquiryInput" />
      <output message="tns:performLoanInquiryOutput" />
    </operation>
  </portType>
  <binding name="LendingInquiryServiceBinding" type="tns:LendingInquiryServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="performApplicantInquiry">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LendingInquiryService/performApplicantInquiry" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LendingInquiryService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LendingInquiryService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="performLoanInquiry">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-LendingInquiryService/performLoanInquiry" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LendingInquiryService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-LendingInquiryService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="LendingInquiryService">
    <port name="LendingInquiryServicePort" binding="tns:LendingInquiryServiceBinding">
      <soap:address location="https://shubdmz.eplinc.com:4443/webserv/lending/lendinginquiry" />
    </port>
  </service>
</definitions>