LoansPQWSWrappers.VAIS/VAIS/Web References/VAIS/VaisMessages.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:typns="http://acxiom.com/visacontrolservice/ws/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acxiom.com/visacontrolservice/ws/vaismessages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://acxiom.com/visacontrolservice/ws/vaismessages" name="VaisMessages" targetNamespace="http://acxiom.com/visacontrolservice/ws/vaismessages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://acxiom.com/visacontrolservice/ws/vaismessages">
      <xsd:import schemaLocation="Vais.xsd" namespace="http://acxiom.com/visacontrolservice/ws/types" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddDeclinedApplicationRequest">
    <wsdl:part name="addDeclinedApplicationRequest" element="typns:AddDeclinedApplicationRq" />
  </wsdl:message>
  <wsdl:message name="AddDeclinedApplicationResponse">
    <wsdl:part name="addDeclinedApplicationResponse" element="typns:AddDeclinedApplicationRs" />
  </wsdl:message>
  <wsdl:message name="AddApplicationRequest">
    <wsdl:part name="addApplicationRequest" element="typns:AddApplicationRq" />
  </wsdl:message>
  <wsdl:message name="AddApplicationResponse">
    <wsdl:part name="addApplicationResponse" element="typns:AddApplicationRs" />
  </wsdl:message>
  <wsdl:message name="AddUnauthorizedUseRequest">
    <wsdl:part name="addUnauthorizedUseRequest" element="typns:AddUnauthorizedUseRq" />
  </wsdl:message>
  <wsdl:message name="AddUnauthorizedUseResponse">
    <wsdl:part name="addUnauthorizedUseResponse" element="typns:AddUnauthorizedUseRs" />
  </wsdl:message>
  <wsdl:message name="AddInquiryRequest">
    <wsdl:part name="addInquiryRequest" element="typns:AddInquiryRq" />
  </wsdl:message>
  <wsdl:message name="AddInquiryResponse">
    <wsdl:part name="addInquiryResponse" element="typns:AddInquiryRs" />
  </wsdl:message>
  <wsdl:message name="RetroactiveInquiryRequest">
    <wsdl:part name="retroactiveInquiryRequest" element="typns:RetroactiveInquiryRq" />
  </wsdl:message>
  <wsdl:message name="RetroactiveInquiryResponse">
    <wsdl:part name="retroactiveInquiryResponse" element="typns:RetroactiveInquiryRs" />
  </wsdl:message>
  <wsdl:message name="DebitInquiryRequest">
    <wsdl:part name="debitInquiryRequest" element="typns:DebitInquiryRq" />
  </wsdl:message>
  <wsdl:message name="DebitInquiryResponse">
    <wsdl:part name="debitInquiryResponse" element="typns:DebitInquiryRs" />
  </wsdl:message>
  <wsdl:message name="NonBankcardInquiryRequest">
    <wsdl:part name="nonBankcardInquiryRequest" element="typns:NonBankcardInquiryRq" />
  </wsdl:message>
  <wsdl:message name="NonBankcardInquiryResponse">
    <wsdl:part name="nonBankcardInquiryResponse" element="typns:NonBankcardInquiryRs" />
  </wsdl:message>
  <wsdl:message name="AddDeleteRequest">
    <wsdl:part name="addDeleteRequest" element="typns:AddDeleteRq" />
  </wsdl:message>
  <wsdl:message name="AddDeleteResponse">
    <wsdl:part name="addDeleteResponse" element="typns:AddDeleteRs" />
  </wsdl:message>
</wsdl:definitions>