LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISCustomerSearchByCustomerNumber/CICustNbrSrchWSV7SvcResData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustNbrSrchResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustNbrSrchResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustNbrSrchResData">
    <xs:annotation>
      <xs:documentation>CIS Customer Search by Customer Number (CI001) - The customer search functions are used to search for existing customers and return name, address, and basic demographic information about them.  This search will use the customer number to locate customers.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E10031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS More to be Returned Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10085" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search City Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10089" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search State Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10090" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Street Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10091" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10093" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10130" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10201" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10202" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Search Social Security Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10208" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number to Start Search</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10210" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10292" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Type Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10293" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Requested Result Times</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10762" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Entity Filter</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="CICustInfoLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CICustInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E10037" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 1 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10038" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 2 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10039" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 3 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10040" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 4 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10041" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 5 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10042" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 1 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10043" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 2 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10044" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 3 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10045" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 4 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10046" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Address 5 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10082" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Name Code 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10083" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Name Code 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10084" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Name Code 3</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10086" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Name 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10087" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Name 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10088" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Standard Name 3</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10127" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Remarks Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10035" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Bank Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10033" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10132" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Tax Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10109" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Primary Phone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10096" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Name/Address Effective Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10028" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Current Name Process Time</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10542" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Market Area Pricing Value</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10101" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Last Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10102" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized First Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10103" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Middle Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10104" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Middle Name 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10095" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Direction</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10099" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized House Number Fraction</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10100" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized House Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10106" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Odd/Even Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10115" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Street</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10117" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Supplemental Address</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10094" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized City</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10114" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized State</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10122" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized ZIP Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10351" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Prospect Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10036" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Date of Birth</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10050" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Driver License</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10125" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Restriction Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10134" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Tax Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10152" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Since Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10159" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Customer Employment School</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10169" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Mother's Maiden Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10162" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Business Since Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10198" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Type of Business Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10299" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Country Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10244" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Elementized Country Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10153" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Record Type Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10118" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Surname</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10423" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Title</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10422" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Suffix</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10424" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Appendage</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10113" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Secondary Phone</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E11001" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Address Override Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10230" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10231" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10232" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 3</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10233" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 4</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10234" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 5</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10235" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 6</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10236" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 7</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10237" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 8</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10238" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Alias Name 9</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10097" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Fax Phone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10098" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS First Name and Middle Initial</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>