LoansPQWSWrappers.CULearn/CULearn/Service References/CULearn/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.culearn.org/VoltaWCFService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:element name="GetPrequalQuestions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q1:ProcessingDataType" />
        <xs:element minOccurs="0" name="strLenderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLoanType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrequalQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetPrequalQuestionsResult" nillable="true" type="q2:PrequalQuestionsResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePrequalAnswers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q3:ProcessingDataType" />
        <xs:element minOccurs="0" name="strLenderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLoanType" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="colPrequalAnswers" nillable="true" type="q4:ArrayOfPrequalAnswerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePrequalAnswersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="ValidatePrequalAnswersResult" nillable="true" type="q5:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPrivateApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q6:ProcessingDataType" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objPrivateApp" nillable="true" type="q7:PrivateAppType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPrivateApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="ProcessPrivateApplicationResult" nillable="true" type="q8:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPrivateApplication2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q9:ProcessingDataType" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objPrivateApp" nillable="true" type="q10:PrivateAppType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPrivateApplication2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="ProcessPrivateApplication2Result" nillable="true" type="q11:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q12:ProcessingDataType" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objCreditApp" nillable="true" type="q13:PrivateAppType" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="colPrequalAnswers" nillable="true" type="q14:ArrayOfPrequalAnswerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="ProcessCreditApplicationResult" nillable="true" type="q15:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditApplication2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q16:ProcessingDataType" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objCreditApp" nillable="true" type="q17:PrivateAppType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessCreditApplication2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="ProcessCreditApplication2Result" nillable="true" type="q18:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSignatureRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q19:ProcessingDataType" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objSign" nillable="true" type="q20:SignatureType" />
        <xs:element minOccurs="0" name="strPersonType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessSignatureRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="ProcessSignatureRequestResult" nillable="true" type="q21:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q22:ProcessingDataType" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objNote" nillable="true" type="q23:NoteType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="AddNoteResult" nillable="true" type="q24:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q25:ProcessingDataType" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="colDocument" nillable="true" type="q26:ArrayOfDocumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="AddDocumentResult" nillable="true" type="q27:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternaUseFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q28:ProcessingDataType" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objExtUseFields" nillable="true" type="q29:ExternalUseFieldsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternaUseFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="UpdateExternaUseFieldsResult" nillable="true" type="q30:ResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEligSchoolList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="objProcData" nillable="true" type="q31:ProcessingDataType" />
        <xs:element minOccurs="0" name="strLenderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strLoanType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEligSchoolListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="GetEligSchoolListResult" nillable="true" type="q32:EligSchoolListResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>