LoansPQWSWrappers/Web References/AFCU2015_1.Card/CommonCardTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/CommonCardTypes" targetNamespace="http://www.americafirst.com/20070315/CommonCardTypes" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <simpleType name="ConclusionType">
    <restriction base="string">
      <enumeration value="Actual" />
      <enumeration value="Suspect" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="OccurrenceType">
    <restriction base="string">
      <enumeration value="Lost" />
      <enumeration value="Stolen" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
  <simpleType name="CardClassType">
    <restriction base="string">
      <enumeration value="Access" />
      <enumeration value="Business Platinum" />
      <enumeration value="Business Debit" />
      <enumeration value="Classic" />
      <enumeration value="Debit" />
      <enumeration value="Fundz" />
      <enumeration value="FUNDZ Debit" />
      <enumeration value="Signature" />
      <enumeration value="Help" />
      <enumeration value="Platinum" />
      <enumeration value="Zero Limit" />
      <enumeration value="Other" />
    </restriction>
  </simpleType>
</schema>