LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNoteIncrease/LNNoteIncrResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteIncrResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteIncrResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteIncrResData">
    <xs:annotation>
      <xs:documentation>Loan Note Increase (LNNIN) -  This function is used to increase the principal balance of an existing loan when no other conditions of the loan have changed.  The loan's per diem will be adjusted as of the effective date of the increase.  This transaction is not allowed for investor-sold loans or fully charged off add-on loans.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31602" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Loan Balance Increase</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31603" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Increase Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31604" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Collateral Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31605" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Check Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31606" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31614" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Serial Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37679" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ATM/POS Description 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37680" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ATM/POS Description 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37681" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ATM/POS Description 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37682" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ATM/POS Description 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31601" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Lending Limit Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37683" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Postmaturity Advance Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37684" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Expired Commitment Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31608" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Previous Loan Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31609" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Loan Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31610" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Old Total Owed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31611" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account New Total Owed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32988" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Subcommitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>