LoansPQWSWrappers.Premier/Premier/Web References/premier.prm1452/prm1452.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://itiwnet.com/WebServices" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://itiwnet.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Premier Maintenance Module</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://itiwnet.com/WebServices">
      <s:element name="ProcessRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlRequest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestingGroup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessRequestResponse" />
  </wsdl:message>
  <wsdl:message name="TestRequestSoapIn">
    <wsdl:part name="parameters" element="tns:TestRequest" />
  </wsdl:message>
  <wsdl:message name="TestRequestSoapOut">
    <wsdl:part name="parameters" element="tns:TestRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="PRM1452Soap">
    <wsdl:operation name="ProcessRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is an interface for the Premier system, for use by Fiserv Inc. only.</wsdl:documentation>
      <wsdl:input message="tns:ProcessRequestSoapIn" />
      <wsdl:output message="tns:ProcessRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This is an interface for the Premier System, for use by Fiserv Inc. only.</wsdl:documentation>
      <wsdl:input message="tns:TestRequestSoapIn" />
      <wsdl:output message="tns:TestRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PRM1452Soap" type="tns:PRM1452Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap:operation soapAction="http://itiwnet.com/WebServices/ProcessRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequest">
      <soap:operation soapAction="http://itiwnet.com/WebServices/TestRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PRM1452Soap12" type="tns:PRM1452Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessRequest">
      <soap12:operation soapAction="http://itiwnet.com/WebServices/ProcessRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequest">
      <soap12:operation soapAction="http://itiwnet.com/WebServices/TestRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PRM1452">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Premier Maintenance Module</wsdl:documentation>
    <wsdl:port name="PRM1452Soap" binding="tns:PRM1452Soap">
      <soap:address location="https://navigator.ffsb.com/prm_prm1452/prm1452.asmx" />
    </wsdl:port>
    <wsdl:port name="PRM1452Soap12" binding="tns:PRM1452Soap12">
      <soap12:address location="https://navigator.ffsb.com/prm_prm1452/prm1452.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>