LoansPQWSWrappers.JXChange_2012/JXChange2019003/Web References/JXChange2019003.Workflow/TPG_Workflow.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="2019.0.03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_WorkflowMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="PubWorkflowSrchInput">
    <part name="params" element="tns:PubWorkflowSrch" />
  </message>
  <message name="PubWorkflowSrchOutput">
    <part name="params" element="tns:PubWorkflowSrchResponse" />
  </message>
  <message name="WorkflowInstcStartInput">
    <part name="params" element="tns:WorkflowInstcStart" />
  </message>
  <message name="WorkflowInstcStartOutput">
    <part name="params" element="tns:WorkflowInstcStartResponse" />
  </message>
  <message name="WorkflowInstcModInput">
    <part name="params" element="tns:WorkflowInstcMod" />
  </message>
  <message name="WorkflowInstcModOutput">
    <part name="params" element="tns:WorkflowInstcModResponse" />
  </message>
  <message name="WorkflowInstcSrchInput">
    <part name="params" element="tns:WorkflowInstcSrch" />
  </message>
  <message name="WorkflowInstcSrchOutput">
    <part name="params" element="tns:WorkflowInstcSrchResponse" />
  </message>
  <portType name="WorkflowService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PubWorkflowSrch">
      <input message="tns:PubWorkflowSrchInput" />
      <output message="tns:PubWorkflowSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="WorkflowInstcStart">
      <input message="tns:WorkflowInstcStartInput" />
      <output message="tns:WorkflowInstcStartOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="WorkflowInstcMod">
      <input message="tns:WorkflowInstcModInput" />
      <output message="tns:WorkflowInstcModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="WorkflowInstcSrch">
      <input message="tns:WorkflowInstcSrchInput" />
      <output message="tns:WorkflowInstcSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="WorkflowServiceSoapBinding" type="tns:WorkflowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PubWorkflowSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/PubWorkflowSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="WorkflowInstcStart">
      <soap:operation soapAction="http://jackhenry.com/ws/WorkflowInstcStart" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="WorkflowInstcMod">
      <soap:operation soapAction="http://jackhenry.com/ws/WorkflowInstcMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="WorkflowInstcSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/WorkflowInstcSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="WorkflowService">
    <documentation>Service Description for the WorkflowService Interface</documentation>
    <port name="WorkflowServiceSoap" binding="tns:WorkflowServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/Workflow.svc" />
    </port>
  </service>
</definitions>