LoansPQWSWrappers/Web References/com.epl.BookLoanService/BookLoanService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd1="http://com.eplinc.hub.service.lending/BookLoanService.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.eplinc.hub.service.lending/BookLoanService.wsdl" name="BookLoanService" targetNamespace="http://com.eplinc.hub.service.lending/BookLoanService.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  WSDL for Service: BookLoanService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.eplinc.hub.service.lending/BookLoanService.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.eplinc.hub.service.lending/BookLoanService.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="com_eplinc_hub_wso_lending_BookLoanRespWSO">
        <xsd:all>
          <xsd:element name="errors" type="tns:ArrayOfCom_eplinc_hub_wso_ErrorWSO" />
          <xsd:element name="overrideErrors" type="tns:ArrayOfCom_eplinc_hub_wso_OverrideErrorWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_ErrorWSO">
        <xsd:all>
          <xsd:element name="errorCode" type="xsd:string" />
          <xsd:element name="errorDescription" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_ErrorWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_ErrorWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_OverrideErrorWSO">
        <xsd:all>
          <xsd:element name="overrideCode" type="xsd:string" />
          <xsd:element name="overrideLevelNeeded" type="xsd:int" />
          <xsd:element name="overrideMessage" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_OverrideErrorWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_OverrideErrorWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_ServiceRequesterWSO">
        <xsd:all>
          <xsd:element name="destinationId" type="xsd:string" />
          <xsd:element name="requesterIdentifier" type="xsd:string" />
          <xsd:element name="sessionIdentifier" type="xsd:string" />
          <xsd:element name="sessionInfo" type="tns:com_eplinc_hub_wso_SessionInfoWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_SessionInfoWSO">
        <xsd:all>
          <xsd:element name="branchNum" type="xsd:int" />
          <xsd:element name="drawerNum" type="xsd:int" />
          <xsd:element name="institutionNum" type="xsd:int" />
          <xsd:element name="tellerNum" type="xsd:int" />
          <xsd:element name="terminalName" type="xsd:string" />
          <xsd:element name="userNum" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanApplicationWSO">
        <xsd:all>
          <xsd:element name="accountNum" type="xsd:string" />
          <xsd:element name="applicant" type="tns:com_eplinc_hub_wso_acctinquiry_PersonProfileWSO" />
          <xsd:element name="checkDisbursements" type="tns:ArrayOfCom_eplinc_hub_wso_lending_CheckDisbursementWSO" />
          <xsd:element name="coApplicants" type="tns:ArrayOfCom_eplinc_hub_wso_acctinquiry_PersonProfileWSO" />
          <xsd:element name="creditScoreDate" type="xsd:string" />
          <xsd:element name="creditScoreValue" type="xsd:int" />
          <xsd:element name="effectiveDate" type="xsd:string" />
          <xsd:element name="guarantors" type="tns:ArrayOfCom_eplinc_hub_wso_acctinquiry_PersonProfileWSO" />
          <xsd:element name="legalDescCollaterals" type="tns:ArrayOfCom_eplinc_hub_wso_lending_LegalDescCollateralWSO" />
          <xsd:element name="loanDetails" type="tns:com_eplinc_hub_wso_lending_LoanDetailsWSO" />
          <xsd:element name="loanFees" type="tns:ArrayOfCom_eplinc_hub_wso_lending_LoanFeeWSO" />
          <xsd:element name="loanPaymentDisbursements" type="tns:ArrayOfCom_eplinc_hub_wso_lending_LoanPaymentDisbursementWSO" />
          <xsd:element name="originalExpense" type="xsd:decimal" />
          <xsd:element name="originalIncome" type="xsd:decimal" />
          <xsd:element name="otherCollaterals" type="tns:ArrayOfCom_eplinc_hub_wso_lending_OtherCollateralWSO" />
          <xsd:element name="purposeOfLoan" type="xsd:string" />
          <xsd:element name="resCode" type="xsd:int" />
          <xsd:element name="titleCollaterals" type="tns:ArrayOfCom_eplinc_hub_wso_lending_TitleCollateralWSO" />
          <xsd:element name="transactionComment" type="xsd:string" />
          <xsd:element name="transferDisbursements" type="tns:ArrayOfCom_eplinc_hub_wso_lending_TransferDisbursementWSO" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_acctinquiry_PersonProfileWSO">
        <xsd:all>
          <xsd:element name="address" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="buyRentOwn" type="xsd:string" />
          <xsd:element name="comments" type="xsd:string" />
          <xsd:element name="dateHired" type="xsd:string" />
          <xsd:element name="deathDate" type="xsd:string" />
          <xsd:element name="dependentsAges" type="xsd:string" />
          <xsd:element name="driversLicenseId" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="driversLicenseNum" type="xsd:string" />
          <xsd:element name="driversLicenseState" type="xsd:string" />
          <xsd:element name="emailAddress" type="xsd:string" />
          <xsd:element name="employerAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="employerName" type="xsd:string" />
          <xsd:element name="grossIncome" type="xsd:decimal" />
          <xsd:element name="hadBankruptcy" type="xsd:boolean" />
          <xsd:element name="hadForeclosureOrRepo" type="xsd:boolean" />
          <xsd:element name="hadJudgementOrGarnishments" type="xsd:boolean" />
          <xsd:element name="hasLawsuits" type="xsd:boolean" />
          <xsd:element name="homeBankingFlag" type="xsd:boolean" />
          <xsd:element name="homePresentValue" type="xsd:decimal" />
          <xsd:element name="isCosigner" type="xsd:boolean" />
          <xsd:element name="maritalStatus" type="xsd:string" />
          <xsd:element name="mobileNum" type="xsd:string" />
          <xsd:element name="monthsAtCurrentAddress" type="xsd:int" />
          <xsd:element name="monthsAtPreviousAddress" type="xsd:int" />
          <xsd:element name="monthsAtPreviousAddress2" type="xsd:int" />
          <xsd:element name="monthsEmployed" type="xsd:int" />
          <xsd:element name="mothersMaidenName" type="xsd:string" />
          <xsd:element name="netIncome" type="xsd:decimal" />
          <xsd:element name="notUSCitizen" type="xsd:boolean" />
          <xsd:element name="numOfDependents" type="xsd:int" />
          <xsd:element name="occupation" type="xsd:string" />
          <xsd:element name="patriotActId1" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="patriotActId2" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="patriotActId3" type="tns:com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO" />
          <xsd:element name="payAlimony" type="xsd:boolean" />
          <xsd:element name="payChildSupport" type="xsd:boolean" />
          <xsd:element name="personIdentifier" type="tns:com_eplinc_hub_wso_PersonIdentifierWSO" />
          <xsd:element name="phoneNum" type="xsd:string" />
          <xsd:element name="prevEmployerName" type="xsd:string" />
          <xsd:element name="prevMonthsEmployed" type="xsd:int" />
          <xsd:element name="prevOccupation" type="xsd:string" />
          <xsd:element name="prevSupervisor" type="xsd:string" />
          <xsd:element name="prevYearsEmployed" type="xsd:int" />
          <xsd:element name="previousAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="previousAddress2" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="previousEmployerAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="supervisor" type="xsd:string" />
          <xsd:element name="voiceResponseFlag" type="xsd:int" />
          <xsd:element name="workEmailAddress" type="xsd:string" />
          <xsd:element name="workMobileNum" type="xsd:string" />
          <xsd:element name="workPhoneNum" type="xsd:string" />
          <xsd:element name="yearsAtCurrentAddress" type="xsd:int" />
          <xsd:element name="yearsAtPreviousAddress" type="xsd:int" />
          <xsd:element name="yearsAtPreviousAddress2" type="xsd:int" />
          <xsd:element name="yearsEmployed" type="xsd:int" />
          <xsd:element name="mlaQualified" type="xsd:boolean" />
          <xsd:element name="mlaVerificationDate" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_AddressWSO">
        <xsd:all>
          <xsd:element name="address1" type="xsd:string" />
          <xsd:element name="address2" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="country" type="xsd:string" />
          <xsd:element name="foreign" type="xsd:boolean" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="zipcode" type="xsd:string" />
          <xsd:element name="county" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_acctinquiry_PersonIdVerificationWSO">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="docType" type="xsd:string" />
          <xsd:element name="expireDate" type="xsd:string" />
          <xsd:element name="idType" type="xsd:int" />
          <xsd:element name="issueDate" type="xsd:string" />
          <xsd:element name="number" type="xsd:string" />
          <xsd:element name="stateProvince" type="xsd:string" />
          <xsd:element name="verifyDate" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_PersonIdentifierWSO">
        <xsd:all>
          <xsd:element name="birthDate" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="generation" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="middleInitial" type="xsd:string" />
          <xsd:element name="relationship" type="xsd:string" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="title" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_CheckDisbursementWSO">
        <xsd:all>
          <xsd:element name="amount" type="xsd:decimal" />
          <xsd:element name="checkLine1" type="xsd:string" />
          <xsd:element name="checkLine2" type="xsd:string" />
          <xsd:element name="checkLine3" type="xsd:string" />
          <xsd:element name="checkLine4" type="xsd:string" />
          <xsd:element name="checkLine5" type="xsd:string" />
          <xsd:element name="checkNum" type="xsd:int" />
          <xsd:element name="refAccountNum" type="xsd:string" />
          <xsd:element name="printOption" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_CheckDisbursementWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_CheckDisbursementWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_acctinquiry_PersonProfileWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_acctinquiry_PersonProfileWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LegalDescCollateralWSO">
        <xsd:all>
          <xsd:element name="appraisedDate" type="xsd:string" />
          <xsd:element name="appraisedValue" type="xsd:decimal" />
          <xsd:element name="assessedInName" type="xsd:string" />
          <xsd:element name="assessedValue" type="xsd:decimal" />
          <xsd:element name="censusNum" type="xsd:string" />
          <xsd:element name="existingLienCode" type="xsd:string" />
          <xsd:element name="existintLienAmount" type="xsd:decimal" />
          <xsd:element name="legalDesc1" type="xsd:string" />
          <xsd:element name="legalDesc2" type="xsd:string" />
          <xsd:element name="legalDesc3" type="xsd:string" />
          <xsd:element name="parcel" type="xsd:string" />
          <xsd:element name="platBookPage" type="xsd:string" />
          <xsd:element name="propertyAddress" type="tns:com_eplinc_hub_wso_AddressWSO" />
          <xsd:element name="taxYear" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_LegalDescCollateralWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_LegalDescCollateralWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanDetailsWSO">
        <xsd:all>
          <xsd:element name="addOn" type="xsd:boolean" />
          <xsd:element name="balloonNote" type="xsd:boolean" />
          <xsd:element name="balloonPymtAmount" type="xsd:decimal" />
          <xsd:element name="collateralCode" type="xsd:string" />
          <xsd:element name="currentBalance" type="xsd:decimal" />
          <xsd:element name="draftSuffixNum" type="xsd:int" />
          <xsd:element name="ecoaCode" type="xsd:string" />
          <xsd:element name="finalPymtDate" type="xsd:string" />
          <xsd:element name="firstPymtDate" type="xsd:string" />
          <xsd:element name="insuranceAmount" type="xsd:decimal" />
          <xsd:element name="insuranceCode" type="xsd:string" />
          <xsd:element name="interestRate" type="xsd:decimal" />
          <xsd:element name="lateChargeCode" type="xsd:string" />
          <xsd:element name="lifeCapAmount" type="xsd:decimal" />
          <xsd:element name="lineOfCredit" type="xsd:boolean" />
          <xsd:element name="loanClass" type="xsd:int" />
          <xsd:element name="loanType" type="xsd:string" />
          <xsd:element name="locAmount" type="xsd:decimal" />
          <xsd:element name="locExpDate" type="xsd:string" />
          <xsd:element name="noteNum" type="xsd:string" />
          <xsd:element name="numOfPymts" type="xsd:int" />
          <xsd:element name="pymtAmount" type="xsd:decimal" />
          <xsd:element name="pymtCalcMethod" type="xsd:int" />
          <xsd:element name="pymtFrequency" type="xsd:int" />
          <xsd:element name="pymtMethod" type="xsd:string" />
          <xsd:element name="pymtSourceNum" type="xsd:int" />
          <xsd:element name="requestedAmount" type="xsd:decimal" />
          <xsd:element name="suffixNum" type="xsd:int" />
          <xsd:element name="termCapAmount" type="xsd:decimal" />
          <xsd:element name="variableRate" type="xsd:boolean" />
          <xsd:element name="loanOfficerBooking" type="xsd:int" />
          <xsd:element name="loanOfficerDisposition" type="xsd:int" />
          <xsd:element name="loanOfficerOriginating" type="xsd:int" />
          <xsd:element name="loanBranchOriginating" type="xsd:string" />
          <xsd:element name="mlaMapr" type="xsd:decimal" />
          <xsd:element name="mlaMaprDate" type="xsd:string" />
          <xsd:element name="mlaCovered" type="xsd:boolean" />
          <xsd:element name="loanDescription" type="xsd:string" />
          <xsd:element name="dealerId" type="xsd:string" />
          <xsd:element name="margin" type="xsd:decimal" />
          <xsd:element name="DTI" type="xsd:decimal"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanFeeWSO">
        <xsd:all>
          <xsd:element name="amount" type="xsd:decimal" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="feeType" type="xsd:int" />
          <xsd:element name="pymtType" type="xsd:int" />
          <xsd:element name="tranCode" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_LoanFeeWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_LoanFeeWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_LoanPaymentDisbursementWSO">
        <xsd:all>
          <xsd:element name="accountNum" type="xsd:string" />
          <xsd:element name="amount" type="xsd:decimal" />
          <xsd:element name="payOff" type="xsd:boolean" />
          <xsd:element name="trailerNum" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_LoanPaymentDisbursementWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_LoanPaymentDisbursementWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_OtherCollateralWSO">
        <xsd:all>
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="value" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_OtherCollateralWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_OtherCollateralWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_TitleCollateralWSO">
        <xsd:all>
          <xsd:element name="color" type="xsd:string" />
          <xsd:element name="lnToPurchaseColl" type="xsd:boolean" />
          <xsd:element name="lnValue" type="xsd:decimal" />
          <xsd:element name="loanToValueRatio" type="xsd:float" />
          <xsd:element name="make" type="xsd:string" />
          <xsd:element name="maxFinancePct" type="xsd:float" />
          <xsd:element name="miles" type="xsd:long" />
          <xsd:element name="model" type="xsd:string" />
          <xsd:element name="price" type="xsd:decimal" />
          <xsd:element name="proofExists" type="xsd:boolean" />
          <xsd:element name="recordingFees" type="xsd:decimal" />
          <xsd:element name="sellerName" type="xsd:string" />
          <xsd:element name="sequence" type="xsd:int" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="tag" type="xsd:string" />
          <xsd:element name="titleNum" type="xsd:string" />
          <xsd:element name="titleOwner" type="xsd:string" />
          <xsd:element name="vin" type="xsd:string" />
          <xsd:element name="year" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_TitleCollateralWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_TitleCollateralWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_lending_TransferDisbursementWSO">
        <xsd:all>
          <xsd:element name="accountNum" type="xsd:string" />
          <xsd:element name="amount" type="xsd:decimal" />
          <xsd:element name="trailerNum" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_eplinc_hub_wso_lending_TransferDisbursementWSO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_eplinc_hub_wso_lending_TransferDisbursementWSO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_eplinc_hub_wso_UserOverrideWSO">
        <xsd:all>
          <xsd:element name="password" type="xsd:string" />
          <xsd:element name="tellerNum" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="bookLoanOutput">
    <part name="output" type="xsd1:com_eplinc_hub_wso_lending_BookLoanRespWSO" />
  </message>
  <message name="bookLoanInput">
    <part name="param0" type="xsd1:com_eplinc_hub_wso_ServiceRequesterWSO" />
    <part name="param1" type="xsd1:com_eplinc_hub_wso_lending_LoanApplicationWSO" />
    <part name="param2" type="xsd1:com_eplinc_hub_wso_UserOverrideWSO" />
  </message>
  <portType name="BookLoanServicePortType">
    <operation name="bookLoan">
      <input message="tns:bookLoanInput" />
      <output message="tns:bookLoanOutput" />
    </operation>
  </portType>
  <binding name="BookLoanServiceBinding" type="tns:BookLoanServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="bookLoan">
      <soap:operation soapAction="urn:com-eplinc-hub-service-lending-BookLoanService/bookLoan" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-BookLoanService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-hub-service-lending-BookLoanService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="BookLoanService">
    <port name="BookLoanServicePort" binding="tns:BookLoanServiceBinding">
      <soap:address location="https://shubdmz.eplinc.com:4443/webserv/lending/bookloan" />
    </port>
  </service>
</definitions>