LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISOpenIndividualCustomer/CIOpenIndvCustWSV4SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIOpenIndvCustReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIOpenIndvCustReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIOpenIndvCustReqData">
    <xs:annotation>
      <xs:documentation>CIS Open Individual Customer (CI007) -  This function is used to establish an individual customer record on CIS.  CIS will automatically generate a customer number after creating the customer record.  The customer demographic information is optional and customized by institution through Bank Control.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E10036" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Date of Birth</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10047" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS ATS Service Charge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10048" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS W-8 Certificate Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10049" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS W-8 Certificate Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10051" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10052" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Census Tract Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10053" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Cost Center Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10056" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS  Account Cycle Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10057" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Citizenship Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10058" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mail Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10060" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10061" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10062" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10063" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10064" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10065" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10066" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10067" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10068" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10069" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Miscellaneous Demographic Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10070" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10071" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10072" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10073" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10074" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10075" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10076" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10077" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10078" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10079" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10080" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10081" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Line Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10092" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Appendage Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10094" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10095" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Direction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10097" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10098" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS First Name and Middle Initial</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10099" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized House Number Fraction</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10100" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized  House Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10101" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Last Name Key Field 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10102" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current First Name Key Field 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10103" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name Key Field 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10104" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name 2 Key Field 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10107" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Override Elementation Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10108" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Standardization Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10109" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10113" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10114" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10115" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Street</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10116" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Suffix Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10117" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Supplemental Address Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10118" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Surname</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10119" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Telex Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10120" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name Title Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10121" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Name/Address Customer Type Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10122" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10123" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10125" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Restriction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10128" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10129" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Solicit Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10132" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10134" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10135" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10136" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10137" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10138" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10139" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10140" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10141" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10142" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10143" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10144" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10145" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10146" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10147" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10148" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10149" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10152" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Since Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10153" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Record Type Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10540" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS NAICS Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10156" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Deceased Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10157" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Education Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10158" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Employment Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10159" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Employment/School</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10160" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Ethnic Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10163" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Income Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10167" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Duplicate Tax ID Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10168" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Marital Status Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10169" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mother's Maiden Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10171" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Occupation Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10174" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Own/Rent Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10185" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10186" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10188" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 1 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10189" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 2 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10190" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 3 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10191" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 4 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10192" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 5 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10351" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Prospect Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10393" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone From Hour</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10394" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone From Hour AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10395" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone To Hour</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10396" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone To Hour AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10397" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone From Hour</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10398" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone From Hour AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10399" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone To Hour</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10400" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone To Hour AM/PM</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10428" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Phone Note Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10542" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Market Area Pricing Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Credit Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10150" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closed Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10430" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bank Cardholder Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10431" type="xs:string">
          <xs:annotation>
            <xs:documentation>Contact Time Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10432" type="xs:string">
          <xs:annotation>
            <xs:documentation>Credit History Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10433" type="xs:string">
          <xs:annotation>
            <xs:documentation>Language Preference Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10434" type="xs:string">
          <xs:annotation>
            <xs:documentation>Address YTD</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10435" type="xs:string">
          <xs:annotation>
            <xs:documentation>Profitability Score </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10436" type="xs:string">
          <xs:annotation>
            <xs:documentation>Region Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10437" type="xs:string">
          <xs:annotation>
            <xs:documentation>Region Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10444" type="xs:string">
          <xs:annotation>
            <xs:documentation>Longitude Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10445" type="xs:string">
          <xs:annotation>
            <xs:documentation>Latitude Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10699" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP TIN Applied For</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10700" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Risk Assessment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10701" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Password</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10702" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Password Question</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10703" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Resolution of Discrepancy</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10704" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10705" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10706" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10707" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10708" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10709" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10710" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10711" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10712" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10713" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10714" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10715" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10716" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10717" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10718" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10719" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10720" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10721" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10722" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10723" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10724" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10725" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10726" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10727" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10728" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Type 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10729" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Number 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10730" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Entity 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10731" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issuing Location 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10732" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Issue Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10733" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP ID Expiration Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10734" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10735" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10736" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10737" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10738" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Type 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10739" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIP Non Documentary Results 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10360" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Permanent/Temporary Remark Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10299" type="xs:string">
          <xs:annotation>
            <xs:documentation>Country Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E11001" type="xs:string">
          <xs:annotation>
            <xs:documentation>Address Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10364" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Review Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10187" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Keyword Text</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>