LoansPQWSWrappers.LendingQB.QuickPricer/LendingQB.QuickPricer/Web References/LendingQB.QuickPricer/quickpricer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lendersoffice.com/los/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.lendersoffice.com/los/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lendersoffice.com/los/webservices/">
      <s:element name="RunQuickPricerV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorizationTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quickPricerLoanId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunQuickPricerV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunQuickPricerV2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunQuickPricerV1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorizationTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunQuickPricerV1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunQuickPricerV1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunQuickPricerV1ForLockDesk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorizationTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunQuickPricerV1ForLockDeskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunQuickPricerV1ForLockDeskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLead">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorizationTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quickPricerLoanId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLeadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateLeadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authorizationTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="quickPricerLoanId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="templateName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateLoanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunQuickPricerV2SoapIn">
    <wsdl:part name="parameters" element="tns:RunQuickPricerV2" />
  </wsdl:message>
  <wsdl:message name="RunQuickPricerV2SoapOut">
    <wsdl:part name="parameters" element="tns:RunQuickPricerV2Response" />
  </wsdl:message>
  <wsdl:message name="RunQuickPricerV1SoapIn">
    <wsdl:part name="parameters" element="tns:RunQuickPricerV1" />
  </wsdl:message>
  <wsdl:message name="RunQuickPricerV1SoapOut">
    <wsdl:part name="parameters" element="tns:RunQuickPricerV1Response" />
  </wsdl:message>
  <wsdl:message name="RunQuickPricerV1ForLockDeskSoapIn">
    <wsdl:part name="parameters" element="tns:RunQuickPricerV1ForLockDesk" />
  </wsdl:message>
  <wsdl:message name="RunQuickPricerV1ForLockDeskSoapOut">
    <wsdl:part name="parameters" element="tns:RunQuickPricerV1ForLockDeskResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLeadSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLead" />
  </wsdl:message>
  <wsdl:message name="CreateLeadSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLeadResponse" />
  </wsdl:message>
  <wsdl:message name="CreateLoanSoapIn">
    <wsdl:part name="parameters" element="tns:CreateLoan" />
  </wsdl:message>
  <wsdl:message name="CreateLoanSoapOut">
    <wsdl:part name="parameters" element="tns:CreateLoanResponse" />
  </wsdl:message>
  <wsdl:portType name="QuickPricerSoap">
    <wsdl:operation name="RunQuickPricerV2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Runs QuickPricer on a file and returns the results.</wsdl:documentation>
      <wsdl:input message="tns:RunQuickPricerV2SoapIn" />
      <wsdl:output message="tns:RunQuickPricerV2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunQuickPricerV1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Runs QuickPricer 1.0</wsdl:documentation>
      <wsdl:input message="tns:RunQuickPricerV1SoapIn" />
      <wsdl:output message="tns:RunQuickPricerV1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunQuickPricerV1ForLockDesk">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Runs QuickPricer 1.0 for lock desk</wsdl:documentation>
      <wsdl:input message="tns:RunQuickPricerV1ForLockDeskSoapIn" />
      <wsdl:output message="tns:RunQuickPricerV1ForLockDeskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLead">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a lead.</wsdl:documentation>
      <wsdl:input message="tns:CreateLeadSoapIn" />
      <wsdl:output message="tns:CreateLeadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateLoan">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a loan.</wsdl:documentation>
      <wsdl:input message="tns:CreateLoanSoapIn" />
      <wsdl:output message="tns:CreateLoanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuickPricerSoap" type="tns:QuickPricerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunQuickPricerV2">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/RunQuickPricerV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunQuickPricerV1">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/RunQuickPricerV1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunQuickPricerV1ForLockDesk">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/RunQuickPricerV1ForLockDesk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLead">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/CreateLead" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLoan">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/CreateLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuickPricerSoap12" type="tns:QuickPricerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunQuickPricerV2">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/RunQuickPricerV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunQuickPricerV1">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/RunQuickPricerV1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunQuickPricerV1ForLockDesk">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/RunQuickPricerV1ForLockDesk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLead">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/CreateLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLoan">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/CreateLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuickPricer">
    <wsdl:port name="QuickPricerSoap" binding="tns:QuickPricerSoap">
      <soap:address location="https://secure.lendingqb.com/los/webservice/quickpricer.asmx" />
    </wsdl:port>
    <wsdl:port name="QuickPricerSoap12" binding="tns:QuickPricerSoap12">
      <soap12:address location="https://secure.lendingqb.com/los/webservice/quickpricer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>