LoansPQWSWrappers/Web References/eFundsBusinessService/fisbussenc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://V004.business.replyobjects.soap.fisds.com" xmlns:tns2="http://V004.queryobjects.soap.fisds.com" xmlns:impl="urn:fisbuss" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="urn:fisbuss" targetNamespace="urn:fisbuss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://V004.queryobjects.soap.fisds.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="CustIdentification">
        <xsd:sequence>
          <xsd:element name="acquirerid" nillable="true" type="xsd:string" />
          <xsd:element name="chexsystemsversionnbr" nillable="true" type="xsd:string" />
          <xsd:element name="customerid" nillable="true" type="xsd:string" />
          <xsd:element name="includechexsystems" type="xsd:boolean" />
          <xsd:element name="includeidentitymanager" type="xsd:boolean" />
          <xsd:element name="includeofac" type="xsd:boolean" />
          <xsd:element name="includequalifile" type="xsd:boolean" />
          <xsd:element name="inquiryid" nillable="true" type="xsd:string" />
          <xsd:element name="locationid" nillable="true" type="xsd:string" />
          <xsd:element name="qualifileversionnbr" nillable="true" type="xsd:string" />
          <xsd:element name="staging" type="xsd:boolean" />
          <xsd:element name="strategytypeid" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontxt" nillable="true" type="xsd:string" />
          <xsd:element name="reportdatatype" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Consumer1">
        <xsd:sequence>
          <xsd:element name="consumer1FirstNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1MiddleNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1LastNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1GovernmentNbr" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1BirthDt" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1IdentificationStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1IdentificationStateNbr" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1CompositePhoneNbr" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1StreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1CityNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1PostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1StateCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1CountryCd" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Consumer2">
        <xsd:sequence>
          <xsd:element name="consumer2FirstNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2MiddleNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2LastNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2GovernmentNbr" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2BirthDt" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2IdentificationStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2IdentificationStateNbr" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2CompositePhoneNbr" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2StreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2CityNm" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2PostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2StateCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer2CountryCd" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessQuery">
        <xsd:sequence>
          <xsd:element name="accountnbr" nillable="true" type="xsd:string" />
          <xsd:element name="addressmonthsnbr" nillable="true" type="xsd:string" />
          <xsd:element name="addressyearsnbr" nillable="true" type="xsd:string" />
          <xsd:element name="bankcd" nillable="true" type="xsd:string" />
          <xsd:element name="businessfederalidentificationnbr" nillable="true" type="xsd:string" />
          <xsd:element name="businessnm" nillable="true" type="xsd:string" />
          <xsd:element name="businesstypecd" nillable="true" type="xsd:string" />
          <xsd:element name="businessCityNm" nillable="true" type="xsd:string" />
          <xsd:element name="businessCompositePhoneNbr" nillable="true" type="xsd:string" />
          <xsd:element name="businessCountryCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumer1" nillable="true" type="tns2:Consumer1" />
          <xsd:element name="consumer2" nillable="true" type="tns2:Consumer2" />
          <xsd:element name="depositamt" nillable="true" type="xsd:string" />
          <xsd:element name="businessPostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="prevaddressmonthsnbr" nillable="true" type="xsd:string" />
          <xsd:element name="prevaddressyearsnbr" nillable="true" type="xsd:string" />
          <xsd:element name="prevcitynm" nillable="true" type="xsd:string" />
          <xsd:element name="prevcountrycd" nillable="true" type="xsd:string" />
          <xsd:element name="prevpostalplusfourcd" nillable="true" type="xsd:string" />
          <xsd:element name="prevstatecd" nillable="true" type="xsd:string" />
          <xsd:element name="prevstreetaddresstxt" nillable="true" type="xsd:string" />
          <xsd:element name="businessStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="businessStreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedrecordtxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://V004.business.replyobjects.soap.fisds.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ClosureReason1">
        <xsd:sequence>
          <xsd:element name="closureReasonCategoryCd" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonCategoryTxt" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClosureReason2">
        <xsd:sequence>
          <xsd:element name="closureReasonCategoryCd" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonCategoryTxt" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClosureReason3">
        <xsd:sequence>
          <xsd:element name="closureReasonCategoryCd" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonCategoryTxt" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="closureReasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer1">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer10">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer2">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer3">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer4">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer5">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer6">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer7">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer8">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductOffer9">
        <xsd:sequence>
          <xsd:element name="productOfferLimitAmt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productOfferRatePct" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CrossSellInformation">
        <xsd:sequence>
          <xsd:element name="productOffer1" nillable="true" type="tns3:ProductOffer1" />
          <xsd:element name="productOffer10" nillable="true" type="tns3:ProductOffer10" />
          <xsd:element name="productOffer2" nillable="true" type="tns3:ProductOffer2" />
          <xsd:element name="productOffer3" nillable="true" type="tns3:ProductOffer3" />
          <xsd:element name="productOffer4" nillable="true" type="tns3:ProductOffer4" />
          <xsd:element name="productOffer5" nillable="true" type="tns3:ProductOffer5" />
          <xsd:element name="productOffer6" nillable="true" type="tns3:ProductOffer6" />
          <xsd:element name="productOffer7" nillable="true" type="tns3:ProductOffer7" />
          <xsd:element name="productOffer8" nillable="true" type="tns3:ProductOffer8" />
          <xsd:element name="productOffer9" nillable="true" type="tns3:ProductOffer9" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportingCustomer">
        <xsd:sequence>
          <xsd:element name="customerBranchCityNm" nillable="true" type="xsd:string" />
          <xsd:element name="customerBranchNm" nillable="true" type="xsd:string" />
          <xsd:element name="customerBranchPostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="customerBranchStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="customerBranchStreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="customerNm" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IDBAltInformation">
        <xsd:sequence>
          <xsd:element name="altAddress1" nillable="true" type="xsd:string" />
          <xsd:element name="alt1AddressLine1" nillable="true" type="xsd:string" />
          <xsd:element name="alt1AddressLine2" nillable="true" type="xsd:string" />
          <xsd:element name="alt1City" nillable="true" type="xsd:string" />
          <xsd:element name="alt1State" nillable="true" type="xsd:string" />
          <xsd:element name="alt1PostalCd" nillable="true" type="xsd:string" />
          <xsd:element name="altAddress2" nillable="true" type="xsd:string" />
          <xsd:element name="alt2AddressLine1" nillable="true" type="xsd:string" />
          <xsd:element name="alt2AddressLine2" nillable="true" type="xsd:string" />
          <xsd:element name="alt2City" nillable="true" type="xsd:string" />
          <xsd:element name="alt2State" nillable="true" type="xsd:string" />
          <xsd:element name="alt2PostalCd" nillable="true" type="xsd:string" />
          <xsd:element name="altAddress3" nillable="true" type="xsd:string" />
          <xsd:element name="alt3AddressLine1" nillable="true" type="xsd:string" />
          <xsd:element name="alt3AddressLine2" nillable="true" type="xsd:string" />
          <xsd:element name="alt3City" nillable="true" type="xsd:string" />
          <xsd:element name="alt3State" nillable="true" type="xsd:string" />
          <xsd:element name="alt3PostalCd" nillable="true" type="xsd:string" />
          <xsd:element name="altName1" nillable="true" type="xsd:string" />
          <xsd:element name="altName2" nillable="true" type="xsd:string" />
          <xsd:element name="altName3" nillable="true" type="xsd:string" />
          <xsd:element name="altPhone1" nillable="true" type="xsd:string" />
          <xsd:element name="altPhone2" nillable="true" type="xsd:string" />
          <xsd:element name="altPhone3" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IDBLogIDs">
        <xsd:sequence>
          <xsd:element name="batchid" type="xsd:int" />
          <xsd:element name="custid" type="xsd:int" />
          <xsd:element name="ofaclogid" type="xsd:int" />
          <xsd:element name="oid" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IDBValidationsResult">
        <xsd:sequence>
          <xsd:element name="addressCheckOk" type="xsd:boolean" />
          <xsd:element name="einCheckOk" type="xsd:boolean" />
          <xsd:element name="idCheckHadMatchingRecords" type="xsd:boolean" />
          <xsd:element name="idCheckOk" type="xsd:boolean" />
          <xsd:element name="nameCheckOk" type="xsd:boolean" />
          <xsd:element name="ofacHit" type="xsd:boolean" />
          <xsd:element name="telephoneCheckOk" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IDBResponse">
        <xsd:sequence>
          <xsd:element name="accountNumber" nillable="true" type="xsd:string" />
          <xsd:element name="actions" nillable="true" type="xsd:string" />
          <xsd:element name="altInformation" nillable="true" type="tns3:IDBAltInformation" />
          <xsd:element name="comments" nillable="true" type="xsd:string" />
          <xsd:element name="errorInformation" nillable="true" type="xsd:string" />
          <xsd:element name="logids" nillable="true" type="tns3:IDBLogIDs" />
          <xsd:element name="validationsResult" nillable="true" type="tns3:IDBValidationsResult" />
          <xsd:element name="verifier" nillable="true" type="xsd:string" />
          <xsd:element name="verifyDate" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OfacHitResponse">
        <xsd:sequence>
          <xsd:element name="callSign" nillable="true" type="xsd:string" />
          <xsd:element name="flag" nillable="true" type="xsd:string" />
          <xsd:element name="fromList" nillable="true" type="xsd:string" />
          <xsd:element name="grt" nillable="true" type="xsd:string" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="owner" nillable="true" type="xsd:string" />
          <xsd:element name="program" nillable="true" type="xsd:string" />
          <xsd:element name="remarks" nillable="true" type="xsd:string" />
          <xsd:element name="title" nillable="true" type="xsd:string" />
          <xsd:element name="tonnage" nillable="true" type="xsd:string" />
          <xsd:element name="vesselType" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OfacLogIDs">
        <xsd:sequence>
          <xsd:element name="batchid" type="xsd:int" />
          <xsd:element name="custid" type="xsd:int" />
          <xsd:element name="oid" type="xsd:int" />
          <xsd:element name="sarrepid" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OfacValidationsResult">
        <xsd:sequence>
          <xsd:element name="ofacHit" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OfacResponse">
        <xsd:sequence>
          <xsd:element name="accountNumber" nillable="true" type="xsd:string" />
          <xsd:element name="comments" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ofacHitResponse" nillable="true" type="tns3:OfacHitResponse" />
          <xsd:element name="ofacLogids" nillable="true" type="tns3:OfacLogIDs" />
          <xsd:element name="ofacValidationsResult" nillable="true" type="tns3:OfacValidationsResult" />
          <xsd:element name="verifier" nillable="true" type="xsd:string" />
          <xsd:element name="verifyDate" nillable="true" type="xsd:string" />
          <xsd:element name="totalOfacHitsQty" nillable="true" type="xsd:string" />
          <xsd:element name="ofacHitInformationalMsgTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportedClosure">
        <xsd:sequence>
          <xsd:element name="closureReason1" nillable="true" type="tns3:ClosureReason1" />
          <xsd:element name="closureReason2" nillable="true" type="tns3:ClosureReason2" />
          <xsd:element name="closureReason3" nillable="true" type="tns3:ClosureReason3" />
          <xsd:element name="collectionAmountTxt" nillable="true" type="xsd:string" />
          <xsd:element name="collectionPaidCd" nillable="true" type="xsd:string" />
          <xsd:element name="collectionsPaymentRecordedDt" nillable="true" type="xsd:string" />
          <xsd:element name="consumerDisputeCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumerDisputeTxt" nillable="true" type="xsd:string" />
          <xsd:element name="identityTheftCd" nillable="true" type="xsd:string" />
          <xsd:element name="identityTheftTxt" nillable="true" type="xsd:string" />
          <xsd:element name="originalChargeOffAmt" nillable="true" type="xsd:string" />
          <xsd:element name="reportedBusinessNm" nillable="true" type="xsd:string" />
          <xsd:element name="reportedCityNm" nillable="true" type="xsd:string" />
          <xsd:element name="reportedDt" nillable="true" type="xsd:string" />
          <xsd:element name="reportedFederalIdentificationNbr" nillable="true" type="xsd:string" />
          <xsd:element name="reportedPostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="reportedStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="reportedStreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="reportingCustomer" nillable="true" type="tns3:ReportingCustomer" />
          <xsd:element name="settlementPaidCd" nillable="true" type="xsd:string" />
          <xsd:element name="settlementPaidDt" nillable="true" type="xsd:string" />
          <xsd:element name="settlementPaidTxt" nillable="true" type="xsd:string" />
          <xsd:element name="totalCollectionAmt" nillable="true" type="xsd:string" />
          <xsd:element name="closureConsumerStatRefId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessClosureInformation">
        <xsd:sequence>
          <xsd:element name="closureNotFoundCd" nillable="true" type="xsd:string" />
          <xsd:element name="consumerDisputeQty" nillable="true" type="xsd:string" />
          <xsd:element name="paidClosureQty" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="reportedClosure" nillable="true" type="tns3:ReportedClosure" />
          <xsd:element name="totalClosures" type="xsd:int" />
          <xsd:element name="unpaidClosureQty" nillable="true" type="xsd:string" />
          <xsd:element name="soldClosuresQty" nillable="true" type="xsd:string" />
          <xsd:element name="partiallyPaidClosuresQty" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPreviousInquiryDetails">
        <xsd:sequence>
          <xsd:element name="inquiryCustBranchCityNm" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryCustBranchNm" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryCustBranchPostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryCustBranchStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryCustBranchStreetAddress" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryCustNm" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryDt" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryBusinessNm" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryBusinessTypeCd" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryCityNm" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryFederalIdentificationNbr" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryId" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryPostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryStreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryConsumerStatRefId" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessPreviousInquiry">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="businessPreviousInquiryDetails" nillable="true" type="tns3:BusinessPreviousInquiryDetails" />
          <xsd:element name="numberInquiryCustomersTotalQty" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiriesNotFoundCd" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiryTotalQty" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchasedDebtInfo">
        <xsd:sequence>
          <xsd:element name="purchasedDebtNotFoundCd" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedDebtTotal" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedDebtDisputedQty" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedDebtUnpaidQty" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedDebtPaidQty" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedDebtPartiallyPaidQty" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedDebtSoldQty" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="purchasedDebtDetail" nillable="true" type="tns3:PurchasedDebtDetail" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PurchasedDebtDetail">
        <xsd:sequence>
          <xsd:element name="datePurchased" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedReportedBy" nillable="true" type="xsd:string" />
          <xsd:element name="purchasedChargeOffAmount" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessChexSystemsResponse">
        <xsd:sequence>
          <xsd:element name="closureInformation" nillable="true" type="tns3:BusinessClosureInformation" />
          <xsd:element name="errorInformation" nillable="true" type="xsd:string" />
          <xsd:element name="errorCd" nillable="true" type="xsd:string" />
          <xsd:element name="errorTxt" nillable="true" type="xsd:string" />
          <xsd:element name="fraudFinderResponseTxt1" nillable="true" type="xsd:string" />
          <xsd:element name="fraudFinderResponseTxt2" nillable="true" type="xsd:string" />
          <xsd:element name="inquiryTrackingId" nillable="true" type="xsd:string" />
          <xsd:element name="invalidBusinessTypeCd" nillable="true" type="xsd:string" />
          <xsd:element name="matchFederalTaxIDBusinessNameCd" nillable="true" type="xsd:string" />
          <xsd:element name="pleaseCallCd" nillable="true" type="xsd:string" />
          <xsd:element name="previousInquiry" nillable="true" type="tns3:BusinessPreviousInquiry" />
          <xsd:element name="purchasedDebtInfo" nillable="true" type="tns3:PurchasedDebtInfo" />
          <xsd:element name="checkPrintingActivityFlag" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AccountActionInfo">
        <xsd:sequence>
          <xsd:element name="accountActionTxt1" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt2" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt3" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt4" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt5" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt6" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt7" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt8" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt9" nillable="true" type="xsd:string" />
          <xsd:element name="accountActionTxt10" nillable="true" type="xsd:string" />
          <xsd:element name="accountAcceptanceTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileInformation">
        <xsd:sequence>
          <xsd:element name="qualifileReason1" nillable="true" type="tns3:QualiFileReason1" />
          <xsd:element name="qualifileReason2" nillable="true" type="tns3:QualiFileReason2" />
          <xsd:element name="qualifileReason3" nillable="true" type="tns3:QualiFileReason3" />
          <xsd:element name="qualifileReason4" nillable="true" type="tns3:QualiFileReason4" />
          <xsd:element name="qualifileReason5" nillable="true" type="tns3:QualiFileReason5" />
          <xsd:element name="scoreNbr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileReason1">
        <xsd:sequence>
          <xsd:element name="reasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="reasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileReason2">
        <xsd:sequence>
          <xsd:element name="reasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="reasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileReason3">
        <xsd:sequence>
          <xsd:element name="reasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="reasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileReason4">
        <xsd:sequence>
          <xsd:element name="reasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="reasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileReason5">
        <xsd:sequence>
          <xsd:element name="reasonCd" nillable="true" type="xsd:string" />
          <xsd:element name="reasonTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReferenceInformation">
        <xsd:sequence>
          <xsd:element name="consumerDetailReferenceNbr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DebitAttributesSummaryDetails">
        <xsd:sequence>
          <xsd:element name="previousInquiryAttributeCounts" nillable="true" type="tns3:PreviousInquiryAttributeCounts" />
          <xsd:element name="checkOrderAttributeCounts" nillable="true" type="tns3:CheckOrderAttributeCounts" />
          <xsd:element name="retailItemsAttributeCounts" nillable="true" type="tns3:RetailItemsAttributeCounts" />
          <xsd:element name="closureAttributeCounts" nillable="true" type="tns3:ClosureAttributeCounts" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PreviousInquiryAttributeCounts">
        <xsd:sequence>
          <xsd:element name="nbrInquiriesLast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrInquiriesLast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrInquiriesLast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrInquiriesLast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrInquiriesLastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceLastInquiryWithinYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceFirstInquiryWithinYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrInquiriesLast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrInquiriesLast3Yrs" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CheckOrderAttributeCounts">
        <xsd:sequence>
          <xsd:element name="nbrCheckOrdersPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrCheckOrdersPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrCheckOrdersPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrCheckOrdersPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrCheckOrdersPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrCheckOrdersPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrCheckOrdersPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDifferentCheckAccountsPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceMostRecentOrderPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceFirstOrderPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrChecksOrderedPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="minimumNbrChecksOrderedPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="maximumNbrChecksOrderedPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="aveNbrChecksOrderedPast3Yrs" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RetailItemsAttributeCounts">
        <xsd:sequence>
          <xsd:element name="nbrOpenItemsPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrOpenItemsPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrOpenItemsPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrOpenItemsPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrOpenItemsPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrOpenItemsPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrOpenItemsPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtOpenItemsPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrPaidItemsPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="dollarAmtPaidItemsPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceMostRecentOpenItemPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceMostRecentPaidItemPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="maximumDollarAmtOpenItemPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="maximumDollarAmtPaidItemPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="minimumCheckNbrOnOpenItemPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="minimumCheckNbrOfPaidItemPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="minimumNbrDaysToPayPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="maximumNbrDaysToPayPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="episodeSpanAllItemsTotalNbrOfDaysPast3Yrs" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ClosureAttributeCounts">
        <xsd:sequence>
          <xsd:element name="nbrClosuresPast30Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast60Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast90Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast180Days" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPastOneYr" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast2Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast3Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast4Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrClosuresPast5Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="fraudClosureFlagPast5Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceMostRecentClosurePast5Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="nbrDaysSinceFirstClosurePast5Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="averageNbrDaysBetweenClosuresPast5Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="consumerDisputeQtyPast5Yrs" nillable="true" type="xsd:string" />
          <xsd:element name="consumerDisputeResolvedQtyPast5Yrs" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ProductStrategyCd">
        <xsd:sequence>
          <xsd:element name="productStrategyCd1" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd2" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd3" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd4" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd5" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd6" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd7" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd8" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd9" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd10" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QualiFileResponse">
        <xsd:sequence>
          <xsd:element name="accountActionInfo" nillable="true" type="tns3:AccountActionInfo" />
          <xsd:element name="crossSellInformation" nillable="true" type="tns3:CrossSellInformation" />
          <xsd:element name="qualiFileInformation" nillable="true" type="tns3:QualiFileInformation" />
          <xsd:element name="qualifileNotPerformedCd" nillable="true" type="xsd:string" />
          <xsd:element name="referenceInformation" nillable="true" type="tns3:ReferenceInformation" />
          <xsd:element name="debitAttributesSummaryDetails" nillable="true" type="tns3:DebitAttributesSummaryDetails" />
          <xsd:element name="errorInformation" nillable="true" type="xsd:string" />
          <xsd:element name="errorCd" nillable="true" type="xsd:string" />
          <xsd:element name="errorTxt" nillable="true" type="xsd:string" />
          <xsd:element name="productStrategyCd" nillable="true" type="tns3:ProductStrategyCd" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ComplianceInfo">
        <xsd:sequence>
          <xsd:element name="debitBureauComplianceInfo" nillable="true" type="tns3:DebitBureauComplianceInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DebitBureauComplianceInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="debitConsumerStat" nillable="true" type="tns3:DebitConsumerStat" />
          <xsd:element name="debitTotalNbrOfStats" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DebitConsumerStat">
        <xsd:sequence>
          <xsd:element name="debitConsumerStatRefId" nillable="true" type="xsd:string" />
          <xsd:element name="debitConsumerStatTxt" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessConsumer">
        <xsd:sequence>
          <xsd:element name="businessChexSystemsResponse" nillable="true" type="tns3:BusinessChexSystemsResponse" />
          <xsd:element name="errorCd" nillable="true" type="xsd:string" />
          <xsd:element name="errorTxt" nillable="true" type="xsd:string" />
          <xsd:element name="identityManagerResponse" nillable="true" type="tns3:IDBResponse" />
          <xsd:element name="ofacResponse" nillable="true" type="tns3:OfacResponse" />
          <xsd:element name="qualifileResponse" nillable="true" type="tns3:QualiFileResponse" />
          <xsd:element name="complianceInfo" nillable="true" type="tns3:ComplianceInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BusinessReply">
        <xsd:sequence>
          <xsd:element name="accountNbr" nillable="true" type="xsd:string" />
          <xsd:element name="addressMonthsNbr" nillable="true" type="xsd:string" />
          <xsd:element name="addressYearsNbr" nillable="true" type="xsd:string" />
          <xsd:element name="bankCd" nillable="true" type="xsd:string" />
          <xsd:element name="businessConsumer" nillable="true" type="tns3:BusinessConsumer" />
          <xsd:element name="businessFederalIdentificationNbr" nillable="true" type="xsd:string" />
          <xsd:element name="businessName" nillable="true" type="xsd:string" />
          <xsd:element name="businessTypeCd" nillable="true" type="xsd:string" />
          <xsd:element name="chexResultId" type="xsd:int" />
          <xsd:element name="cityNm" nillable="true" type="xsd:string" />
          <xsd:element name="compositePhoneNbr" nillable="true" type="xsd:string" />
          <xsd:element name="countryCd" nillable="true" type="xsd:string" />
          <xsd:element name="depositAmt" nillable="true" type="xsd:string" />
          <xsd:element name="errorCd" nillable="true" type="xsd:string" />
          <xsd:element name="errorTxt" nillable="true" type="xsd:string" />
          <xsd:element name="postalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="prevAddrCityNm" nillable="true" type="xsd:string" />
          <xsd:element name="prevAddrPostalPlusFourCd" nillable="true" type="xsd:string" />
          <xsd:element name="prevAddrStateCd" nillable="true" type="xsd:string" />
          <xsd:element name="prevAddrStreetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="prevAddressMonthsNbr" nillable="true" type="xsd:string" />
          <xsd:element name="prevAddressYearsNbr" nillable="true" type="xsd:string" />
          <xsd:element name="prevCountryCd" nillable="true" type="xsd:string" />
          <xsd:element name="receiptTm" nillable="true" type="xsd:string" />
          <xsd:element name="responseTm" nillable="true" type="xsd:string" />
          <xsd:element name="stateCd" nillable="true" type="xsd:string" />
          <xsd:element name="streetAddressTxt" nillable="true" type="xsd:string" />
          <xsd:element name="transactionTrackingId" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedTransactionTxt" nillable="true" type="xsd:string" />
          <xsd:element name="locationId" nillable="true" type="xsd:string" />
          <xsd:element name="industryMarketTypeCd" nillable="true" type="xsd:string" />
          <xsd:element name="txtReport" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addIDBActionsResponse">
    <wsdl:part name="addIDBActionsReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="addIDBOverrideRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:int" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="callBusinessChexSystemsServiceV001Response">
    <wsdl:part name="callBusinessChexSystemsServiceV001Return" type="tns3:BusinessReply" />
  </wsdl:message>
  <wsdl:message name="addIDBOverrideResponse">
    <wsdl:part name="addIDBOverrideReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="addOFACOverrideResponse">
    <wsdl:part name="addOFACOverrideReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="addIDBActionsRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:int" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="chexAuthenticateRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="addOFACOverrideRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:int" />
    <wsdl:part name="in2" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="chexAuthenticateResponse">
    <wsdl:part name="chexAuthenticateReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="callBusinessChexSystemsServiceV001Request">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="tns2:CustIdentification" />
    <wsdl:part name="in2" type="tns2:BusinessQuery" />
  </wsdl:message>
  <wsdl:portType name="BusinessService">
    <wsdl:operation name="callBusinessChexSystemsServiceV001" parameterOrder="in0 in1 in2">
      <wsdl:input name="callBusinessChexSystemsServiceV001Request" message="intf:callBusinessChexSystemsServiceV001Request" />
      <wsdl:output name="callBusinessChexSystemsServiceV001Response" message="intf:callBusinessChexSystemsServiceV001Response" />
    </wsdl:operation>
    <wsdl:operation name="chexAuthenticate" parameterOrder="in0 in1">
      <wsdl:input name="chexAuthenticateRequest" message="intf:chexAuthenticateRequest" />
      <wsdl:output name="chexAuthenticateResponse" message="intf:chexAuthenticateResponse" />
    </wsdl:operation>
    <wsdl:operation name="addIDBOverride" parameterOrder="in0 in1 in2">
      <wsdl:input name="addIDBOverrideRequest" message="intf:addIDBOverrideRequest" />
      <wsdl:output name="addIDBOverrideResponse" message="intf:addIDBOverrideResponse" />
    </wsdl:operation>
    <wsdl:operation name="addOFACOverride" parameterOrder="in0 in1 in2">
      <wsdl:input name="addOFACOverrideRequest" message="intf:addOFACOverrideRequest" />
      <wsdl:output name="addOFACOverrideResponse" message="intf:addOFACOverrideResponse" />
    </wsdl:operation>
    <wsdl:operation name="addIDBActions" parameterOrder="in0 in1 in2">
      <wsdl:input name="addIDBActionsRequest" message="intf:addIDBActionsRequest" />
      <wsdl:output name="addIDBActionsResponse" message="intf:addIDBActionsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="businessSoapBinding" type="intf:BusinessService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="callBusinessChexSystemsServiceV001">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="callBusinessChexSystemsServiceV001Request">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="callBusinessChexSystemsServiceV001Response">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chexAuthenticate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="chexAuthenticateRequest">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="chexAuthenticateResponse">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addIDBOverride">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addIDBOverrideRequest">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="addIDBOverrideResponse">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addOFACOverride">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addOFACOverrideRequest">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="addOFACOverrideResponse">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addIDBActions">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="addIDBActionsRequest">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="addIDBActionsResponse">
        <wsdlsoap:body use="encoded" namespace="urn:fisbuss" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessServiceService">
    <wsdl:port name="business" binding="intf:businessSoapBinding">
      <wsdlsoap:address location="https://penleyincqa.penleyinc.com/fissoap1/services/business" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
