LoansPQWSWrappers/Web References/TotalPlusWebService/TotalPlus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MakeRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="tns:DNPRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DNPRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TOSSID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TerminalID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestMessageTran" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseMessageTran" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseMessageStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ForceConversation" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ConversationId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MakeRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeRequestResult" type="tns:DNPRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MakeRequestSoapIn">
    <wsdl:part name="parameters" element="tns:MakeRequest" />
  </wsdl:message>
  <wsdl:message name="MakeRequestSoapOut">
    <wsdl:part name="parameters" element="tns:MakeRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="BISYS_DNPServiceSoap">
    <wsdl:operation name="MakeRequest">
      <wsdl:input message="tns:MakeRequestSoapIn" />
      <wsdl:output message="tns:MakeRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BISYS_DNPServiceSoap" type="tns:BISYS_DNPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MakeRequest">
      <soap:operation soapAction="http://tempuri.org/MakeRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BISYS_DNPService">
    <wsdl:port name="BISYS_DNPServiceSoap" binding="tns:BISYS_DNPServiceSoap">
      <soap:address location="http://192.168.244.40/DNPWS/DNPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>