LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanAutomatedFeeSetup/LNAutoFeeSetpWSV2SvcReq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cw058="mtvnCWLNAutoFeeSetpReqData" xmlns:cw000="mtvnCWLNAutoFeeSetpSvcReq" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNAutoFeeSetpSvcReq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="./LNAutoFeeSetpReqDataV2.xsd" namespace="mtvnCWLNAutoFeeSetpReqData" />
  <xs:element name="LNAutoFeeSetpMtvnSvcReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MtvnSvcVer">
          <xs:annotation>
            <xs:documentation>The version of this message.   Currently 1.0</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1.0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MsgUUID" type="xs:string">
          <xs:annotation>
            <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PrcsParms">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SrcID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Connectware Vendor ID</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="TestInd" type="xs:string">
                <xs:annotation>
                  <xs:documentation>A value of Y will cause any database updates to be removed when the service completes.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Svc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SvcParms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApplID">
                      <xs:annotation>
                        <xs:documentation>The application ID of the service.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="LN" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SvcID">
                      <xs:annotation>
                        <xs:documentation>The service ID.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="LNAutoFeeSetp" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SvcVer">
                      <xs:annotation>
                        <xs:documentation>The service version.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="2.0" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="SvcNme" type="xs:string" />
                    <xs:element minOccurs="0" name="RqstUUID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="RoutingID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Metavante processing organization ID.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Src">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FieldList">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Field">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="FieldNme" type="xs:string" />
                                      <xs:element name="FieldVal" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="GrpBusFunc" type="xs:string" />
                          <xs:element minOccurs="0" name="TranInfo" type="xs:string" />
                          <xs:element minOccurs="0" name="CustDefMsgSrc1" type="xs:string" />
                          <xs:element minOccurs="0" name="CustDefMsgSrc2" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Security">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="NoAuth" type="xs:string" />
                    <xs:element name="BasicAuth">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UsrID" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Metavante RACF user id.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Pwd" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Metavante RACF password.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SessionAuth">
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="SessionID" type="xs:string" />
                          <xs:element name="HttpSessionID" type="xs:string" />
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SAMLAuth">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Assertion" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="MsgData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element ref="cw058:LNAutoFeeSetpReqData" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>