LoansPQWSWrappers.Zions/Zions/Web References/Customer.getDemographics/ws-common10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:common1.1="http://zionsbank.com/soa/common1.1/schema" xmlns:common="http://zionsbank.com/soa/common/schema" targetNamespace="http://zionsbank.com/soa/common1.1/schema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="ws-common.xsd" namespace="http://zionsbank.com/soa/common/schema" />
  <xsd:element name="AccountDetail" type="common1.1:AccountDetailType" />
  <xsd:element name="AccountList" type="common1.1:AccountListType" />
  <xsd:element name="AccountStatusCode" type="common1.1:AccountStatusCodeType" />
  <xsd:element name="AccountSummary" type="common1.1:AccountSummaryType" />
  <xsd:element name="AccountSummaryList" type="common1.1:AccountSummaryListType" />
  <xsd:element name="Amount" type="common:MoneyType" />
  <xsd:element name="AlternateContactPhoneExtension" type="common:PhoneExtensionType" />
  <xsd:element name="AlternateContactPhoneNumber" type="common:PhoneNumberType" />
  <xsd:element name="ApplicationId" type="common1.1:ApplicationIdType" />
  <xsd:element name="AuthorizationParameters" type="common1.1:AuthorizationParametersType" />
  <xsd:element name="AvailableCredit" type="common1.1:MoneyType" />
  <xsd:element name="AverageBalance" type="common1.1:MoneyType" />
  <xsd:element name="BulkFileCode" type="common:OneCharacterCodeType" />
  <xsd:element name="BusinessPhoneExtension" type="common:PhoneExtensionType" />
  <xsd:element name="BusinessType" type="common1.1:BusinessTypeType" />
  <xsd:element name="CardProductCode" type="common1.1:CardProductCodeType" />
  <xsd:element name="CheckNumber" type="common1.1:CheckNumberType" />
  <xsd:element name="ChexParameters" type="common1.1:ChexParametersType" />
  <xsd:element name="CimsKey" type="common1.1:CimsKeyType" />
  <xsd:element name="ClassOfService" type="common1.1:ClassOfServiceType" />
  <xsd:element name="ClientUserId" type="common:UserIdType" />
  <xsd:element name="Comments" type="xsd:string" />
  <xsd:element name="CommonRequestVersion" type="common1.1:CommonRequestVersionType" />
  <xsd:element name="CompanyName" type="common:SignerNameType" />
  <xsd:element name="ContextParameters" type="common1.1:ContextParametersType" />
  <xsd:element name="CorrelationId" type="common1.1:CorrelationIdType" />
  <xsd:element name="CorrelationParameters" type="common1.1:CorrelationParametersType" />
  <xsd:element name="CountryName" type="xsd:string" />
  <xsd:element name="CreditDebitCode" type="common1.1:CreditDebitCodeType" />
  <xsd:element name="CreditLimit" type="common1.1:MoneyType" />
  <xsd:element name="CreditLineLastAdvanceAmount" type="common1.1:MoneyType" />
  <xsd:element name="CreditLineLastAdvanceDate" type="xsd:date" />
  <xsd:element name="CreditLineLastPaidAmount" type="common1.1:MoneyType" />
  <xsd:element name="CreditLineLastPaidDate" type="xsd:date" />
  <xsd:element name="CreditLinePaymentDueAmount" type="common1.1:MoneyType" />
  <xsd:element name="CreditLinePaymentDueDate" type="xsd:date" />
  <xsd:element name="CreditLinePayoffAmount" type="common1.1:MoneyType" />
  <xsd:element name="CreditRatingDate" type="xsd:date" />
  <xsd:element name="CreditReserveAccountNumber" type="common:AccountNumberType" />
  <xsd:element name="CreditReserveAvailable" type="common1.1:MoneyType" />
  <xsd:element name="CreditReserveBalance" type="common1.1:MoneyType" />
  <xsd:element name="CreditReserveType" type="common1.1:CreditReserveTypeType" />
  <xsd:element name="CurrentAddress" type="common1.1:MailingAddressType" />
  <xsd:element name="CustomerFullName" type="common1.1:CustomerNameType" />
  <xsd:element name="CustomerInformation" type="common1.1:CustomerInformationType" />
  <xsd:element name="CustomerName" type="common1.1:CustomerNameAggregateType" />
  <xsd:element name="CustomerNumber" type="common1.1:CustomerNumberType" />
  <xsd:element name="Customers" type="common1.1:CustomersType" />
  <xsd:element name="DataValidationError" type="common1.1:DataValidationErrorType" />
  <xsd:element name="DeathDate" type="xsd:date" />
  <xsd:element name="DepositBalances" type="common1.1:DepositBalancesType" />
  <xsd:element name="DepositTransaction" type="common1.1:DepositTransactionType" />
  <xsd:element name="DepositTransactionList" type="common1.1:DepositTransactionListType" />
  <xsd:element name="DepositTransactionType" type="common1.1:DepositTransactionTypeType" />
  <xsd:element name="Description" type="common1.1:Description30Type" />
  <xsd:element name="DriversLicense" type="common1.1:DriversLicenseType" />
  <xsd:element name="EffectiveDate" type="xsd:date" />
  <xsd:element name="ErrorCode" type="xsd:string" />
  <xsd:element name="ErrorMessage" type="xsd:string" />
  <xsd:element name="ExperianParameters" type="common1.1:ExperianParametersType" />
  <xsd:element name="FederalTaxIdentificationNumber" type="common1.1:FederalTaxIdentificationNumberType" />
  <xsd:element name="FirstName" type="common1.1:NameType" />
  <xsd:element name="HireDate" type="xsd:date" />
  <xsd:element name="InterestApplyRate" type="common:InterestRateType" />
  <xsd:element name="InterestForceCode" type="common1.1:InterestForceCodeType" />
  <xsd:element name="InterestPaidYearToDate" type="common1.1:MoneyType" />
  <xsd:element name="InterestPaidLastYear" type="common1.1:MoneyType" />
  <xsd:element name="InterfaceVersion" type="common1.1:InterfaceVersionType" />
  <xsd:element name="InternetBankingNumber" type="common:AccountNumberType" />
  <xsd:element name="IntradayTransaction" type="common1.1:IntradayTransactionType" />
  <xsd:element name="IntradayTransactionList" type="common1.1:IntradayTransactionListType" />
  <xsd:element name="IsForcePost" type="xsd:boolean" />
  <xsd:element name="LastName" type="common1.1:NameType" />
  <xsd:element name="LastWithdrawalDate" type="xsd:date" />
  <xsd:element name="LastPaymentDate" type="xsd:date" />
  <xsd:element name="ListContainer" type="common1.1:ListContainerType" />
  <xsd:element name="LoanProductCode" type="common1.1:LoanProductCodeType" />
  <xsd:element name="MemberNumber" type="common1.1:MemberNumberType" />
  <xsd:element name="MaritalStatus" type="common1.1:MaritalStatusType" />
  <xsd:element name="MiddleName" type="common1.1:NameType" />
  <xsd:element name="MoneyMarketAccountNumber" type="common:AccountNumberType" />
  <xsd:element name="MoneyMarketBalance" type="common1.1:MoneyType" />
  <xsd:element name="NameTitle" type="common1.1:AlphaSixType" />
  <xsd:element name="NoStartPosition" type="common1.1:NoStartPositionType" />
  <xsd:element name="OnlineBalance" type="common1.1:MoneyType" />
  <xsd:element name="OperationName" type="common1.1:LongNameType" />
  <xsd:element name="ParentAccountNumber" type="common:AccountNumberType" />
  <xsd:element name="ParentProductCode" type="common:ProductCodeType" />
  <xsd:element name="PayableOnDeath" type="common1.1:PayableOnDeathCodeType" />
  <xsd:element name="PaymentApplyCode" type="common1.1:PaymentApplyCodeType" />
  <xsd:element name="Phone" type="common1.1:PhoneNumberType" />
  <xsd:element name="PhoneExtension" type="common:PhoneExtensionType" />
  <xsd:element name="PhoneNumberList" type="common1.1:PhoneNumberListType" />
  <xsd:element name="PhoneType" type="common1.1:PhoneTypeType" />
  <xsd:element name="PingRequest" type="common1.1:PingRequestType" />
  <xsd:element name="PingUrl" type="xsd:string" />
  <xsd:element name="PostDateTime" type="xsd:dateTime" />
  <xsd:element name="PostedDate" type="xsd:date" />
  <xsd:element name="PrimaryLanguage" type="common1.1:PrimaryLanguageType" />
  <xsd:element name="PrimaryPhoneExtension" type="common:PhoneExtensionType" />
  <xsd:element name="ReddiCreditStatus" type="common1.1:ReddiCreditStatusType" />
  <xsd:element name="ReportCode" type="common1.1:ReportCodeType" />
  <xsd:element name="RequestDateTime" type="xsd:dateTime" />
  <xsd:element name="ResponseCode" type="common:CodeType" />
  <xsd:element name="ResponseMessage" type="xsd:string" />
  <xsd:element name="ResponseParameters" type="common1.1:ResponseParametersType" />
  <xsd:element name="Risk" type="common1.1:RiskType" />
  <xsd:element name="SecondaryEmailAddress" type="common:EmailAddressType" />
  <xsd:element name="SecondaryPhoneExtension" type="common:PhoneExtensionType" />
  <xsd:element name="SerialNumber" type="common1.1:SerialNumberType" />
  <xsd:element name="ServiceName" type="common1.1:LongNameType" />
  <xsd:element name="Signer" type="common1.1:SignerType" />
  <xsd:element name="SignerList" type="common1.1:SignerListType" />
  <xsd:element name="Source" type="common1.1:SourceType" />
  <xsd:element name="SourceOfFunds" type="common1.1:SourceType" />
  <xsd:element name="StartPosition" type="xsd:string" />
  <xsd:element name="SweepBalance" type="common:MoneyType" />
  <xsd:element name="Suffix" type="common1.1:AlphaSixType" />
  <xsd:element name="TargetEnvironment" type="common1.1:TargetEnvironmentType" />
  <xsd:element name="TargetEnvironmentPlaceHolder" type="common1.1:TargetEnvironmentType" />
  <xsd:element name="TaxIdType" type="common:TinTypeType" />
  <xsd:element name="TraceLevel" type="common1.1:TraceLevelType" />
  <xsd:element name="TransactionDate" type="xsd:date" />
  <xsd:element name="TransactionDateTime" type="xsd:dateTime" />
  <xsd:element name="TransactionDescription" type="common1.1:Description30Type" />
  <xsd:element name="TransactionSequenceNumber" type="common1.1:TransactionSequenceNumberType" />
  <xsd:element name="TransferAccountNumber" type="common:InterestTransferAccountNumberType" />
  <xsd:element name="Version" type="common1.1:CommonRequestVersionType" />
  <xsd:group name="AccountNumberGroup">
    <xsd:sequence>
      <xsd:element ref="common:AccountNumber" />
      <xsd:element ref="common:ProductCode" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccountNumberRcifProductCodeGroup">
    <xsd:sequence>
      <xsd:element ref="common:AccountNumber" />
      <xsd:element ref="common:RcifProductCode" />
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccountNumberProductCodeChoiceGroup">
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
					Please use RcifProductCode if possible
				</xsd:documentation>
      </xsd:annotation>
      <xsd:element ref="common:AccountNumber" />
      <xsd:choice>
        <xsd:element ref="common:RcifProductCode" />
        <xsd:element ref="common:ProductCode" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="CustomerNameGroup">
    <xsd:sequence>
      <xsd:element ref="common:CustomerName" />
      <xsd:element ref="common:CommercialRetailCode" />
      <xsd:element ref="common:TiebreakerNumber" />
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="AccountStatusCodeType">
    <xsd:annotation>
      <xsd:documentation>
                Account Status Code for a given Account Number.
            Space = Normal Processing or Status Unavailable    
                A = Auth Prohibited
                B = Bankrupt
                C = Closed
                D = Dormant
                E = Revoked
                F = Frozen
                I = Inactive
                L = Lost
                N = New Today
                O = Open
                P = Pending Purge
                R = Recent Open
                U = Stolen
                0 = Open
                1 = Blocked
                2 = Warm
                3 = Hot (Lost/Stolen)
                4 = Closed
                8 = Closed This Month
                9 = Closed Last Month
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AuthProhibited" />
      <xsd:enumeration value="Bankrupt" />
      <xsd:enumeration value="Blocked" />
      <xsd:enumeration value="Closed" />
      <xsd:enumeration value="ClosedThisMonth" />
      <xsd:enumeration value="ClosedLastMonth" />
      <xsd:enumeration value="Dormant" />
      <xsd:enumeration value="Error" />
      <xsd:enumeration value="Frozen" />
      <xsd:enumeration value="Hot" />
      <xsd:enumeration value="Inactive" />
      <xsd:enumeration value="Lost" />
      <xsd:enumeration value="NewToday" />
      <xsd:enumeration value="Open" />
      <xsd:enumeration value="PendingChanges" />
      <xsd:enumeration value="RecentOpen" />
      <xsd:enumeration value="Revoked" />
      <xsd:enumeration value="Stolen" />
      <xsd:enumeration value="Warm" />
      <xsd:enumeration value="ChargedOff" />
      <xsd:enumeration value="InterestAccrualProhibited" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountStructureCodeType">
    <xsd:annotation>
      <xsd:documentation>
                Sole Prop and Personal Trusts
                B = Business
                P = Personal
                S = Sole Prop
                T = Trust
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="B" />
      <xsd:enumeration value="P" />
      <xsd:enumeration value="S" />
      <xsd:enumeration value="T" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphaSixType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ApplicationIdType">
    <xsd:annotation>
      <xsd:documentation>Unique identifier of requesting application</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AmazingRewards" />
      <xsd:enumeration value="BaNCS" />
      <xsd:enumeration value="BPM" />
      <xsd:enumeration value="Branch" />
      <xsd:enumeration value="CallCenter" />
      <xsd:enumeration value="CapitalStream" />
      <xsd:enumeration value="CardRepin" />
      <xsd:enumeration value="ConsumerLoanOrig" />
      <xsd:enumeration value="CreditCardOrderSystem" />
      <xsd:enumeration value="Disputes" />
      <xsd:enumeration value="eSigna" />
      <xsd:enumeration value="FileNet" />
      <xsd:enumeration value="InternetBanking" />
      <xsd:enumeration value="IVR" />
      <xsd:enumeration value="LostStolen" />
      <xsd:enumeration value="Mobile" />
      <xsd:enumeration value="NetCaptureBranch" />
      <xsd:enumeration value="NewAccountOpening" />
      <xsd:enumeration value="OpenSpan" />
      <xsd:enumeration value="ORS" />
      <xsd:enumeration value="PhotoCard" />
      <xsd:enumeration value="RefundTracking" />
      <xsd:enumeration value="RegE" />
      <xsd:enumeration value="RiskGrade" />
      <xsd:enumeration value="Treasury" />
      <xsd:enumeration value="TreasuryInternetBanking" />
      <xsd:enumeration value="Wires" />
      <xsd:enumeration value="Zeus" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BusinessTypeType">
    <xsd:annotation>
      <xsd:documentation>
                Alphanumeric field that contains the commercial customer's 
                type of business
                  1 - Individual
                  2 - C-Corporation         
                  3 - Sub S-Corporation     
                  4 - Personal Service Corp 
                  5 - Limited Liability Comp
                  6 - Limited Partnership   
                  7 - Limited Liability Part
                  8 - General Partnership   
                  9 - Sole Proprietorship   
                  A - Assoc/Unincorporated Org
                  B - Limt Liablt Limt Partnership
                  C - Farmers' Cooperative
                  D - Business DBA
                  E - Estate
                  G - Gov/Municipality/Military
                  I - Ind Tribal Gov/Enterprise
                  N - Other Non-Profit/Exempt Org
                  P - Benefit Plan Administrator 
                  T - Trust (EIN or SSN)
                  X - Unknown/Other    
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Individual" />
      <xsd:enumeration value="Corporation" />
      <xsd:enumeration value="SubCorporation" />
      <xsd:enumeration value="PersonalServiceCorporation" />
      <xsd:enumeration value="LimitedLiability" />
      <xsd:enumeration value="LimitedPartnership" />
      <xsd:enumeration value="LimitedLiabilityPartnership" />
      <xsd:enumeration value="GeneralPartnership" />
      <xsd:enumeration value="SoleProprietorship" />
      <xsd:enumeration value="AssociationUnincorporated" />
      <xsd:enumeration value="LmitedLiabilityLimitedPartnership" />
      <xsd:enumeration value="FarmersCooperative" />
      <xsd:enumeration value="BusinessDBA" />
      <xsd:enumeration value="Estate" />
      <xsd:enumeration value="GovernmentMunicipalityMilitary" />
      <xsd:enumeration value="IndianTribalGovernmentEnterprise" />
      <xsd:enumeration value="OtherNonProfitExemptOrganization" />
      <xsd:enumeration value="BenefitPlanAdministrator" />
      <xsd:enumeration value="Trust" />
      <xsd:enumeration value="UnknownOther" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CardProductCodeType">
    <xsd:annotation>
      <xsd:documentation>
                Identifies the product to which this information applies.
                ATM, MCA, VBC, VSA
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ATM" />
      <xsd:enumeration value="MCA" />
      <xsd:enumeration value="VBC" />
      <xsd:enumeration value="VSA" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CheckNumberType">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="99999999999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CimsKeyType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClassOfServiceType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CommonRequestVersionType">
    <xsd:annotation>
      <xsd:documentation>Denotes version of common input fields used</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ContextParameterStringType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="CorrelationIdType">
    <xsd:annotation>
      <xsd:documentation>
				Correlates logging of service call from client through middle tier, to back end.
				If CorrelationId is omitted it will be created within the operation,
				used in logging, and returned to the calling client.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="64" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CreditDebitCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Credit" />
      <xsd:enumeration value="Debit" />
      <xsd:enumeration value=" " />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CreditReserveTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CustomerInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common:CustomerNumber" />
      <xsd:element minOccurs="0" ref="common:BankNumber" />
      <xsd:element minOccurs="0" ref="common:CustomerName" />
      <xsd:element minOccurs="0" ref="common:CommercialRetailCode" />
      <xsd:element minOccurs="0" ref="common:Alpha" />
      <xsd:element minOccurs="0" ref="common:Accum" />
      <xsd:element minOccurs="0" ref="common:TiebreakerNumber" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CustomerNameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CustomerNameAggregateType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:NameTitle" />
      <xsd:element minOccurs="0" ref="common1.1:FirstName" />
      <xsd:element minOccurs="0" ref="common1.1:MiddleName" />
      <xsd:element minOccurs="0" ref="common1.1:LastName" />
      <xsd:element minOccurs="0" ref="common1.1:Suffix" />
      <xsd:element minOccurs="0" ref="common1.1:CustomerFullName">
        <xsd:annotation>
          <xsd:documentation>
						CustomerName should be used for a Full Retail Name Concatenated
						or will be the CompanyName for Commercial Customer
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CustomerNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="13" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CustomersType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="9" ref="common1.1:CustomerInformation" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DepositBalancesType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common:PreviousDayEndingBalance" />
      <xsd:element minOccurs="0" ref="common:CurrentBalance" />
      <xsd:element minOccurs="0" ref="common:AvailableBalance" />
      <xsd:element minOccurs="0" ref="common:AuthorizationBalance" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DepositTransactionTypeType">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="99999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Description20Type">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Description30Type">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Description40Type">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Description64Type">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="64" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DriversLicenseType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FederalTaxIdentificationNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FourCharacterCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InterestForceCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InterfaceVersionType">
    <xsd:annotation>
      <xsd:documentation>Denotes version of operation interface being requested</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LoanProductCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LongNameType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MailingAddressType">
    <xsd:sequence>
      <xsd:element ref="common:StreetAddress" />
      <xsd:element ref="common:City" />
      <xsd:element minOccurs="0" ref="common:StateAbbreviation" />
      <xsd:element ref="common:ZipCode" />
      <xsd:element minOccurs="0" ref="common1.1:CountryName" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="MaritalStatusType">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Divorced" />
      <xsd:enumeration value="Married" />
      <xsd:enumeration value="Single" />
      <xsd:enumeration value="Unknown" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MemberNumberType">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MoneyType">
    <xsd:restriction base="xsd:decimal">
      <xsd:fractionDigits value="2" />
      <xsd:totalDigits value="13" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NameType">
    <xsd:annotation>
      <xsd:documentation>
			  Used for FirstName, MiddleName, LastName
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NoStartPositionType">
    <xsd:annotation>
      <xsd:documentation>Indicator to not to return StartPosition</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PayableOnDeathCodeType">
    <xsd:annotation>
      <xsd:documentation>
				Code representing the payable on death type
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PaymentApplyCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="6" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhoneTypeType">
    <xsd:annotation>
      <xsd:documentation>
              Phone Types
                Home and Business are used for Retail Customers
                Primary and Secondary are used for Commercial Customer
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Home" />
      <xsd:enumeration value="Business" />
      <xsd:enumeration value="Primary" />
      <xsd:enumeration value="Secondary" />
      <xsd:enumeration value="Mobile" />
      <xsd:enumeration value="Pager" />
      <xsd:enumeration value="Other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PrimaryLanguageType">
    <xsd:annotation>
      <xsd:documentation>
			' '  Unknown         AR  Aribic      BU  Burmese
			 CA  Cantonese       CH  CHINESE     FR  French 
			 DE  German          HI  Hindu       IN  Indonesian
			 IR  Iranian         IT  Italian     EN  English
			 JA  Japanese        KO  Korean      MA  Mandarin
			 PT  Portuguese      RU  Russian     SP  Spanish
			 TA  Tagalog         TH  Thai        VI  Vietnamese
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Arabic" />
      <xsd:enumeration value="Burmese" />
      <xsd:enumeration value="Cantonese" />
      <xsd:enumeration value="Chinese" />
      <xsd:enumeration value="English" />
      <xsd:enumeration value="French" />
      <xsd:enumeration value="German" />
      <xsd:enumeration value="Hindi" />
      <xsd:enumeration value="Indonesian" />
      <xsd:enumeration value="Iranian" />
      <xsd:enumeration value="Italian" />
      <xsd:enumeration value="Japanese" />
      <xsd:enumeration value="Korean" />
      <xsd:enumeration value="Mandarin" />
      <xsd:enumeration value="Portuguese" />
      <xsd:enumeration value="Russian" />
      <xsd:enumeration value="Spanish" />
      <xsd:enumeration value="Tagalog" />
      <xsd:enumeration value="Thai" />
      <xsd:enumeration value="Unknown" />
      <xsd:enumeration value="Vietnamese" />
      <xsd:enumeration value="" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReddiCreditStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReportCodeType">
    <xsd:annotation>
      <xsd:documentation>
                No clue what these enumerated values represent
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value=" " />
      <xsd:enumeration value="C" />
      <xsd:enumeration value="D" />
      <xsd:enumeration value="E" />
      <xsd:enumeration value="I" />
      <xsd:enumeration value="M" />
      <xsd:enumeration value="R" />
      <xsd:enumeration value="S" />
      <xsd:enumeration value="T" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RiskType">
    <xsd:annotation>
      <xsd:documentation>
                Alphanumeric code assigned by the institution to assess the
                risk of continued relationships with the customer.
                  blank   No Risk                                        
                  0       No Risk                                        
                  1       High Risk                                      
                  2       Transactional High Risk                        
                  A       Money Servicing Business (MSB)                 
                  B       Money Servicing Customer 
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NoRisk" />
      <xsd:enumeration value="HighRisk" />
      <xsd:enumeration value="TransactionalHighRisk" />
      <xsd:enumeration value="MoneyServicingBusiness" />
      <xsd:enumeration value="MoneyServicingCustomer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RoutingNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{9}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SerialNumberType">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="9999999999999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SourceType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TargetEnvironmentType">
    <xsd:annotation>
      <xsd:documentation>Specific Test Environment a Client Wants to hit</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="0" />
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ThreeCharacterCodeType">
    <xsd:annotation>
      <xsd:documentation>
                Used for three character codes where the enumeration is not known
            </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ThreeDigitIntType">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TraceLevelType">
    <xsd:annotation>
      <xsd:documentation>
				Indicates level at with to trace to the log
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALL" />
      <xsd:enumeration value="TRACE" />
      <xsd:enumeration value="DEBUG" />
      <xsd:enumeration value="INFO" />
      <xsd:enumeration value="WARN" />
      <xsd:enumeration value="ERROR" />
      <xsd:enumeration value="FATAL" />
      <xsd:enumeration value="OFF" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TransactionSequenceNumberType">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="999999" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TwoDigitIntType">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="99" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AccountDetailType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common:AccountNumber" />
      <xsd:element minOccurs="0" ref="common:ProductCode" />
      <xsd:element minOccurs="0" ref="common:ProductType" />
      <xsd:element minOccurs="0" ref="common1.1:AccountStatusCode" />
      <xsd:element minOccurs="0" ref="common:RelationshipType" />
      <xsd:element minOccurs="0" ref="common:OpenDate" />
      <xsd:element minOccurs="0" ref="common:CloseDate" />
      <xsd:element minOccurs="0" ref="common:RcifProductCode" />
      <xsd:element minOccurs="0" ref="common:CurrentBalance" />
      <xsd:element minOccurs="0" ref="common:AvailableBalance" />
      <xsd:element minOccurs="0" ref="common1.1:CreditReserveAvailable" />
      <xsd:element minOccurs="0" ref="common1.1:CreditReserveBalance" />
      <xsd:element minOccurs="0" ref="common1.1:CreditReserveType" />
      <xsd:element minOccurs="0" ref="common1.1:ReddiCreditStatus" />
      <xsd:element minOccurs="0" ref="common1.1:CreditReserveAccountNumber" />
      <xsd:element minOccurs="0" ref="common1.1:OnlineBalance" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLimit" />
      <xsd:element minOccurs="0" ref="common1.1:AvailableCredit" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLinePayoffAmount" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLinePaymentDueDate" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLinePaymentDueAmount" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLineLastPaidDate" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLineLastPaidAmount" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLineLastAdvanceDate" />
      <xsd:element minOccurs="0" ref="common1.1:CreditLineLastAdvanceAmount" />
      <xsd:element minOccurs="0" ref="common1.1:InterestApplyRate" />
      <xsd:element minOccurs="0" ref="common1.1:ParentProductCode" />
      <xsd:element minOccurs="0" ref="common1.1:ParentAccountNumber" />
      <xsd:element minOccurs="0" ref="common1.1:PaymentApplyCode" />
      <xsd:element minOccurs="0" ref="common1.1:LoanProductCode" />
      <xsd:element minOccurs="0" ref="common1.1:MoneyMarketAccountNumber" />
      <xsd:element minOccurs="0" ref="common1.1:MoneyMarketBalance" />
      <xsd:element minOccurs="0" ref="common1.1:SignerList" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountListType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="common1.1:ListContainerType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="common1.1:AccountDetail" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AccountSummaryType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common:AccountNumber" />
      <xsd:element minOccurs="0" ref="common:RcifProductCode" />
      <xsd:element minOccurs="0" ref="common:ProductType" />
      <xsd:element minOccurs="0" ref="common1.1:AccountStatusCode" />
      <xsd:element minOccurs="0" ref="common:RelationshipType" />
      <xsd:element minOccurs="0" ref="common:OpenDate" />
      <xsd:element minOccurs="0" ref="common:CloseDate" />
      <xsd:element minOccurs="0" ref="common:CurrentBalance" />
      <xsd:element minOccurs="0" ref="common:BranchNumber" />
      <xsd:element minOccurs="0" ref="common:MailingCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccountSummaryListType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="common1.1:ListContainerType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="common1.1:AccountSummary" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AuthorizationParametersType">
    <xsd:sequence>
      <xsd:element ref="common1.1:ApplicationId" />
      <xsd:element ref="common1.1:ClientUserId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChexParametersType">
    <xsd:sequence>
      <xsd:element name="UserName" type="xsd:string" />
      <xsd:element name="Password" type="xsd:string" />
      <xsd:element name="AcquireId" type="xsd:string" />
      <xsd:element name="ChexVersionNumber" type="xsd:string" />
      <xsd:element name="QualifileVersionNumber" type="xsd:string" />
      <xsd:element name="IncludeChexIndicator" type="xsd:boolean" />
      <xsd:element name="IncludeIdentityManagerIndicator" type="xsd:boolean" />
      <xsd:element name="IncludeOfacIndicator" type="xsd:boolean" />
      <xsd:element name="IncludeQualifileIndicator" type="xsd:boolean" />
      <xsd:element name="IsStagingIndicator" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommonServiceRequestType">
    <xsd:sequence>
      <xsd:element ref="common1.1:CorrelationId" />
      <xsd:element ref="common:Channel" />
      <xsd:element ref="common1.1:ClientUserId" />
      <xsd:element minOccurs="0" ref="common1.1:CommonRequestVersion" />
      <xsd:element minOccurs="0" ref="common1.1:InterfaceVersion" />
      <xsd:element ref="common1.1:ApplicationId" />
      <xsd:element ref="common1.1:RequestDateTime" />
      <xsd:element minOccurs="0" ref="common1.1:TraceLevel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CommonServiceResponseType">
    <xsd:sequence>
      <xsd:element ref="common1.1:ResponseCode" />
      <xsd:element ref="common1.1:ResponseMessage" />
      <xsd:element ref="common1.1:CorrelationId" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CorrelationParametersType">
    <xsd:sequence>
      <xsd:element ref="common1.1:ServiceName" />
      <xsd:element ref="common1.1:OperationName" />
      <xsd:element ref="common1.1:Version" />
      <xsd:element ref="common1.1:ApplicationId" />
      <xsd:element ref="common1.1:ClientUserId" />
      <xsd:element ref="common:Channel" />
      <xsd:element ref="common1.1:CorrelationId" />
      <xsd:element ref="common1.1:TargetEnvironment" />
      <xsd:element ref="common1.1:TargetEnvironmentPlaceHolder" />
      <xsd:element ref="common1.1:NoStartPosition" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataValidationErrorType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="common:CommonServiceResponseType" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DepositTransactionListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="common1.1:DepositTransaction" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DepositTransactionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:DepositTransactionType" />
      <xsd:element minOccurs="0" ref="common1.1:Amount" />
      <xsd:element minOccurs="0" ref="common1.1:CheckNumber" />
      <xsd:element minOccurs="0" ref="common1.1:PostedDate" />
      <xsd:element minOccurs="0" ref="common1.1:CreditDebitCode" />
      <xsd:element minOccurs="0" name="Description" type="common1.1:Description64Type" />
      <xsd:element minOccurs="0" ref="common1.1:CimsKey" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExperianParametersType">
    <xsd:sequence>
      <xsd:element name="DBHost" type="xsd:string" />
      <xsd:element name="CustomRRDashKeyword" type="xsd:string" />
      <xsd:element name="EAI" type="xsd:string" />
      <xsd:element name="Preamble" type="xsd:string" />
      <xsd:element name="Subcode" type="xsd:string" />
      <xsd:element name="LookupURL" type="xsd:string" />
      <xsd:element name="OverrideURL" type="xsd:string" />
      <xsd:element name="ARFVersion" type="xsd:string" />
      <xsd:element name="Verbose" type="xsd:string" />
      <xsd:element name="Y2K" type="xsd:string" />
      <xsd:element name="VendorNumber" type="xsd:string" />
      <xsd:element name="Joint" type="xsd:string" />
      <xsd:element name="ReferenceNumber" type="xsd:string" />
      <xsd:element name="CustomInformation" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IntradayTransactionListType">
    <xsd:complexContent mixed="false">
      <xsd:extension base="common1.1:ListContainerType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="common1.1:IntradayTransaction" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="IntradayTransactionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:TransactionDescription" />
      <xsd:element minOccurs="0" name="Amount" type="xsd:decimal" />
      <xsd:element minOccurs="0" ref="common1.1:CreditDebitCode" />
      <xsd:element minOccurs="0" ref="common1.1:PostDateTime" />
      <xsd:element minOccurs="0" ref="common1.1:Source">
        <xsd:annotation>
          <xsd:documentation>
						ACH  - ACH
						APF  - PRE FUND
						ATM  - ATM      
						BADP - ND ZFNB
						BATD - ND AMG
						BATG - PREAUTHO 
						BCBF - FEDRSPDNT
						BCBR - RESPONDET
						BCDA - CNTL DISB
						BCOR - CORR BANK
						BEBA - EBA XFER
						BFEE - NSF FEE  
						BIRX - IRX RET
						BISW - INV SWEEP
						BLKB - LOCK BOX 
						BNDD - NET DEP
						BOTH - SPECIAL
						BOTX - SPECIAL  
						BPRJ - EE ADJ
						BRDP - ND NBA
						BREE - EE RETURN
						BRMT - ND NSB/CO
						BSSC - SSC MEMO
						DFLT - DEFAULT  
						DSA  - SIGDBAUTH
						DSA* - SIGDBHOLD
						POS  - P.O.S.   
						TELR - TELLER
						TGXF - ZBA MEMO
						UFIB - INTERNET 
						UFMB - MOBILE BK
						UFTA - ATP
						UFTB - BOOK XFER
						UFTC - CALL CENTER
						UFTI - INTERNET
						UFTQ - CALL CENTER
						UFTS - ABL
						UFTV - VRU
						WIRE - WIRE TRANSFER
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListContainerType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:StartPosition" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseParametersType">
    <xsd:sequence>
      <xsd:element ref="common1.1:ResponseCode" />
      <xsd:element ref="common1.1:ResponseMessage" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContextParametersType">
    <xsd:sequence>
      <xsd:element name="ContextParameterString" type="common1.1:ContextParameterStringType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:PingUrl" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PingResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:PingUrl" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhoneNumberListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="common1.1:Phone" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PhoneNumberType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:PhoneType" />
      <xsd:element minOccurs="0" ref="common:PhoneNumber" />
      <xsd:element minOccurs="0" ref="common1.1:PhoneExtension" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignerType">
    <xsd:sequence>
      <xsd:element minOccurs="0" ref="common1.1:CustomerName" />
      <xsd:element minOccurs="0" ref="common:TiebreakerNumber" />
      <xsd:element minOccurs="0" ref="common:RelationshipType" />
      <xsd:element minOccurs="0" ref="common:CommercialRetailCode" />
      <xsd:element minOccurs="0" ref="common:FullAddress" />
      <xsd:element minOccurs="0" ref="common:CipEditCode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SignerListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="9" ref="common1.1:Signer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransientContextType">
    <xsd:sequence>
      <xsd:element ref="common1.1:AuthorizationParameters" />
      <xsd:element ref="common1.1:ResponseParameters" />
      <xsd:element ref="common1.1:ContextParameters" />
      <xsd:element ref="common1.1:ExperianParameters" />
      <xsd:element ref="common1.1:ChexParameters" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>