LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.RVService/UsedRVsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.jdpowerwebservices.com/UsedRVsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
  <xs:import schemaLocation="https://www.jdpowerwebservices.com/UsedRVsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" />
  <xs:element name="GetMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categories" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toYear" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" minOccurs="0" name="GetMakesResult" nillable="true" type="q1:RVMakeCategoryReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetYearsResult" nillable="true" type="q2:RVYearsReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" minOccurs="0" name="GetCategoriesResult" nillable="true" type="q3:ArrayOfCategoryReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrims">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categories" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelTrimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetModelTrimsResult" nillable="true" type="q4:RVModelTrimListReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetOptionsResult" nillable="true" type="q5:RVUsedOptionListReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="optionCodes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetConsumerPricesResult" nillable="true" type="q6:RVUsedConsumerModelTrimReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPricesPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="optionCodes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConsumerPricesPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetConsumerPricesPostResult" nillable="true" type="q7:RVUsedConsumerModelTrimReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradePrices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="optionCodes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradePricesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetTradePricesResult" nillable="true" type="q8:RVUsedTradeModelTrimReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradePricesPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="optionCodes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradePricesPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetTradePricesPostResult" nillable="true" type="q9:RVUsedTradeModelTrimReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpecificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetSpecificationsResult" nillable="true" type="q10:RVSpecReturnTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufactureToModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetManufactureToModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetManufactureToModelResult" nillable="true" type="q11:ArrayOfManufactureToModelTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelToManufacture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelToManufactureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" minOccurs="0" name="GetModelToManufactureResult" nillable="true" type="q12:ArrayOfModelToManufactureTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>