LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.RVService/UsedRVsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsedRVsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="soap_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedRVsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedRVsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfService" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedRVsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedRVsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedRVsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.RVs" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/UsedRVsService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsedRVsService_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetMakes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q1:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYears" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetYears_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q2:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetCategories_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q3:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetModelTrims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrims" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetModelTrims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetModelTrims_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q4:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetOptions_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q5:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetConsumerPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPrices" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetConsumerPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetConsumerPrices_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q6:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetTradePrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePrices" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetTradePrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePricesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetTradePrices_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q7:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetSpecifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecifications" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetSpecifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetSpecifications_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q8:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetManufactureToModel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetManufactureToModel" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetManufactureToModel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetManufactureToModelResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetManufactureToModel_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q9:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetModelToManufacture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelToManufacture" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetModelToManufacture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelToManufactureResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedRVsService_GetModelToManufacture_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q10:WcfFault" />
  </wsdl:message>
  <wsdl:portType name="IUsedRVsService">
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetMakes" message="tns:IUsedRVsService_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetMakesResponse" message="tns:IUsedRVsService_GetMakes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetMakesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetMakes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetYears" message="tns:IUsedRVsService_GetYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetYearsResponse" message="tns:IUsedRVsService_GetYears_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetYearsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetYears_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetCategories" message="tns:IUsedRVsService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetCategoriesResponse" message="tns:IUsedRVsService_GetCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetCategoriesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetCategories_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrims">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetModelTrims" message="tns:IUsedRVsService_GetModelTrims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetModelTrimsResponse" message="tns:IUsedRVsService_GetModelTrims_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetModelTrimsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetModelTrims_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetOptions" message="tns:IUsedRVsService_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetOptionsResponse" message="tns:IUsedRVsService_GetOptions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetOptionsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetOptions_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetConsumerPrices" message="tns:IUsedRVsService_GetConsumerPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetConsumerPricesResponse" message="tns:IUsedRVsService_GetConsumerPrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetConsumerPricesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetConsumerPrices_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradePrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetTradePrices" message="tns:IUsedRVsService_GetTradePrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetTradePricesResponse" message="tns:IUsedRVsService_GetTradePrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetTradePricesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetTradePrices_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetSpecifications" message="tns:IUsedRVsService_GetSpecifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetSpecificationsResponse" message="tns:IUsedRVsService_GetSpecifications_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetSpecificationsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetSpecifications_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetManufactureToModel">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetManufactureToModel" message="tns:IUsedRVsService_GetManufactureToModel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetManufactureToModelResponse" message="tns:IUsedRVsService_GetManufactureToModel_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetManufactureToModelWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetManufactureToModel_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelToManufacture">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedRVsService/GetModelToManufacture" message="tns:IUsedRVsService_GetModelToManufacture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedRVsService/GetModelToManufactureResponse" message="tns:IUsedRVsService_GetModelToManufacture_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedRVsService/GetModelToManufactureWcfFaultFault" name="WcfFaultFault" message="tns:IUsedRVsService_GetModelToManufacture_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IUsedRVsService">
    <wsp:PolicyReference URI="#soap_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMakes">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrims">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetModelTrims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPrices">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetConsumerPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTradePrices">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetTradePrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSpecifications">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetSpecifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetManufactureToModel">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetManufactureToModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelToManufacture">
      <soap:operation soapAction="http://tempuri.org/IUsedRVsService/GetModelToManufacture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsedRVsService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="https://www.nadaguideswebservices.com/UsedRVsService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>