LoansPQWSWrappers.JXChange_2012/JXChange20111/Web References/JXChange20111.Custom/TPG_Custom.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="R2011.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_CustomMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="FarmCrBankRateIdxAddInput">
    <part name="params" element="tns:FarmCrBankRateIdxAdd" />
  </message>
  <message name="FarmCrBankRateIdxAddOutput">
    <part name="params" element="tns:FarmCrBankRateIdxAddResponse" />
  </message>
  <message name="FarmCrBankRateIdxModInput">
    <part name="params" element="tns:FarmCrBankRateIdxMod" />
  </message>
  <message name="FarmCrBankRateIdxModOutput">
    <part name="params" element="tns:FarmCrBankRateIdxModResponse" />
  </message>
  <message name="FarmCrBankRateIdxInqInput">
    <part name="params" element="tns:FarmCrBankRateIdxInq" />
  </message>
  <message name="FarmCrBankRateIdxInqOutput">
    <part name="params" element="tns:FarmCrBankRateIdxInqResponse" />
  </message>
  <portType name="CustomService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FarmCrBankRateIdxAdd">
      <input message="tns:FarmCrBankRateIdxAddInput" />
      <output message="tns:FarmCrBankRateIdxAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FarmCrBankRateIdxMod">
      <input message="tns:FarmCrBankRateIdxModInput" />
      <output message="tns:FarmCrBankRateIdxModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="FarmCrBankRateIdxInq">
      <input message="tns:FarmCrBankRateIdxInqInput" />
      <output message="tns:FarmCrBankRateIdxInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="CustomServiceSoapBinding" type="tns:CustomService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FarmCrBankRateIdxAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/FarmCrBankRateIdxAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FarmCrBankRateIdxMod">
      <soap:operation soapAction="http://jackhenry.com/ws/FarmCrBankRateIdxMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="FarmCrBankRateIdxInq">
      <soap:operation soapAction="http://jackhenry.com/ws/FarmCrBankRateIdxInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CustomService">
    <documentation>Service Description for the Custom Interface</documentation>
    <port name="CustomServiceSoap" binding="tns:CustomServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/Custom.svc " />
    </port>
  </service>
</definitions>