LoansPQWSWrappers.JXChange_2012/JXChange2013100/Web References/JXChange2013100.Deposit/TPG_Deposit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="R2013.1.00" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_DepositMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="TaxPlnAddInput">
    <part name="params" element="tns:TaxPlnAdd" />
  </message>
  <message name="TaxPlnAddOutput">
    <part name="params" element="tns:TaxPlnAddResponse" />
  </message>
  <message name="TaxPlnModInput">
    <part name="params" element="tns:TaxPlnMod" />
  </message>
  <message name="TaxPlnModOutput">
    <part name="params" element="tns:TaxPlnModResponse" />
  </message>
  <message name="TaxPlnBenfAddInput">
    <part name="params" element="tns:TaxPlnBenfAdd" />
  </message>
  <message name="TaxPlnBenfAddOutput">
    <part name="params" element="tns:TaxPlnBenfAddResponse" />
  </message>
  <message name="TaxPlnBenfModInput">
    <part name="params" element="tns:TaxPlnBenfMod" />
  </message>
  <message name="TaxPlnBenfModOutput">
    <part name="params" element="tns:TaxPlnBenfModResponse" />
  </message>
  <message name="AcctAddInput">
    <part name="params" element="tns:AcctAdd" />
  </message>
  <message name="AcctAddOutput">
    <part name="params" element="tns:AcctAddResponse" />
  </message>
  <message name="AcctModInput">
    <part name="params" element="tns:AcctMod" />
  </message>
  <message name="AcctModOutput">
    <part name="params" element="tns:AcctModResponse" />
  </message>
  <message name="PltfmAppAddInput">
    <part name="params" element="tns:PltfmAppAdd" />
  </message>
  <message name="PltfmAppAddOutput">
    <part name="params" element="tns:PltfmAppAddResponse" />
  </message>
  <message name="PltfmStatInqInput">
    <part name="params" element="tns:PltfmStatInq" />
  </message>
  <message name="PltfmStatInqOutput">
    <part name="params" element="tns:PltfmStatInqResponse" />
  </message>
  <message name="AcctBenfAddInput">
    <part name="params" element="tns:AcctBenfAdd" />
  </message>
  <message name="AcctBenfAddOutput">
    <part name="params" element="tns:AcctBenfAddResponse" />
  </message>
  <message name="AcctBenfModInput">
    <part name="params" element="tns:AcctBenfMod" />
  </message>
  <message name="AcctBenfModOutput">
    <part name="params" element="tns:AcctBenfModResponse" />
  </message>
  <message name="AcctSweepAddInput">
    <part name="params" element="tns:AcctSweepAdd" />
  </message>
  <message name="AcctSweepAddOutput">
    <part name="params" element="tns:AcctSweepAddResponse" />
  </message>
  <message name="AcctSweepModInput">
    <part name="params" element="tns:AcctSweepMod" />
  </message>
  <message name="AcctSweepModOutput">
    <part name="params" element="tns:AcctSweepModResponse" />
  </message>
  <message name="AcctCombStmtAddInput">
    <part name="params" element="tns:AcctCombStmtAdd" />
  </message>
  <message name="AcctCombStmtAddOutput">
    <part name="params" element="tns:AcctCombStmtAddResponse" />
  </message>
  <message name="AcctCombStmtModInput">
    <part name="params" element="tns:AcctCombStmtMod" />
  </message>
  <message name="AcctCombStmtModOutput">
    <part name="params" element="tns:AcctCombStmtModResponse" />
  </message>
  <message name="AcctProdOvrrdAddInput">
    <part name="params" element="tns:AcctProdOvrrdAdd" />
  </message>
  <message name="AcctProdOvrrdAddOutput">
    <part name="params" element="tns:AcctProdOvrrdAddResponse" />
  </message>
  <message name="AcctProdOvrrdModInput">
    <part name="params" element="tns:AcctProdOvrrdMod" />
  </message>
  <message name="AcctProdOvrrdModOutput">
    <part name="params" element="tns:AcctProdOvrrdModResponse" />
  </message>
  <message name="AcctAddValidateInput">
    <part name="params" element="tns:AcctAddValidate" />
  </message>
  <message name="AcctAddValidateOutput">
    <part name="params" element="tns:AcctAddValidateResponse" />
  </message>
  <message name="TaxPlnAddValidateInput">
    <part name="params" element="tns:TaxPlnAddValidate" />
  </message>
  <message name="TaxPlnAddValidateOutput">
    <part name="params" element="tns:TaxPlnAddValidateResponse" />
  </message>
  <message name="TaxPlnBenfAddValidateInput">
    <part name="params" element="tns:TaxPlnBenfAddValidate" />
  </message>
  <message name="TaxPlnBenfAddValidateOutput">
    <part name="params" element="tns:TaxPlnBenfAddValidateResponse" />
  </message>
  <message name="TimeDepRenOvrrdInput">
    <part name="params" element="tns:TimeDepRenOvrrd" />
  </message>
  <message name="TimeDepRenOvrrdOutput">
    <part name="params" element="tns:TimeDepRenOvrrdResponse" />
  </message>
  <message name="PltfmStatModInput">
    <part name="params" element="tns:PltfmStatMod" />
  </message>
  <message name="PltfmStatModOutput">
    <part name="params" element="tns:PltfmStatModResponse" />
  </message>
  <portType name="DepositService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TaxPlnAdd">
      <input message="tns:TaxPlnAddInput" />
      <output message="tns:TaxPlnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TaxPlnMod">
      <input message="tns:TaxPlnModInput" />
      <output message="tns:TaxPlnModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TaxPlnBenfAdd">
      <input message="tns:TaxPlnBenfAddInput" />
      <output message="tns:TaxPlnBenfAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TaxPlnBenfMod">
      <input message="tns:TaxPlnBenfModInput" />
      <output message="tns:TaxPlnBenfModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctAdd">
      <input message="tns:AcctAddInput" />
      <output message="tns:AcctAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctMod">
      <input message="tns:AcctModInput" />
      <output message="tns:AcctModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PltfmAppAdd">
      <input message="tns:PltfmAppAddInput" />
      <output message="tns:PltfmAppAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PltfmStatInq">
      <input message="tns:PltfmStatInqInput" />
      <output message="tns:PltfmStatInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctBenfAdd">
      <input message="tns:AcctBenfAddInput" />
      <output message="tns:AcctBenfAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctBenfMod">
      <input message="tns:AcctBenfModInput" />
      <output message="tns:AcctBenfModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctSweepAdd">
      <input message="tns:AcctSweepAddInput" />
      <output message="tns:AcctSweepAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctSweepMod">
      <input message="tns:AcctSweepModInput" />
      <output message="tns:AcctSweepModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctCombStmtAdd">
      <input message="tns:AcctCombStmtAddInput" />
      <output message="tns:AcctCombStmtAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctCombStmtMod">
      <input message="tns:AcctCombStmtModInput" />
      <output message="tns:AcctCombStmtModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctProdOvrrdAdd">
      <input message="tns:AcctProdOvrrdAddInput" />
      <output message="tns:AcctProdOvrrdAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctProdOvrrdMod">
      <input message="tns:AcctProdOvrrdModInput" />
      <output message="tns:AcctProdOvrrdModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctAddValidate">
      <input message="tns:AcctAddValidateInput" />
      <output message="tns:AcctAddValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TaxPlnAddValidate">
      <input message="tns:TaxPlnAddValidateInput" />
      <output message="tns:TaxPlnAddValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TaxPlnBenfAddValidate">
      <input message="tns:TaxPlnBenfAddValidateInput" />
      <output message="tns:TaxPlnBenfAddValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TimeDepRenOvrrd">
      <input message="tns:TimeDepRenOvrrdInput" />
      <output message="tns:TimeDepRenOvrrdOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PltfmStatMod">
      <input message="tns:PltfmStatModInput" />
      <output message="tns:PltfmStatModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="DepositServiceSoapBinding" type="tns:DepositService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TaxPlnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/TaxPlnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TaxPlnMod">
      <soap:operation soapAction="http://jackhenry.com/ws/TaxPlnMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TaxPlnBenfAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/TaxPlnBenfAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TaxPlnBenfMod">
      <soap:operation soapAction="http://jackhenry.com/ws/TaxPlnBenfMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PltfmAppAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/PltfmAppAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PltfmStatInq">
      <soap:operation soapAction="http://jackhenry.com/ws/PltfmStatInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctBenfAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctBenfAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctBenfMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctBenfMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctSweepAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctSweepAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctSweepMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctSweepMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctCombStmtAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctCombStmtAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctCombStmtMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctCombStmtMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctProdOvrrdAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctProdOvrrdAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctProdOvrrdMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctProdOvrrdMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctAddValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctAddValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TaxPlnAddValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/TaxPlnAddValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TaxPlnBenfAddValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/TaxPlnBenfAddValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TimeDepRenOvrrd">
      <soap:operation soapAction="http://jackhenry.com/ws/TimeDepRenOvrrd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PltfmStatMod">
      <soap:operation soapAction="http://jackhenry.com/ws/PltfmStatMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DepositService">
    <documentation>Service Description for the Deposit Interface</documentation>
    <port name="DepositServiceSoap" binding="tns:DepositServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/Deposit.svc" />
    </port>
  </service>
</definitions>