LoansPQWSWrappers.AFCU/AFCU/Web References/AFCU2018_1.BusinessRelationsService/BusinessRelations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.americafirst.com/20070315/BusinessRelation" name="BusinessRelations" targetNamespace="http://www.americafirst.com/20070315/BusinessRelation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:mrm="http://www.americafirst.com/20070315/BusinessRelation" targetNamespace="http://www.americafirst.com/20070315/BusinessRelation">
      <xsd:include schemaLocation="com/americafirst/www/_20070315/businessrelation/BusinessRelation.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="addAuthorizedSigner_in">
    <wsdl:part name="addAuthorizedSignerRequest" element="tns:addAuthorizedSignerRequest" />
  </wsdl:message>
  <wsdl:message name="addAuthorizedSigner_out">
    <wsdl:part name="addAuthorizedSignerResponse" element="tns:addAuthorizedSignerResponse" />
  </wsdl:message>
  <wsdl:message name="addBeneficialOwner_in">
    <wsdl:part name="addBeneficialOwnerRequest" element="tns:addBeneficialOwnerRequest" />
  </wsdl:message>
  <wsdl:message name="addBeneficialOwner_out">
    <wsdl:part name="addBeneficialOwnerResponse" element="tns:addBeneficialOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAuthorizedSigner_in">
    <wsdl:part name="deleteAuthorizedSignerRequest" element="tns:deleteAuthorizedSignerRequest" />
  </wsdl:message>
  <wsdl:message name="deleteAuthorizedSigner_out">
    <wsdl:part name="deleteAuthorizedSignerResponse" element="tns:deleteAuthorizedSignerResponse" />
  </wsdl:message>
  <wsdl:message name="deleteBeneficialOwner_in">
    <wsdl:part name="deleteBeneficialOwnerRequest" element="tns:deleteBeneficialOwnerRequest" />
  </wsdl:message>
  <wsdl:message name="deleteBeneficialOwner_out">
    <wsdl:part name="deleteBeneficialOwnerResponse" element="tns:deleteBeneficialOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="inquireAuthorizedSigners_in">
    <wsdl:part name="inquireAuthorizedSignersRequest" element="tns:inquireAuthorizedSignersRequest" />
  </wsdl:message>
  <wsdl:message name="inquireAuthorizedSigners_out">
    <wsdl:part name="inquireAuthorizedSignersResponse" element="tns:inquireAuthorizedSignersResponse" />
  </wsdl:message>
  <wsdl:message name="inquireBeneficialOwners_in">
    <wsdl:part name="inquireBeneficialOwnersRequest" element="tns:inquireBeneficialOwnersRequest" />
  </wsdl:message>
  <wsdl:message name="inquireBeneficialOwners_out">
    <wsdl:part name="inquireBeneficialOwnersResponse" element="tns:inquireBeneficialOwnersResponse" />
  </wsdl:message>
  <wsdl:message name="updateAuthorizedSigner_in">
    <wsdl:part name="updateAuthorizedSignerRequest" element="tns:updateAuthorizedSignerRequest" />
  </wsdl:message>
  <wsdl:message name="updateAuthorizedSigner_out">
    <wsdl:part name="updateAuthorizedSignerResponse" element="tns:updateAuthorizedSignerResponse" />
  </wsdl:message>
  <wsdl:message name="updateBeneficialOwner_in">
    <wsdl:part name="updateBeneficialOwnerRequest" element="tns:updateBeneficialOwnerRequest" />
  </wsdl:message>
  <wsdl:message name="updateBeneficialOwner_out">
    <wsdl:part name="updateBeneficialOwnerResponse" element="tns:updateBeneficialOwnerResponse" />
  </wsdl:message>
  <wsdl:portType name="BusinessRelations_MSPortType">
    <wsdl:operation name="addAuthorizedSigner">
      <wsdl:input name="addAuthorizedSigner_addAuthorizedSignerRequest" message="tns:addAuthorizedSigner_in" />
      <wsdl:output name="addAuthorizedSigner_addAuthorizedSignerResponse" message="tns:addAuthorizedSigner_out" />
    </wsdl:operation>
    <wsdl:operation name="addBeneficialOwner">
      <wsdl:input name="addBeneficialOwner_addBeneficialOwnerRequest" message="tns:addBeneficialOwner_in" />
      <wsdl:output name="addBeneficialOwner_addBeneficialOwnerResponse" message="tns:addBeneficialOwner_out" />
    </wsdl:operation>
    <wsdl:operation name="deleteAuthorizedSigner">
      <wsdl:input name="deleteAuthorizedSigner_deleteAuthorizedSignerRequest" message="tns:deleteAuthorizedSigner_in" />
      <wsdl:output name="deleteAuthorizedSigner_deleteAuthorizedSignerResponse" message="tns:deleteAuthorizedSigner_out" />
    </wsdl:operation>
    <wsdl:operation name="deleteBeneficialOwner">
      <wsdl:input name="deleteBeneficialOwner_deleteBeneficialOwnerRequest" message="tns:deleteBeneficialOwner_in" />
      <wsdl:output name="deleteBeneficialOwner_deleteBeneficialOwnerResponse" message="tns:deleteBeneficialOwner_out" />
    </wsdl:operation>
    <wsdl:operation name="inquireAuthorizedSigners">
      <wsdl:input name="inquireAuthorizedSigners_inquireAuthorizedSignersRequest" message="tns:inquireAuthorizedSigners_in" />
      <wsdl:output name="inquireAuthorizedSigners_inquireAuthorizedSignersResponse" message="tns:inquireAuthorizedSigners_out" />
    </wsdl:operation>
    <wsdl:operation name="inquireBeneficialOwners">
      <wsdl:input name="inquireBeneficialOwners_inquireBeneficialOwnersRequest" message="tns:inquireBeneficialOwners_in" />
      <wsdl:output name="inquireBeneficialOwners_inquireBeneficialOwnersResponse" message="tns:inquireBeneficialOwners_out" />
    </wsdl:operation>
    <wsdl:operation name="updateAuthorizedSigner">
      <wsdl:input name="updateAuthorizedSigner_updateAuthorizedSignerRequest" message="tns:updateAuthorizedSigner_in" />
      <wsdl:output name="updateAuthorizedSigner_updateAuthorizedSignerResponse" message="tns:updateAuthorizedSigner_out" />
    </wsdl:operation>
    <wsdl:operation name="updateBeneficialOwner">
      <wsdl:input name="updateBeneficialOwner_updateBeneficialOwnerRequest" message="tns:updateBeneficialOwner_in" />
      <wsdl:output name="updateBeneficialOwner_updateBeneficialOwnerResponse" message="tns:updateBeneficialOwner_out" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessRelations_MSSOAP_HTTP_Binding" type="tns:BusinessRelations_MSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addAuthorizedSigner">
      <soap:operation soapAction="" />
      <wsdl:input name="addAuthorizedSigner_addAuthorizedSignerRequest">
        <soap:body use="literal" parts="addAuthorizedSignerRequest" />
      </wsdl:input>
      <wsdl:output name="addAuthorizedSigner_addAuthorizedSignerResponse">
        <soap:body use="literal" parts="addAuthorizedSignerResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBeneficialOwner">
      <soap:operation soapAction="" />
      <wsdl:input name="addBeneficialOwner_addBeneficialOwnerRequest">
        <soap:body use="literal" parts="addBeneficialOwnerRequest" />
      </wsdl:input>
      <wsdl:output name="addBeneficialOwner_addBeneficialOwnerResponse">
        <soap:body use="literal" parts="addBeneficialOwnerResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAuthorizedSigner">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteAuthorizedSigner_deleteAuthorizedSignerRequest">
        <soap:body use="literal" parts="deleteAuthorizedSignerRequest" />
      </wsdl:input>
      <wsdl:output name="deleteAuthorizedSigner_deleteAuthorizedSignerResponse">
        <soap:body use="literal" parts="deleteAuthorizedSignerResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteBeneficialOwner">
      <soap:operation soapAction="" />
      <wsdl:input name="deleteBeneficialOwner_deleteBeneficialOwnerRequest">
        <soap:body use="literal" parts="deleteBeneficialOwnerRequest" />
      </wsdl:input>
      <wsdl:output name="deleteBeneficialOwner_deleteBeneficialOwnerResponse">
        <soap:body use="literal" parts="deleteBeneficialOwnerResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inquireAuthorizedSigners">
      <soap:operation soapAction="" />
      <wsdl:input name="inquireAuthorizedSigners_inquireAuthorizedSignersRequest">
        <soap:body use="literal" parts="inquireAuthorizedSignersRequest" />
      </wsdl:input>
      <wsdl:output name="inquireAuthorizedSigners_inquireAuthorizedSignersResponse">
        <soap:body use="literal" parts="inquireAuthorizedSignersResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="inquireBeneficialOwners">
      <soap:operation soapAction="" />
      <wsdl:input name="inquireBeneficialOwners_inquireBeneficialOwnersRequest">
        <soap:body use="literal" parts="inquireBeneficialOwnersRequest" />
      </wsdl:input>
      <wsdl:output name="inquireBeneficialOwners_inquireBeneficialOwnersResponse">
        <soap:body use="literal" parts="inquireBeneficialOwnersResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAuthorizedSigner">
      <soap:operation soapAction="" />
      <wsdl:input name="updateAuthorizedSigner_updateAuthorizedSignerRequest">
        <soap:body use="literal" parts="updateAuthorizedSignerRequest" />
      </wsdl:input>
      <wsdl:output name="updateAuthorizedSigner_updateAuthorizedSignerResponse">
        <soap:body use="literal" parts="updateAuthorizedSignerResponse" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateBeneficialOwner">
      <soap:operation soapAction="" />
      <wsdl:input name="updateBeneficialOwner_updateBeneficialOwnerRequest">
        <soap:body use="literal" parts="updateBeneficialOwnerRequest" />
      </wsdl:input>
      <wsdl:output name="updateBeneficialOwner_updateBeneficialOwnerResponse">
        <soap:body use="literal" parts="updateBeneficialOwnerResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessRelationsService">
    <wsdl:port name="SOAP_HTTP_Port" binding="tns:BusinessRelations_MSSOAP_HTTP_Binding">
      <soap:address location="http://ltadevb1.americafirst.com:7080/account/businessRelations/20070315" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>