LoansPQWSWrappers/Web References/ISTWatchWebService/ISTWatchWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.intelligentsearch.com/HostedWebServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.intelligentsearch.com/HostedWebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.intelligentsearch.com/HostedWebServices/">
      <s:element name="wsGetAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsGetAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsGetAccountInfoResult" type="tns:WsAccountInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WsAccountInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SearchesLeft" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="wsGetBuildDate">
        <s:complexType />
      </s:element>
      <s:element name="wsGetBuildDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsGetBuildDateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsISTWatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="score_threshold" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="maximum_results" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_lists" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_rulebase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exclude_vessel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="include_alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extended_search" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="search_range" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sanct_countries_search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsISTWatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsISTWatchResult" type="tns:ArrayOfWsIstWatch" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWsIstWatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WsIstWatch" nillable="true" type="tns:WsIstWatch" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WsIstWatch">
        <s:complexContent mixed="false">
          <s:extension base="tns:TSearchBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="m_errors" type="tns:ArrayOfError" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TSearchBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateEntered" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BALKANS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BPIPA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CUBA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DPL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FRYM" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FTO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IRAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IRAQ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LIBYA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NKOREA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDGT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDNT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDNTK" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUDAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TALIBAN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNITA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SDNType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Program" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CallSign" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VessType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tonnage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GRT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VessFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VessOwner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddRemarks" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EffectiveDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpirationDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StandardOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameSearchKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Score" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCodes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SearchesLeft" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowMessageInUserInterface" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="WsAccountInfo" nillable="true" type="tns:WsAccountInfo" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfWsIstWatch" nillable="true" type="tns:ArrayOfWsIstWatch" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsGetAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:wsGetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="wsGetAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:wsGetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetBuildDateSoapIn">
    <wsdl:part name="parameters" element="tns:wsGetBuildDate" />
  </wsdl:message>
  <wsdl:message name="wsGetBuildDateSoapOut">
    <wsdl:part name="parameters" element="tns:wsGetBuildDateResponse" />
  </wsdl:message>
  <wsdl:message name="wsISTWatchSoapIn">
    <wsdl:part name="parameters" element="tns:wsISTWatch" />
  </wsdl:message>
  <wsdl:message name="wsISTWatchSoapOut">
    <wsdl:part name="parameters" element="tns:wsISTWatchResponse" />
  </wsdl:message>
  <wsdl:message name="wsGetAccountInfoHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsGetAccountInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:WsAccountInfo" />
  </wsdl:message>
  <wsdl:message name="wsGetBuildDateHttpGetIn" />
  <wsdl:message name="wsGetBuildDateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wsISTWatchHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="street" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="score_threshold" type="s:string" />
    <wsdl:part name="maximum_results" type="s:string" />
    <wsdl:part name="search_lists" type="s:string" />
    <wsdl:part name="search_rulebase" type="s:string" />
    <wsdl:part name="exclude_vessel" type="s:string" />
    <wsdl:part name="include_alias" type="s:string" />
    <wsdl:part name="extended_search" type="s:string" />
    <wsdl:part name="search_range" type="s:string" />
    <wsdl:part name="sanct_countries_search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsISTWatchHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfWsIstWatch" />
  </wsdl:message>
  <wsdl:message name="wsGetAccountInfoHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsGetAccountInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:WsAccountInfo" />
  </wsdl:message>
  <wsdl:message name="wsGetBuildDateHttpPostIn" />
  <wsdl:message name="wsGetBuildDateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="wsISTWatchHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="street" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="country" type="s:string" />
    <wsdl:part name="score_threshold" type="s:string" />
    <wsdl:part name="maximum_results" type="s:string" />
    <wsdl:part name="search_lists" type="s:string" />
    <wsdl:part name="search_rulebase" type="s:string" />
    <wsdl:part name="exclude_vessel" type="s:string" />
    <wsdl:part name="include_alias" type="s:string" />
    <wsdl:part name="extended_search" type="s:string" />
    <wsdl:part name="search_range" type="s:string" />
    <wsdl:part name="sanct_countries_search" type="s:string" />
  </wsdl:message>
  <wsdl:message name="wsISTWatchHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfWsIstWatch" />
  </wsdl:message>
  <wsdl:portType name="ISTWatchWebServiceSoap">
    <wsdl:operation name="wsGetAccountInfo">
      <wsdl:input message="tns:wsGetAccountInfoSoapIn" />
      <wsdl:output message="tns:wsGetAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <wsdl:input message="tns:wsGetBuildDateSoapIn" />
      <wsdl:output message="tns:wsGetBuildDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <wsdl:input message="tns:wsISTWatchSoapIn" />
      <wsdl:output message="tns:wsISTWatchSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISTWatchWebServiceHttpGet">
    <wsdl:operation name="wsGetAccountInfo">
      <wsdl:input message="tns:wsGetAccountInfoHttpGetIn" />
      <wsdl:output message="tns:wsGetAccountInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <wsdl:input message="tns:wsGetBuildDateHttpGetIn" />
      <wsdl:output message="tns:wsGetBuildDateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <wsdl:input message="tns:wsISTWatchHttpGetIn" />
      <wsdl:output message="tns:wsISTWatchHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ISTWatchWebServiceHttpPost">
    <wsdl:operation name="wsGetAccountInfo">
      <wsdl:input message="tns:wsGetAccountInfoHttpPostIn" />
      <wsdl:output message="tns:wsGetAccountInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <wsdl:input message="tns:wsGetBuildDateHttpPostIn" />
      <wsdl:output message="tns:wsGetBuildDateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <wsdl:input message="tns:wsISTWatchHttpPostIn" />
      <wsdl:output message="tns:wsISTWatchHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISTWatchWebServiceSoap" type="tns:ISTWatchWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsGetAccountInfo">
      <soap:operation soapAction="http://www.intelligentsearch.com/HostedWebServices/wsGetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <soap:operation soapAction="http://www.intelligentsearch.com/HostedWebServices/wsGetBuildDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <soap:operation soapAction="http://www.intelligentsearch.com/HostedWebServices/wsISTWatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISTWatchWebServiceSoap12" type="tns:ISTWatchWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsGetAccountInfo">
      <soap12:operation soapAction="http://www.intelligentsearch.com/HostedWebServices/wsGetAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <soap12:operation soapAction="http://www.intelligentsearch.com/HostedWebServices/wsGetBuildDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <soap12:operation soapAction="http://www.intelligentsearch.com/HostedWebServices/wsISTWatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISTWatchWebServiceHttpGet" type="tns:ISTWatchWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="wsGetAccountInfo">
      <http:operation location="/wsGetAccountInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <http:operation location="/wsGetBuildDate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <http:operation location="/wsISTWatch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISTWatchWebServiceHttpPost" type="tns:ISTWatchWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="wsGetAccountInfo">
      <http:operation location="/wsGetAccountInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsGetBuildDate">
      <http:operation location="/wsGetBuildDate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsISTWatch">
      <http:operation location="/wsISTWatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISTWatchWebService">
    <wsdl:port name="ISTWatchWebServiceSoap" binding="tns:ISTWatchWebServiceSoap">
      <soap:address location="http://www.intelligentsearch.com/ISTwatchWS/ISTwatchWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISTWatchWebServiceSoap12" binding="tns:ISTWatchWebServiceSoap12">
      <soap12:address location="http://www.intelligentsearch.com/ISTwatchWS/ISTwatchWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISTWatchWebServiceHttpGet" binding="tns:ISTWatchWebServiceHttpGet">
      <http:address location="http://www.intelligentsearch.com/ISTwatchWS/ISTwatchWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISTWatchWebServiceHttpPost" binding="tns:ISTWatchWebServiceHttpPost">
      <http:address location="http://www.intelligentsearch.com/ISTwatchWS/ISTwatchWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>