LoansPQWSWrappers.JXChange_2012/JXChange2019003/Web References/JXChange2019003.Transaction/TPG_Transaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="2019.0.03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_TransactionMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="StopChkAddInput">
    <part name="params" element="tns:StopChkAdd" />
  </message>
  <message name="StopChkAddOutput">
    <part name="params" element="tns:StopChkAddResponse" />
  </message>
  <message name="XferAddInput">
    <part name="params" element="tns:XferAdd" />
  </message>
  <message name="XferAddOutput">
    <part name="params" element="tns:XferAddResponse" />
  </message>
  <message name="StopChkCanInput">
    <part name="params" element="tns:StopChkCan" />
  </message>
  <message name="StopChkCanOutput">
    <part name="params" element="tns:StopChkCanResponse" />
  </message>
  <message name="TrnAddInput">
    <part name="params" element="tns:TrnAdd" />
  </message>
  <message name="TrnAddOutput">
    <part name="params" element="tns:TrnAddResponse" />
  </message>
  <message name="XferModInput">
    <part name="params" element="tns:XferMod" />
  </message>
  <message name="XferModOutput">
    <part name="params" element="tns:XferModResponse" />
  </message>
  <message name="TrnModInput">
    <part name="params" element="tns:TrnMod" />
  </message>
  <message name="TrnModOutput">
    <part name="params" element="tns:TrnModResponse" />
  </message>
  <message name="XferAddValidateInput">
    <part name="params" element="tns:XferAddValidate" />
  </message>
  <message name="XferAddValidateOutput">
    <part name="params" element="tns:XferAddValidateResponse" />
  </message>
  <message name="TrnAddValidateInput">
    <part name="params" element="tns:TrnAddValidate" />
  </message>
  <message name="TrnAddValidateOutput">
    <part name="params" element="tns:TrnAddValidateResponse" />
  </message>
  <message name="StopChkAddValidateInput">
    <part name="params" element="tns:StopChkAddValidate" />
  </message>
  <message name="StopChkAddValidateOutput">
    <part name="params" element="tns:StopChkAddValidateResponse" />
  </message>
  <message name="AcctAnlysTrnAddInput">
    <part name="params" element="tns:AcctAnlysTrnAdd" />
  </message>
  <message name="AcctAnlysTrnAddOutput">
    <part name="params" element="tns:AcctAnlysTrnAddResponse" />
  </message>
  <message name="AcctAnlysTrnModInput">
    <part name="params" element="tns:AcctAnlysTrnMod" />
  </message>
  <message name="AcctAnlysTrnModOutput">
    <part name="params" element="tns:AcctAnlysTrnModResponse" />
  </message>
  <message name="AcctNSFTrnModInput">
    <part name="params" element="tns:AcctNSFTrnMod" />
  </message>
  <message name="AcctNSFTrnModOutput">
    <part name="params" element="tns:AcctNSFTrnModResponse" />
  </message>
  <message name="TrnAddQuoteInput">
    <part name="params" element="tns:TrnAddQuote" />
  </message>
  <message name="TrnAddQuoteOutput">
    <part name="params" element="tns:TrnAddQuoteResponse" />
  </message>
  <message name="TrnAddQuoteCanInput">
    <part name="params" element="tns:TrnAddQuoteCan" />
  </message>
  <message name="TrnAddQuoteCanOutput">
    <part name="params" element="tns:TrnAddQuoteCanResponse" />
  </message>
  <message name="TrnAddQuoteCommInput">
    <part name="params" element="tns:TrnAddQuoteComm" />
  </message>
  <message name="TrnAddQuoteCommOutput">
    <part name="params" element="tns:TrnAddQuoteCommResponse" />
  </message>
  <message name="SafeDepPmtAddInput">
    <part name="params" element="tns:SafeDepPmtAdd" />
  </message>
  <message name="SafeDepPmtAddOutput">
    <part name="params" element="tns:SafeDepPmtAddResponse" />
  </message>
  <message name="SafeDepPmtModInput">
    <part name="params" element="tns:SafeDepPmtMod" />
  </message>
  <message name="SafeDepPmtModOutput">
    <part name="params" element="tns:SafeDepPmtModResponse" />
  </message>
  <message name="IssItemMultiAddInput">
    <part name="params" element="tns:IssItemMultiAdd" />
  </message>
  <message name="IssItemMultiAddOutput">
    <part name="params" element="tns:IssItemMultiAddResponse" />
  </message>
  <message name="PosPayItemModInput">
    <part name="params" element="tns:PosPayItemMod" />
  </message>
  <message name="PosPayItemModOutput">
    <part name="params" element="tns:PosPayItemModResponse" />
  </message>
  <message name="WireTrnAddInput">
    <part name="params" element="tns:WireTrnAdd" />
  </message>
  <message name="WireTrnAddOutput">
    <part name="params" element="tns:WireTrnAddResponse" />
  </message>
  <message name="IntlWireTrnAddInput">
    <part name="params" element="tns:IntlWireTrnAdd" />
  </message>
  <message name="IntlWireTrnAddOutput">
    <part name="params" element="tns:IntlWireTrnAddResponse" />
  </message>
  <message name="SvcFeeTrnAddInput">
    <part name="params" element="tns:SvcFeeTrnAdd" />
  </message>
  <message name="SvcFeeTrnAddOutput">
    <part name="params" element="tns:SvcFeeTrnAddResponse" />
  </message>
  <message name="SvcFeeTrnModInput">
    <part name="params" element="tns:SvcFeeTrnMod" />
  </message>
  <message name="SvcFeeTrnModOutput">
    <part name="params" element="tns:SvcFeeTrnModResponse" />
  </message>
  <message name="AcctReconItemModInput">
    <part name="params" element="tns:AcctReconItemMod" />
  </message>
  <message name="AcctReconItemModOutput">
    <part name="params" element="tns:AcctReconItemModResponse" />
  </message>
  <message name="PmtHubCrXferAddInput">
    <part name="params" element="tns:PmtHubCrXferAdd" />
  </message>
  <message name="PmtHubCrXferAddOutput">
    <part name="params" element="tns:PmtHubCrXferAddResponse" />
  </message>
  <message name="PmtHubCrXferModInput">
    <part name="params" element="tns:PmtHubCrXferMod" />
  </message>
  <message name="PmtHubCrXferModOutput">
    <part name="params" element="tns:PmtHubCrXferModResponse" />
  </message>
  <portType name="TransactionService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="StopChkAdd">
      <input message="tns:StopChkAddInput" />
      <output message="tns:StopChkAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="XferAdd">
      <input message="tns:XferAddInput" />
      <output message="tns:XferAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="StopChkCan">
      <input message="tns:StopChkCanInput" />
      <output message="tns:StopChkCanOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TrnAdd">
      <input message="tns:TrnAddInput" />
      <output message="tns:TrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="XferMod">
      <input message="tns:XferModInput" />
      <output message="tns:XferModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TrnMod">
      <input message="tns:TrnModInput" />
      <output message="tns:TrnModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="XferAddValidate">
      <input message="tns:XferAddValidateInput" />
      <output message="tns:XferAddValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TrnAddValidate">
      <input message="tns:TrnAddValidateInput" />
      <output message="tns:TrnAddValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="StopChkAddValidate">
      <input message="tns:StopChkAddValidateInput" />
      <output message="tns:StopChkAddValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctAnlysTrnAdd">
      <input message="tns:AcctAnlysTrnAddInput" />
      <output message="tns:AcctAnlysTrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctAnlysTrnMod">
      <input message="tns:AcctAnlysTrnModInput" />
      <output message="tns:AcctAnlysTrnModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctNSFTrnMod">
      <input message="tns:AcctNSFTrnModInput" />
      <output message="tns:AcctNSFTrnModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TrnAddQuote">
      <input message="tns:TrnAddQuoteInput" />
      <output message="tns:TrnAddQuoteOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TrnAddQuoteCan">
      <input message="tns:TrnAddQuoteCanInput" />
      <output message="tns:TrnAddQuoteCanOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="TrnAddQuoteComm">
      <input message="tns:TrnAddQuoteCommInput" />
      <output message="tns:TrnAddQuoteCommOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="SafeDepPmtAdd">
      <input message="tns:SafeDepPmtAddInput" />
      <output message="tns:SafeDepPmtAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="SafeDepPmtMod">
      <input message="tns:SafeDepPmtModInput" />
      <output message="tns:SafeDepPmtModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="IssItemMultiAdd">
      <input message="tns:IssItemMultiAddInput" />
      <output message="tns:IssItemMultiAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PosPayItemMod">
      <input message="tns:PosPayItemModInput" />
      <output message="tns:PosPayItemModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="WireTrnAdd">
      <input message="tns:WireTrnAddInput" />
      <output message="tns:WireTrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="IntlWireTrnAdd">
      <input message="tns:IntlWireTrnAddInput" />
      <output message="tns:IntlWireTrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="SvcFeeTrnAdd">
      <input message="tns:SvcFeeTrnAddInput" />
      <output message="tns:SvcFeeTrnAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="SvcFeeTrnMod">
      <input message="tns:SvcFeeTrnModInput" />
      <output message="tns:SvcFeeTrnModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="AcctReconItemMod">
      <input message="tns:AcctReconItemModInput" />
      <output message="tns:AcctReconItemModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PmtHubCrXferAdd">
      <input message="tns:PmtHubCrXferAddInput" />
      <output message="tns:PmtHubCrXferAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="PmtHubCrXferMod">
      <input message="tns:PmtHubCrXferModInput" />
      <output message="tns:PmtHubCrXferModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="TransactionServiceSoapBinding" type="tns:TransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="StopChkAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/StopChkAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="XferAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/XferAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="StopChkCan">
      <soap:operation soapAction="http://jackhenry.com/ws/StopChkCan" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/TrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="XferMod">
      <soap:operation soapAction="http://jackhenry.com/ws/XferMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TrnMod">
      <soap:operation soapAction="http://jackhenry.com/ws/TrnMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="XferAddValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/XferAddValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TrnAddValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/TrnAddValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="StopChkAddValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/StopChkAddValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctAnlysTrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctAnlysTrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctAnlysTrnMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctAnlysTrnMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctNSFTrnMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctNSFTrnMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TrnAddQuote">
      <soap:operation soapAction="http://jackhenry.com/ws/TrnAddQuote" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TrnAddQuoteCan">
      <soap:operation soapAction="http://jackhenry.com/ws/TrnAddQuoteCan" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="TrnAddQuoteComm">
      <soap:operation soapAction="http://jackhenry.com/ws/TrnAddQuoteComm" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="SafeDepPmtAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/SafeDepPmtAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="SafeDepPmtMod">
      <soap:operation soapAction="http://jackhenry.com/ws/SafeDepPmtMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="IssItemMultiAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/IssItemMultiAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PosPayItemMod">
      <soap:operation soapAction="http://jackhenry.com/ws/PosPayItemMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="WireTrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/WireTrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="IntlWireTrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/IntlWireTrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="SvcFeeTrnAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/SvcFeeTrnAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="SvcFeeTrnMod">
      <soap:operation soapAction="http://jackhenry.com/ws/SvcFeeTrnMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="AcctReconItemMod">
      <soap:operation soapAction="http://jackhenry.com/ws/AcctReconItemMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PmtHubCrXferAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/PmtHubCrXferAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="PmtHubCrXferMod">
      <soap:operation soapAction="http://jackhenry.com/ws/PmtHubCrXferMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="TransactionService">
    <documentation>Service Description for the TransactionService Interface</documentation>
    <port name="TransactionServiceSoap" binding="tns:TransactionServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/Transaction.svc" />
    </port>
  </service>
</definitions>