LoansPQWSWrappers/Web References/iQQService/iQQAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:iQQ:API:10:iQQMessages.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="urn:iQQ:API:10:iQQMessages.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema attributeFormDefault="unqualified" elementFormDefault="unqualified">
      <s:import schemaLocation="iQQMessages.xsd" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
    </s:schema>
  </types>
  <message name="AmortizationSchedule">
    <part name="parameter" element="tns:AmortizationSchedule" />
  </message>
  <message name="Authentication">
    <part name="Authentication" element="tns:Authentication" />
  </message>
  <message name="CanOfferProduct">
    <part name="parameter" element="tns:CanOfferProduct" />
  </message>
  <message name="CanOfferProductResponse">
    <part name="parameter" element="tns:CanOfferProductResponse" />
  </message>
  <message name="Collateral">
    <part name="parameter" element="tns:Collateral" />
  </message>
  <message name="CPOptions">
    <part name="parameter" element="tns:CPOptions" />
  </message>
  <message name="GAPCollateralType">
    <part name="parameter" element="tns:GAPCollateralType" />
  </message>
  <message name="FindPackages">
    <part name="parameter" element="tns:FindPackages" />
  </message>
  <message name="FindRemittanceReports">
    <part name="parameter" element="tns:FindRemittanceReports" />
  </message>
  <message name="GAPCosts">
    <part name="parameter" element="tns:GAPCosts" />
  </message>
  <message name="GetAmortizationSchedule">
    <part name="parameter" element="tns:GetAmortizationSchedule" />
  </message>
  <message name="GetCollateral">
    <part name="parameter" element="tns:GetCollateral" />
  </message>
  <message name="GetCPOptions">
    <part name="parameter" element="tns:GetCPOptions" />
  </message>
  <message name="GetGAPCollateralType">
    <part name="parameter" element="tns:GetGAPCollateralType" />
  </message>
  <message name="GetGAPCosts">
    <part name="parameter" element="tns:GetGAPCosts" />
  </message>
  <message name="GetLoanCalculations">
    <part name="parameter" element="tns:GetLoanCalculations" />
  </message>
  <message name="GetMBPCoverageLevels">
    <part name="parameter" element="tns:GetMBPCoverageLevels" />
  </message>
  <message name="GetMBPPlans">
    <part name="parameter" element="tns:GetMBPPlans" />
  </message>
  <message name="GetMBPSubModelsByVIN">
    <part name="parameter" element="tns:GetMBPSubModelsByVIN" />
  </message>
  <message name="GetMBPVehicleMakes">
    <part name="parameter" element="tns:GetMBPVehicleMakes" />
  </message>
  <message name="GetMBPVehicleModels">
    <part name="parameter" element="tns:GetMBPVehicleModels" />
  </message>
  <message name="GetMBPVehicleModelYears">
    <part name="parameter" element="tns:GetMBPVehicleModelYears" />
  </message>
  <message name="GetMBPVehicleSubModels">
    <part name="parameter" element="tns:GetMBPVehicleSubModels" />
  </message>
  <message name="GetPackage">
    <part name="parameter" element="tns:GetPackage" />
  </message>
  <message name="GetPackageMessages">
    <part name="parameter" element="tns:GetPackageMessages" />
  </message>
  <message name="GetProductSettings">
    <part name="parameter" element="tns:GetProductSettings" />
  </message>
  <message name="GetRemittanceReport">
    <part name="parameter" element="tns:GetRemittanceReport" />
  </message>
  <message name="GetUnremittedBusiness">
    <part name="parameter" element="tns:GetUnremittedBusiness" />
  </message>
  <message name="GetUnremittedBusinessSummary">
    <part name="parameter" element="tns:GetUnremittedBusinessSummary" />
  </message>
  <message name="IsVehicleUnderOrigWarranty">
    <part name="parameter" element="tns:IsVehicleUnderOrigWarranty" />
  </message>
  <message name="LoanCalculations">
    <part name="parameter" element="tns:LoanCalculations" />
  </message>
  <message name="ManagePackage">
    <part name="parameter" element="tns:ManagePackage" />
  </message>
  <message name="ManageRemittanceReport">
    <part name="parameter" element="tns:ManageRemittanceReport" />
  </message>
  <message name="MBPCoverageLevels">
    <part name="parameter" element="tns:MBPCoverageLevels" />
  </message>
  <message name="MBPMakes">
    <part name="parameter" element="tns:MBPMakes" />
  </message>
  <message name="MBPModels">
    <part name="parameter" element="tns:MBPModels" />
  </message>
  <message name="MBPModelYears">
    <part name="parameter" element="tns:MBPModelYears" />
  </message>
  <message name="MBPPlans">
    <part name="parameter" element="tns:MBPPlans" />
  </message>
  <message name="MBPSubModelList">
    <part name="parameter" element="tns:MBPSubModelList" />
  </message>
  <message name="MBPSubModels">
    <part name="parameter" element="tns:MBPSubModels" />
  </message>
  <message name="Package">
    <part name="parameter" element="tns:Package" />
  </message>
  <message name="Packages">
    <part name="parameter" element="tns:Packages" />
  </message>
  <message name="PackageMessages">
    <part name="parameter" element="tns:PackageMessages" />
  </message>
  <message name="ProductSettings">
    <part name="parameter" element="tns:ProductSettings" />
  </message>
  <message name="RemittanceReport">
    <part name="parameter" element="tns:RemittanceReport" />
  </message>
  <message name="RemittanceReports">
    <part name="parameter" element="tns:RemittanceReports" />
  </message>
  <message name="StreamPackageDocs">
    <part name="parameter" element="tns:StreamPackageDocs" />
  </message>
  <message name="StreamRemittanceReportDocs">
    <part name="parameter" element="tns:StreamRemittanceReportDocs" />
  </message>
  <message name="UnremittedBusiness">
    <part name="parameter" element="tns:UnremittedBusiness" />
  </message>
  <message name="UnremittedBusinessSummary">
    <part name="parameter" element="tns:UnremittedBusinessSummary" />
  </message>
  <message name="ValidateVehicleAgainstVIN">
    <part name="parameter" element="tns:ValidateVehicleAgainstVIN" />
  </message>
  <message name="VINError">
    <part name="parameter" element="tns:VINError" />
  </message>
  <message name="WarrantyStatus">
    <part name="parameter" element="tns:WarrantyStatus" />
  </message>
  <portType name="iQQPortType">
    <operation name="CanOfferProduct">
      <input message="tns:CanOfferProduct" />
      <output message="tns:CanOfferProductResponse" />
    </operation>
    <operation name="FindPackages">
      <input message="tns:FindPackages" />
      <output message="tns:Packages" />
    </operation>
    <operation name="FindRemittanceReports">
      <input message="tns:FindRemittanceReports" />
      <output message="tns:RemittanceReports" />
    </operation>
    <operation name="GetAmortizationSchedule">
      <input message="tns:GetAmortizationSchedule" />
      <output message="tns:AmortizationSchedule" />
    </operation>
    <operation name="GetCollateral">
      <input message="tns:GetCollateral" />
      <output message="tns:Collateral" />
    </operation>
    <operation name="GetCPOptions">
      <input message="tns:GetCPOptions" />
      <output message="tns:CPOptions" />
    </operation>
    <operation name="GetGAPCollateralType">
      <input message="tns:GetGAPCollateralType" />
      <output message="tns:GAPCollateralType" />
    </operation>
    <operation name="GetGAPCosts">
      <input message="tns:GetGAPCosts" />
      <output message="tns:GAPCosts" />
    </operation>
    <operation name="GetLoanCalculations">
      <input message="tns:GetLoanCalculations" />
      <output message="tns:LoanCalculations" />
    </operation>
    <operation name="GetMBPCoverageLevels">
      <input message="tns:GetMBPCoverageLevels" />
      <output message="tns:MBPCoverageLevels" />
    </operation>
    <operation name="GetMBPPlans">
      <input message="tns:GetMBPPlans" />
      <output message="tns:MBPPlans" />
    </operation>
    <operation name="GetMBPSubModelsByVIN">
      <input message="tns:GetMBPSubModelsByVIN" />
      <output message="tns:MBPSubModelList" />
    </operation>
    <operation name="GetMBPVehicleMakes">
      <input message="tns:GetMBPVehicleMakes" />
      <output message="tns:MBPMakes" />
    </operation>
    <operation name="GetMBPVehicleModels">
      <input message="tns:GetMBPVehicleModels" />
      <output message="tns:MBPModels" />
    </operation>
    <operation name="GetMBPVehicleModelYears">
      <input message="tns:GetMBPVehicleModelYears" />
      <output message="tns:MBPModelYears" />
    </operation>
    <operation name="GetMBPVehicleSubModels">
      <input message="tns:GetMBPVehicleSubModels" />
      <output message="tns:MBPSubModels" />
    </operation>
    <operation name="GetPackage">
      <input message="tns:GetPackage" />
      <output message="tns:Package" />
    </operation>
    <operation name="GetPackageMessages">
      <input message="tns:GetPackageMessages" />
      <output message="tns:PackageMessages" />
    </operation>
    <operation name="GetProductSettings">
      <input message="tns:GetProductSettings" />
      <output message="tns:ProductSettings" />
    </operation>
    <operation name="GetRemittanceReport">
      <input message="tns:GetRemittanceReport" />
      <output message="tns:RemittanceReport" />
    </operation>
    <operation name="GetUnremittedBusiness">
      <input message="tns:GetUnremittedBusiness" />
      <output message="tns:UnremittedBusiness" />
    </operation>
    <operation name="GetUnremittedBusinessSummary">
      <input message="tns:GetUnremittedBusinessSummary" />
      <output message="tns:UnremittedBusinessSummary" />
    </operation>
    <operation name="IsVehicleUnderOrigWarranty">
      <input message="tns:IsVehicleUnderOrigWarranty" />
      <output message="tns:WarrantyStatus" />
    </operation>
    <operation name="ManagePackage">
      <input message="tns:ManagePackage" />
      <output message="tns:Package" />
    </operation>
    <operation name="ManageRemittanceReport">
      <input message="tns:ManageRemittanceReport" />
      <output message="tns:RemittanceReport" />
    </operation>
    <operation name="StreamPackageDocs">
      <input message="tns:StreamPackageDocs" />
    </operation>
    <operation name="StreamRemittanceReportDocs">
      <input message="tns:StreamRemittanceReportDocs" />
    </operation>
    <operation name="ValidateVehicleAgainstVIN">
      <input message="tns:ValidateVehicleAgainstVIN" />
      <output message="tns:VINError" />
    </operation>
  </portType>
  <binding name="iQQBinding" type="tns:iQQPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CanOfferProduct">
      <soap:operation soapAction="urn:#CanOfferProduct" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindPackages">
      <soap:operation soapAction="urn:#FindPackages" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="FindRemittanceReports">
      <soap:operation soapAction="urn:#FindRemittanceReports" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetAmortizationSchedule">
      <soap:operation soapAction="urn:#GetAmortizationSchedule" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCollateral">
      <soap:operation soapAction="urn:#GetCollateral" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetCPOptions">
      <soap:operation soapAction="urn:#GetCPOptions" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetGAPCollateralType">
      <soap:operation soapAction="urn:#GetGAPCollateralType" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetGAPCosts">
      <soap:operation soapAction="urn:#GetGAPCosts" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetLoanCalculations">
      <soap:operation soapAction="urn:#GetLoanCalculations" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPCoverageLevels">
      <soap:operation soapAction="urn:#GetMBPCoverageLevels" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPPlans">
      <soap:operation soapAction="urn:#GetMBPPlans" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPSubModelsByVIN">
      <soap:operation soapAction="urn:#GetMBPSubModelsByVIN" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPVehicleMakes">
      <soap:operation soapAction="urn:#GetMBPVehicleMakes" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPVehicleModels">
      <soap:operation soapAction="urn:#GetMBPVehicleModels" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPVehicleModelYears">
      <soap:operation soapAction="urn:#GetMBPVehicleModelYears" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetMBPVehicleSubModels">
      <soap:operation soapAction="urn:#GetMBPVehicleSubModels" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPackage">
      <soap:operation soapAction="urn:#GetPackage" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPackageMessages">
      <soap:operation soapAction="urn:#GetPackageMessages" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetProductSettings">
      <soap:operation soapAction="urn:#GetProductSettings" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetRemittanceReport">
      <soap:operation soapAction="urn:#GetRemittanceReport" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUnremittedBusiness">
      <soap:operation soapAction="urn:#GetUnremittedBusiness" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetUnremittedBusinessSummary">
      <soap:operation soapAction="urn:#GetUnremittedBusinessSummary" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="IsVehicleUnderOrigWarranty">
      <soap:operation soapAction="urn:#IsVehicleUnderOrigWarranty" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ManagePackage">
      <soap:operation soapAction="urn:#ManagePackage" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ManageRemittanceReport">
      <soap:operation soapAction="urn:#ManageRemittanceReport" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StreamPackageDocs">
      <soap:operation soapAction="urn:#StreamPackageDocs" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
    </operation>
    <operation name="StreamRemittanceReportDocs">
      <soap:operation soapAction="urn:#StreamRemittanceReportDocs" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
    </operation>
    <operation name="ValidateVehicleAgainstVIN">
      <soap:operation soapAction="urn:#ValidateVehicleAgainstVIN" />
      <input>
        <soap:body use="literal" />
        <soap:header message="tns:Authentication" part="Authentication" use="literal" namespace="urn:iQQ:API:10:iQQMessages.xsd" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="iQQService">
    <port name="Production_HTTPS_Port" binding="tns:iQQBinding">
      <soap:address location="https://api.q2solutions.com/API.asp" />
    </port>
    <port name="Production_HTTP_Port" binding="tns:iQQBinding">
      <soap:address location="http://api.q2solutions.com/API.asp" />
    </port>
    <port name="Staging_HTTP_Port" binding="tns:iQQBinding">
      <soap:address location="http://staging.viinc.com/API.asp" />
    </port>
  </service>
</definitions>