LoansPQWSWrappers.JDPowerOther2/PowerSport/Service References/JDPowerOther2.PowerSportsService/UsedPowersportsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.TransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.TransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsExotic" type="xs:boolean" />
      <xs:element minOccurs="0" name="NadaDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTO" nillable="true" type="tns:BaseTO" />
</xs:schema>