LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISAccountProfile/CIAcctPrflWSV7SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIAcctPrflReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIAcctPrflReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIAcctPrflReqData">
    <xs:annotation>
      <xs:documentation>CIS Account Profile (CI012) -  This function is used to retrieve the name/address and general demographic information for the primary customer related to the specified account.  This function also retrieves information for accounts related to the specified account.  Finally, this function retrieves name/address and demographic information for secondary customers related to the specified account.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10032" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>Related Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>