LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISAccountProfile/CIAcctPrflWSV7SvcResData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIAcctPrflResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIAcctPrflResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIAcctPrflResData">
    <xs:annotation>
      <xs:documentation>CIS Account Profile (CI012) -  This function is used to retrieve the name/address and general demographic information for the primary customer related to the specified account.  This function also retrieves information for accounts related to the specified account.  Finally, this function retrieves name/address and demographic information for secondary customers related to the specified account.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E9000" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Accounts</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E9003" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Related Customers</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS More to be Returned Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10032" type="xs:string">
          <xs:annotation>
            <xs:documentation>Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>Application Account</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10176" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10037" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 1 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10038" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 2 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10039" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 3 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10040" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 4 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10041" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 5 Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10042" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 1 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10043" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 2 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10044" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 3 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10045" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 4 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10046" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Address 5 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10082" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10083" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10084" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10086" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10087" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10088" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Standard Name 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10050" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Driver's License</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10132" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10134" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Tax Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10094" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10101" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Last Name Key Field 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10102" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current First Name Key Field 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10103" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Middle Name Key Field 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10114" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10122" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10036" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Date of Birth</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10169" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mother's Maiden Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10097" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Fax Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10109" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Primary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10113" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Secondary Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10188" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 1 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10189" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 2 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10190" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 3 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10191" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 4 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10192" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Line 5 Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10135" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10136" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10137" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10138" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10139" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10140" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10141" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10142" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10143" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10144" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10145" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10146" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10147" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10148" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10149" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Code 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10344" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS History Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10351" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Prospect Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10153" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rec Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10299" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Country Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10244" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Elementized Country Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16910" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS External Customer ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16911" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Source ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16912" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Offer ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E310123" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Related Customer Relationship Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10230" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10231" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10232" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10233" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10234" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10235" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10236" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10237" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10238" type="xs:string">
          <xs:annotation>
            <xs:documentation>Alias Name 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300252" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300253" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Customer Relationship Entity 1 to Entity 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300254" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Customer Relationship Entity 2 to Entity 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300255" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Current Name Process Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10119" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Mobile Phone Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="CICustAcctsDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CICustAcctsData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E16055" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10175" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Application Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10176" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10177" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Bank Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10178" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Entity 1 To Entity 2 Relationship Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10179" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Entity 2 To Entity 1 Relationship Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10180" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Effective Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10181" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Expiration Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16068" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Last Maintenance Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16085" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Close Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16161" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Balance Amount 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16083" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Source Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16910" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS External Customer ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16911" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Source ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16912" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Offer ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16065" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16080" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E130051" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CB Card Reason Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20007" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20834" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Statement Market Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20418" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Current Collected Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20590" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Interest Paid Last Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20052" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Previous Processing Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20152" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Last Statement Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20047" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Account Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21632" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Ledger Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21661" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Current Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20149" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Last Statement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21667" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Total Accessible Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20276" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Open Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20279" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Status</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20075" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Deposit Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20142" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Deposit Category Description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20335" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP PRA Credit Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20336" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP PRA Balance Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20632" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Interest Stated Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20637" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Yield</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20645" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Interest Paid Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20146" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Next Statement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20164" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP PRA Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20407" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float One Day Collectable Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20409" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float Two Day Collectable Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20410" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float Three Day Collectable Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20413" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float Day 4 thru 9 Collectable Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20169" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Number of Debits Cycle to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20172" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Amount of Debits Cycle to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20180" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Number of Credits Cycle to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20183" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Amount of Credits Cycle to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20097" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Transaction Posting Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20277" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Dormant Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20278" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Special Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20638" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Accrued Interest Cycle to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20839" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Employee Account Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20156" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Total Float</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E9003" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP PRA Available Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20417" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Last Float Posted End Of Day</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20693" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Last Interest Paid Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20923" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Related Account Available Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20617" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 1 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20618" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 2 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20619" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 3 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20620" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 4 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20621" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 5 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20622" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 6 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20623" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 7 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20624" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 8 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20625" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 9 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20626" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 10 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20627" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float 11 Business Day Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E9004" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Float Total Available Float Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20270" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Close Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20274" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Open Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21486" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Request for Data Time Deposit ID Key</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20048" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Name Address Line 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20108" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20151" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Annual Percentage Yield Earned Last Cycle</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20267" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20290" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21493" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21492" type="xs:string">
                      <xs:annotation>
                        <xs:documentation />
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21287" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Account Available Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21288" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Account Available Balance Label</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E21289" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Total Accessible Balance Label</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20667" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Status</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20670" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Original Deposit</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20671" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Next Maturity</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20674" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Term Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20677" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Current Interest Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20678" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Current Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20679" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Yield</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20694" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Penalty Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20696" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit  Last Interest Paid</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20698" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Original Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20699" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Interest Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20713" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit  Interest Paid Last Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20665" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E20673" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>DP Time Deposit Term</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E30051" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37666" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Current Processing Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E35022" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Account Closed Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E35020" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Account Opened Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E30054" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32003" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Issue Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32004" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Maturity Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32006" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Loan Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32011" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32171" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Original Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32186" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Annual Percentage Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36400" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note  Status</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36402" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Current Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36490" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Term</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37558" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payoff Total Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37559" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payoff Total Accrual Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32045" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Collateral Description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32935" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral Property Tax ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32936" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral VIN/Serial Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32937" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral VIN/Serial Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32938" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral Application Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32939" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral Make</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32940" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral Model</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32941" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32942" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral User Score 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32943" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Collateral User Score 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32944" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Lien Filing Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32945" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Lien Release Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32946" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Record Book</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32947" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Record Page</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32948" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Instrument Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37089" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Customer Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36426" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Interest Paid Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36482" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Interest Paid Prior Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37577" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Next Due Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37698" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Next Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37699" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Last Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37700" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Last Payment Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37726" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Remaining Payments</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37736" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Revolving Credit Amount Available</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37701" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Payoff Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36469" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Late Fees Due</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36633" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Foreclosure Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36601" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Number of Days Past Due Today</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16233" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Total Payment</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16234" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Escrow Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16235" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Loan Term</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16236" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Next Due Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16237" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Maturity Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16232" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Investor</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16242" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Loan Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16247" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Late Charge Due</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16249" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Tax Paid Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16250" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Hazard Insurance Paid Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16251" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Primary Tax ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16252" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Secondary Tax ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16253" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Primary Telephone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16254" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Secondary Telephone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16255" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Principal and Interest Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16257" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Second Principal and Interest Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16258" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Life Insurance Premium</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16259" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Basic Charge Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16260" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Miscellaneous Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16261" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Replacement Reserve Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16262" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Accident and Health Premium</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16264" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan ARM Plan Identifier</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16265" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Bill Mode Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16266" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Property Value</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16270" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Interest on Escrow Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16271" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Interest on Escrow Percentage</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16273" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Tax Paid Prior Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16274" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan NSF Fees</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16275" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Coupon Request Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16276" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Accrual Status Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16277" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Officer Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16278" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan ACH Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16281" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Number of Times Late</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16282" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan 1098 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16240" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Interest Paid Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16241" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Principal Paid Year to Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16243" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Issue Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16244" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Interest Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16245" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Original Loan Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16246" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Principal Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16256" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Monthly Escrow Payment</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16263" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Last Payment Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16272" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Interest Paid Prior Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16279" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Number of Payments Remaining</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E16280" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Account Mloan Interest Rate Change Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="CIAcctRltCustDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CIAcctRltCustData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E10175" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Relationship Application Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10176" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Relationship Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10177" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Relationship Bank Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10178" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Entity 1 to Entity 2 Relationship Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10179" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Entity 2 to Entity 1 Relationship Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10180" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Effective Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10181" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Expiration Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10028" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Name Process Time</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10037" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 1 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10038" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 2 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10039" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 3 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10040" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 4 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10041" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 5 Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10042" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 1 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10043" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 2 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10044" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 3 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10045" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 4 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10046" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Address 5 Text</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10082" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Name Code 01</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10083" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Name Code 02</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10084" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Name Code 03</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10086" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Name 01</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10087" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Name 02</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10088" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Standard Name 03</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10050" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Driver's License</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10132" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Customer Tax Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10134" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Customer Tax Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10094" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Elementized City</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10101" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Last Name Key Field 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10102" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current First Name Key Field 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10103" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Current Middle Name Key Field 3</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10114" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Elementized State</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10122" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Elementized ZIP Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10036" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Customer Date of Birth</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10169" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Mother's Maiden Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10097" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Fax Phone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10109" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Primary Phone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10113" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Secondary Phone Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10299" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Country Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10230" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 1</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10231" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 2</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10232" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 3</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10233" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 4</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10234" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 5</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10235" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 6</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10236" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 7</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10237" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 8</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10238" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Related Customer Alias Name 9</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>