LoansPQWSWrappers/Web References/com.eplinc.mpidev/WebServiceFacade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s0="http://com.eplinc.ws.bus/WebServiceFacade.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://com.eplinc.ws.bus/WebServiceFacade.wsdl" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" name="WebServiceFacade" targetNamespace="http://com.eplinc.ws.bus/WebServiceFacade.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  WSDL for Service: WebServiceFacade, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>
  <types>
    <s:schema targetNamespace="http://com.eplinc.ws.bus/WebServiceFacade.xsd" />
  </types>
  <message name="getSumStringOutput">
    <part name="output" type="s:string" />
  </message>
  <message name="getSumStringInput">
    <part name="param0" type="s:int" />
    <part name="param1" type="s:int" />
  </message>
  <message name="processRequestOutput">
    <part name="output" type="s:string" />
  </message>
  <message name="processRequestInput">
    <part name="param0" type="s:string" />
    <part name="param1" type="s:string" />
    <part name="param2" type="s:string" />
  </message>
  <portType name="WebServiceFacadePortType">
    <operation name="getSumString">
      <input message="tns:getSumStringInput" />
      <output message="tns:getSumStringOutput" />
    </operation>
    <operation name="processRequest">
      <input message="tns:processRequestInput" />
      <output message="tns:processRequestOutput" />
    </operation>
  </portType>
  <binding name="WebServiceFacadeBinding" type="tns:WebServiceFacadePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getSumString">
      <soap:operation soapAction="urn:com-eplinc-ws-bus-WebServiceFacade/getSumString" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-ws-bus-WebServiceFacade" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-ws-bus-WebServiceFacade" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="processRequest">
      <soap:operation soapAction="urn:com-eplinc-ws-bus-WebServiceFacade/processRequest" />
      <input>
        <soap:body use="encoded" namespace="urn:com-eplinc-ws-bus-WebServiceFacade" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-eplinc-ws-bus-WebServiceFacade" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="WebServiceFacade">
    <port name="WebServiceFacadePort" binding="tns:WebServiceFacadeBinding">
      <soap:address location="https://mpidev.eplinc.com:4444/ipws/ipowerws" />
    </port>
  </service>
</definitions>