LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.BusinessDate/BusinessDate0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://api.webservice.configuration.ispectrum.summitsite.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessDate" targetNamespace="http://api.webservice.configuration.ispectrum.summitsite.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp1_2:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="BusinessDateImplPortBindingPolicy">
    <wsp1_2:ExactlyOne>
      <wsp1_2:All>
        <sp:SupportingTokens>
          <wsp1_2:Policy>
            <wsp1_2:ExactlyOne>
              <wsp1_2:All>
                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp1_2:Policy>
                    <wsp1_2:ExactlyOne>
                      <wsp1_2:All>
                        <sp:WssUsernameToken10 />
                      </wsp1_2:All>
                    </wsp1_2:ExactlyOne>
                  </wsp1_2:Policy>
                </sp:UsernameToken>
              </wsp1_2:All>
            </wsp1_2:ExactlyOne>
          </wsp1_2:Policy>
        </sp:SupportingTokens>
        <wsapw3c:UsingAddressing wsp1_2:Optional="true" />
      </wsp1_2:All>
    </wsp1_2:ExactlyOne>
  </wsp1_2:Policy>
  <import namespace="urn:connections.ispectrum.summitsite.com" location="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/BusinessDate?wsdl=1" />
  <types />
  <binding xmlns:ns1="urn:connections.ispectrum.summitsite.com" name="BusinessDateImplPortBinding" type="ns1:BusinessDate">
    <ns2:PolicyReference xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#BusinessDateImplPortBindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getBusinessDate">
      <soap:operation soapAction="urn:getBusinessDate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="doBusinessDateTransition">
      <soap:operation soapAction="urn:doBusinessDateTransition" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getBusinessCalendarFromRealTimestamp">
      <soap:operation soapAction="urn:getBusinessCalendarFromRealTimestamp" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getBusinessDateFromRealTimestamp">
      <soap:operation soapAction="urn:getBusinessDateFromRealTimestamp" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getBusinessDateHistoryRecords">
      <soap:operation soapAction="urn:getBusinessDateHistoryRecords" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getISpectrumDBVersion">
      <soap:operation soapAction="urn:getISpectrumDBVersion" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getPreviousBizDate">
      <soap:operation soapAction="urn:getPreviousBizDate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByUserId">
      <soap:operation soapAction="urn:getDrawerByUserId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getUndoSuspenseDetails">
      <soap:operation soapAction="urn:getUndoSuspenseDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByLogonName">
      <soap:operation soapAction="urn:getDrawerByLogonName" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByDrawerCode">
      <soap:operation soapAction="urn:getDrawerByDrawerCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAvailableDrawerList">
      <soap:operation soapAction="urn:getAvailableDrawerList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllDrawerList">
      <soap:operation soapAction="urn:getAllDrawerList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="openDrawer">
      <soap:operation soapAction="urn:openDrawer" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerAggregateByUserId">
      <soap:operation soapAction="urn:getDrawerAggregateByUserId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="openDefaultDrawerForUser">
      <soap:operation soapAction="urn:openDefaultDrawerForUser" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getForcedClosed">
      <soap:operation soapAction="urn:getForcedClosed" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDefaultDrawerForUser">
      <soap:operation soapAction="urn:getDefaultDrawerForUser" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getInstitutionFtpPath">
      <soap:operation soapAction="urn:getInstitutionFtpPath" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getInstitutionPeriodicPath">
      <soap:operation soapAction="urn:getInstitutionPeriodicPath" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSystemDate">
      <soap:operation soapAction="urn:getSystemDate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findDrawerDetails">
      <soap:operation soapAction="urn:findDrawerDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByPrimaryKey">
      <soap:operation soapAction="urn:getDrawerByPrimaryKey" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="doDrawerAdjust">
      <soap:operation soapAction="urn:doDrawerAdjust" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateDeleteDrawer">
      <soap:operation soapAction="urn:createUpdateDeleteDrawer" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="closeDrawer">
      <soap:operation soapAction="urn:closeDrawer" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawersOnBranch">
      <soap:operation soapAction="urn:getDrawersOnBranch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSystemDateForSchema">
      <soap:operation soapAction="urn:getSystemDateForSchema" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByUserIdAndFinControls">
      <soap:operation soapAction="urn:getDrawerByUserIdAndFinControls" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByLogonNameAndFincontrols">
      <soap:operation soapAction="urn:getDrawerByLogonNameAndFincontrols" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getDrawerByDrawerCodeAndFinControls">
      <soap:operation soapAction="urn:getDrawerByDrawerCodeAndFinControls" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllDrawerListByDeleted">
      <soap:operation soapAction="urn:getAllDrawerListByDeleted" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="openDefaultDrawerForUserByReset">
      <soap:operation soapAction="urn:openDefaultDrawerForUserByReset" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="BusinessDate">
    <port name="BusinessDateImplPort" binding="tns:BusinessDateImplPortBinding">
      <soap:address location="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/BusinessDate" />
    </port>
  </service>
</definitions>