LoansPQWSWrappers.LendingQBAppView/LoansPQWSWrappers.LendingQBAppView/Web References/LendingQB.AppView/AppView.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lendersoffice.com/los/webservices/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.lendersoffice.com/los/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lendersoffice.com/los/webservices/">
      <s:element name="GetViewLoanUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLoanName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewLoanUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewLoanUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewDesktopUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTicket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetViewDesktopUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetViewDesktopUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPmlPipelineUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTicket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPmlPipelineUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPmlPipelineUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPmlLoanUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sTicket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sLoanName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPmlLoanUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPmlLoanUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetViewLoanUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewLoanUrl" />
  </wsdl:message>
  <wsdl:message name="GetViewLoanUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewLoanUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetViewDesktopUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetViewDesktopUrl" />
  </wsdl:message>
  <wsdl:message name="GetViewDesktopUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetViewDesktopUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetPmlPipelineUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetPmlPipelineUrl" />
  </wsdl:message>
  <wsdl:message name="GetPmlPipelineUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetPmlPipelineUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetPmlLoanUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetPmlLoanUrl" />
  </wsdl:message>
  <wsdl:message name="GetPmlLoanUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetPmlLoanUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="AppViewSoap">
    <wsdl:operation name="GetViewLoanUrl">
      <wsdl:input message="tns:GetViewLoanUrlSoapIn" />
      <wsdl:output message="tns:GetViewLoanUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetViewDesktopUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a partial URL to redirect the client directly to the LendingQB Desktop (Pipeline View). The partial URL should be prefixed with https://secure.lendingqb.com</wsdl:documentation>
      <wsdl:input message="tns:GetViewDesktopUrlSoapIn" />
      <wsdl:output message="tns:GetViewDesktopUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPmlPipelineUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a partial URL to redirect the client directly to the PriceMyLoan.com Pipeline View. The partial URL should be prefixed with https://secure.pricemyloan.com</wsdl:documentation>
      <wsdl:input message="tns:GetPmlPipelineUrlSoapIn" />
      <wsdl:output message="tns:GetPmlPipelineUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPmlLoanUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a partial URL to redirect the client directly into the PriceMyLoan.com Loan File View (Step #1). The partial URL should be prefixed with https://secure.pricemyloan.com.</wsdl:documentation>
      <wsdl:input message="tns:GetPmlLoanUrlSoapIn" />
      <wsdl:output message="tns:GetPmlLoanUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppViewSoap" type="tns:AppViewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetViewLoanUrl">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/GetViewLoanUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewDesktopUrl">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/GetViewDesktopUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmlPipelineUrl">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/GetPmlPipelineUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmlLoanUrl">
      <soap:operation soapAction="http://www.lendersoffice.com/los/webservices/GetPmlLoanUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AppViewSoap12" type="tns:AppViewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetViewLoanUrl">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/GetViewLoanUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetViewDesktopUrl">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/GetViewDesktopUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmlPipelineUrl">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/GetPmlPipelineUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPmlLoanUrl">
      <soap12:operation soapAction="http://www.lendersoffice.com/los/webservices/GetPmlLoanUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppView">
    <wsdl:port name="AppViewSoap" binding="tns:AppViewSoap">
      <soap:address location="https://secure.lendingqb.com/los/webservice/AppView.asmx" />
    </wsdl:port>
    <wsdl:port name="AppViewSoap12" binding="tns:AppViewSoap12">
      <soap12:address location="https://secure.lendingqb.com/los/webservice/AppView.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>