LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CISRelationshipDemographicInquiry/CIRltDemogInqWSV2SvcResData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCIRltDemogInqResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCIRltDemogInqResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CIRltDemogInqResData">
    <xs:annotation>
      <xs:documentation>CIS Relationship Demographic Inquiry (CI077) -  This function will retrieve a customer-to-account relationship's demographic value data.  </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E10032" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Application Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10760" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Sub Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10018" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Related Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10216" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Related Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10761" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Related Sub Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10178" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Entity 1 to Entity 2 Relationship Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10179" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Entity 2 to Entity 1 Relationship Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10180" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10184" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10766" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 ECOA Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10767" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Sub Account 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10768" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Indicator 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10769" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Sub Account 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10770" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Indicator 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10771" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Sub Account 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10772" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Indicator 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10773" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Sub Account 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10774" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Indicator 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10775" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Sub Account 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10776" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Consumer Infomation Indicator 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10777" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Dispute Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10778" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Dispute Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E11025" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Metro2 Address Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="CIRltDemogInqTypeDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CIRltDemogInqTypeData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E10765" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Relationship Demographic Data Element</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10779" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Last Maint Timestamp</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10780" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Last Maint Source</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E10781" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CIS Last Maint Userid</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>