LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.MarineService/UsedMarineService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMakeCategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MakeCategoryReturnTO" nillable="true" type="tns:MakeCategoryReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMakeCategoryReturnTO" nillable="true" type="tns:ArrayOfMakeCategoryReturnTO" />
  <xs:complexType name="MakeCategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      <xs:element minOccurs="0" name="VersionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="makeReturnTO" nillable="true" type="tns:MakeReturnTO" />
      <xs:element minOccurs="0" name="categoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
      <xs:element minOccurs="0" name="ErrorReturnTO" nillable="true" type="tns:ErrorReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MakeCategoryReturnTO" nillable="true" type="tns:MakeCategoryReturnTO" />
  <xs:complexType name="MakeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MakeID" type="xs:int" />
      <xs:element minOccurs="0" name="MakeDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MakeReturnTO" nillable="true" type="tns:MakeReturnTO" />
  <xs:complexType name="CategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
  <xs:complexType name="ErrorReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReturnTO" nillable="true" type="tns:ErrorReturnTO" />
  <xs:complexType name="VersionTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      <xs:element minOccurs="0" name="VersionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionTO" nillable="true" type="tns:VersionTO" />
  <xs:complexType name="ArrayOfYearReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YearReturnTO" nillable="true" type="tns:YearReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYearReturnTO" nillable="true" type="tns:ArrayOfYearReturnTO" />
  <xs:complexType name="YearReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="YearType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YearReturnTO" nillable="true" type="tns:YearReturnTO" />
  <xs:complexType name="ArrayOfCategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryReturnTO" nillable="true" type="tns:ArrayOfCategoryReturnTO" />
  <xs:complexType name="ArrayOfOptionReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionReturnTO" nillable="true" type="tns:OptionReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionReturnTO" nillable="true" type="tns:ArrayOfOptionReturnTO" />
  <xs:complexType name="OptionReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OptionGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="OptionDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionReturnTO" nillable="true" type="tns:OptionReturnTO" />
  <xs:complexType name="ArrayOfOptionAddReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionAddReturnTO" nillable="true" type="tns:OptionAddReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionAddReturnTO" nillable="true" type="tns:ArrayOfOptionAddReturnTO" />
  <xs:complexType name="OptionAddReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OptionGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="OptionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="OptionDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionAddReturnTO" nillable="true" type="tns:OptionAddReturnTO" />
  <xs:complexType name="ArrayOfPriceTypeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceTypeReturnTO" nillable="true" type="tns:PriceTypeReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceTypeReturnTO" nillable="true" type="tns:ArrayOfPriceTypeReturnTO" />
  <xs:complexType name="PriceTypeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceTypeDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceTypeExplanation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceTypeReturnTO" nillable="true" type="tns:PriceTypeReturnTO" />
</xs:schema>