LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.MarineService/UsedMarineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UsedMarineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="soap_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfService" />
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Marine" />
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" />
      <xsd:import schemaLocation="https://www.jdpowerwebservices.com/UsedMarineService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsedMarineService_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetMakes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q1:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYears" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetYears_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q2:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetCategories_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q3:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTypes" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTypes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q4:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTrims_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrims" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTrims_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTrims_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q5:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTrimsByModelTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsByModelTypes" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTrimsByModelTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelTrimsByModelTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetModelTrimsByModelTypes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q6:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptions" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetOptions_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q7:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetOptionsWithType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsWithType" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetOptionsWithType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOptionsWithTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetOptionsWithType_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q8:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetConsumerPrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPrices" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetConsumerPrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPricesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetConsumerPrices_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q9:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetConsumerPricesPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPricesPost" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetConsumerPricesPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsumerPricesPostResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetConsumerPricesPost_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q10:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetTradePrices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePrices" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetTradePrices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePricesResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetTradePrices_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q11:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetTradePricesPost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePricesPost" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetTradePricesPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradePricesPostResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetTradePricesPost_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q12:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetMICCodeMakeIDMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMICCodeMakeIDMapping" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetMICCodeMakeIDMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMICCodeMakeIDMappingResponse" />
  </wsdl:message>
  <wsdl:message name="IUsedMarineService_GetMICCodeMakeIDMapping_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q13:WcfFault" />
  </wsdl:message>
  <wsdl:portType name="IUsedMarineService">
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetMakes" message="tns:IUsedMarineService_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetMakesResponse" message="tns:IUsedMarineService_GetMakes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetMakesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetMakes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetYears" message="tns:IUsedMarineService_GetYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetYearsResponse" message="tns:IUsedMarineService_GetYears_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetYearsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetYears_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetCategories" message="tns:IUsedMarineService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetCategoriesResponse" message="tns:IUsedMarineService_GetCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetCategoriesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetCategories_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTypes" message="tns:IUsedMarineService_GetModelTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTypesResponse" message="tns:IUsedMarineService_GetModelTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTypesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetModelTypes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrims">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTrims" message="tns:IUsedMarineService_GetModelTrims_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTrimsResponse" message="tns:IUsedMarineService_GetModelTrims_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTrimsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetModelTrims_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimsByModelTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTrimsByModelTypes" message="tns:IUsedMarineService_GetModelTrimsByModelTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTrimsByModelTypesResponse" message="tns:IUsedMarineService_GetModelTrimsByModelTypes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetModelTrimsByModelTypesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetModelTrimsByModelTypes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetOptions" message="tns:IUsedMarineService_GetOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetOptionsResponse" message="tns:IUsedMarineService_GetOptions_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetOptionsWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetOptions_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOptionsWithType">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetOptionsWithType" message="tns:IUsedMarineService_GetOptionsWithType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetOptionsWithTypeResponse" message="tns:IUsedMarineService_GetOptionsWithType_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetOptionsWithTypeWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetOptionsWithType_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetConsumerPrices" message="tns:IUsedMarineService_GetConsumerPrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetConsumerPricesResponse" message="tns:IUsedMarineService_GetConsumerPrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetConsumerPricesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetConsumerPrices_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPricesPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetConsumerPricesPost" message="tns:IUsedMarineService_GetConsumerPricesPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetConsumerPricesPostResponse" message="tns:IUsedMarineService_GetConsumerPricesPost_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetConsumerPricesPostWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetConsumerPricesPost_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradePrices">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetTradePrices" message="tns:IUsedMarineService_GetTradePrices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetTradePricesResponse" message="tns:IUsedMarineService_GetTradePrices_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetTradePricesWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetTradePrices_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradePricesPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetTradePricesPost" message="tns:IUsedMarineService_GetTradePricesPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetTradePricesPostResponse" message="tns:IUsedMarineService_GetTradePricesPost_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetTradePricesPostWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetTradePricesPost_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMICCodeMakeIDMapping">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsedMarineService/GetMICCodeMakeIDMapping" message="tns:IUsedMarineService_GetMICCodeMakeIDMapping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsedMarineService/GetMICCodeMakeIDMappingResponse" message="tns:IUsedMarineService_GetMICCodeMakeIDMapping_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUsedMarineService/GetMICCodeMakeIDMappingWcfFaultFault" name="WcfFaultFault" message="tns:IUsedMarineService_GetMICCodeMakeIDMapping_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soap" type="tns:IUsedMarineService">
    <wsp:PolicyReference URI="#soap_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMakes">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTypes">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetModelTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrims">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetModelTrims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelTrimsByModelTypes">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetModelTrimsByModelTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOptions">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOptionsWithType">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetOptionsWithType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPrices">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetConsumerPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetConsumerPricesPost">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetConsumerPricesPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTradePrices">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetTradePrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTradePricesPost">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetTradePricesPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMICCodeMakeIDMapping">
      <soap:operation soapAction="http://tempuri.org/IUsedMarineService/GetMICCodeMakeIDMapping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsedMarineService">
    <wsdl:port name="soap" binding="tns:soap">
      <soap:address location="https://www.jdpowerwebservices.com/UsedMarineService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>