LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNotePayment/LNNotePmtReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNotePmtReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNotePmtReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNotePmtReqData">
    <xs:annotation>
      <xs:documentation>Loan Note Payment (LNPAY) -  This function is used to post a regular payment (including post-maturity payments), special payment, or adjustment to an individual loan.  All payments for Bill Type A, B, and C loans can be posted with this transaction.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33400" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Batch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33401" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33402" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Accrual Adjustment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33454" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33455" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Date Interest Paid To</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33456" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33457" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve or Escrow Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33458" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Overpayment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33459" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Method Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33460" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Participant Interest Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33461" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Participation Spread Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33462" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Removal Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33463" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Delinquency Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33464" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Post No Transaction/Paid Indicator Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33465" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Posting Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33466" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Capitalize Input Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33467" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Maintenance Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33468" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Principal Due Portion of Bill</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33469" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Due Portion of Bill</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33470" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Check Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33471" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Check Payee</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33472" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Lending Limit Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33473" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33474" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Charge-off/Nonaccrual Adjustment</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>