LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNoteInquiry/LNNoteInqWSV8SvcResData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteInqResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteInqResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteInqResData">
    <xs:annotation>
      <xs:documentation>Loan Note Inquiry (LNRFD) -  This function is used to inquire on a specific loan.  It returns basic information about the note such as current balance, last payment information, next payment information, interest information, etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300344" type="xs:string">
          <xs:annotation>
            <xs:documentation>External System Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E310122" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Log Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33365" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Error Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37666" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Processing Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32006" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Loan Category</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36619" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Credit Bureau Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36633" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Foreclosure Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37726" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Remaining Payments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36408" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Paid Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36409" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Post No Transactions Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36400" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37727" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Category 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37728" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Category 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37729" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Category 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35080" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Number of Inquiries</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37698" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37577" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Payment Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37699" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37700" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Payment Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37730" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 1 Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37731" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 1 Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37732" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 2 Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37733" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 2 Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37734" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 3 Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37735" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 3 Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37736" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Credit Available Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37737" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 1 Serial Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37738" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 2 Serial Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37739" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Advance 3 Serial Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36402" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32174" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32175" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Escrow Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37558" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payoff Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37701" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payoff Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36426" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Paid Year to Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36482" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Paid Prior Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37559" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Daily Accrual</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36490" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32171" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37740" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Payment P and I Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37741" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Payment Escrow Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37742" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Payment Voluntary Insurance Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32011" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32003" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Issue Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32004" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37089" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36469" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Late Charges Due</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37743" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Tax Escrow Disbursement Amt</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37744" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Tax Escrow Disbursement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37745" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Tax Escrow Disbursement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37746" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Hazard Insurance Escrow Disbursement Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37747" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Hazard Insurance Escrow Disbursement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37748" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Hazard Insurance Escrow Disbursement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37749" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Hazard Insurance Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31318" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Draw Ind</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31108" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax ID Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31109" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30199" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TLC Note Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30201" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TLC Commitment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31104" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37182" type="xs:string">
          <xs:annotation>
            <xs:documentation>Collateral-Based Credit Line Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32898" type="xs:string">
          <xs:annotation>
            <xs:documentation>PMI 1098 Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32900" type="xs:string">
          <xs:annotation>
            <xs:documentation>Revolving Credit Interest Only Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36537" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreclosure Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36634" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bankruptcy Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36635" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bankruptcy Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31107" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN NAICS Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32017" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Charge Account</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32119" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Risk Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32184" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Floor 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32185" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Ceiling 1 (Over)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32200" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Margin Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32202" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill All Interest Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32203" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32210" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Rate Change Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32844" type="xs:string">
          <xs:annotation>
            <xs:documentation>CRA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32122" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Track Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37571" type="xs:string">
          <xs:annotation>
            <xs:documentation>Interest Paid To Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36432" type="xs:string">
          <xs:annotation>
            <xs:documentation>Times Late 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36433" type="xs:string">
          <xs:annotation>
            <xs:documentation>Times Late 30</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36434" type="xs:string">
          <xs:annotation>
            <xs:documentation>Times Late 60</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36436" type="xs:string">
          <xs:annotation>
            <xs:documentation>Times Late 90</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36437" type="xs:string">
          <xs:annotation>
            <xs:documentation>Times Late 120</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32846" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Close Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36738" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Grading Date </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37171" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Bill Date Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36510" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Payment Change Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32093" type="xs:string">
          <xs:annotation>
            <xs:documentation>Payment Term Change Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32148" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Application Score</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32149" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Final Score</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32086" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Expected Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32071" type="xs:string">
          <xs:annotation>
            <xs:documentation>Billing Lead Days Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32072" type="xs:string">
          <xs:annotation>
            <xs:documentation>Billing Lead Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32137" type="xs:string">
          <xs:annotation>
            <xs:documentation>HMDA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="LNNteInqNoteDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNNteInqNoteData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E30054" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Additional Note Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>