LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNoteInquiry/LNNoteInqWSV8SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteInqReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteInqReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteInqReqData">
    <xs:annotation>
      <xs:documentation>Loan Note Inquiry (LNRFD) -  This function is used to inquire on a specific loan.  It returns basic information about the note such as current balance, last payment information, next payment information, interest information, etc.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300344" type="xs:string">
          <xs:annotation>
            <xs:documentation>External System Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E310122" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Log Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>