LoansPQWSWrappers.IWCDocumentService/IWCDocumentService/Service References/IWCDocumentService/DocumentService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CUNAMutual.Loanliner.Services" elementFormDefault="qualified" targetNamespace="CUNAMutual.Loanliner.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" />
  <xs:element name="RetrieveDocumentsByTrackingID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="uploadLoanCallRq" nillable="true" type="q1:UploadLoanCallRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveDocumentsByTrackingIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="RetrieveDocumentsByTrackingIDResult" nillable="true" type="q2:UploadLoanCallResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGAPDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="uploadLoanCallRq" nillable="true" type="q3:UploadLoanCallRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGAPDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="GetGAPDocumentsResult" nillable="true" type="q4:UploadLoanCallResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMRCDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="uploadLoanCallRq" nillable="true" type="q5:UploadLoanCallRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMRCDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="GetMRCDocumentsResult" nillable="true" type="q6:UploadLoanCallResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLoanToGenerateDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="uploadLoanCallRq" nillable="true" type="q7:UploadLoanCallRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLoanToGenerateDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="UploadLoanToGenerateDocumentsResult" nillable="true" type="q8:UploadLoanCallResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLoanAndGetGeneratedDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="uploadLoanCallRq" nillable="true" type="q9:UploadLoanCallRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadLoanAndGetGeneratedDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" minOccurs="0" name="UploadLoanAndGetGeneratedDocumentsResult" nillable="true" type="q10:UploadLoanCallResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>