LoansPQWSWrappers.IWCDocumentService/IWCDocumentService/Service References/IWCDocumentService/DocumentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Documents.DocumentGenerator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Documents.DocumentGenerator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="g_PdfBinary" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="g_PdfFormNr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="g_PdfIndexFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="g_blnReturnBinary" type="xs:boolean" />
      <xs:element minOccurs="0" name="g_blnReturnSignedDocument" type="xs:boolean" />
      <xs:element minOccurs="0" name="g_strPDFFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="g_strPdfLocationUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="g_strPdfTypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
</xs:schema>