LoansPQWSWrappers.IWCDocumentService/IWCDocumentService/Service References/IWCDocumentService/DocumentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Documents.DocumentGenerator" />
  <xs:complexType name="UploadLoanCallRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Sender" nillable="true" type="tns:GENERALPARTY_Type" />
      <xs:element minOccurs="0" name="TransactionHeader" nillable="true" type="tns:TransactionHeader" />
      <xs:element minOccurs="0" name="UploadLoanMsgRq" nillable="true" type="tns:UploadLoanMsgRequestType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadLoanCallRequestType" nillable="true" type="tns:UploadLoanCallRequestType" />
  <xs:complexType name="GENERALPARTY_Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartyRole" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GENERALPARTY_Type" nillable="true" type="tns:GENERALPARTY_Type" />
  <xs:complexType name="TransactionHeader">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditUnionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExternalTransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestInitiatedDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionHeader" nillable="true" type="tns:TransactionHeader" />
  <xs:complexType name="UploadLoanMsgRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentMsgRqType" nillable="true" type="tns:DocumentMsgRequestType" />
      <xs:element minOccurs="0" name="FormID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UploadXML" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadLoanMsgRequestType" nillable="true" type="tns:UploadLoanMsgRequestType" />
  <xs:complexType name="DocumentMsgRequestType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentHeaderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentLanguageSetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentList" nillable="true" type="tns:ArrayOfDocumentList" />
      <xs:element minOccurs="0" name="DocumentLogoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentSetFields" nillable="true" type="tns:ArrayOfField" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DocumentSetTypeCode" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DocumentStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTemplateSetId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlattenGeneratedDocuments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeLogoInDocuments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MergeDocuments" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReturnGeneratedDocuments" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentMsgRequestType" nillable="true" type="tns:DocumentMsgRequestType" />
  <xs:complexType name="ArrayOfDocumentList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentList" nillable="true" type="tns:DocumentList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentList" nillable="true" type="tns:ArrayOfDocumentList" />
  <xs:complexType name="DocumentList">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocumentFields" nillable="true" type="tns:ArrayOfField" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentList" nillable="true" type="tns:DocumentList" />
  <xs:complexType name="ArrayOfField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Field" nillable="true" type="tns:Field" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfField" nillable="true" type="tns:ArrayOfField" />
  <xs:complexType name="Field">
    <xs:sequence>
      <xs:element minOccurs="0" name="Editable" type="xs:boolean" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Field" nillable="true" type="tns:Field" />
  <xs:complexType name="UploadLoanCallResponseType">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Documents.DocumentGenerator" minOccurs="0" name="Documents" nillable="true" type="q2:ArrayOfDocument" />
      <xs:element minOccurs="0" name="UploadLoanMsgRs" nillable="true" type="tns:UploadLoanMsgResponseType" />
      <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="responseStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadLoanCallResponseType" nillable="true" type="tns:UploadLoanCallResponseType" />
  <xs:complexType name="UploadLoanMsgResponseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanInfo" nillable="true" type="tns:LoanInfoType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UploadLoanMsgResponseType" nillable="true" type="tns:UploadLoanMsgResponseType" />
  <xs:complexType name="LoanInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoanRequestID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PresenterURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanInfoType" nillable="true" type="tns:LoanInfoType" />
</xs:schema>