LoansPQWSWrappers.IWCDocumentService/IWCDocumentService/Service References/IWCDocumentService/DocumentService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="CUNAMutual.Loanliner.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentService" targetNamespace="CUNAMutual.Loanliner.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="CUNAMutual.Loanliner.Services/Imports">
      <xsd:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd0" namespace="CUNAMutual.Loanliner.Services" />
      <xsd:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.UploadLoan" />
      <xsd:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Documents.DocumentGenerator" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDocumentService_RetrieveDocumentsByTrackingID_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentsByTrackingID" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_RetrieveDocumentsByTrackingID_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveDocumentsByTrackingIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetGAPDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGAPDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetGAPDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGAPDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetMRCDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMRCDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_GetMRCDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMRCDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_UploadLoanToGenerateDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadLoanToGenerateDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_UploadLoanToGenerateDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadLoanToGenerateDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_UploadLoanAndGetGeneratedDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadLoanAndGetGeneratedDocuments" />
  </wsdl:message>
  <wsdl:message name="IDocumentService_UploadLoanAndGetGeneratedDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadLoanAndGetGeneratedDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IDocumentService">
    <wsdl:operation name="RetrieveDocumentsByTrackingID">
      <wsdl:input wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/RetrieveDocumentsByTrackingID" message="tns:IDocumentService_RetrieveDocumentsByTrackingID_InputMessage" />
      <wsdl:output wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/RetrieveDocumentsByTrackingIDResponse" message="tns:IDocumentService_RetrieveDocumentsByTrackingID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGAPDocuments">
      <wsdl:input wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/GetGAPDocuments" message="tns:IDocumentService_GetGAPDocuments_InputMessage" />
      <wsdl:output wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/GetGAPDocumentsResponse" message="tns:IDocumentService_GetGAPDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMRCDocuments">
      <wsdl:input wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/GetMRCDocuments" message="tns:IDocumentService_GetMRCDocuments_InputMessage" />
      <wsdl:output wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/GetMRCDocumentsResponse" message="tns:IDocumentService_GetMRCDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadLoanToGenerateDocuments">
      <wsdl:input wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/UploadLoanToGenerateDocuments" message="tns:IDocumentService_UploadLoanToGenerateDocuments_InputMessage" />
      <wsdl:output wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/UploadLoanToGenerateDocumentsResponse" message="tns:IDocumentService_UploadLoanToGenerateDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadLoanAndGetGeneratedDocuments">
      <wsdl:input wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/UploadLoanAndGetGeneratedDocuments" message="tns:IDocumentService_UploadLoanAndGetGeneratedDocuments_InputMessage" />
      <wsdl:output wsaw:Action="CUNAMutual.Loanliner.Services/IDocumentService/UploadLoanAndGetGeneratedDocumentsResponse" message="tns:IDocumentService_UploadLoanAndGetGeneratedDocuments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="DocumentService">
    <wsdl:port name="WSHttpBinding_IDocumentService" binding="i0:WSHttpBinding_IDocumentService">
      <soap12:address location="https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://beta.loanliner.com/Gateway/GatewaySecured/UploadDownload/DocumentService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>