LoansPQWSWrappers.IWCEncryptPassword/IWCEncryptPassword/Service References/IWCEncryptPassword/Utility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CUNAMutual.Loanliner.Services" elementFormDefault="qualified" targetNamespace="CUNAMutual.Loanliner.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://beta.loanliner.com/Gateway/GatewaySecured/EncryptPassword/Utility.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.Utility" />
  <xs:element name="EncryptPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.Utility" minOccurs="0" name="encryptPasswordRequest" nillable="true" type="q1:EncryptPasswordRequestType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CUNAMutual.Loanliner.Services.Utility" minOccurs="0" name="EncryptPasswordResult" nillable="true" type="q2:EncryptPasswordResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>