LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.LoanAccount/LoanAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:connections.ispectrum.summitsite.com" targetNamespace="urn:connections.ispectrum.summitsite.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SOAPException" type="tns:SOAPException" />
  <xs:element name="calcEscrowAdvanceAmount" type="tns:calcEscrowAdvanceAmount" />
  <xs:element name="calcEscrowAdvanceAmountResponse" type="tns:calcEscrowAdvanceAmountResponse" />
  <xs:element name="calcInterest" type="tns:calcInterest" />
  <xs:element name="calcInterestByRateType" type="tns:calcInterestByRateType" />
  <xs:element name="calcInterestByRateTypeResponse" type="tns:calcInterestByRateTypeResponse" />
  <xs:element name="calcInterestResponse" type="tns:calcInterestResponse" />
  <xs:element name="calcProjectedIntForEscalatorTermAtMaturity" type="tns:calcProjectedIntForEscalatorTermAtMaturity" />
  <xs:element name="calcProjectedIntForEscalatorTermAtMaturityResponse" type="tns:calcProjectedIntForEscalatorTermAtMaturityResponse" />
  <xs:element name="calcProjectedInterestForTermAtMaturity" type="tns:calcProjectedInterestForTermAtMaturity" />
  <xs:element name="calcProjectedInterestForTermAtMaturityResponse" type="tns:calcProjectedInterestForTermAtMaturityResponse" />
  <xs:element name="calcProjectedTermBalanceAtMaturity" type="tns:calcProjectedTermBalanceAtMaturity" />
  <xs:element name="calcProjectedTermBalanceAtMaturityById" type="tns:calcProjectedTermBalanceAtMaturityById" />
  <xs:element name="calcProjectedTermBalanceAtMaturityByIdResponse" type="tns:calcProjectedTermBalanceAtMaturityByIdResponse" />
  <xs:element name="calcProjectedTermBalanceAtMaturityByOriginalBalance" type="tns:calcProjectedTermBalanceAtMaturityByOriginalBalance" />
  <xs:element name="calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse" type="tns:calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse" />
  <xs:element name="calcProjectedTermBalanceAtMaturityResponse" type="tns:calcProjectedTermBalanceAtMaturityResponse" />
  <xs:element name="calcSemiAnnualInterestRate" type="tns:calcSemiAnnualInterestRate" />
  <xs:element name="calcSemiAnnualInterestRateResponse" type="tns:calcSemiAnnualInterestRateResponse" />
  <xs:element name="calcSemiAnnualLoanAmount" type="tns:calcSemiAnnualLoanAmount" />
  <xs:element name="calcSemiAnnualLoanAmountResponse" type="tns:calcSemiAnnualLoanAmountResponse" />
  <xs:element name="calcSemiAnnualPaymentAmt" type="tns:calcSemiAnnualPaymentAmt" />
  <xs:element name="calcSemiAnnualPaymentAmtResponse" type="tns:calcSemiAnnualPaymentAmtResponse" />
  <xs:element name="calcSimpleLoanAmount" type="tns:calcSimpleLoanAmount" />
  <xs:element name="calcSimpleLoanAmountResponse" type="tns:calcSimpleLoanAmountResponse" />
  <xs:element name="calcSimplePaymentAmt" type="tns:calcSimplePaymentAmt" />
  <xs:element name="calcSimplePaymentAmtByPaymentFrq" type="tns:calcSimplePaymentAmtByPaymentFrq" />
  <xs:element name="calcSimplePaymentAmtByPaymentFrqResponse" type="tns:calcSimplePaymentAmtByPaymentFrqResponse" />
  <xs:element name="calcSimplePaymentAmtResponse" type="tns:calcSimplePaymentAmtResponse" />
  <xs:element name="calculateCOBDetails" type="tns:calculateCOBDetails" />
  <xs:element name="calculateCOBDetailsResponse" type="tns:calculateCOBDetailsResponse" />
  <xs:element name="calculateCushionPercentage" type="tns:calculateCushionPercentage" />
  <xs:element name="calculateCushionPercentageResponse" type="tns:calculateCushionPercentageResponse" />
  <xs:element name="calculateLoanInsurancePremiums" type="tns:calculateLoanInsurancePremiums" />
  <xs:element name="calculateLoanInsurancePremiumsResponse" type="tns:calculateLoanInsurancePremiumsResponse" />
  <xs:element name="doLoanCalculations" type="tns:doLoanCalculations" />
  <xs:element name="doLoanCalculationsResponse" type="tns:doLoanCalculationsResponse" />
  <xs:element name="getKeyLoanValues" type="tns:getKeyLoanValues" />
  <xs:element name="getKeyLoanValuesResponse" type="tns:getKeyLoanValuesResponse" />
  <xs:element name="getKeyLoanValuesWithIsAnticipated" type="tns:getKeyLoanValuesWithIsAnticipated" />
  <xs:element name="getKeyLoanValuesWithIsAnticipatedResponse" type="tns:getKeyLoanValuesWithIsAnticipatedResponse" />
  <xs:complexType name="calcProjectedTermBalanceAtMaturityById">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="accountId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="iSpectrumWebServiceContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wsoverrideInfos" nillable="true" type="tns:wsOverrideInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsOverrideInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="credInfo" type="tns:wsCredentialInfo" />
          <xs:element minOccurs="0" name="deniedReason" type="xs:string" />
          <xs:element name="descriptionId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monetaryAccounts" nillable="true" type="tns:wsMonetaryOverrideDescInfo" />
          <xs:element name="overRideId" type="xs:int" />
          <xs:element name="overridden" type="xs:boolean" />
          <xs:element name="overriddenByTransaction" type="xs:boolean" />
          <xs:element minOccurs="0" name="overrideComment" type="xs:string" />
          <xs:element name="priority" type="xs:int" />
          <xs:element minOccurs="0" name="prodCode" type="xs:string" />
          <xs:element minOccurs="0" name="remoteOverride" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:wsRoleInfo" />
          <xs:element name="useDefault" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsBaseInfo">
    <xs:sequence>
      <xs:element name="actionCode" type="xs:int" />
      <xs:element minOccurs="0" name="input" type="tns:wsThirdPartyInfo" />
      <xs:element minOccurs="0" name="output" type="tns:wsThirdPartyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsCredentialInfo">
    <xs:sequence>
      <xs:element name="deleted" type="xs:int" />
      <xs:element name="locked" type="xs:boolean" />
      <xs:element name="logonAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="logonName" type="xs:string" />
      <xs:element name="logonStatus" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="passwordEncrypted" type="xs:boolean" />
      <xs:element minOccurs="0" name="passwordExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="summitGUID" type="xs:string" />
      <xs:element name="userAuthId" type="xs:int" />
      <xs:element name="virtualUser" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsMonetaryOverrideDescInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element name="monAccPortfolio" type="xs:long" />
          <xs:element name="monAccSuffix" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsThirdPartyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="header" nillable="true" type="tns:wsThirdPartyHeaderInfo" />
      <xs:element minOccurs="0" name="vendorCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsThirdPartyHeaderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="details" nillable="true" type="tns:wsThirdPartyDetailInfo" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsThirdPartyDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataType" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsRoleInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accessLevel" type="xs:int" />
          <xs:element name="allLoansLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="assignments" nillable="true" type="tns:wsAssignmentInfo" />
          <xs:element name="depositLimit" type="xs:long" />
          <xs:element name="drawerCashLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="financialControls" nillable="true" type="tns:wsFinancialControlInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="indLoanAmts" nillable="true" type="tns:wsIndLoanAmtInfo" />
          <xs:element name="institutionDefinedLoanLimit" type="xs:long" />
          <xs:element name="journalEntryLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="menuInfos" nillable="true" type="tns:wsMenuInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monTranInfos" nillable="true" type="tns:wsMonTranInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monTrans" nillable="true" type="tns:wsMonTranInfo" />
          <xs:element name="mortgageLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="overRides" nillable="true" type="tns:wsOverrideInfo" />
          <xs:element minOccurs="0" name="roleCode" type="xs:string" />
          <xs:element minOccurs="0" name="roleCreateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="roleDescription" type="xs:string" />
          <xs:element name="roleId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roleLimitsInfos" nillable="true" type="tns:wsRoleLimitsInfo" />
          <xs:element name="roleMenuId" type="xs:int" />
          <xs:element minOccurs="0" name="roleName" type="xs:string" />
          <xs:element name="roleUpdateCounter" type="xs:int" />
          <xs:element name="securedLimit" type="xs:long" />
          <xs:element name="unsecuredLimit" type="xs:long" />
          <xs:element name="withdrawalLimit" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsAssignmentInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="enca_fieldDescription" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCodeAssign" type="xs:string" />
          <xs:element name="fieldId" type="xs:int" />
          <xs:element minOccurs="0" name="fieldtype" type="xs:string" />
          <xs:element minOccurs="0" name="frca_fieldDescription" type="xs:string" />
          <xs:element name="roleAssignId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:wsRoleInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsFinancialControlInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element name="displayGL" type="xs:int" />
          <xs:element minOccurs="0" name="financialControl3PtyGL" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlAction" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlCode" type="xs:string" />
          <xs:element name="financialControlCredit" type="xs:long" />
          <xs:element minOccurs="0" name="financialControlCurrencyCode" type="xs:string" />
          <xs:element name="financialControlDebit" type="xs:long" />
          <xs:element minOccurs="0" name="financialControlDescription" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlDescriptionFr" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlDescription_En" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlGLExtract" type="xs:string" />
          <xs:element name="financialControlId" type="xs:int" />
          <xs:element minOccurs="0" name="financialControlMICRNumber" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlTimestamp" type="xs:dateTime" />
          <xs:element name="financialControlTypeId" type="xs:int" />
          <xs:element name="financialControlUpdateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="monHistPurgeDescription" type="xs:string" />
          <xs:element name="monHistPurgeRetentionPeriod" type="xs:long" />
          <xs:element name="monHistToBePurged" type="xs:boolean" />
          <xs:element name="monetaryInstrument" type="xs:boolean" />
          <xs:element minOccurs="0" name="regulatoryReportType" type="xs:string" />
          <xs:element minOccurs="0" name="summitType" type="xs:string" />
          <xs:element minOccurs="0" name="typeCode" type="xs:string" />
          <xs:element minOccurs="0" name="typeGroup" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsIndLoanAmtInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element minOccurs="0" name="categoryDescription" type="xs:string" />
          <xs:element minOccurs="0" name="categoryDescription_Fr" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element name="financialControlTypeId" type="xs:int" />
          <xs:element name="indLoanAmtId" type="xs:int" />
          <xs:element name="loanAmountLimit" type="xs:long" />
          <xs:element name="roleId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:wsRoleInfo" />
          <xs:element minOccurs="0" name="typeCode" type="xs:string" />
          <xs:element minOccurs="0" name="typeDescription" type="xs:string" />
          <xs:element minOccurs="0" name="typeDescription_Fr" type="xs:string" />
          <xs:element minOccurs="0" name="typeGroup" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMenuInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="depth" type="xs:int" />
          <xs:element minOccurs="0" name="descriptionEn" type="xs:string" />
          <xs:element minOccurs="0" name="descriptionFr" type="xs:string" />
          <xs:element name="descriptionId" type="xs:int" />
          <xs:element minOccurs="0" name="menuCode" type="xs:string" />
          <xs:element minOccurs="0" name="menuCreateTimestamp" type="xs:dateTime" />
          <xs:element name="menuId" type="xs:int" />
          <xs:element minOccurs="0" name="menuLoadFrameLocation" type="xs:string" />
          <xs:element minOccurs="0" name="menuLocation" type="xs:string" />
          <xs:element name="menuParentId" type="xs:int" />
          <xs:element name="menuSequence" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="menuSubTabInfos" nillable="true" type="tns:wsMenuSubTabInfo" />
          <xs:element minOccurs="0" name="menuURL" type="xs:string" />
          <xs:element name="menuUpdateCounter" type="xs:int" />
          <xs:element name="openInNewWin" type="xs:boolean" />
          <xs:element name="readOnly" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roleInfos" nillable="true" type="tns:wsRoleInfo" />
          <xs:element minOccurs="0" name="uiCustomization" type="tns:wsuiCustomizationInfo" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="userDefined" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMenuSubTabInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="menuId" type="xs:long" />
          <xs:element name="menuSubTabId" type="xs:long" />
          <xs:element name="menuUrlSubTabId" type="xs:long" />
          <xs:element minOccurs="0" name="menuUrlSubTabInfo" type="tns:wsMenuUrlSubTabInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roleMenuSubTabInfos" nillable="true" type="tns:wsRoleMenuSubTabInfo" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMenuUrlSubTabInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="menuUrlId" type="xs:long" />
          <xs:element name="menuUrlSubTabId" type="xs:long" />
          <xs:element name="parentMenuUrlSubTabId" type="xs:long" />
          <xs:element minOccurs="0" name="subTabDivIdAttribute" type="xs:string" />
          <xs:element minOccurs="0" name="tabName" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsRoleMenuSubTabInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="menuSubTabId" type="xs:long" />
          <xs:element name="roleId" type="xs:long" />
          <xs:element name="roleMenuSubTabId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiCustomizationInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element name="appendToPage" type="xs:boolean" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customTokens" nillable="true" type="tns:wsuiExtCustLinkTokenInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customXHTML" nillable="true" type="tns:wsuiCustomScriptInfo" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="displayInPopup" type="xs:boolean" />
          <xs:element name="displayInSlider" type="xs:boolean" />
          <xs:element name="draggableFrame" type="xs:boolean" />
          <xs:element name="frameHeight" type="xs:int" />
          <xs:element name="frameWidth" type="xs:int" />
          <xs:element minOccurs="0" name="menuURL" type="xs:string" />
          <xs:element name="resizableFrame" type="xs:boolean" />
          <xs:element name="scrollableFrame" type="xs:boolean" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="url" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="urlAttributes" nillable="true" type="tns:wsuiExtCustLinkAttribInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiExtCustLinkTokenInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="ruleScriptObjMapInfo" type="tns:wsRuleScriptObjMapInfo" />
          <xs:element minOccurs="0" name="sourceAttribute" type="xs:string" />
          <xs:element minOccurs="0" name="sourceClassName" type="xs:string" />
          <xs:element name="tokenMapId" type="xs:long" />
          <xs:element minOccurs="0" name="tokenName" type="xs:string" />
          <xs:element name="tokenType" type="xs:int" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="uiExtCustLinkTokenId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsRuleScriptObjMapInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimeStamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:int" />
          <xs:element minOccurs="0" name="objAttrib" type="xs:string" />
          <xs:element minOccurs="0" name="objAttribType" type="xs:string" />
          <xs:element minOccurs="0" name="objJSPath" type="xs:string" />
          <xs:element minOccurs="0" name="objType" type="xs:string" />
          <xs:element name="objTypeId" type="xs:long" />
          <xs:element name="ruleScriptObjMapId" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimeStamp" type="xs:dateTime" />
          <xs:element name="updatecounter" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiCustomScriptInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="scriptText" type="xs:string" />
          <xs:element minOccurs="0" name="scriptType" type="xs:string" />
          <xs:element name="uiCustomScriptId" type="xs:long" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiExtCustLinkAttribInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="attribType" type="xs:string" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="uiExtCustLinkAttribId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMonTranInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="enca_fieldDescription" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCode" type="xs:string" />
          <xs:element name="fieldId" type="xs:int" />
          <xs:element minOccurs="0" name="fieldtype" type="xs:string" />
          <xs:element minOccurs="0" name="frca_fieldDescription" type="xs:string" />
          <xs:element name="monTranId" type="xs:int" />
          <xs:element name="roleId" type="xs:int" />
          <xs:element name="roleMonTranId" type="xs:int" />
          <xs:element name="transactionAmountLimit" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsRoleLimitsInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="enca_fieldDescription" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCode" type="xs:string" />
          <xs:element minOccurs="0" name="frca_fieldDescription" type="xs:string" />
          <xs:element name="limit" type="xs:long" />
          <xs:element name="roleId" type="xs:long" />
          <xs:element name="roleLimitsId" type="xs:long" />
          <xs:element minOccurs="0" name="roleName" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="calcProjectedTermBalanceAtMaturityByIdResponse">
    <xs:sequence>
      <xs:element name="calcProjectedTermBalanceAtMaturityByIdResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SOAPException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateCushionPercentage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateCushionPercentageResponse">
    <xs:sequence>
      <xs:element name="calculateCushionPercentageResponse" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcInterest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dates" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amounts" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aprs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="rateType" type="xs:string" />
      <xs:element name="principle" type="xs:long" />
      <xs:element name="rateDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcInterestResponse">
    <xs:sequence>
      <xs:element name="calcInterestResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedInterestForTermAtMaturity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinterestCalcInfo" type="tns:wsInterestCalcParamInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsInterestCalcParamInfo">
    <xs:sequence>
      <xs:element name="accountId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="accountRates" nillable="true" type="tns:wsAccountRateInfo" />
      <xs:element name="firstPeriodIntCalcFromHist" type="xs:boolean" />
      <xs:element minOccurs="0" name="frequencyPaid" type="xs:string" />
      <xs:element name="interest" type="xs:long" />
      <xs:element name="interestRate" type="xs:double" />
      <xs:element name="interestTillMaturity" type="xs:long" />
      <xs:element minOccurs="0" name="maturityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nextInterestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="paymentInstruction" type="tns:wsPaymentInstructionInfo" />
      <xs:element name="principle" type="xs:long" />
      <xs:element name="productId" type="xs:int" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element name="termMaturityBalance" type="xs:long" />
      <xs:element name="variance" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsAccountRateInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accountId" type="xs:long" />
          <xs:element name="accountRateId" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
          <xs:element name="jobInstanceId" type="xs:long" />
          <xs:element name="rateValue" type="xs:double" />
          <xs:element name="rateVariance" type="xs:double" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsPaymentInstructionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accountId" type="xs:long" />
          <xs:element name="advancePay" type="xs:boolean" />
          <xs:element minOccurs="0" name="checkPaymentType" type="xs:string" />
          <xs:element name="checkPaymentValue" type="xs:long" />
          <xs:element minOccurs="0" name="compoundPaymentType" type="xs:string" />
          <xs:element name="compoundPaymentValue" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="mailAddressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="mailAddressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="mailAddressLine3" type="xs:string" />
          <xs:element minOccurs="0" name="mailAddressLine4" type="xs:string" />
          <xs:element minOccurs="0" name="mailAddressType" type="xs:string" />
          <xs:element name="paymentInstructionId" type="xs:long" />
          <xs:element minOccurs="0" name="pmtInstructionType" type="xs:string" />
          <xs:element name="trfrPayToAcctId" type="xs:long" />
          <xs:element minOccurs="0" name="trfrPaymentType" type="xs:string" />
          <xs:element name="trfrPaymentValue" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="calcProjectedInterestForTermAtMaturityResponse">
    <xs:sequence>
      <xs:element name="calcProjectedInterestForTermAtMaturityResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSemiAnnualPaymentAmt">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="rate" type="xs:double" />
      <xs:element name="numPayments" type="xs:int" />
      <xs:element name="loanAmt" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSemiAnnualPaymentAmtResponse">
    <xs:sequence>
      <xs:element name="calcSemiAnnualPaymentAmtResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcEscrowAdvanceAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinfo" type="tns:wsEscrowPaymentCalcInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsEscrowPaymentCalcInfo">
    <xs:sequence>
      <xs:element name="annualEscrowAmount" type="xs:long" />
      <xs:element name="calcAnnualEscrowAmountOnly" type="xs:boolean" />
      <xs:element name="deficeincyAmount" type="xs:double" />
      <xs:element name="dlqAdjustedAmount" type="xs:long" />
      <xs:element minOccurs="0" name="dlqAnalysis" type="xs:dateTime" />
      <xs:element name="escrowAdvanceAmount" type="xs:long" />
      <xs:element name="escrowCushion" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="escrowDetails" nillable="true" type="tns:wsEscrowDetailInfo" />
      <xs:element minOccurs="0" name="frequency" type="xs:string" />
      <xs:element name="loanAccountId" type="xs:long" />
      <xs:element name="loanApplicationId" type="xs:long" />
      <xs:element name="minPayment" type="xs:double" />
      <xs:element name="paymentAdjust" type="xs:long" />
      <xs:element name="portionPaid" type="xs:long" />
      <xs:element name="prepaidAccrualAmount" type="xs:long" />
      <xs:element name="prevMinPayment" type="xs:long" />
      <xs:element name="shortageAmount" type="xs:double" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element name="surplusAmount" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsEscrowDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="amount" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
          <xs:element name="escrowDetailId" type="xs:long" />
          <xs:element name="escrowSummaryId" type="xs:long" />
          <xs:element minOccurs="0" name="escrowType" type="xs:string" />
          <xs:element minOccurs="0" name="frequency" type="xs:string" />
          <xs:element name="payeeCustomerId" type="xs:long" />
          <xs:element minOccurs="0" name="paymentIdDetail" type="xs:string" />
          <xs:element name="realEstateId" type="xs:int" />
          <xs:element minOccurs="0" name="stopDate" type="xs:dateTime" />
          <xs:element name="taxAccountId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="calcEscrowAdvanceAmountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="calcEscrowAdvanceAmountResponse" type="tns:wsEscrowPaymentCalcInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSimplePaymentAmtByPaymentFrq">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="rate" type="xs:double" />
      <xs:element name="numPayments" type="xs:int" />
      <xs:element name="loanAmt" type="xs:long" />
      <xs:element minOccurs="0" name="paymentFreq" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSimplePaymentAmtByPaymentFrqResponse">
    <xs:sequence>
      <xs:element name="calcSimplePaymentAmtByPaymentFrqResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedTermBalanceAtMaturityByOriginalBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="maturityDate" type="xs:dateTime" />
      <xs:element name="annualRate" type="xs:double" />
      <xs:element name="originalBalance" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse">
    <xs:sequence>
      <xs:element name="calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSimplePaymentAmt">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="rate" type="xs:double" />
      <xs:element name="numPayments" type="xs:int" />
      <xs:element name="loanAmt" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSimplePaymentAmtResponse">
    <xs:sequence>
      <xs:element name="calcSimplePaymentAmtResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedIntForEscalatorTermAtMaturity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinterestCalcInfo" type="tns:wsInterestCalcParamInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedIntForEscalatorTermAtMaturityResponse">
    <xs:sequence>
      <xs:element name="calcProjectedIntForEscalatorTermAtMaturityResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSemiAnnualLoanAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="rate" type="xs:double" />
      <xs:element name="numPayments" type="xs:int" />
      <xs:element name="payAmt" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSemiAnnualLoanAmountResponse">
    <xs:sequence>
      <xs:element name="calcSemiAnnualLoanAmountResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKeyLoanValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="loanAccountId" type="xs:long" />
      <xs:element minOccurs="0" name="asOfDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="wsloanCalcInfo" type="tns:wsLoanCalcInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsLoanCalcInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="amortizationTerm" type="xs:int" />
          <xs:element name="amtFinanced" type="xs:long" />
          <xs:element minOccurs="0" name="balloonTerm" type="xs:string" />
          <xs:element name="calcAmortPmtAmount" type="xs:boolean" />
          <xs:element name="calcBalloonPayment" type="xs:boolean" />
          <xs:element minOccurs="0" name="calcCOBDetailType" type="xs:string" />
          <xs:element name="calcLoanAmount" type="xs:boolean" />
          <xs:element name="calcPmtInstPmtAmount" type="xs:boolean" />
          <xs:element name="calcTerm" type="xs:boolean" />
          <xs:element name="calculateCostOfBorrowing" type="xs:boolean" />
          <xs:element name="calculateInsuranceCost" type="xs:boolean" />
          <xs:element name="calculatePayment" type="xs:boolean" />
          <xs:element name="calculatePrepaidInterest" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cobDetailInfos" nillable="true" type="tns:wsCostOfBorrowingDetailInfo" />
          <xs:element name="costOfBorrowing" type="xs:long" />
          <xs:element name="costOfBorrowingRate" type="xs:double" />
          <xs:element name="createAmortTable" type="xs:boolean" />
          <xs:element name="customerId" type="xs:int" />
          <xs:element minOccurs="0" name="disbursalTargetDate" type="xs:dateTime" />
          <xs:element name="effectiveApr" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fees" nillable="true" type="tns:wsLoanFeeInfo" />
          <xs:element name="financedAmount" type="xs:long" />
          <xs:element minOccurs="0" name="firstPaymentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="insuranceCalcDetails" nillable="true" type="tns:wsInsuranceCalcInfo" />
          <xs:element name="insurancePremiumAmount" type="xs:long" />
          <xs:element name="loanAccountId" type="xs:int" />
          <xs:element name="loanAmount" type="xs:long" />
          <xs:element name="loanApplicationId" type="xs:int" />
          <xs:element minOccurs="0" name="loanApplicationUS" type="tns:wsLoanApplicationUSInfo" />
          <xs:element minOccurs="0" name="loanDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="loanInsurancePremium" type="tns:wsLoanInsurancePremiumInfo" />
          <xs:element name="loanModification" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="loanPaymentOptions" nillable="true" type="tns:wsLoanPaymentOptionsInfo" />
          <xs:element name="loanTerm" type="xs:int" />
          <xs:element minOccurs="0" name="maturityDate" type="xs:dateTime" />
          <xs:element name="modifiedCostOfBorrowing" type="xs:long" />
          <xs:element name="modifiedCostOfBorrowingRate" type="xs:double" />
          <xs:element minOccurs="0" name="originator" type="xs:string" />
          <xs:element name="paymentCalcPercent" type="xs:double" />
          <xs:element minOccurs="0" name="pmtCalcMethod" type="xs:string" />
          <xs:element name="pmtInstTerm" type="xs:int" />
          <xs:element name="points" type="xs:double" />
          <xs:element name="prepaidInterest" type="xs:long" />
          <xs:element name="productId" type="xs:int" />
          <xs:element name="propTaxAmortPmtAmt" type="xs:long" />
          <xs:element name="propTaxPmtInstAmt" type="xs:long" />
          <xs:element name="rate" type="xs:double" />
          <xs:element name="SANrate" type="xs:double" />
          <xs:element name="totalFinancialCharges" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="warningList" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsCostOfBorrowingDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accountId" type="xs:long" />
          <xs:element name="acctBalance" type="xs:long" />
          <xs:element name="costOfBorrowingDetailId" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="cumilativeInterest" type="xs:long" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element name="interest" type="xs:long" />
          <xs:element name="paymentAmount" type="xs:long" />
          <xs:element minOccurs="0" name="paymentDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="paymentType" type="xs:string" />
          <xs:element name="principle" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsLoanFeeInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="amortizationType" type="xs:string" />
          <xs:element name="applicationId" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="disclosure" type="xs:boolean" />
          <xs:element name="feeAmount" type="xs:long" />
          <xs:element name="feeProductId" type="xs:long" />
          <xs:element name="finance" type="xs:int" />
          <xs:element minOccurs="0" name="frequency" type="xs:string" />
          <xs:element name="loanAccountId" type="xs:long" />
          <xs:element name="loanFeeId" type="xs:long" />
          <xs:element name="refundable" type="xs:boolean" />
          <xs:element name="required" type="xs:boolean" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element name="unrealizedFeeAmount" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsInsuranceCalcInfo">
    <xs:sequence>
      <xs:element name="customerId" type="xs:long" />
      <xs:element name="financePremium" type="xs:boolean" />
      <xs:element minOccurs="0" name="insuranceType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="loanInsuranceDetails" nillable="true" type="tns:wsLoanInsuranceDetailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsLoanInsuranceDetailInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accountAssociateId" type="xs:long" />
          <xs:element name="coveragePercent" type="xs:int" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="criticalIllness" type="xs:boolean" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
          <xs:element name="debtCancellation" type="xs:boolean" />
          <xs:element name="disability" type="xs:boolean" />
          <xs:element name="insuranceRate" type="xs:double" />
          <xs:element minOccurs="0" name="insuranceType" type="xs:string" />
          <xs:element name="life" type="xs:boolean" />
          <xs:element name="loanAccountId" type="xs:long" />
          <xs:element name="loanApplicantId" type="xs:long" />
          <xs:element name="loanApplicationId" type="xs:long" />
          <xs:element name="loanInsuranceDetailId" type="xs:int" />
          <xs:element name="lossOfEmployment" type="xs:boolean" />
          <xs:element name="mainApplicant" type="xs:boolean" />
          <xs:element name="smoker" type="xs:boolean" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsLoanApplicationUSInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="amtFinanced" type="xs:long" />
          <xs:element name="effectiveApr" type="xs:double" />
          <xs:element minOccurs="0" name="escrowSummaryInfo" type="tns:wsEscrowSummaryInfo" />
          <xs:element name="loanApplicationUSID" type="xs:long" />
          <xs:element name="totalFinancialCharges" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsEscrowSummaryInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="annualEscrowAmount" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="cushion" type="xs:double" />
          <xs:element name="deficiencyamount" type="xs:long" />
          <xs:element name="dlqadjustedamount" type="xs:long" />
          <xs:element minOccurs="0" name="dlqanalysis" type="xs:dateTime" />
          <xs:element name="escrowAcctProductId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="escrowDetailInfos" nillable="true" type="tns:wsEscrowDetailInfo" />
          <xs:element name="escrowsummaryid" type="xs:long" />
          <xs:element name="intialDeposAmt" type="xs:long" />
          <xs:element minOccurs="0" name="lastanalysisdate" type="xs:dateTime" />
          <xs:element name="loanaccountid" type="xs:long" />
          <xs:element name="loanapplicationid" type="xs:long" />
          <xs:element name="minAmount" type="xs:double" />
          <xs:element minOccurs="0" name="nextanalysis" type="xs:dateTime" />
          <xs:element name="paymentadjust" type="xs:long" />
          <xs:element name="portionpaid" type="xs:long" />
          <xs:element name="prepaidaccrualamount" type="xs:long" />
          <xs:element name="prevminamount" type="xs:long" />
          <xs:element name="shortageamount" type="xs:long" />
          <xs:element name="surplusamount" type="xs:long" />
          <xs:element minOccurs="0" name="surplusdismethod" type="xs:string" />
          <xs:element minOccurs="0" name="surplusrefund" type="xs:dateTime" />
          <xs:element name="toaccount" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsLoanInsurancePremiumInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="certificateNumber" type="xs:string" />
          <xs:element name="costPerDay" type="xs:long" />
          <xs:element name="coverageAmount" type="xs:long" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="criticalIllnessCostPerDay" type="xs:long" />
          <xs:element name="criticalIllnessPremium" type="xs:long" />
          <xs:element name="criticalIllnessTax" type="xs:long" />
          <xs:element name="debtCancelCostPerDay" type="xs:long" />
          <xs:element name="debtCancelPremium" type="xs:long" />
          <xs:element name="debtCancelTax" type="xs:long" />
          <xs:element name="disabilityCostPerDay" type="xs:long" />
          <xs:element name="disabilityPremium" type="xs:long" />
          <xs:element name="disabilityTax" type="xs:long" />
          <xs:element name="financePremium" type="xs:boolean" />
          <xs:element minOccurs="0" name="insuranceStatus" type="xs:string" />
          <xs:element name="lifeCostPerDay" type="xs:long" />
          <xs:element name="lifePremium" type="xs:long" />
          <xs:element name="lifeTax" type="xs:long" />
          <xs:element name="loanAccountId" type="xs:long" />
          <xs:element minOccurs="0" name="loanAcctNumber" type="xs:string" />
          <xs:element name="loanApplicationId" type="xs:long" />
          <xs:element name="loanInsurancePremiumId" type="xs:long" />
          <xs:element name="lossOfEmploymentCostPerDay" type="xs:long" />
          <xs:element name="lossOfEmploymentPremium" type="xs:long" />
          <xs:element name="lossOfEmploymentTax" type="xs:long" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element name="monthlyBenefit" type="xs:long" />
          <xs:element name="monthlyPremium" type="xs:long" />
          <xs:element name="portedFromAccountId" type="xs:long" />
          <xs:element name="porting" type="xs:boolean" />
          <xs:element minOccurs="0" name="producerNumber" type="xs:string" />
          <xs:element minOccurs="0" name="refundRequestDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="refundRequestType" type="xs:string" />
          <xs:element name="salesTax" type="xs:long" />
          <xs:element name="synchWithCumis" type="xs:boolean" />
          <xs:element name="totalDebtCancelPremium" type="xs:long" />
          <xs:element name="totalDisabilityPremium" type="xs:long" />
          <xs:element name="totalLifePremium" type="xs:long" />
          <xs:element name="totalLossOfEmploymentPremium" type="xs:long" />
          <xs:element name="totalPremium" type="xs:long" />
          <xs:element name="totalcriticalIllnessPremium" type="xs:long" />
          <xs:element minOccurs="0" name="transactionUID" type="xs:string" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="waivedInsuranceType" type="xs:string" />
          <xs:element minOccurs="0" name="webPlusActionResult" type="xs:string" />
          <xs:element minOccurs="0" name="webPlusActionType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsLoanPaymentOptionsInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element minOccurs="0" name="baseDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
          <xs:element name="excessPaymentIncluded" type="xs:boolean" />
          <xs:element minOccurs="0" name="firstPaymentDate" type="xs:dateTime" />
          <xs:element name="loanAccountId" type="xs:long" />
          <xs:element name="loanApplicationId" type="xs:long" />
          <xs:element name="loanPaymentOptionsId" type="xs:long" />
          <xs:element name="numPmtsRemaining" type="xs:int" />
          <xs:element name="partialPayAmount" type="xs:long" />
          <xs:element name="paymentAmount" type="xs:long" />
          <xs:element minOccurs="0" name="paymentType" type="xs:string" />
          <xs:element minOccurs="0" name="pmtFrequency" type="xs:string" />
          <xs:element minOccurs="0" name="skipMonth1" type="xs:string" />
          <xs:element minOccurs="0" name="skipMonth2" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getKeyLoanValuesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getKeyLoanValuesResponse" type="tns:wsKeyLoanValuesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsKeyLoanValuesInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accruedInterest" type="xs:long" />
          <xs:element minOccurs="0" name="asOfDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="lastPaymentDate" type="xs:dateTime" />
          <xs:element name="loanAccountId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="loanPastDueDtlInfos" nillable="true" type="tns:wsLoanPastDueDtlInfo" />
          <xs:element name="minimumDue" type="xs:long" />
          <xs:element name="overlimitAmount" type="xs:long" />
          <xs:element name="pastDueAmount" type="xs:long" />
          <xs:element name="paymentAmtWithoutEscrow" type="xs:long" />
          <xs:element name="payoffAmount" type="xs:long" />
          <xs:element name="perDiem" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsLoanPastDueDtlInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="dueAmount" type="xs:long" />
          <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
          <xs:element name="lateCharges" type="xs:long" />
          <xs:element name="paymentAmount" type="xs:long" />
          <xs:element minOccurs="0" name="paymentType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getKeyLoanValuesWithIsAnticipated">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="loanAccountId" type="xs:long" />
      <xs:element minOccurs="0" name="asOfDate" type="xs:dateTime" />
      <xs:element name="isAnticipated" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getKeyLoanValuesWithIsAnticipatedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getKeyLoanValuesWithIsAnticipatedResponse" type="tns:wsKeyLoanValuesInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcInterestByRateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dates" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amounts" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aprs" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="rateType" type="xs:string" />
      <xs:element name="principle" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcInterestByRateTypeResponse">
    <xs:sequence>
      <xs:element name="calcInterestByRateTypeResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateCOBDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinfo" type="tns:wsLoanCalcInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateCOBDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="calculateCOBDetailsResponse" type="tns:wsLoanCalcInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSemiAnnualInterestRate">
    <xs:sequence>
      <xs:element name="apr" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSemiAnnualInterestRateResponse">
    <xs:sequence>
      <xs:element name="calcSemiAnnualInterestRateResponse" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateLoanInsurancePremiums">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wslids" nillable="true" type="tns:wsLoanInsuranceDetailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calculateLoanInsurancePremiumsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="calculateLoanInsurancePremiumsResponse" type="tns:wsLoanInsurancePremiumInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedTermBalanceAtMaturity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinterestCalcParamInfo" type="tns:wsInterestCalcParamInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcProjectedTermBalanceAtMaturityResponse">
    <xs:sequence>
      <xs:element name="calcProjectedTermBalanceAtMaturityResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSimpleLoanAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="rate" type="xs:double" />
      <xs:element name="numPayments" type="xs:int" />
      <xs:element name="payAmt" type="xs:long" />
      <xs:element minOccurs="0" name="freq" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calcSimpleLoanAmountResponse">
    <xs:sequence>
      <xs:element name="calcSimpleLoanAmountResponse" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doLoanCalculations">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinfo" type="tns:wsLoanCalcInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="doLoanCalculationsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="doLoanCalculationsResponse" type="tns:wsLoanCalcInfo" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>