LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.LoanAccount/LoanAccount0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://api.webservice.account.ispectrum.summitsite.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanAccount" targetNamespace="http://api.webservice.account.ispectrum.summitsite.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp1_2:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="LoanAccountImplPortBindingPolicy">
    <wsp1_2:ExactlyOne>
      <wsp1_2:All>
        <sp:SupportingTokens>
          <wsp1_2:Policy>
            <wsp1_2:ExactlyOne>
              <wsp1_2:All>
                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp1_2:Policy>
                    <wsp1_2:ExactlyOne>
                      <wsp1_2:All>
                        <sp:WssUsernameToken10 />
                      </wsp1_2:All>
                    </wsp1_2:ExactlyOne>
                  </wsp1_2:Policy>
                </sp:UsernameToken>
              </wsp1_2:All>
            </wsp1_2:ExactlyOne>
          </wsp1_2:Policy>
        </sp:SupportingTokens>
        <wsapw3c:UsingAddressing wsp1_2:Optional="true" />
      </wsp1_2:All>
    </wsp1_2:ExactlyOne>
  </wsp1_2:Policy>
  <import namespace="urn:connections.ispectrum.summitsite.com" location="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/LoanAccount?wsdl=1" />
  <types />
  <binding xmlns:ns1="urn:connections.ispectrum.summitsite.com" name="LoanAccountImplPortBinding" type="ns1:LoanAccount">
    <ns2:PolicyReference xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#LoanAccountImplPortBindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="doLoanCalculations">
      <soap:operation soapAction="urn:doLoanCalculations" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcEscrowAdvanceAmount">
      <soap:operation soapAction="urn:calcEscrowAdvanceAmount" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calculateLoanInsurancePremiums">
      <soap:operation soapAction="urn:calculateLoanInsurancePremiums" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calculateCushionPercentage">
      <soap:operation soapAction="urn:calculateCushionPercentage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getKeyLoanValues">
      <soap:operation soapAction="urn:getKeyLoanValues" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcSemiAnnualInterestRate">
      <soap:operation soapAction="urn:calcSemiAnnualInterestRate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcInterest">
      <soap:operation soapAction="urn:calcInterest" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcProjectedTermBalanceAtMaturity">
      <soap:operation soapAction="urn:calcProjectedTermBalanceAtMaturity" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcSemiAnnualLoanAmount">
      <soap:operation soapAction="urn:calcSemiAnnualLoanAmount" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcSemiAnnualPaymentAmt">
      <soap:operation soapAction="urn:calcSemiAnnualPaymentAmt" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcSimplePaymentAmt">
      <soap:operation soapAction="urn:calcSimplePaymentAmt" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcProjectedInterestForTermAtMaturity">
      <soap:operation soapAction="urn:calcProjectedInterestForTermAtMaturity" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcProjectedIntForEscalatorTermAtMaturity">
      <soap:operation soapAction="urn:calcProjectedIntForEscalatorTermAtMaturity" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcSimpleLoanAmount">
      <soap:operation soapAction="urn:calcSimpleLoanAmount" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calculateCOBDetails">
      <soap:operation soapAction="urn:calculateCOBDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcInterestByRateType">
      <soap:operation soapAction="urn:calcInterestByRateType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcProjectedTermBalanceAtMaturityByOriginalBalance">
      <soap:operation soapAction="urn:calcProjectedTermBalanceAtMaturityByOriginalBalance" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcSimplePaymentAmtByPaymentFrq">
      <soap:operation soapAction="urn:calcSimplePaymentAmtByPaymentFrq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getKeyLoanValuesWithIsAnticipated">
      <soap:operation soapAction="urn:getKeyLoanValuesWithIsAnticipated" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="calcProjectedTermBalanceAtMaturityById">
      <soap:operation soapAction="urn:calcProjectedTermBalanceAtMaturityById" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="LoanAccount">
    <port name="LoanAccountImplPort" binding="tns:LoanAccountImplPortBinding">
      <soap:address location="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/LoanAccount" />
    </port>
  </service>
</definitions>