LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.LoanAccount/LoanAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:connections.ispectrum.summitsite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:connections.ispectrum.summitsite.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/LoanAccount?xsd=1" namespace="urn:connections.ispectrum.summitsite.com" />
    </xsd:schema>
  </types>
  <message name="doLoanCalculations">
    <part name="parameters" element="tns:doLoanCalculations" />
  </message>
  <message name="doLoanCalculationsResponse">
    <part name="parameters" element="tns:doLoanCalculationsResponse" />
  </message>
  <message name="SOAPException">
    <part name="fault" element="tns:SOAPException" />
  </message>
  <message name="calcEscrowAdvanceAmount">
    <part name="parameters" element="tns:calcEscrowAdvanceAmount" />
  </message>
  <message name="calcEscrowAdvanceAmountResponse">
    <part name="parameters" element="tns:calcEscrowAdvanceAmountResponse" />
  </message>
  <message name="calculateLoanInsurancePremiums">
    <part name="parameters" element="tns:calculateLoanInsurancePremiums" />
  </message>
  <message name="calculateLoanInsurancePremiumsResponse">
    <part name="parameters" element="tns:calculateLoanInsurancePremiumsResponse" />
  </message>
  <message name="calculateCushionPercentage">
    <part name="parameters" element="tns:calculateCushionPercentage" />
  </message>
  <message name="calculateCushionPercentageResponse">
    <part name="parameters" element="tns:calculateCushionPercentageResponse" />
  </message>
  <message name="getKeyLoanValues">
    <part name="parameters" element="tns:getKeyLoanValues" />
  </message>
  <message name="getKeyLoanValuesResponse">
    <part name="parameters" element="tns:getKeyLoanValuesResponse" />
  </message>
  <message name="calcSemiAnnualInterestRate">
    <part name="parameters" element="tns:calcSemiAnnualInterestRate" />
  </message>
  <message name="calcSemiAnnualInterestRateResponse">
    <part name="parameters" element="tns:calcSemiAnnualInterestRateResponse" />
  </message>
  <message name="calcInterest">
    <part name="parameters" element="tns:calcInterest" />
  </message>
  <message name="calcInterestResponse">
    <part name="parameters" element="tns:calcInterestResponse" />
  </message>
  <message name="calcProjectedTermBalanceAtMaturity">
    <part name="parameters" element="tns:calcProjectedTermBalanceAtMaturity" />
  </message>
  <message name="calcProjectedTermBalanceAtMaturityResponse">
    <part name="parameters" element="tns:calcProjectedTermBalanceAtMaturityResponse" />
  </message>
  <message name="calcSemiAnnualLoanAmount">
    <part name="parameters" element="tns:calcSemiAnnualLoanAmount" />
  </message>
  <message name="calcSemiAnnualLoanAmountResponse">
    <part name="parameters" element="tns:calcSemiAnnualLoanAmountResponse" />
  </message>
  <message name="calcSemiAnnualPaymentAmt">
    <part name="parameters" element="tns:calcSemiAnnualPaymentAmt" />
  </message>
  <message name="calcSemiAnnualPaymentAmtResponse">
    <part name="parameters" element="tns:calcSemiAnnualPaymentAmtResponse" />
  </message>
  <message name="calcSimplePaymentAmt">
    <part name="parameters" element="tns:calcSimplePaymentAmt" />
  </message>
  <message name="calcSimplePaymentAmtResponse">
    <part name="parameters" element="tns:calcSimplePaymentAmtResponse" />
  </message>
  <message name="calcProjectedInterestForTermAtMaturity">
    <part name="parameters" element="tns:calcProjectedInterestForTermAtMaturity" />
  </message>
  <message name="calcProjectedInterestForTermAtMaturityResponse">
    <part name="parameters" element="tns:calcProjectedInterestForTermAtMaturityResponse" />
  </message>
  <message name="calcProjectedIntForEscalatorTermAtMaturity">
    <part name="parameters" element="tns:calcProjectedIntForEscalatorTermAtMaturity" />
  </message>
  <message name="calcProjectedIntForEscalatorTermAtMaturityResponse">
    <part name="parameters" element="tns:calcProjectedIntForEscalatorTermAtMaturityResponse" />
  </message>
  <message name="calcSimpleLoanAmount">
    <part name="parameters" element="tns:calcSimpleLoanAmount" />
  </message>
  <message name="calcSimpleLoanAmountResponse">
    <part name="parameters" element="tns:calcSimpleLoanAmountResponse" />
  </message>
  <message name="calculateCOBDetails">
    <part name="parameters" element="tns:calculateCOBDetails" />
  </message>
  <message name="calculateCOBDetailsResponse">
    <part name="parameters" element="tns:calculateCOBDetailsResponse" />
  </message>
  <message name="calcInterestByRateType">
    <part name="parameters" element="tns:calcInterestByRateType" />
  </message>
  <message name="calcInterestByRateTypeResponse">
    <part name="parameters" element="tns:calcInterestByRateTypeResponse" />
  </message>
  <message name="calcProjectedTermBalanceAtMaturityByOriginalBalance">
    <part name="parameters" element="tns:calcProjectedTermBalanceAtMaturityByOriginalBalance" />
  </message>
  <message name="calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse">
    <part name="parameters" element="tns:calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse" />
  </message>
  <message name="calcSimplePaymentAmtByPaymentFrq">
    <part name="parameters" element="tns:calcSimplePaymentAmtByPaymentFrq" />
  </message>
  <message name="calcSimplePaymentAmtByPaymentFrqResponse">
    <part name="parameters" element="tns:calcSimplePaymentAmtByPaymentFrqResponse" />
  </message>
  <message name="getKeyLoanValuesWithIsAnticipated">
    <part name="parameters" element="tns:getKeyLoanValuesWithIsAnticipated" />
  </message>
  <message name="getKeyLoanValuesWithIsAnticipatedResponse">
    <part name="parameters" element="tns:getKeyLoanValuesWithIsAnticipatedResponse" />
  </message>
  <message name="calcProjectedTermBalanceAtMaturityById">
    <part name="parameters" element="tns:calcProjectedTermBalanceAtMaturityById" />
  </message>
  <message name="calcProjectedTermBalanceAtMaturityByIdResponse">
    <part name="parameters" element="tns:calcProjectedTermBalanceAtMaturityByIdResponse" />
  </message>
  <portType name="LoanAccount">
    <operation name="doLoanCalculations">
      <input message="tns:doLoanCalculations" />
      <output message="tns:doLoanCalculationsResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcEscrowAdvanceAmount">
      <input message="tns:calcEscrowAdvanceAmount" />
      <output message="tns:calcEscrowAdvanceAmountResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calculateLoanInsurancePremiums">
      <input message="tns:calculateLoanInsurancePremiums" />
      <output message="tns:calculateLoanInsurancePremiumsResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calculateCushionPercentage">
      <input message="tns:calculateCushionPercentage" />
      <output message="tns:calculateCushionPercentageResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getKeyLoanValues">
      <input message="tns:getKeyLoanValues" />
      <output message="tns:getKeyLoanValuesResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcSemiAnnualInterestRate">
      <input message="tns:calcSemiAnnualInterestRate" />
      <output message="tns:calcSemiAnnualInterestRateResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcInterest">
      <input message="tns:calcInterest" />
      <output message="tns:calcInterestResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcProjectedTermBalanceAtMaturity">
      <input message="tns:calcProjectedTermBalanceAtMaturity" />
      <output message="tns:calcProjectedTermBalanceAtMaturityResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcSemiAnnualLoanAmount">
      <input message="tns:calcSemiAnnualLoanAmount" />
      <output message="tns:calcSemiAnnualLoanAmountResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcSemiAnnualPaymentAmt">
      <input message="tns:calcSemiAnnualPaymentAmt" />
      <output message="tns:calcSemiAnnualPaymentAmtResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcSimplePaymentAmt">
      <input message="tns:calcSimplePaymentAmt" />
      <output message="tns:calcSimplePaymentAmtResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcProjectedInterestForTermAtMaturity">
      <input message="tns:calcProjectedInterestForTermAtMaturity" />
      <output message="tns:calcProjectedInterestForTermAtMaturityResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcProjectedIntForEscalatorTermAtMaturity">
      <input message="tns:calcProjectedIntForEscalatorTermAtMaturity" />
      <output message="tns:calcProjectedIntForEscalatorTermAtMaturityResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcSimpleLoanAmount">
      <input message="tns:calcSimpleLoanAmount" />
      <output message="tns:calcSimpleLoanAmountResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calculateCOBDetails">
      <input message="tns:calculateCOBDetails" />
      <output message="tns:calculateCOBDetailsResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcInterestByRateType">
      <input message="tns:calcInterestByRateType" />
      <output message="tns:calcInterestByRateTypeResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcProjectedTermBalanceAtMaturityByOriginalBalance">
      <input message="tns:calcProjectedTermBalanceAtMaturityByOriginalBalance" />
      <output message="tns:calcProjectedTermBalanceAtMaturityByOriginalBalanceResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcSimplePaymentAmtByPaymentFrq">
      <input message="tns:calcSimplePaymentAmtByPaymentFrq" />
      <output message="tns:calcSimplePaymentAmtByPaymentFrqResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getKeyLoanValuesWithIsAnticipated">
      <input message="tns:getKeyLoanValuesWithIsAnticipated" />
      <output message="tns:getKeyLoanValuesWithIsAnticipatedResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="calcProjectedTermBalanceAtMaturityById">
      <input message="tns:calcProjectedTermBalanceAtMaturityById" />
      <output message="tns:calcProjectedTermBalanceAtMaturityByIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
  </portType>
</definitions>