LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.VintageMotocycleService/VintagePowersportsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" />
  <xs:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetMakes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromYear" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toYear" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMakesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetMakesResult" nillable="true" type="q1:ArrayOfVintageMake" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYears">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetYearsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetYearsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="makeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelsResult" nillable="true" type="q3:PowersportsModelTrimsReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelTrimID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetValueReportResult" nillable="true" type="q4:PowersportsVintageModelTrimReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vinID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelsByVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" minOccurs="0" name="GetModelsByVINResult" nillable="true" type="q5:PowersportsVINVintageReturn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>