LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.VintageMotocycleService/VintagePowersportsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MakeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MakeID" type="xs:int" />
      <xs:element minOccurs="0" name="MakeDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MakeReturnTO" nillable="true" type="tns:MakeReturnTO" />
  <xs:complexType name="VersionTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="VersionID" type="xs:int" />
      <xs:element minOccurs="0" name="VersionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionTO" nillable="true" type="tns:VersionTO" />
</xs:schema>