LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.VintageMotocycleService/VintagePowersportsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VintagePowersportsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IVintagePowersportsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfService" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://www.nadaguideswebservices.com/VintagePowersportsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVintagePowersportsService_GetMakes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMakes" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetMakes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMakesResponse" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetMakes_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q1:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetYears_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYears" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetYears_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYearsResponse" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetYears_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q2:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModels" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetModels_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q3:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetValueReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValueReport" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetValueReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValueReportResponse" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetValueReport_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q4:WcfFault" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetModelsByVIN_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsByVIN" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetModelsByVIN_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsByVINResponse" />
  </wsdl:message>
  <wsdl:message name="IVintagePowersportsService_GetModelsByVIN_WcfFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NADA.WcfService" name="detail" element="q5:WcfFault" />
  </wsdl:message>
  <wsdl:portType name="IVintagePowersportsService">
    <wsdl:operation name="GetMakes">
      <wsdl:input wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetMakes" message="tns:IVintagePowersportsService_GetMakes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetMakesResponse" message="tns:IVintagePowersportsService_GetMakes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetMakesWcfFaultFault" name="WcfFaultFault" message="tns:IVintagePowersportsService_GetMakes_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <wsdl:input wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetYears" message="tns:IVintagePowersportsService_GetYears_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetYearsResponse" message="tns:IVintagePowersportsService_GetYears_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetYearsWcfFaultFault" name="WcfFaultFault" message="tns:IVintagePowersportsService_GetYears_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetModels" message="tns:IVintagePowersportsService_GetModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetModelsResponse" message="tns:IVintagePowersportsService_GetModels_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetModelsWcfFaultFault" name="WcfFaultFault" message="tns:IVintagePowersportsService_GetModels_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValueReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetValueReport" message="tns:IVintagePowersportsService_GetValueReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetValueReportResponse" message="tns:IVintagePowersportsService_GetValueReport_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetValueReportWcfFaultFault" name="WcfFaultFault" message="tns:IVintagePowersportsService_GetValueReport_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelsByVIN">
      <wsdl:input wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetModelsByVIN" message="tns:IVintagePowersportsService_GetModelsByVIN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetModelsByVINResponse" message="tns:IVintagePowersportsService_GetModelsByVIN_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IVintagePowersportsService/GetModelsByVINWcfFaultFault" name="WcfFaultFault" message="tns:IVintagePowersportsService_GetModelsByVIN_WcfFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVintagePowersportsService" type="tns:IVintagePowersportsService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IVintagePowersportsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMakes">
      <soap:operation soapAction="http://tempuri.org/IVintagePowersportsService/GetMakes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetYears">
      <soap:operation soapAction="http://tempuri.org/IVintagePowersportsService/GetYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="http://tempuri.org/IVintagePowersportsService/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetValueReport">
      <soap:operation soapAction="http://tempuri.org/IVintagePowersportsService/GetValueReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetModelsByVIN">
      <soap:operation soapAction="http://tempuri.org/IVintagePowersportsService/GetModelsByVIN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WcfFaultFault">
        <soap:fault use="literal" name="WcfFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VintagePowersportsService">
    <wsdl:port name="BasicHttpBinding_IVintagePowersportsService" binding="tns:BasicHttpBinding_IVintagePowersportsService">
      <soap:address location="https://www.nadaguideswebservices.com/VintagePowersportsService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>