LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.VintageMotocycleService/VintagePowersportsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects.Powersports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://www.jdpowerwebservices.com/VintagePowersportsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" />
  <xs:import schemaLocation="https://www.jdpowerwebservices.com/VintagePowersportsService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfVintageMake">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VintageMake" nillable="true" type="tns:VintageMake" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVintageMake" nillable="true" type="tns:ArrayOfVintageMake" />
  <xs:complexType name="VintageMake">
    <xs:sequence>
      <xs:element minOccurs="0" name="MakeDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VintageMake" nillable="true" type="tns:VintageMake" />
  <xs:complexType name="PowersportsModelTrimsReturn">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" minOccurs="0" name="Make" nillable="true" type="q1:MakeReturnTO" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MakeNotes" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="ModelTrims" nillable="true" type="tns:ArrayOfPowersportsModelTrim" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" minOccurs="0" name="VersionTO" nillable="true" type="q3:VersionTO" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="YearNotes" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowersportsModelTrimsReturn" nillable="true" type="tns:PowersportsModelTrimsReturn" />
  <xs:complexType name="ArrayOfPowersportsModelTrim">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PowersportsModelTrim" nillable="true" type="tns:PowersportsModelTrim" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPowersportsModelTrim" nillable="true" type="tns:ArrayOfPowersportsModelTrim" />
  <xs:complexType name="PowersportsModelTrim">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ModelType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowersportsModelTrim" nillable="true" type="tns:PowersportsModelTrim" />
  <xs:complexType name="PowersportsVintageModelTrimReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelID" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="Values" nillable="true" type="tns:VintageValues" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PriceTypeDefinitions" nillable="true" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowersportsVintageModelTrimReturn" nillable="true" type="tns:PowersportsVintageModelTrimReturn" />
  <xs:complexType name="VintageValues">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PowersportsPrice">
        <xs:sequence>
          <xs:element minOccurs="0" name="Excellent" type="xs:int" />
          <xs:element minOccurs="0" name="VeryGood" type="xs:int" />
          <xs:element minOccurs="0" name="Good" type="xs:int" />
          <xs:element minOccurs="0" name="Fair" type="xs:int" />
          <xs:element minOccurs="0" name="Poor" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VintageValues" nillable="true" type="tns:VintageValues" />
  <xs:complexType name="PowersportsPrice">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="PowersportsPrice" nillable="true" type="tns:PowersportsPrice" />
  <xs:complexType name="PowersportsConsumerValues">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PowersportsPrice">
        <xs:sequence>
          <xs:element minOccurs="0" name="AverageRetail" type="xs:int" />
          <xs:element minOccurs="0" name="LowRetail" type="xs:int" />
          <xs:element minOccurs="0" name="SuggestedListPrice" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PowersportsConsumerValues" nillable="true" type="tns:PowersportsConsumerValues" />
  <xs:complexType name="PersonalWatercraftTradeValues">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PowersportsPrice">
        <xs:sequence>
          <xs:element minOccurs="0" name="AverageRetail" type="xs:int" />
          <xs:element minOccurs="0" name="HighRetail" type="xs:int" />
          <xs:element minOccurs="0" name="SuggestedListPrice" type="xs:int" />
          <xs:element minOccurs="0" name="UsedTradeIn" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonalWatercraftTradeValues" nillable="true" type="tns:PersonalWatercraftTradeValues" />
  <xs:complexType name="MotorcycleSnowTradeValues">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PowersportsPrice">
        <xs:sequence>
          <xs:element minOccurs="0" name="AverageRetail" type="xs:int" />
          <xs:element minOccurs="0" name="CleanTradeInWholesale" type="xs:int" />
          <xs:element minOccurs="0" name="RoughTradeInWholesale" type="xs:int" />
          <xs:element minOccurs="0" name="SuggestedListPrice" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MotorcycleSnowTradeValues" nillable="true" type="tns:MotorcycleSnowTradeValues" />
  <xs:complexType name="SideCarTrailerTradeValues">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PowersportsPrice">
        <xs:sequence>
          <xs:element minOccurs="0" name="AverageRetail" type="xs:int" />
          <xs:element minOccurs="0" name="AverageWholesale" type="xs:int" />
          <xs:element minOccurs="0" name="SuggestedListPrice" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SideCarTrailerTradeValues" nillable="true" type="tns:SideCarTrailerTradeValues" />
  <xs:complexType name="PowersportsVINVintageReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="tns:VinStatusEnum" />
      <xs:element minOccurs="0" name="Models" nillable="true" type="tns:ArrayOfPowersportsVINVintageModelReturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowersportsVINVintageReturn" nillable="true" type="tns:PowersportsVINVintageReturn" />
  <xs:simpleType name="VinStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExactMatch" />
      <xs:enumeration value="InvalidVINLength" />
      <xs:enumeration value="NoRecordsFound" />
      <xs:enumeration value="VIN1to3_10Incorrect" />
      <xs:enumeration value="VIN4to8Incorrect" />
      <xs:enumeration value="VIN1to3Incorrect" />
      <xs:enumeration value="VIN10Incorrect" />
      <xs:enumeration value="VIN12to14Incorrect" />
      <xs:enumeration value="ExactMatchButNoMapping" />
      <xs:enumeration value="UndefinedError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VinStatusEnum" nillable="true" type="tns:VinStatusEnum" />
  <xs:complexType name="ArrayOfPowersportsVINVintageModelReturn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PowersportsVINVintageModelReturn" nillable="true" type="tns:PowersportsVINVintageModelReturn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPowersportsVINVintageModelReturn" nillable="true" type="tns:ArrayOfPowersportsVINVintageModelReturn" />
  <xs:complexType name="PowersportsVINVintageModelReturn">
    <xs:sequence>
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelID" type="xs:int" />
      <xs:element minOccurs="0" name="ModelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSRP" type="xs:int" />
      <xs:element minOccurs="0" name="Values" nillable="true" type="tns:VintageValues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PowersportsVINVintageModelReturn" nillable="true" type="tns:PowersportsVINVintageModelReturn" />
</xs:schema>