LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNoteListInquiry/LNNoteListInqWSV2SvcResData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteListInqResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteListInqResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteListInqResData">
    <xs:annotation>
      <xs:documentation>Loan Note List Inquiry (LNRFD) -  This function is used to inquire on a specific loan.  It returns up to 25 notes at a time.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E304" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number Of Notes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E309" type="xs:string">
          <xs:annotation>
            <xs:documentation>More Notes Exist Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reposition Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="LNNoteListDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNNoteListData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E30054" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32003" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Issue Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32004" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Maturity Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32006" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32010" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Cost Center</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32011" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32013" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Branch Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32014" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Officer Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32018" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Bill Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32022" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Principal Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32023" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Commitment  Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32030" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Secured Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36701" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Collateral Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32045" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Collateral Description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32171" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Original Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32181" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Interest Rate 1 (Over)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32182" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Margin 1 (Over)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32183" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Relationship 1 (Over)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32187" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Interest Rate 1 (Under)</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32208" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Index</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32211" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Next Rate Change Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32212" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Variable Plan Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36400" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Status</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36402" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Current Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36405" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Interest Paid To Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36408" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Paid Status</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36409" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Activity Allowed</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36438" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Next Payment Due Date for the Loan</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37089" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Customer Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36451" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Bill Current Due Amount - Total Payable</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36475" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Total Loan Fees Due</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36477" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Interest Paid Year-to-Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36482" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Interest Paid End of Prior Year</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36490" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Term</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36515" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Total Next - Billing Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36518" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Loan Total Last - Billing Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36538" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Number of Escrow Segments</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36539" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Number of Insurance Reserve Segments</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36540" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Number of Dealer Reserve Segments</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36624" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Escrow Reserve Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36633" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Foreclosure Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36706" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Renewal Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37576" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN 231 Note Scheduled Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37577" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN 231 Note Next Due Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37580" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN 231 Note Payment Schedule Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37581" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN 231 Note Payment Schedule Frequency</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37941" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Note Level Calculated Blended Rate</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37558" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Total Payoff Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37559" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Total Accrual Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37698" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Next Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37699" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Last Payment Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37700" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Last Payment Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37701" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Payoff Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E32228" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Rate Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E30199" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN TLC Note Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36537" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Foreclosure Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36634" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Bankruptcy Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E36635" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Bankruptcy Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>