LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNoteListInquiry/LNNoteListInqWSV2SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteListInqReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteListInqReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteListInqReqData">
    <xs:annotation>
      <xs:documentation>Loan Note List Inquiry (LNRFD) -  This function is used to inquire on a specific loan.  It returns up to 25 notes at a time.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reposition Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>