LoansPQWSWrappers.NADAOther2/PowerSport/Service References/NADAOther2.ClassicCarsService/ClassicCarsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NADA.WcfServiceTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMakeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MakeReturnTO" nillable="true" type="tns:MakeReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMakeReturnTO" nillable="true" type="tns:ArrayOfMakeReturnTO" />
  <xs:complexType name="MakeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="MakeID" type="xs:int" />
      <xs:element minOccurs="0" name="MakeDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MakeReturnTO" nillable="true" type="tns:MakeReturnTO" />
  <xs:complexType name="ArrayOfYearReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YearReturnTO" nillable="true" type="tns:YearReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYearReturnTO" nillable="true" type="tns:ArrayOfYearReturnTO" />
  <xs:complexType name="YearReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Year" type="xs:int" />
      <xs:element minOccurs="0" name="YearType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YearReturnTO" nillable="true" type="tns:YearReturnTO" />
  <xs:complexType name="ArrayOfCategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryReturnTO" nillable="true" type="tns:ArrayOfCategoryReturnTO" />
  <xs:complexType name="CategoryReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryReturnTO" nillable="true" type="tns:CategoryReturnTO" />
  <xs:complexType name="ModelReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="c_ModelID" type="xs:int" />
      <xs:element minOccurs="0" name="n_ModelID" type="xs:int" />
      <xs:element minOccurs="0" name="ModelDisplayName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelReturnTO" nillable="true" type="tns:ModelReturnTO" />
  <xs:complexType name="ArrayOfOptionReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OptionReturnTO" nillable="true" type="tns:OptionReturnTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOptionReturnTO" nillable="true" type="tns:ArrayOfOptionReturnTO" />
  <xs:complexType name="OptionReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="OptionGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionGroupID" type="xs:int" />
      <xs:element minOccurs="0" name="OptionDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OptionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OptionReturnTO" nillable="true" type="tns:OptionReturnTO" />
  <xs:complexType name="PriceTypeReturnTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="PriceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceTypeDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceTypeExplanation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceTypeReturnTO" nillable="true" type="tns:PriceTypeReturnTO" />
</xs:schema>