LoansPQWSWrappers.FISBizChexV12/Web References/FISBizChex.RiskFraudCompliance/RFC_BizChex_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.fisglobal.com/soa/riskfraudcompliance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rqst="http://www.fisglobal.com/soa/riskfraudcomplianceRqst" xmlns:rsp="http://www.fisglobal.com/soa/riskfraudcomplianceRsp" targetNamespace="http://www.fisglobal.com/soa/riskfraudcompliance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="RiskFraudComplianceBizChexRqst_v1.2.xsd" namespace="http://www.fisglobal.com/soa/riskfraudcomplianceRqst" />
      <xs:import schemaLocation="RiskFraudComplianceBizChexRsp_v1.2.xsd" namespace="http://www.fisglobal.com/soa/riskfraudcomplianceRsp" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RiskFraudComplianceBizChexRqst">
    <wsdl:part name="RiskFraudComplianceBizChexRqst" element="rqst:RiskFraudComplianceBizChexRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceBizChexRsp">
    <wsdl:part name="RiskFraudComplianceBizChexRsp" element="rsp:RiskFraudComplianceBizChexRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst">
    <wsdl:part name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" element="rqst:RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp">
    <wsdl:part name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" element="rsp:RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst">
    <wsdl:part name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" element="rqst:RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp">
    <wsdl:part name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" element="rsp:RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" element="rqst:RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" element="rsp:RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceBusnAddOFACOverrideRqst">
    <wsdl:part name="RiskFraudComplianceBusnAddOFACOverrideRqst" element="rqst:RiskFraudComplianceBusnAddOFACOverrideRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceBusnAddOFACOverrideRsp">
    <wsdl:part name="RiskFraudComplianceBusnAddOFACOverrideRsp" element="rsp:RiskFraudComplianceBusnAddOFACOverrideRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudCompliancePrncplOwnrAddActionsRqst">
    <wsdl:part name="RiskFraudCompliancePrncplOwnrAddActionsRqst" element="rqst:RiskFraudCompliancePrncplOwnrAddActionsRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudCompliancePrncplOwnrAddActionsRsp">
    <wsdl:part name="RiskFraudCompliancePrncplOwnrAddActionsRsp" element="rsp:RiskFraudCompliancePrncplOwnrAddActionsRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr2AddActionsRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr2AddActionsRqst" element="rqst:RiskFraudComplianceAuthSgnr2AddActionsRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr2AddActionsRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr2AddActionsRsp" element="rsp:RiskFraudComplianceAuthSgnr2AddActionsRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr3AddActionsRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr3AddActionsRqst" element="rqst:RiskFraudComplianceAuthSgnr3AddActionsRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr3AddActionsRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr3AddActionsRsp" element="rsp:RiskFraudComplianceAuthSgnr3AddActionsRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr4AddActionsRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr4AddActionsRqst" element="rqst:RiskFraudComplianceAuthSgnr4AddActionsRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr4AddActionsRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr4AddActionsRsp" element="rsp:RiskFraudComplianceAuthSgnr4AddActionsRsp" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr5AddActionsRqst">
    <wsdl:part name="RiskFraudComplianceAuthSgnr5AddActionsRqst" element="rqst:RiskFraudComplianceAuthSgnr5AddActionsRqst" />
  </wsdl:message>
  <wsdl:message name="RiskFraudComplianceAuthSgnr5AddActionsRsp">
    <wsdl:part name="RiskFraudComplianceAuthSgnr5AddActionsRsp" element="rsp:RiskFraudComplianceAuthSgnr5AddActionsRsp" />
  </wsdl:message>
  <wsdl:portType name="RiskFraudCompliancePort">
    <wsdl:operation name="RiskFraudComplianceBizChex">
      <wsdl:input name="RiskFraudComplianceBizChexRqst" message="tns:RiskFraudComplianceBizChexRqst" />
      <wsdl:output name="RiskFraudComplianceBizChexRsp" message="tns:RiskFraudComplianceBizChexRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudCompliancePrncplOwnrAddIDVOverride">
      <wsdl:input name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" message="tns:RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" />
      <wsdl:output name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" message="tns:RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr2AddIDVOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr3AddIDVOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr4AddIDVOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr5AddIDVOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudCompliancePrncplOwnrAddOFACOverride">
      <wsdl:input name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" message="tns:RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" />
      <wsdl:output name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" message="tns:RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr2AddOFACOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr3AddOFACOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr4AddOFACOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr5AddOFACOverride">
      <wsdl:input name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" message="tns:RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" message="tns:RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceBusnAddOFACOverride">
      <wsdl:input name="RiskFraudComplianceBusnAddOFACOverrideRqst" message="tns:RiskFraudComplianceBusnAddOFACOverrideRqst" />
      <wsdl:output name="RiskFraudComplianceBusnAddOFACOverrideRsp" message="tns:RiskFraudComplianceBusnAddOFACOverrideRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudCompliancePrncplOwnrAddActions">
      <wsdl:input name="RiskFraudCompliancePrncplOwnrAddActionsRqst" message="tns:RiskFraudCompliancePrncplOwnrAddActionsRqst" />
      <wsdl:output name="RiskFraudCompliancePrncplOwnrAddActionsRsp" message="tns:RiskFraudCompliancePrncplOwnrAddActionsRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr2AddActions">
      <wsdl:input name="RiskFraudComplianceAuthSgnr2AddActionsRqst" message="tns:RiskFraudComplianceAuthSgnr2AddActionsRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr2AddActionsRsp" message="tns:RiskFraudComplianceAuthSgnr2AddActionsRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr3AddActions">
      <wsdl:input name="RiskFraudComplianceAuthSgnr3AddActionsRqst" message="tns:RiskFraudComplianceAuthSgnr3AddActionsRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr3AddActionsRsp" message="tns:RiskFraudComplianceAuthSgnr3AddActionsRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr4AddActions">
      <wsdl:input name="RiskFraudComplianceAuthSgnr4AddActionsRqst" message="tns:RiskFraudComplianceAuthSgnr4AddActionsRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr4AddActionsRsp" message="tns:RiskFraudComplianceAuthSgnr4AddActionsRsp" />
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr5AddActions">
      <wsdl:input name="RiskFraudComplianceAuthSgnr5AddActionsRqst" message="tns:RiskFraudComplianceAuthSgnr5AddActionsRqst" />
      <wsdl:output name="RiskFraudComplianceAuthSgnr5AddActionsRsp" message="tns:RiskFraudComplianceAuthSgnr5AddActionsRsp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RiskFraudCompliancePortSoap11" type="tns:RiskFraudCompliancePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RiskFraudComplianceBizChex">
      <soap:operation soapAction="RiskFraudComplianceBizChex" />
      <wsdl:input name="RiskFraudComplianceBizChexRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceBizChexRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudCompliancePrncplOwnrAddIDVOverride">
      <soap:operation soapAction="RiskFraudCompliancePrncplOwnrAddIDVOverride" />
      <wsdl:input name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr2AddIDVOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr2AddIDVOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr3AddIDVOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr3AddIDVOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr4AddIDVOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr4AddIDVOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr5AddIDVOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr5AddIDVOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudCompliancePrncplOwnrAddOFACOverride">
      <soap:operation soapAction="RiskFraudCompliancePrncplOwnrAddOFACOverride" />
      <wsdl:input name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr2AddOFACOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr2AddOFACOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr3AddOFACOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr3AddOFACOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr4AddOFACOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr4AddOFACOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr5AddOFACOverride">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr5AddOFACOverride" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceBusnAddOFACOverride">
      <soap:operation soapAction="RiskFraudComplianceBusnAddOFACOverride" />
      <wsdl:input name="RiskFraudComplianceBusnAddOFACOverrideRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceBusnAddOFACOverrideRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudCompliancePrncplOwnrAddActions">
      <soap:operation soapAction="RiskFraudCompliancePrncplOwnrAddActions" />
      <wsdl:input name="RiskFraudCompliancePrncplOwnrAddActionsRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudCompliancePrncplOwnrAddActionsRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr2AddActions">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr2AddActions" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr2AddActionsRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr2AddActionsRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr3AddActions">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr3AddActions" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr3AddActionsRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr3AddActionsRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr4AddActions">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr4AddActions" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr4AddActionsRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr4AddActionsRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiskFraudComplianceAuthSgnr5AddActions">
      <soap:operation soapAction="RiskFraudComplianceAuthSgnr5AddActions" />
      <wsdl:input name="RiskFraudComplianceAuthSgnr5AddActionsRqst">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RiskFraudComplianceAuthSgnr5AddActionsRsp">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RiskFraudComplianceService">
    <wsdl:port name="RiskFraudCompliancePortSoap11" binding="tns:RiskFraudCompliancePortSoap11">
      <soap:address location="https://ih2-prd-12.fisglobal.com/DSSOA" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>