LoansPQWSWrappers.FISBizChexV12/Web References/FISBizChex.RiskFraudCompliance/RiskFraudComplianceBizChexRsp_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.fisglobal.com/soa/riskfraudcomplianceRsp" xmlns:hdr="FisCommonRspHdr" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.fisglobal.com/soa/riskfraudcomplianceRsp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="FISCommonRspHdr_v1.2.xsd" namespace="FisCommonRspHdr" />
  <xs:include schemaLocation="BizChexResponseTypes_v1.2.xsd" />
  <xs:element name="RiskFraudComplianceBizChexRsp" type="tRiskFraudComplianceBizChexRsp" />
  <xs:element name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" type="tRiskFraudComplianceAddIDVOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" type="tRiskFraudComplianceAddIDVOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" type="tRiskFraudComplianceAddIDVOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" type="tRiskFraudComplianceAddIDVOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" type="tRiskFraudComplianceAddIDVOverrideRsp" />
  <xs:element name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" type="tRiskFraudComplianceAddOFACOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" type="tRiskFraudComplianceAddOFACOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" type="tRiskFraudComplianceAddOFACOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" type="tRiskFraudComplianceAddOFACOverrideRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" type="tRiskFraudComplianceAddOFACOverrideRsp" />
  <xs:element name="RiskFraudComplianceBusnAddOFACOverrideRsp" type="tRiskFraudComplianceAddOFACOverrideRsp" />
  <xs:element name="RiskFraudCompliancePrncplOwnrAddActionsRsp" type="tRiskFraudComplianceAddActionsRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr2AddActionsRsp" type="tRiskFraudComplianceAddActionsRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr3AddActionsRsp" type="tRiskFraudComplianceAddActionsRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr4AddActionsRsp" type="tRiskFraudComplianceAddActionsRsp" />
  <xs:element name="RiskFraudComplianceAuthSgnr5AddActionsRsp" type="tRiskFraudComplianceAddActionsRsp" />
  <xs:complexType name="tRiskFraudComplianceBizChexRsp">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="hdr:RspHdr" />
      <xs:element minOccurs="0" maxOccurs="1" name="BizChexOso">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" maxOccurs="1" name="BizChexSvc" type="tBizChexSvc" />
            <xs:element minOccurs="0" maxOccurs="1" name="IDVSvc" type="tIDVSvc" />
            <xs:element minOccurs="0" maxOccurs="1" name="BusOFACSvc" type="tBusOFACSvc" />
            <xs:element minOccurs="0" maxOccurs="1" name="OFACSvc" type="tOFACSvc" />
            <xs:element minOccurs="0" maxOccurs="1" name="SplMsgs" type="tSplMsgs" />
            <xs:element minOccurs="0" maxOccurs="1" name="RefDtl" type="tRefDtl" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tRiskFraudComplianceAddIDVOverrideRsp">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="hdr:RspHdr" />
      <xs:element minOccurs="0" maxOccurs="1" name="BizChexOso">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" maxOccurs="1" name="BizChexSvc" type="tAddIDVOverrideRsp" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tRiskFraudComplianceAddOFACOverrideRsp">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="hdr:RspHdr" />
      <xs:element minOccurs="0" maxOccurs="1" name="BizChexOso">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" maxOccurs="1" name="BizChexSvc" type="tAddOFACOverrideRsp" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tRiskFraudComplianceAddActionsRsp">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="hdr:RspHdr" />
      <xs:element minOccurs="0" maxOccurs="1" name="BizChexOso">
        <xs:complexType>
          <xs:all>
            <xs:element minOccurs="0" maxOccurs="1" name="BizChexSvc" type="tAddActionsRsp" />
          </xs:all>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>