LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.ProductConfig/ProductConfig0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://api.webservice.configuration.ispectrum.summitsite.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductConfig" targetNamespace="http://api.webservice.configuration.ispectrum.summitsite.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsp1_2:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="ProductConfigImplPortBindingPolicy">
    <wsp1_2:ExactlyOne>
      <wsp1_2:All>
        <sp:SupportingTokens>
          <wsp1_2:Policy>
            <wsp1_2:ExactlyOne>
              <wsp1_2:All>
                <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp1_2:Policy>
                    <wsp1_2:ExactlyOne>
                      <wsp1_2:All>
                        <sp:WssUsernameToken10 />
                      </wsp1_2:All>
                    </wsp1_2:ExactlyOne>
                  </wsp1_2:Policy>
                </sp:UsernameToken>
              </wsp1_2:All>
            </wsp1_2:ExactlyOne>
          </wsp1_2:Policy>
        </sp:SupportingTokens>
        <wsapw3c:UsingAddressing wsp1_2:Optional="true" />
      </wsp1_2:All>
    </wsp1_2:ExactlyOne>
  </wsp1_2:Policy>
  <import namespace="urn:connections.ispectrum.summitsite.com" location="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/ProductConfig?wsdl=1" />
  <types />
  <binding xmlns:ns1="urn:connections.ispectrum.summitsite.com" name="ProductConfigImplPortBinding" type="ns1:ProductConfig">
    <ns2:PolicyReference xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#ProductConfigImplPortBindingPolicy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="findById">
      <soap:operation soapAction="urn:findById" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findByTypeAndCode">
      <soap:operation soapAction="urn:findByTypeAndCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getControlCodes">
      <soap:operation soapAction="urn:getControlCodes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateControlCode">
      <soap:operation soapAction="urn:createUpdateControlCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllControlCode">
      <soap:operation soapAction="urn:getAllControlCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllPackages">
      <soap:operation soapAction="urn:getAllPackages" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllServiceLevelConfig">
      <soap:operation soapAction="urn:getAllServiceLevelConfig" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getActiveSavingsProducts">
      <soap:operation soapAction="urn:getActiveSavingsProducts" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllSavingsProducts">
      <soap:operation soapAction="urn:getAllSavingsProducts" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanRateCategories">
      <soap:operation soapAction="urn:getLoanRateCategories" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavingsRateCategories">
      <soap:operation soapAction="urn:getSavingsRateCategories" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanRateTypeDisplay">
      <soap:operation soapAction="urn:getLoanRateTypeDisplay" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavingsRateTypeDisplay">
      <soap:operation soapAction="urn:getSavingsRateTypeDisplay" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getRateType">
      <soap:operation soapAction="urn:getRateType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavingsProduct">
      <soap:operation soapAction="urn:getSavingsProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getRateDetailsForProduct">
      <soap:operation soapAction="urn:getRateDetailsForProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createSavingsProduct">
      <soap:operation soapAction="urn:createSavingsProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="updateSavingsProduct">
      <soap:operation soapAction="urn:updateSavingsProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getTermProduct">
      <soap:operation soapAction="urn:getTermProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getTermProductByCode">
      <soap:operation soapAction="urn:getTermProductByCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createTermProduct">
      <soap:operation soapAction="urn:createTermProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="updateTermProduct">
      <soap:operation soapAction="urn:updateTermProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanProduct">
      <soap:operation soapAction="urn:getLoanProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanProductByCode">
      <soap:operation soapAction="urn:getLoanProductByCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createLoanProduct">
      <soap:operation soapAction="urn:createLoanProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="updateLoanProduct">
      <soap:operation soapAction="urn:updateLoanProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductList">
      <soap:operation soapAction="urn:getProductList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductListByType">
      <soap:operation soapAction="urn:getProductListByType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductTypes">
      <soap:operation soapAction="urn:getProductTypes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanControlCodesByProductIdAndType">
      <soap:operation soapAction="urn:getLoanControlCodesByProductIdAndType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLoanControlCodes">
      <soap:operation soapAction="urn:getAllLoanControlCodes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getActiveProductList">
      <soap:operation soapAction="urn:getActiveProductList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getActiveProductListForType">
      <soap:operation soapAction="urn:getActiveProductListForType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeeProduct">
      <soap:operation soapAction="urn:getFeeProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeeProductByCode">
      <soap:operation soapAction="urn:getFeeProductByCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateFeeProduct">
      <soap:operation soapAction="urn:createUpdateFeeProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateFeePackage">
      <soap:operation soapAction="urn:createUpdateFeePackage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getMiscProduct">
      <soap:operation soapAction="urn:getMiscProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getMiscProductByCode">
      <soap:operation soapAction="urn:getMiscProductByCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateMiscProduct">
      <soap:operation soapAction="urn:createUpdateMiscProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeeProductListByProductId">
      <soap:operation soapAction="urn:getFeeProductListByProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeeProductList">
      <soap:operation soapAction="urn:getFeeProductList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanProductsByRateTypeId">
      <soap:operation soapAction="urn:getLoanProductsByRateTypeId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavingsProductsByRateTypeId">
      <soap:operation soapAction="urn:getSavingsProductsByRateTypeId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLoanProducts">
      <soap:operation soapAction="urn:getAllLoanProducts" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getInstitutionMemosByProductId">
      <soap:operation soapAction="urn:getInstitutionMemosByProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getActiveProductsOfSameTypeAndCurrency">
      <soap:operation soapAction="urn:getActiveProductsOfSameTypeAndCurrency" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getActiveLoanProductsOfSameTypeAndCurrency">
      <soap:operation soapAction="urn:getActiveLoanProductsOfSameTypeAndCurrency" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getRateHistory">
      <soap:operation soapAction="urn:getRateHistory" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getRIFProductAtRSPAgeLimit">
      <soap:operation soapAction="urn:getRIFProductAtRSPAgeLimit" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAsOfDateRateDetailsInfo">
      <soap:operation soapAction="urn:getAsOfDateRateDetailsInfo" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavDepAndLoanProductTypes">
      <soap:operation soapAction="urn:getSavDepAndLoanProductTypes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateProductRoleIds">
      <soap:operation soapAction="urn:createUpdateProductRoleIds" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="deleteProduct">
      <soap:operation soapAction="urn:deleteProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavingsProductByCode">
      <soap:operation soapAction="urn:getSavingsProductByCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanPmtComponentDetails">
      <soap:operation soapAction="urn:getLoanPmtComponentDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanPmtComponentDetailsByLoanCode">
      <soap:operation soapAction="urn:getLoanPmtComponentDetailsByLoanCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLoanPmtComponentDetailsByLoanPmtComponentId">
      <soap:operation soapAction="urn:getLoanPmtComponentDetailsByLoanPmtComponentId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="isLateChargeCalcMethodDifferentFromNone">
      <soap:operation soapAction="urn:isLateChargeCalcMethodDifferentFromNone" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllLoanRenewalOptionsByProductId">
      <soap:operation soapAction="urn:findAllLoanRenewalOptionsByProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findUniqueLoanRenewalOptionsByProductId">
      <soap:operation soapAction="urn:findUniqueLoanRenewalOptionsByProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllLoanRenewalDetailsByAccountId">
      <soap:operation soapAction="urn:findAllLoanRenewalDetailsByAccountId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getActiveLoanProductsOfSameCurrency">
      <soap:operation soapAction="urn:getActiveLoanProductsOfSameCurrency" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getIndLoanAmtList">
      <soap:operation soapAction="urn:getIndLoanAmtList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findPackageByProductId">
      <soap:operation soapAction="urn:findPackageByProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findPackageById">
      <soap:operation soapAction="urn:findPackageById" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllChannelTranTypes">
      <soap:operation soapAction="urn:findAllChannelTranTypes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="duplicateFeePackage">
      <soap:operation soapAction="urn:duplicateFeePackage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeePackageConfigResources">
      <soap:operation soapAction="urn:getFeePackageConfigResources" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllChqOrderProducts">
      <soap:operation soapAction="urn:getAllChqOrderProducts" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllChqOrderProductsByOrderType">
      <soap:operation soapAction="urn:getAllChqOrderProductsByOrderType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllChqOrderTypes">
      <soap:operation soapAction="urn:getAllChqOrderTypes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllProductPackages">
      <soap:operation soapAction="urn:getAllProductPackages" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateProductPackage">
      <soap:operation soapAction="urn:createUpdateProductPackage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductListInfosForAllProductPackageTypes">
      <soap:operation soapAction="urn:getProductListInfosForAllProductPackageTypes" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductPackageById">
      <soap:operation soapAction="urn:getProductPackageById" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="duplicateProductPackage">
      <soap:operation soapAction="urn:duplicateProductPackage" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findProductPackagesByProductId">
      <soap:operation soapAction="urn:findProductPackagesByProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllFinancialControlGLs">
      <soap:operation soapAction="urn:getAllFinancialControlGLs" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductListForLoanAndSubAccount">
      <soap:operation soapAction="urn:getProductListForLoanAndSubAccount" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateCourtesyPay">
      <soap:operation soapAction="urn:createUpdateCourtesyPay" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllCourtesyPay">
      <soap:operation soapAction="urn:findAllCourtesyPay" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllCourtesyPaybyProductId">
      <soap:operation soapAction="urn:findAllCourtesyPaybyProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllProductbyCourtesyPayId">
      <soap:operation soapAction="urn:findAllProductbyCourtesyPayId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findCourtesyFinControlMappingbyProductId">
      <soap:operation soapAction="urn:findCourtesyFinControlMappingbyProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getMiscProductList">
      <soap:operation soapAction="urn:getMiscProductList" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductListWithAll">
      <soap:operation soapAction="urn:getProductListWithAll" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getLinkableProducts">
      <soap:operation soapAction="urn:getLinkableProducts" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllFeePackages">
      <soap:operation soapAction="urn:getAllFeePackages" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeeSchedulesByFeeChannelId">
      <soap:operation soapAction="urn:getFeeSchedulesByFeeChannelId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateServiceLevelConfig">
      <soap:operation soapAction="urn:createUpdateServiceLevelConfig" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getMiscProductWithCustomerSpecificFee">
      <soap:operation soapAction="urn:getMiscProductWithCustomerSpecificFee" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateRateType">
      <soap:operation soapAction="urn:createUpdateRateType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getControlCodeIncludingDeleted">
      <soap:operation soapAction="urn:getControlCodeIncludingDeleted" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getSavingsProductWithDetails">
      <soap:operation soapAction="urn:getSavingsProductWithDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getTermProductRateDetails">
      <soap:operation soapAction="urn:getTermProductRateDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductTypesWithPsuedoProducts">
      <soap:operation soapAction="urn:getProductTypesWithPsuedoProducts" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLoanProductsIncludingInactive">
      <soap:operation soapAction="urn:getAllLoanProductsIncludingInactive" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllLoanProductsWithDetails">
      <soap:operation soapAction="urn:getAllLoanProductsWithDetails" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findAllChannelTranTypesByinclDescription">
      <soap:operation soapAction="urn:findAllChannelTranTypesByinclDescription" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getFeePackageConfigResourcesExcludingSharedBranches">
      <soap:operation soapAction="urn:getFeePackageConfigResourcesExcludingSharedBranches" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getAllChqOrderProductsForVendorCode">
      <soap:operation soapAction="urn:getAllChqOrderProductsForVendorCode" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getChqOrderProductOptions">
      <soap:operation soapAction="urn:getChqOrderProductOptions" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateChqOrderProduct">
      <soap:operation soapAction="urn:createUpdateChqOrderProduct" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findChqOrderProductByChqOrderProductId">
      <soap:operation soapAction="urn:findChqOrderProductByChqOrderProductId" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="getProductListForLoanAndSubAccountByType">
      <soap:operation soapAction="urn:getProductListForLoanAndSubAccountByType" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="createUpdateCourtesyPays">
      <soap:operation soapAction="urn:createUpdateCourtesyPays" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
    <operation name="findByCourtesyPayPrimaryKey">
      <soap:operation soapAction="urn:findByCourtesyPayPrimaryKey" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="SOAPException">
        <soap:fault use="literal" name="SOAPException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ProductConfig">
    <port name="ProductConfigImplPort" binding="tns:ProductConfigImplPortBinding">
      <soap:address location="https://gocucorvallis.acumen.fiserv.com:443/ispectrum-webservices/ProductConfig" />
    </port>
  </service>
</definitions>