LoansPQWSWrappers/Web References/FIS.UDIRequest/UDIRequest - UAT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fis.it.udi/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://fis.it.udi/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fis.it.udi/">
      <s:element name="Ping">
        <s:complexType />
      </s:element>
      <s:element name="PingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UDIRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLRequest" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UDIRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UDIRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PingSoapIn">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="PingSoapOut">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="UDIRequestSoapIn">
    <wsdl:part name="parameters" element="tns:UDIRequest" />
  </wsdl:message>
  <wsdl:message name="UDIRequestSoapOut">
    <wsdl:part name="parameters" element="tns:UDIRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="UDIRequestSVCSoap">
    <wsdl:operation name="Ping">
      <wsdl:input message="tns:PingSoapIn" />
      <wsdl:output message="tns:PingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UDIRequest">
      <wsdl:input message="tns:UDIRequestSoapIn" />
      <wsdl:output message="tns:UDIRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UDIRequestSVCSoap" type="tns:UDIRequestSVCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://fis.it.udi/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UDIRequest">
      <soap:operation soapAction="http://fis.it.udi/UDIRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UDIRequestSVCSoap12" type="tns:UDIRequestSVCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://fis.it.udi/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UDIRequest">
      <soap12:operation soapAction="http://fis.it.udi/UDIRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UDIRequestSVC">
    <wsdl:port name="UDIRequestSVCSoap" binding="tns:UDIRequestSVCSoap">
      <soap:address location="http://uat.udi.local/wsB2KFacade/UDIRequest.asmx" />
    </wsdl:port>
    <wsdl:port name="UDIRequestSVCSoap12" binding="tns:UDIRequestSVCSoap12">
      <soap12:address location="http://uat.udi.local/wsB2KFacade/UDIRequest.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>