LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.CardConfig/CardConfig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:connections.ispectrum.summitsite.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:connections.ispectrum.summitsite.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://usvendor1.acumenasp.fiserv.com:443/ispectrum-webservices/CardConfig?xsd=1" namespace="urn:connections.ispectrum.summitsite.com" />
    </xsd:schema>
  </types>
  <message name="getAllNetworkNodes">
    <part name="parameters" element="tns:getAllNetworkNodes" />
  </message>
  <message name="getAllNetworkNodesResponse">
    <part name="parameters" element="tns:getAllNetworkNodesResponse" />
  </message>
  <message name="SOAPException">
    <part name="fault" element="tns:SOAPException" />
  </message>
  <message name="getAllNetworkNodesWithNoPagination">
    <part name="parameters" element="tns:getAllNetworkNodesWithNoPagination" />
  </message>
  <message name="getAllNetworkNodesWithNoPaginationResponse">
    <part name="parameters" element="tns:getAllNetworkNodesWithNoPaginationResponse" />
  </message>
  <message name="getAllUnassignedCards">
    <part name="parameters" element="tns:getAllUnassignedCards" />
  </message>
  <message name="getAllUnassignedCardsResponse">
    <part name="parameters" element="tns:getAllUnassignedCardsResponse" />
  </message>
  <message name="getFilteredATMNetworkUpdateInfos">
    <part name="parameters" element="tns:getFilteredATMNetworkUpdateInfos" />
  </message>
  <message name="getFilteredATMNetworkUpdateInfosResponse">
    <part name="parameters" element="tns:getFilteredATMNetworkUpdateInfosResponse" />
  </message>
  <message name="findAllATMNetworkNodes">
    <part name="parameters" element="tns:findAllATMNetworkNodes" />
  </message>
  <message name="findAllATMNetworkNodesResponse">
    <part name="parameters" element="tns:findAllATMNetworkNodesResponse" />
  </message>
  <message name="createUpdateATMNetworkNode">
    <part name="parameters" element="tns:createUpdateATMNetworkNode" />
  </message>
  <message name="createUpdateATMNetworkNodeResponse">
    <part name="parameters" element="tns:createUpdateATMNetworkNodeResponse" />
  </message>
  <message name="getAllCardBase">
    <part name="parameters" element="tns:getAllCardBase" />
  </message>
  <message name="getAllCardBaseResponse">
    <part name="parameters" element="tns:getAllCardBaseResponse" />
  </message>
  <message name="createUpdateCardBase">
    <part name="parameters" element="tns:createUpdateCardBase" />
  </message>
  <message name="createUpdateCardBaseResponse">
    <part name="parameters" element="tns:createUpdateCardBaseResponse" />
  </message>
  <message name="findCardBaseByCardBaseId">
    <part name="parameters" element="tns:findCardBaseByCardBaseId" />
  </message>
  <message name="findCardBaseByCardBaseIdResponse">
    <part name="parameters" element="tns:findCardBaseByCardBaseIdResponse" />
  </message>
  <message name="getAllCardOrders">
    <part name="parameters" element="tns:getAllCardOrders" />
  </message>
  <message name="getAllCardOrdersResponse">
    <part name="parameters" element="tns:getAllCardOrdersResponse" />
  </message>
  <message name="getAllCardOrderProps">
    <part name="parameters" element="tns:getAllCardOrderProps" />
  </message>
  <message name="getAllCardOrderPropsResponse">
    <part name="parameters" element="tns:getAllCardOrderPropsResponse" />
  </message>
  <message name="getAllCardOrdersById">
    <part name="parameters" element="tns:getAllCardOrdersById" />
  </message>
  <message name="getAllCardOrdersByIdResponse">
    <part name="parameters" element="tns:getAllCardOrdersByIdResponse" />
  </message>
  <message name="getAllCardOrderPropsById">
    <part name="parameters" element="tns:getAllCardOrderPropsById" />
  </message>
  <message name="getAllCardOrderPropsByIdResponse">
    <part name="parameters" element="tns:getAllCardOrderPropsByIdResponse" />
  </message>
  <message name="getCardOrderByOrderId">
    <part name="parameters" element="tns:getCardOrderByOrderId" />
  </message>
  <message name="getCardOrderByOrderIdResponse">
    <part name="parameters" element="tns:getCardOrderByOrderIdResponse" />
  </message>
  <message name="getCardOrderPropsByPropsId">
    <part name="parameters" element="tns:getCardOrderPropsByPropsId" />
  </message>
  <message name="getCardOrderPropsByPropsIdResponse">
    <part name="parameters" element="tns:getCardOrderPropsByPropsIdResponse" />
  </message>
  <message name="createUpdateCardOrder">
    <part name="parameters" element="tns:createUpdateCardOrder" />
  </message>
  <message name="createUpdateCardOrderResponse">
    <part name="parameters" element="tns:createUpdateCardOrderResponse" />
  </message>
  <message name="createUpdateCardOrderProps">
    <part name="parameters" element="tns:createUpdateCardOrderProps" />
  </message>
  <message name="createUpdateCardOrderPropsResponse">
    <part name="parameters" element="tns:createUpdateCardOrderPropsResponse" />
  </message>
  <message name="findATMNetworkNodeById">
    <part name="parameters" element="tns:findATMNetworkNodeById" />
  </message>
  <message name="findATMNetworkNodeByIdResponse">
    <part name="parameters" element="tns:findATMNetworkNodeByIdResponse" />
  </message>
  <message name="findATMNetworkNodeByCode">
    <part name="parameters" element="tns:findATMNetworkNodeByCode" />
  </message>
  <message name="findATMNetworkNodeByCodeResponse">
    <part name="parameters" element="tns:findATMNetworkNodeByCodeResponse" />
  </message>
  <message name="createUpdateATMNetworkUpdate">
    <part name="parameters" element="tns:createUpdateATMNetworkUpdate" />
  </message>
  <message name="createUpdateATMNetworkUpdateResponse">
    <part name="parameters" element="tns:createUpdateATMNetworkUpdateResponse" />
  </message>
  <message name="findATMNetworkUpdateByPrimaryKey">
    <part name="parameters" element="tns:findATMNetworkUpdateByPrimaryKey" />
  </message>
  <message name="findATMNetworkUpdateByPrimaryKeyResponse">
    <part name="parameters" element="tns:findATMNetworkUpdateByPrimaryKeyResponse" />
  </message>
  <message name="findATMNetworkUpdateByPrimaryKeyWithDBLock">
    <part name="parameters" element="tns:findATMNetworkUpdateByPrimaryKeyWithDBLock" />
  </message>
  <message name="findATMNetworkUpdateByPrimaryKeyWithDBLockResponse">
    <part name="parameters" element="tns:findATMNetworkUpdateByPrimaryKeyWithDBLockResponse" />
  </message>
  <portType name="CardConfig">
    <operation name="getAllNetworkNodes">
      <input message="tns:getAllNetworkNodes" />
      <output message="tns:getAllNetworkNodesResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllNetworkNodesWithNoPagination">
      <input message="tns:getAllNetworkNodesWithNoPagination" />
      <output message="tns:getAllNetworkNodesWithNoPaginationResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllUnassignedCards">
      <input message="tns:getAllUnassignedCards" />
      <output message="tns:getAllUnassignedCardsResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getFilteredATMNetworkUpdateInfos">
      <input message="tns:getFilteredATMNetworkUpdateInfos" />
      <output message="tns:getFilteredATMNetworkUpdateInfosResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="findAllATMNetworkNodes">
      <input message="tns:findAllATMNetworkNodes" />
      <output message="tns:findAllATMNetworkNodesResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="createUpdateATMNetworkNode">
      <input message="tns:createUpdateATMNetworkNode" />
      <output message="tns:createUpdateATMNetworkNodeResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllCardBase">
      <input message="tns:getAllCardBase" />
      <output message="tns:getAllCardBaseResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="createUpdateCardBase">
      <input message="tns:createUpdateCardBase" />
      <output message="tns:createUpdateCardBaseResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="findCardBaseByCardBaseId">
      <input message="tns:findCardBaseByCardBaseId" />
      <output message="tns:findCardBaseByCardBaseIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllCardOrders">
      <input message="tns:getAllCardOrders" />
      <output message="tns:getAllCardOrdersResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllCardOrderProps">
      <input message="tns:getAllCardOrderProps" />
      <output message="tns:getAllCardOrderPropsResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllCardOrdersById">
      <input message="tns:getAllCardOrdersById" />
      <output message="tns:getAllCardOrdersByIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getAllCardOrderPropsById">
      <input message="tns:getAllCardOrderPropsById" />
      <output message="tns:getAllCardOrderPropsByIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getCardOrderByOrderId">
      <input message="tns:getCardOrderByOrderId" />
      <output message="tns:getCardOrderByOrderIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="getCardOrderPropsByPropsId">
      <input message="tns:getCardOrderPropsByPropsId" />
      <output message="tns:getCardOrderPropsByPropsIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="createUpdateCardOrder">
      <input message="tns:createUpdateCardOrder" />
      <output message="tns:createUpdateCardOrderResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="createUpdateCardOrderProps">
      <input message="tns:createUpdateCardOrderProps" />
      <output message="tns:createUpdateCardOrderPropsResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="findATMNetworkNodeById">
      <input message="tns:findATMNetworkNodeById" />
      <output message="tns:findATMNetworkNodeByIdResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="findATMNetworkNodeByCode">
      <input message="tns:findATMNetworkNodeByCode" />
      <output message="tns:findATMNetworkNodeByCodeResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="createUpdateATMNetworkUpdate">
      <input message="tns:createUpdateATMNetworkUpdate" />
      <output message="tns:createUpdateATMNetworkUpdateResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="findATMNetworkUpdateByPrimaryKey">
      <input message="tns:findATMNetworkUpdateByPrimaryKey" />
      <output message="tns:findATMNetworkUpdateByPrimaryKeyResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
    <operation name="findATMNetworkUpdateByPrimaryKeyWithDBLock">
      <input message="tns:findATMNetworkUpdateByPrimaryKeyWithDBLock" />
      <output message="tns:findATMNetworkUpdateByPrimaryKeyWithDBLockResponse" />
      <fault name="SOAPException" message="tns:SOAPException" />
    </operation>
  </portType>
</definitions>