LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanNoteCollateralMainenance/LNNoteCollMaintWSV1SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteCollMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteCollMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteCollMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan Note Collateral Maintenance (LN019) - </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33175" type="xs:string">
          <xs:annotation>
            <xs:documentation>Activity Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33180" type="xs:string">
          <xs:annotation>
            <xs:documentation>Maintenance Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33181" type="xs:string">
          <xs:annotation>
            <xs:documentation>Sequence Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34287" type="xs:string">
          <xs:annotation>
            <xs:documentation>Collateral Category</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33182" type="xs:string">
          <xs:annotation>
            <xs:documentation>Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30980" type="xs:string">
          <xs:annotation>
            <xs:documentation>Released Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30826" type="xs:string">
          <xs:annotation>
            <xs:documentation>Release Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33186" type="xs:string">
          <xs:annotation>
            <xs:documentation>Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30827" type="xs:string">
          <xs:annotation>
            <xs:documentation>Percent Allocated</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33184" type="xs:string">
          <xs:annotation>
            <xs:documentation>Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34288" type="xs:string">
          <xs:annotation>
            <xs:documentation>Primary Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30904" type="xs:string">
          <xs:annotation>
            <xs:documentation>Original Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30905" type="xs:string">
          <xs:annotation>
            <xs:documentation>Original Valuation Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30906" type="xs:string">
          <xs:annotation>
            <xs:documentation>Original Valuation Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30907" type="xs:string">
          <xs:annotation>
            <xs:documentation>Original Valuation Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30912" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Valuation Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30908" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30909" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Valuation Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30910" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Valuation Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30911" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Valuation Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33185" type="xs:string">
          <xs:annotation>
            <xs:documentation>Owner</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33183" type="xs:string">
          <xs:annotation>
            <xs:documentation>Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34289" type="xs:string">
          <xs:annotation>
            <xs:documentation>Street Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34291" type="xs:string">
          <xs:annotation>
            <xs:documentation>Supplemental Address Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34290" type="xs:string">
          <xs:annotation>
            <xs:documentation>City/State/ZIP Line</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30939" type="xs:string">
          <xs:annotation>
            <xs:documentation>Contact</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30940" type="xs:string">
          <xs:annotation>
            <xs:documentation>Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34285" type="xs:string">
          <xs:annotation>
            <xs:documentation>County</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34286" type="xs:string">
          <xs:annotation>
            <xs:documentation>MSA Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30913" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Review Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30914" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Review Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30898" type="xs:string">
          <xs:annotation>
            <xs:documentation>Risk Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30899" type="xs:string">
          <xs:annotation>
            <xs:documentation>Risk Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30900" type="xs:string">
          <xs:annotation>
            <xs:documentation>Original Risk Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30901" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Risk Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30902" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Risk Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30903" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Risk Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30889" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30890" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC File Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30891" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC File County</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30892" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC File State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30893" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC File Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30894" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30895" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC Amended Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30896" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC Continued Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30897" type="xs:string">
          <xs:annotation>
            <xs:documentation>UCC Termination Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30920" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Date 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30921" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Date 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30922" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Date 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30923" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Date 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30924" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Date 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30925" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Amount 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30926" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Amount 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30927" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Amount 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30928" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Amount 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30929" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Amount 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30915" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Comments 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30916" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Comments 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30917" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Comments 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30918" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Comments 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30919" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Comments 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30828" type="xs:string">
          <xs:annotation>
            <xs:documentation>Cross Collateral Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30829" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30830" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30831" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30832" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30833" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30834" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30835" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30836" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30837" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30838" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30839" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30840" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30841" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30842" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30843" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30844" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30845" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30846" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30847" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30848" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30849" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30850" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30851" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30852" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30853" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30854" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30855" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30856" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30857" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30858" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30859" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30860" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30861" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30862" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30863" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30864" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30865" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30866" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30867" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30868" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30869" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30870" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30871" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30872" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30873" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30874" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30875" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30876" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30877" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30878" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30879" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30880" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30881" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30882" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30883" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30884" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30885" type="xs:string">
          <xs:annotation>
            <xs:documentation>Current Balance 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30886" type="xs:string">
          <xs:annotation>
            <xs:documentation>Available Balance 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30887" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30888" type="xs:string">
          <xs:annotation>
            <xs:documentation>Allocated 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30990" type="xs:string">
          <xs:annotation>
            <xs:documentation>Crops</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30984" type="xs:string">
          <xs:annotation>
            <xs:documentation>Acreage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30985" type="xs:string">
          <xs:annotation>
            <xs:documentation>Tillable</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30988" type="xs:string">
          <xs:annotation>
            <xs:documentation>Livestock</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30986" type="xs:string">
          <xs:annotation>
            <xs:documentation>Production Land</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30987" type="xs:string">
          <xs:annotation>
            <xs:documentation>Raw Land</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30983" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Units</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30976" type="xs:string">
          <xs:annotation>
            <xs:documentation>Document Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30977" type="xs:string">
          <xs:annotation>
            <xs:documentation>Book Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30978" type="xs:string">
          <xs:annotation>
            <xs:documentation>Page Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30979" type="xs:string">
          <xs:annotation>
            <xs:documentation>Recorded Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30955" type="xs:string">
          <xs:annotation>
            <xs:documentation>Margin</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30981" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30982" type="xs:string">
          <xs:annotation>
            <xs:documentation>Policy Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30957" type="xs:string">
          <xs:annotation>
            <xs:documentation>Parcel</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30963" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lot/Block</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30960" type="xs:string">
          <xs:annotation>
            <xs:documentation>Census Tract</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30967" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien Position</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30964" type="xs:string">
          <xs:annotation>
            <xs:documentation>Instrument Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30965" type="xs:string">
          <xs:annotation>
            <xs:documentation>Purchase Price</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30966" type="xs:string">
          <xs:annotation>
            <xs:documentation>Purchase Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30975" type="xs:string">
          <xs:annotation>
            <xs:documentation>Land Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30959" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30958" type="xs:string">
          <xs:annotation>
            <xs:documentation>Year Built</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30974" type="xs:string">
          <xs:annotation>
            <xs:documentation>Building Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30972" type="xs:string">
          <xs:annotation>
            <xs:documentation>Builder</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30973" type="xs:string">
          <xs:annotation>
            <xs:documentation>Subdivision</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30970" type="xs:string">
          <xs:annotation>
            <xs:documentation>Floors</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30971" type="xs:string">
          <xs:annotation>
            <xs:documentation>REIT Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30969" type="xs:string">
          <xs:annotation>
            <xs:documentation>Occupancy Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30968" type="xs:string">
          <xs:annotation>
            <xs:documentation>Occupancy Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30962" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lot Square Feet</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30961" type="xs:string">
          <xs:annotation>
            <xs:documentation>Building Square Feet</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30930" type="xs:string">
          <xs:annotation>
            <xs:documentation>Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30931" type="xs:string">
          <xs:annotation>
            <xs:documentation>Make</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30932" type="xs:string">
          <xs:annotation>
            <xs:documentation>Model</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30933" type="xs:string">
          <xs:annotation>
            <xs:documentation>VIN/Serial Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30936" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien Filing Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30937" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30938" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien Release Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30941" type="xs:string">
          <xs:annotation>
            <xs:documentation>Financial Instrument Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30944" type="xs:string">
          <xs:annotation>
            <xs:documentation>Financial Instrument Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30945" type="xs:string">
          <xs:annotation>
            <xs:documentation>Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30942" type="xs:string">
          <xs:annotation>
            <xs:documentation>Financial Instrument Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30943" type="xs:string">
          <xs:annotation>
            <xs:documentation>Financial Instrument Sub Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30948" type="xs:string">
          <xs:annotation>
            <xs:documentation>Security Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30947" type="xs:string">
          <xs:annotation>
            <xs:documentation>Certificate Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30953" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Security Units</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30946" type="xs:string">
          <xs:annotation>
            <xs:documentation>CUSIP Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30949" type="xs:string">
          <xs:annotation>
            <xs:documentation>Ticker</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30950" type="xs:string">
          <xs:annotation>
            <xs:documentation>Exchange</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30954" type="xs:string">
          <xs:annotation>
            <xs:documentation>Price Per Share</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30952" type="xs:string">
          <xs:annotation>
            <xs:documentation>Investment Account</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30956" type="xs:string">
          <xs:annotation>
            <xs:documentation>Call Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30951" type="xs:string">
          <xs:annotation>
            <xs:documentation>Investment Contact</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30934" type="xs:string">
          <xs:annotation>
            <xs:documentation>Title Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30935" type="xs:string">
          <xs:annotation>
            <xs:documentation>Mileage/Hours</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>