LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/CICustToAcctRltResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustToAcctRltResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustToAcctRltResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustToAcctRltResData">
    <xs:annotation>
      <xs:documentation>CIS Customer to Account Relationship (CI009) -  This function is used to establish within CIS a Metavante IBS account, its name and address, and its related customers.  The standardized name and address that is output from the Account Name and Address Edit function can be moved to the corresponding fields in this function.  In addition, the customers and their corresponding relationships to the account must be specified in this function.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E10176" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10178" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Entity 1 to Entity 2 Relationship Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10183" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10187" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Keyword Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10203" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10204" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10205" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10206" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10207" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Primary/Secondary Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10211" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10212" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10213" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10214" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10215" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Relationship Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10216" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10217" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10218" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10219" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10220" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Customer Number 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10359" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10360" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Permanent/Temporary Remark Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10361" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Original Source Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10363" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Last Maintenance Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10364" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Review Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10365" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Operator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10366" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Process Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10368" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Effective Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16000" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16001" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16002" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16003" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16004" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16005" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16006" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16007" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line Code 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16008" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16009" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16010" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16011" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16012" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16013" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16014" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16015" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Line 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16017" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name/Address Standardization Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16020" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16021" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16022" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16023" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16024" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16025" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16026" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16027" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16028" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16029" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16030" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Name Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16031" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16032" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16033" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16034" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16035" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Current Address Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16053" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16054" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Application Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E16055" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16056" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16057" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16059" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16060" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16061" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16062" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16063" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Account Remark Text Line 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10362" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Remark Maintenance Source Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16910" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS External Customer ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16911" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Source ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E16912" type="xs:string">
          <xs:annotation>
            <xs:documentation>CIS Offer ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>