LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNBillMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNBillMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNBillMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNBillMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan Bill Maintenance (LNBLM) -  This function is used to add, change, or delete existing bills and is valid only for Bill Types A, B, and C.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33501" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33502" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Maintenance Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33503" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Due Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33504" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Recalculate/Reprint Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33505" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Right to Cure Notice Indicator Entered</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33506" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Principal/Payment Billed Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33507" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Principal/Payment Billed Amount Not Paid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33512" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Trailer Any</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35093" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Billed Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35096" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Billed Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35100" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Billed Amount Not Paid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35103" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Billed Amount Not Paid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35105" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Payment Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35109" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN P and I Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35110" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35111" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Buydown Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35112" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Voluntary Insurance Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35114" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Projected Interest Due</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35115" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Projected Principal Due</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35116" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35117" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN ACH/Autopay Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35118" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Right To Cure Notice Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="LNBillMaintResrvMiscLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="LNBillMaintResrvMisc">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E33508" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Bill Trailer Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33509" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Bill Trailer Purpose</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33510" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Bill Trailer Billed Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33511" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Bill Trailer Billed Not Paid Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>