LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNBillDateMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNBillDateMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNBillDateMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNBillDateMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan Bill Date Maintenance (LNBDM) -  This function is used to control which bill segment is next produced.  It can be used to change the next bill date of the current payment schedule or to drop a short bill.  Information about the last bill segment and the bill segment previous to that is also displayed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33498" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Confirmation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E310087" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Change/Inquiry Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35099" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Principal Billed Not Paid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36459" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current Principal Due</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36463" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current Interest Due</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36467" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Interest Billed Not Paid</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36515" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Next Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36516" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Next Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36517" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Next Schedule Payment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36518" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Last Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36519" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Last Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36520" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Last Schedule Payment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36521" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Previous Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36522" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Previous Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36523" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Previous Schedule Payment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36524" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Next Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36525" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Next Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36526" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Next Schedule Payment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36527" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Last Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36528" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Last Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36529" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Last Schedule Payment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36530" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Previous Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36531" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Previous Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36533" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Previous Schedule Payment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>