LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNCommtUpdtResDataV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNCommtUpdtResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNCommtUpdtResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNCommtUpdtResData">
    <xs:annotation>
      <xs:documentation>Loan Commitment Update (LNCMU) -  This function is used to update or change information for a commitment.  You can also use this service to renew or delete a commitment.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30115" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31305" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Approval Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31306" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Takedown Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31308" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Risk Rating Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31312" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Auto Draw Delinquency Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31313" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Auto Draw Delinquency Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31317" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Collateral Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31319" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Pending Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31321" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Participation Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31322" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Participating Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31338" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31347" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31352" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Term Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33231" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33235" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Master Line Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33236" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33237" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33238" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33239" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Federal Call Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33240" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Expiration Date Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33241" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Overhead Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33242" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33243" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Renewal Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33244" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Secured Commitment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33245" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Revolving Commitment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33246" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Advisement Level</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33247" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Active Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33248" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Draw Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33249" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33250" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Collateral Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33251" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Pricing Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33252" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current Commitment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33254" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Immediate Parent Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33255" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Immediate Parent Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33256" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Used Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33257" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Unused Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33258" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Ultimate Parent Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33259" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Ultimate Parent Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33260" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Available Commitment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33261" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33262" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33263" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33264" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33265" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35488" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Purge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35506" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Risk Rating Change Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32755" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN PCMA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31356" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Review Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30201" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TLC Commitment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E39997" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Reduce Availability</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E39999" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Override Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37183" type="xs:string">
          <xs:annotation>
            <xs:documentation>Collateral Based Credit Line Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>