LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNCommtPrtMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNCommtPrtMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNCommtPrtMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNCommtPrtMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan Commitment Parts Maintenance (LNCPT) - This function is used to identify, change, or view a lead commitment and add, change, delete, or view commitment participations.  A maximum of 75 participations per lead commitment are allowed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30115" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33620" type="xs:string">
          <xs:annotation>
            <xs:documentation>Inquiry/Update Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33621" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Authority Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33622" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Hidden Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33623" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Hidden Lead Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33625" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Funding Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33626" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Payment Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33627" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Priority Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33628" type="xs:string">
          <xs:annotation>
            <xs:documentation>CPT Number Part Entries</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="LNCommtPrtMaintPrtDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="LNCommtPrtMaintPrtData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E33630" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Update Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33631" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Commitment Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33632" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Bank Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33633" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33634" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Priority</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33635" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33636" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Revolving Credit Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33637" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Price Plan</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33638" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Commitment Part Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33639" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Used Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33640" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>CPT Delete Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>