LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNCpnOrdrResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNCpnOrdrResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNCpnOrdrResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNCpnOrdrResData">
    <xs:annotation>
      <xs:documentation>Loan Coupon Order (LNCPN) - The Coupon Order screen is used to order a replacement coupon book or a coupon book for a borrower who has never been set up to receive coupons. You can change the order information or cancel the order completely provided you do so the same day you entered the transaction. The screen is divided into two sections: maintenance and inquiry. The fields located on the maintenance portion are used to generate the coupon order. The inquiry portion displays information from the last coupon order, the pending coupon order, and general coupon information. A coupon order placed through the Coupon Order screen will not affect the automatic ordering of coupons for variable plan loans or loans subject to escrow analysis.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33220" type="xs:string">
          <xs:annotation>
            <xs:documentation>Update Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36549" type="xs:string">
          <xs:annotation>
            <xs:documentation>Start Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32070" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Coupons</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33223" type="xs:string">
          <xs:annotation>
            <xs:documentation>Through Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36703" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Order Start Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36705" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Order Order Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36704" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Order Number Ordered</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33225" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Order Analysis Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33226" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Order Payment Due Dte</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36515" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Order Bill Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33228" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Order Analysis Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36510" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Order Payment Change Dte</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33229" type="xs:string">
          <xs:annotation>
            <xs:documentation>Next Order Start Dte</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32004" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36551" type="xs:string">
          <xs:annotation>
            <xs:documentation>Coupon Drop Reason</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33230" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Last Payment Schedule Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32015" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note No Bill Ind</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>