LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNCpnOrdrReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNCpnOrdrReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNCpnOrdrReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNCpnOrdrReqData">
    <xs:annotation>
      <xs:documentation>Loan Coupon Order (LNCPN) - The Coupon Order screen is used to order a replacement coupon book or a coupon book for a borrower who has never been set up to receive coupons. You can change the order information or cancel the order completely provided you do so the same day you entered the transaction. The screen is divided into two sections: maintenance and inquiry. The fields located on the maintenance portion are used to generate the coupon order. The inquiry portion displays information from the last coupon order, the pending coupon order, and general coupon information. A coupon order placed through the Coupon Order screen will not affect the automatic ordering of coupons for variable plan loans or loans subject to escrow analysis.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33220" type="xs:string">
          <xs:annotation>
            <xs:documentation>Update Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36549" type="xs:string">
          <xs:annotation>
            <xs:documentation>Start Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32070" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Coupons</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33223" type="xs:string">
          <xs:annotation>
            <xs:documentation>Through Date</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>