LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNEscrMaintReqDataV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNEscrMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNEscrMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNEscrMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan Escrow Maintenance (LNESM) -  This function is used to add an escrow to an existing note or to change information on an existing escrow.  An escrow segment cannot be deleted, only inactivated by entering any value except 0 (zero) in the szLNActvInactvInd field.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30109" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Segment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37754" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Maintenance Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37756" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37757" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Collection Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37758" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TRTS Contract Suffix</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37759" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payee Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37760" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Company Category</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37761" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Company Subcategory</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37762" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TRTS Hit Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37763" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TRTS ADDS Transaction Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37764" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37765" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance Coverage Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37766" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37768" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current FHA Anniversary Month</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37769" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Pending FHA Anniversary Month</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37770" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current Premium</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37771" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Pending Premium</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37772" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Disbursement Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37773" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Disbursement Exception Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37774" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Interest Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37775" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Customer Recipient Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37776" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Disbursement Calculation Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37777" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Check Recipient</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37778" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN R-7360 Request Print Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37779" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Status Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37780" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Guarantee Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37781" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Check Group Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37782" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Escrow Disbursement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37783" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Last Escrow Disbursement Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37784" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Expected Escrow Disbursement Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37785" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Next Escrow Disbursement Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37786" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37787" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Disbursement Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37788" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Disbursement Lead Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37789" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Automatic Disbursement Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37790" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Year-to-Date Escrow Distribution Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37791" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Even Amount Escrow Disbursement Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37792" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Number of Escrow Disbursement Installments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37793" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Premium Calculation Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37798" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax/Insurance Identification Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37799" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax/Insurance Identification Maintenance Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37800" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Tax/Insurance Policy Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37755" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Active/Inactive Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32899" type="xs:string">
          <xs:annotation>
            <xs:documentation>Prior Year to Date Disbursement Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="LNEscrMaintDisbDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="LNEscrMaintDisbData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E37794" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment Disbursement Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E37795" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Escrow Installment Disbursement Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>