LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNFloodTrackingMaintResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNFloodTrackingMaintResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNFloodTrackingMaintResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNFloodTrackingMaintResData">
    <xs:annotation>
      <xs:documentation>Loan Flood Tracking Maintenance (LN054) - This function is used to maintain related flood information for tracking of property used as collateral on a note.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31876" type="xs:string">
          <xs:annotation>
            <xs:documentation>Maintenance Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31824" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31825" type="xs:string">
          <xs:annotation>
            <xs:documentation>Flood Record</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31826" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31827" type="xs:string">
          <xs:annotation>
            <xs:documentation>Residential Commercial Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31828" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Buildings</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31829" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Units</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31830" type="xs:string">
          <xs:annotation>
            <xs:documentation>Flood Zone Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31831" type="xs:string">
          <xs:annotation>
            <xs:documentation>Multiple Loans to Collateral Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31832" type="xs:string">
          <xs:annotation>
            <xs:documentation>Appraisal Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31833" type="xs:string">
          <xs:annotation>
            <xs:documentation>Panel Map</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31834" type="xs:string">
          <xs:annotation>
            <xs:documentation>Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31835" type="xs:string">
          <xs:annotation>
            <xs:documentation>Revised Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31836" type="xs:string">
          <xs:annotation>
            <xs:documentation>LOMA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31837" type="xs:string">
          <xs:annotation>
            <xs:documentation>LOMA Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31838" type="xs:string">
          <xs:annotation>
            <xs:documentation>Community Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31839" type="xs:string">
          <xs:annotation>
            <xs:documentation>County</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31840" type="xs:string">
          <xs:annotation>
            <xs:documentation>State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31841" type="xs:string">
          <xs:annotation>
            <xs:documentation>Community Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31842" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Flood Area</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31843" type="xs:string">
          <xs:annotation>
            <xs:documentation>Flood Zone Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31844" type="xs:string">
          <xs:annotation>
            <xs:documentation>Determination Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31845" type="xs:string">
          <xs:annotation>
            <xs:documentation>Life of Loan Indicater</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31846" type="xs:string">
          <xs:annotation>
            <xs:documentation>Participating Community</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31847" type="xs:string">
          <xs:annotation>
            <xs:documentation>CBRA OPA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31848" type="xs:string">
          <xs:annotation>
            <xs:documentation>CBRA Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31849" type="xs:string">
          <xs:annotation>
            <xs:documentation>Certificate Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31850" type="xs:string">
          <xs:annotation>
            <xs:documentation>Insurance Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31851" type="xs:string">
          <xs:annotation>
            <xs:documentation>Replacement Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31852" type="xs:string">
          <xs:annotation>
            <xs:documentation>Required Coverage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31853" type="xs:string">
          <xs:annotation>
            <xs:documentation>Actual Coverage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31854" type="xs:string">
          <xs:annotation>
            <xs:documentation>Escrow Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31855" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31856" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company Address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31857" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31858" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31859" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company Zip</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31860" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company Phone</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31861" type="xs:string">
          <xs:annotation>
            <xs:documentation>Company Agent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31862" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comment 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31863" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comment 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31864" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comment 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31865" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comment 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31866" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comment 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31867" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comment 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31868" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31869" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31870" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31871" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31872" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31873" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31874" type="xs:string">
          <xs:annotation>
            <xs:documentation>Update Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31875" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Update By</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>