LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNManFeeReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNManFeeReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNManFeeReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNManFeeReqData">
    <xs:annotation>
      <xs:documentation>Loan Manual Fee Assessment (LNMFE) -  This function is used to assess a one-time fee to a particular account, commitment, or note.  A manual fee assessment is most commonly used for points, FASB fees, closing costs, extension fees, and title fees.  This service can also be used to apply a payment to the fee at the time it is assessed.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31701" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31702" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Batch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31703" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31704" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Due Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31705" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Related Note or Commitment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31706" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Bill Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31707" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Charge Deposit Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31708" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Deposit Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31709" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Combined Bill Indicator (Bank Control)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31710" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Combined Bill Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31711" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Exclude Late Fee Maturity Indicator (Bank Control)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31712" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Exclude Late Fee Maturity Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31713" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Display to Customer Indicator (Bank Control)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31714" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Display to Customer Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31715" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Earnings Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31716" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Start Earnings Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31717" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Rebateable Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31718" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Earnings Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31720" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31721" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Assessment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31722" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Assessment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31723" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Capitalization Indicator (Bank Control)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31724" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Capitalization Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>