LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNMultCollWSV2SvcResData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNMultCollResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNMultCollResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNMultCollResData">
    <xs:annotation>
      <xs:documentation>Loan Multiple Collateral (LN019) - This function allows you to view, add, change, or delete multiple collateral records for a single note.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33175" type="xs:string">
          <xs:annotation>
            <xs:documentation>Activity Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33176" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33177" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Update Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33178" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Update User ID</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33179" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Percentage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33188" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Collateral Added</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33189" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Collateral Changed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33190" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Collateral Deleted</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="LNMultCollCollDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNMultCollCollData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E33180" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Maintenance Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33181" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Sequence Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33182" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Type Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33183" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33184" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33185" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Owner</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33186" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33187" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Percentage</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33191" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Item Last Update Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33192" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Item Last Update User Id</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34277" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>House Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34278" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>House Number Fraction</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34279" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Direction</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34280" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Street Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34281" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Special Street</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34282" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>City</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34283" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>State</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34284" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Zip</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34285" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>County</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34286" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>MSA Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34287" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Collateral Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34288" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Primary Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34289" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Street Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34290" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>City Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34291" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Supplement Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>