LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNMultCollWSV2SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNMultCollReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNMultCollReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNMultCollReqData">
    <xs:annotation>
      <xs:documentation>Loan Multiple Collateral (LN019) - This function allows you to view, add, change, or delete multiple collateral records for a single note.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33175" type="xs:string">
          <xs:annotation>
            <xs:documentation>Activity Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="LNMultCollCollDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="unbounded" name="LNMultCollCollData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E33180" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Maintenance Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33181" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Sequence Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33182" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Type Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33183" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33184" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Date</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33185" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Owner</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33186" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34285" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>County</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34286" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>MSA Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34287" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Collateral Category</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34288" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Primary Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34289" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Street Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34290" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>City Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E34291" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Supplement Line</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>