LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNNewCommtResDataV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNewCommtResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNewCommtResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNewCommtResData">
    <xs:annotation>
      <xs:documentation>Loan New Commitment (LNCNW) -  This function is used to set up a new commitment for an existing customer.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30115" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31303" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Type (Bank Control)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31304" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Original Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31305" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Approval Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31306" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Takedown Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31307" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Expiration Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31308" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Risk Rating Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31309" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Secured Commitment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31310" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Expiration Date Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31311" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Overhead Type Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31312" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Auto Draw Delinquency Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31313" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Auto Draw Delinquency Days</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31314" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Revolving Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31315" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Usage Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E31316" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Advisement Level</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31317" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Collateral Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31318" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Draw Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31319" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Pending Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31320" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Active Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31321" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Participation Status Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31322" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Participating Bank Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31323" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Immediate Parent Commitment Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31324" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Collateral Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31325" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Pricing Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31330" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Immediate Parent Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31331" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan Default Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31332" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Tickler Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31333" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Tickler Action Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31334" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31335" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31336" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Fee Plan 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31337" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN First Fee Due Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31338" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31339" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Cost Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31340" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31341" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Federal Call Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31342" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31343" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31344" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31345" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31346" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN User Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31347" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31348" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Officer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31352" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Original Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31353" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31354" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Currency Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31355" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Master Line Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E31356" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Review Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32755" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN PCMA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30201" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN TLC Commitment Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E39997" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Commitment Reduce Availability</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E37183" type="xs:string">
          <xs:annotation>
            <xs:documentation>Collateral Based Credit Line Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>