LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNNoteRnwlResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNNoteRnwlResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNNoteRnwlResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNNoteRnwlResData">
    <xs:annotation>
      <xs:documentation>Loan Note Renewal (LNNRN) -  This function is used for renewing a note (excluding Bill Type F) when the actual maturity date is changed.  This should not be confused with an extension.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E30009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Source</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30050" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Transaction Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30052" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Salespartner Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30053" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33001" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Batch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33002" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Maturity Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33003" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Renewal Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33004" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33005" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33006" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Frequency</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33007" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Number of Payments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33008" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Business Day</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33009" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Charge Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33010" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Charge DDA Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33011" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33012" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Total Scheduled Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33013" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Principal and Interest Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33014" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Escrow Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33015" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Buydown Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33016" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Percent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33017" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Minimum Payment Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33018" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Loan Balance Payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33019" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33020" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Bill Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33021" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33022" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Interest Paid To Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33023" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Number of Coupons</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33024" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Interest Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33025" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Effective Date of Rate Change</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33026" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Rate Margin</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33027" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Margin Relationship to Index</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33028" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Track Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33029" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Related Index</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33030" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Basis Code for Accrual</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33031" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Payment Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33032" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Participation Interest Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33033" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Pricing Plan Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33034" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Participation Spread Override</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33035" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Times Renewed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33036" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Old Total Owed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33037" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account New Total Owed</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33038" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Loan Old Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33039" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Loan New Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33040" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Old Rate Over</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33041" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN New Rate Over</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="LNNoteRnwlPartLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="LNNoteRnwlPart">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E33042" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Participation Name</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33043" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Participation New Balance</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33044" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Participation Principal Paid</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E33045" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>LN Participation Interest Paid</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>