LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LNRsrvMaintReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNRsrvMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNRsrvMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNRsrvMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan Reserve Maintenance (LNRSM) - This function is used to add a reserve to an existing note, change reserve information, or terminate a reserve.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E30108" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E33552" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Add/Change/Inquire Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33553" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Company Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33554" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Company Purpose Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33555" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Company Category Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33556" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Company Subcategory Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33557" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Earnings/Rebate Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33558" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33559" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Accruing Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33560" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Effective Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33561" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Termination Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33562" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Dealer Reserve Recourse Percentage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33563" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Claim Filed Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33564" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Prepaid Reserve Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33565" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Current Insurance/Interest Accrued</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33566" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Voluntary Insurance Maximum Premium Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33567" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Voluntary Insurance Pending Premium Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33568" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Voluntary Insurance Pending Premium Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33569" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Voluntary Insurance Payment Calculation Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33570" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Days to Stop Insurance Accrual</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33571" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance Cap Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33572" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Interest Accrued Month to Date </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33573" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Interest Accrued Year to Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33574" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Interest Accrued Loan to Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33575" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Interest Paid Month to Date </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33576" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Interest Paid Year to Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33577" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Insurance/Interest Paid Loan to Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33578" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Voluntary Insurance Billed Not Paid Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33579" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Automatic Rate Change Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33580" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Termination Reason Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33581" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Reserve Termination Age</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33582" type="xs:string">
          <xs:annotation>
            <xs:documentation>LN Dealer Reserve Chargeback Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33332" type="xs:string">
          <xs:annotation>
            <xs:documentation>Payment Benefit Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>