LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LoanSCPWSV2SvcReq.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cw146="mtvnCWLNCommtPrtMaintReqData" xmlns:cw199="mtvnCWLNFeePmtReqData" xmlns:cw095="mtvnCWCIAcctToAcctRltReqData" xmlns:cw034="mtvnCWDPNewAcctReqData" xmlns:cw200="mtvnCWLNUsrDefFldsReqData" xmlns:cw324="mtvnCWCIProdIDMaintReqData" xmlns:cw075="mtvnCWLNPmtSchedMaintReqData" xmlns:cw017="mtvnCWCIOpenIndvCustReqData" xmlns:cw016="mtvnCWCICustToAcctRltReqData" xmlns:cw071="mtvnCWLNNoteIncrReqData" xmlns:cw070="mtvnCWLNNotePmtReqData" xmlns:cw072="mtvnCWLNNoteRnwlReqData" xmlns:cw135="mtvnCWLNRsrvMaintReqData" xmlns:cw018="mtvnCWCIOpenOrgCustReqData" xmlns:cw188="mtvnCWLNFeeWavReqData" xmlns:cw084="mtvnCWCBNewCrdAcctReqData" xmlns:cw138="mtvnCWCICustEmailMaintReqData" xmlns:cw251="mtvnCWLNMultCollReqData" xmlns:cw037="mtvnCWDPOnlnDolrReqData" xmlns:cw375="mtvnCWLNFloodTrackingMaintReqData" xmlns:cw106="mtvnCWLNNewIndirectLiabReqData" xmlns:cw101="mtvnCWLNCpnOrdrReqData" xmlns:cw100="mtvnCWLNExtensionReqData" xmlns:cw065="mtvnCWLNNewAcctReqData" xmlns:cw064="mtvnCWLNManFeeReqData" xmlns:cw066="mtvnCWLNNewCommtReqData" xmlns:cw000="mtvnCWLoanSCPSvcReq" xmlns:cw060="mtvnCWLNBillMaintReqData" xmlns:cw061="mtvnCWLNCommtUpdtReqData" xmlns:cw062="mtvnCWLNEscrMaintReqData" xmlns:cw341="mtvnCWMBPassReqData" xmlns:cw069="mtvnCWLNNewNoteReqData" xmlns:cw068="mtvnCWLNNewNmeAddrReqData" xmlns:cw099="mtvnCWLNKywrdReqData" xmlns:cw059="mtvnCWLNBillDateMaintReqData" xmlns:cw058="mtvnCWLNAutoFeeSetpReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLoanSCPSvcReq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CB/CBNewCrdAcctWSV5SvcReqData.xsd" namespace="mtvnCWCBNewCrdAcctReqData" />
  <xs:import schemaLocation="../CI/CIAcctToAcctRltReqDataV1.xsd" namespace="mtvnCWCIAcctToAcctRltReqData" />
  <xs:import schemaLocation="../CI/CICustEmailMaintReqDataV1.xsd" namespace="mtvnCWCICustEmailMaintReqData" />
  <xs:import schemaLocation="../CI/CICustToAcctRltReqDataV1.xsd" namespace="mtvnCWCICustToAcctRltReqData" />
  <xs:import schemaLocation="../CI/CIOpenIndvCustWSV4SvcReqData.xsd" namespace="mtvnCWCIOpenIndvCustReqData" />
  <xs:import schemaLocation="../CI/CIOpenOrgCustWSV4SvcReqData.xsd" namespace="mtvnCWCIOpenOrgCustReqData" />
  <xs:import schemaLocation="../CI/CIProdIDMaintReqDataV1.xsd" namespace="mtvnCWCIProdIDMaintReqData" />
  <xs:import schemaLocation="../DP/DPNewAcctWSV4SvcReqData.xsd" namespace="mtvnCWDPNewAcctReqData" />
  <xs:import schemaLocation="../DP/DPOnlnDolrWSV2SvcReqData.xsd" namespace="mtvnCWDPOnlnDolrReqData" />
  <xs:import schemaLocation="./LNAutoFeeSetpReqDataV2.xsd" namespace="mtvnCWLNAutoFeeSetpReqData" />
  <xs:import schemaLocation="./LNBillDateMaintReqDataV1.xsd" namespace="mtvnCWLNBillDateMaintReqData" />
  <xs:import schemaLocation="./LNBillMaintReqDataV1.xsd" namespace="mtvnCWLNBillMaintReqData" />
  <xs:import schemaLocation="./LNCommtPrtMaintReqDataV1.xsd" namespace="mtvnCWLNCommtPrtMaintReqData" />
  <xs:import schemaLocation="./LNCommtUpdtReqDataV2.xsd" namespace="mtvnCWLNCommtUpdtReqData" />
  <xs:import schemaLocation="./LNCpnOrdrReqDataV1.xsd" namespace="mtvnCWLNCpnOrdrReqData" />
  <xs:import schemaLocation="./LNEscrMaintReqDataV2.xsd" namespace="mtvnCWLNEscrMaintReqData" />
  <xs:import schemaLocation="./LNExtensionReqDataV1.xsd" namespace="mtvnCWLNExtensionReqData" />
  <xs:import schemaLocation="./LNFeePmtReqDataV1.xsd" namespace="mtvnCWLNFeePmtReqData" />
  <xs:import schemaLocation="./LNFeeWavReqDataV1.xsd" namespace="mtvnCWLNFeeWavReqData" />
  <xs:import schemaLocation="./LNFloodTrackingMaintReqDataV1.xsd" namespace="mtvnCWLNFloodTrackingMaintReqData" />
  <xs:import schemaLocation="./LNKywrdReqDataV1.xsd" namespace="mtvnCWLNKywrdReqData" />
  <xs:import schemaLocation="./LNManFeeReqDataV1.xsd" namespace="mtvnCWLNManFeeReqData" />
  <xs:import schemaLocation="./LNMultCollWSV2SvcReqData.xsd" namespace="mtvnCWLNMultCollReqData" />
  <xs:import schemaLocation="./LNNewAcctReqDataV2.xsd" namespace="mtvnCWLNNewAcctReqData" />
  <xs:import schemaLocation="./LNNewCommtReqDataV2.xsd" namespace="mtvnCWLNNewCommtReqData" />
  <xs:import schemaLocation="./LNNewIndirectLiabReqDataV1.xsd" namespace="mtvnCWLNNewIndirectLiabReqData" />
  <xs:import schemaLocation="./LNNewNmeAddrReqDataV1.xsd" namespace="mtvnCWLNNewNmeAddrReqData" />
  <xs:import schemaLocation="./LNNewNoteReqDataV5.xsd" namespace="mtvnCWLNNewNoteReqData" />
  <xs:import schemaLocation="./LNNoteIncrReqDataV1.xsd" namespace="mtvnCWLNNoteIncrReqData" />
  <xs:import schemaLocation="./LNNotePmtReqDataV1.xsd" namespace="mtvnCWLNNotePmtReqData" />
  <xs:import schemaLocation="./LNNoteRnwlReqDataV1.xsd" namespace="mtvnCWLNNoteRnwlReqData" />
  <xs:import schemaLocation="./LNPmtSchedMaintReqDataV1.xsd" namespace="mtvnCWLNPmtSchedMaintReqData" />
  <xs:import schemaLocation="./LNRsrvMaintReqDataV1.xsd" namespace="mtvnCWLNRsrvMaintReqData" />
  <xs:import schemaLocation="./LNUsrDefFldsReqDataV1.xsd" namespace="mtvnCWLNUsrDefFldsReqData" />
  <xs:import schemaLocation="../MB/MBPassReqDataV2.xsd" namespace="mtvnCWMBPassReqData" />
  <xs:element name="LoanSCPMtvnSvcReq">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MtvnSvcVer">
          <xs:annotation>
            <xs:documentation>The version of this message.   Currently 1.0</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1.0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MsgUUID" type="xs:string">
          <xs:annotation>
            <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PrcsParms">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SrcID" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Connectware Vendor ID</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="TestInd" type="xs:string">
                <xs:annotation>
                  <xs:documentation>A value of Y will cause any database updates to be removed when the service completes.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="PrcsRule">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="PrcsAsTran">
                      <xs:annotation>
                        <xs:documentation>Process this group of services using single commit point using the lead application indicated.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="LN" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="PrcsAsTranStpOnFrstErr">
                      <xs:annotation>
                        <xs:documentation>Process this group of services using single commit point using the lead application indicated.  Stop processing when the first error is encountered.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="LN" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Svc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SvcParms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApplID">
                      <xs:annotation>
                        <xs:documentation>The application ID of the service.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="CB" />
                          <xs:enumeration value="CI" />
                          <xs:enumeration value="DP" />
                          <xs:enumeration value="LN" />
                          <xs:enumeration value="MB" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SvcID">
                      <xs:annotation>
                        <xs:documentation>The service ID.</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="CBNewCrdAcct" />
                          <xs:enumeration value="CIAcctToAcctRlt" />
                          <xs:enumeration value="CICustEmailMaint" />
                          <xs:enumeration value="CICustToAcctRlt" />
                          <xs:enumeration value="CIOpenIndvCust" />
                          <xs:enumeration value="CIOpenOrgCust" />
                          <xs:enumeration value="CIProdIDMaint" />
                          <xs:enumeration value="DPNewAcct" />
                          <xs:enumeration value="DPOnlnDolr" />
                          <xs:enumeration value="LNAutoFeeSetp" />
                          <xs:enumeration value="LNBillDateMaint" />
                          <xs:enumeration value="LNBillMaint" />
                          <xs:enumeration value="LNCommtPrtMaint" />
                          <xs:enumeration value="LNCommtUpdt" />
                          <xs:enumeration value="LNCpnOrdr" />
                          <xs:enumeration value="LNEscrMaint" />
                          <xs:enumeration value="LNExtension" />
                          <xs:enumeration value="LNFeePmt" />
                          <xs:enumeration value="LNFeeWav" />
                          <xs:enumeration value="LNFloodTrackingMaint" />
                          <xs:enumeration value="LNKywrd" />
                          <xs:enumeration value="LNManFee" />
                          <xs:enumeration value="LNMultColl" />
                          <xs:enumeration value="LNNewAcct" />
                          <xs:enumeration value="LNNewCommt" />
                          <xs:enumeration value="LNNewIndirectLiab" />
                          <xs:enumeration value="LNNewNmeAddr" />
                          <xs:enumeration value="LNNewNote" />
                          <xs:enumeration value="LNNoteIncr" />
                          <xs:enumeration value="LNNotePmt" />
                          <xs:enumeration value="LNNoteRnwl" />
                          <xs:enumeration value="LNPmtSchedMaint" />
                          <xs:enumeration value="LNRsrvMaint" />
                          <xs:enumeration value="LNUsrDefFlds" />
                          <xs:enumeration value="MBPass" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="SvcVer" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The service version.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="SvcNme" type="xs:string" />
                    <xs:element minOccurs="0" name="RqstUUID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="RoutingID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Metavante processing organization ID.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="Src">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="FieldList">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Field">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="FieldNme" type="xs:string" />
                                      <xs:element name="FieldVal" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="GrpBusFunc" type="xs:string" />
                          <xs:element minOccurs="0" name="TranInfo" type="xs:string" />
                          <xs:element minOccurs="0" name="CustDefMsgSrc1" type="xs:string" />
                          <xs:element minOccurs="0" name="CustDefMsgSrc2" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Security">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="NoAuth" type="xs:string" />
                    <xs:element name="BasicAuth">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UsrID" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Metavante RACF user id.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Pwd" type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Metavante RACF password.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SessionAuth">
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="SessionID" type="xs:string" />
                          <xs:element name="HttpSessionID" type="xs:string" />
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SAMLAuth">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Assertion" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="MsgData">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="cw084:CBNewCrdAcctReqData" />
                    <xs:element ref="cw095:CIAcctToAcctRltReqData" />
                    <xs:element ref="cw138:CICustEmailMaintReqData" />
                    <xs:element ref="cw016:CICustToAcctRltReqData" />
                    <xs:element ref="cw017:CIOpenIndvCustReqData" />
                    <xs:element ref="cw018:CIOpenOrgCustReqData" />
                    <xs:element ref="cw324:CIProdIDMaintReqData" />
                    <xs:element ref="cw034:DPNewAcctReqData" />
                    <xs:element ref="cw037:DPOnlnDolrReqData" />
                    <xs:element ref="cw058:LNAutoFeeSetpReqData" />
                    <xs:element ref="cw059:LNBillDateMaintReqData" />
                    <xs:element ref="cw060:LNBillMaintReqData" />
                    <xs:element ref="cw146:LNCommtPrtMaintReqData" />
                    <xs:element ref="cw061:LNCommtUpdtReqData" />
                    <xs:element ref="cw101:LNCpnOrdrReqData" />
                    <xs:element ref="cw062:LNEscrMaintReqData" />
                    <xs:element ref="cw100:LNExtensionReqData" />
                    <xs:element ref="cw199:LNFeePmtReqData" />
                    <xs:element ref="cw188:LNFeeWavReqData" />
                    <xs:element ref="cw375:LNFloodTrackingMaintReqData" />
                    <xs:element ref="cw099:LNKywrdReqData" />
                    <xs:element ref="cw064:LNManFeeReqData" />
                    <xs:element ref="cw251:LNMultCollReqData" />
                    <xs:element ref="cw065:LNNewAcctReqData" />
                    <xs:element ref="cw066:LNNewCommtReqData" />
                    <xs:element ref="cw106:LNNewIndirectLiabReqData" />
                    <xs:element ref="cw068:LNNewNmeAddrReqData" />
                    <xs:element ref="cw069:LNNewNoteReqData" />
                    <xs:element ref="cw071:LNNoteIncrReqData" />
                    <xs:element ref="cw070:LNNotePmtReqData" />
                    <xs:element ref="cw072:LNNoteRnwlReqData" />
                    <xs:element ref="cw075:LNPmtSchedMaintReqData" />
                    <xs:element ref="cw135:LNRsrvMaintReqData" />
                    <xs:element ref="cw200:LNUsrDefFldsReqData" />
                    <xs:element ref="cw341:MBPassReqData" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>