LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanSingleCommitPointProcessing/LoanSCPWSV2SvcRes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:cw146="mtvnCWLNCommtPrtMaintResData" xmlns:cw199="mtvnCWLNFeePmtResData" xmlns:cw095="mtvnCWCIAcctToAcctRltResData" xmlns:cw034="mtvnCWDPNewAcctResData" xmlns:cw200="mtvnCWLNUsrDefFldsResData" xmlns:cw324="mtvnCWCIProdIDMaintResData" xmlns:cw075="mtvnCWLNPmtSchedMaintResData" xmlns:cw017="mtvnCWCIOpenIndvCustResData" xmlns:cw016="mtvnCWCICustToAcctRltResData" xmlns:cw071="mtvnCWLNNoteIncrResData" xmlns:cw070="mtvnCWLNNotePmtResData" xmlns:cw072="mtvnCWLNNoteRnwlResData" xmlns:cw135="mtvnCWLNRsrvMaintResData" xmlns:cw018="mtvnCWCIOpenOrgCustResData" xmlns:cw188="mtvnCWLNFeeWavResData" xmlns:cw084="mtvnCWCBNewCrdAcctResData" xmlns:cw138="mtvnCWCICustEmailMaintResData" xmlns:cw251="mtvnCWLNMultCollResData" xmlns:cw037="mtvnCWDPOnlnDolrResData" xmlns:cw375="mtvnCWLNFloodTrackingMaintResData" xmlns:cw106="mtvnCWLNNewIndirectLiabResData" xmlns:cw101="mtvnCWLNCpnOrdrResData" xmlns:cw100="mtvnCWLNExtensionResData" xmlns:cw065="mtvnCWLNNewAcctResData" xmlns:cw064="mtvnCWLNManFeeResData" xmlns:cw066="mtvnCWLNNewCommtResData" xmlns:cw000="mtvnCWLoanSCPSvcRes" xmlns:cw060="mtvnCWLNBillMaintResData" xmlns:cw061="mtvnCWLNCommtUpdtResData" xmlns:cw062="mtvnCWLNEscrMaintResData" xmlns:cw341="mtvnCWMBPassResData" xmlns:cw069="mtvnCWLNNewNoteResData" xmlns:cw068="mtvnCWLNNewNmeAddrResData" xmlns:cw099="mtvnCWLNKywrdResData" xmlns:cw059="mtvnCWLNBillDateMaintResData" xmlns:cw058="mtvnCWLNAutoFeeSetpResData" elementFormDefault="qualified" targetNamespace="mtvnCWLoanSCPSvcRes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../CB/CBNewCrdAcctWSV5SvcResData.xsd" namespace="mtvnCWCBNewCrdAcctResData" />
  <xs:import schemaLocation="../CI/CIAcctToAcctRltResDataV1.xsd" namespace="mtvnCWCIAcctToAcctRltResData" />
  <xs:import schemaLocation="../CI/CICustEmailMaintResDataV1.xsd" namespace="mtvnCWCICustEmailMaintResData" />
  <xs:import schemaLocation="../CI/CICustToAcctRltResDataV1.xsd" namespace="mtvnCWCICustToAcctRltResData" />
  <xs:import schemaLocation="../CI/CIOpenIndvCustWSV4SvcResData.xsd" namespace="mtvnCWCIOpenIndvCustResData" />
  <xs:import schemaLocation="../CI/CIOpenOrgCustWSV4SvcResData.xsd" namespace="mtvnCWCIOpenOrgCustResData" />
  <xs:import schemaLocation="../CI/CIProdIDMaintResDataV1.xsd" namespace="mtvnCWCIProdIDMaintResData" />
  <xs:import schemaLocation="../DP/DPNewAcctWSV4SvcResData.xsd" namespace="mtvnCWDPNewAcctResData" />
  <xs:import schemaLocation="../DP/DPOnlnDolrWSV2SvcResData.xsd" namespace="mtvnCWDPOnlnDolrResData" />
  <xs:import schemaLocation="./LNAutoFeeSetpResDataV2.xsd" namespace="mtvnCWLNAutoFeeSetpResData" />
  <xs:import schemaLocation="./LNBillDateMaintResDataV1.xsd" namespace="mtvnCWLNBillDateMaintResData" />
  <xs:import schemaLocation="./LNBillMaintResDataV1.xsd" namespace="mtvnCWLNBillMaintResData" />
  <xs:import schemaLocation="./LNCommtPrtMaintResDataV1.xsd" namespace="mtvnCWLNCommtPrtMaintResData" />
  <xs:import schemaLocation="./LNCommtUpdtResDataV2.xsd" namespace="mtvnCWLNCommtUpdtResData" />
  <xs:import schemaLocation="./LNCpnOrdrResDataV1.xsd" namespace="mtvnCWLNCpnOrdrResData" />
  <xs:import schemaLocation="./LNEscrMaintResDataV2.xsd" namespace="mtvnCWLNEscrMaintResData" />
  <xs:import schemaLocation="./LNExtensionResDataV1.xsd" namespace="mtvnCWLNExtensionResData" />
  <xs:import schemaLocation="./LNFeePmtResDataV1.xsd" namespace="mtvnCWLNFeePmtResData" />
  <xs:import schemaLocation="./LNFeeWavResDataV1.xsd" namespace="mtvnCWLNFeeWavResData" />
  <xs:import schemaLocation="./LNFloodTrackingMaintResDataV1.xsd" namespace="mtvnCWLNFloodTrackingMaintResData" />
  <xs:import schemaLocation="./LNKywrdResDataV1.xsd" namespace="mtvnCWLNKywrdResData" />
  <xs:import schemaLocation="./LNManFeeResDataV1.xsd" namespace="mtvnCWLNManFeeResData" />
  <xs:import schemaLocation="./LNMultCollWSV2SvcResData.xsd" namespace="mtvnCWLNMultCollResData" />
  <xs:import schemaLocation="./LNNewAcctResDataV2.xsd" namespace="mtvnCWLNNewAcctResData" />
  <xs:import schemaLocation="./LNNewCommtResDataV2.xsd" namespace="mtvnCWLNNewCommtResData" />
  <xs:import schemaLocation="./LNNewIndirectLiabResDataV1.xsd" namespace="mtvnCWLNNewIndirectLiabResData" />
  <xs:import schemaLocation="./LNNewNmeAddrResDataV1.xsd" namespace="mtvnCWLNNewNmeAddrResData" />
  <xs:import schemaLocation="./LNNewNoteResDataV5.xsd" namespace="mtvnCWLNNewNoteResData" />
  <xs:import schemaLocation="./LNNoteIncrResDataV1.xsd" namespace="mtvnCWLNNoteIncrResData" />
  <xs:import schemaLocation="./LNNotePmtResDataV1.xsd" namespace="mtvnCWLNNotePmtResData" />
  <xs:import schemaLocation="./LNNoteRnwlResDataV1.xsd" namespace="mtvnCWLNNoteRnwlResData" />
  <xs:import schemaLocation="./LNPmtSchedMaintResDataV1.xsd" namespace="mtvnCWLNPmtSchedMaintResData" />
  <xs:import schemaLocation="./LNRsrvMaintResDataV1.xsd" namespace="mtvnCWLNRsrvMaintResData" />
  <xs:import schemaLocation="./LNUsrDefFldsResDataV1.xsd" namespace="mtvnCWLNUsrDefFldsResData" />
  <xs:import schemaLocation="../MB/MBPassResDataV2.xsd" namespace="mtvnCWMBPassResData" />
  <xs:element name="ErrCde" type="xs:string" />
  <xs:element name="ErrMsg" type="xs:string" />
  <xs:element name="LoanSCPMtvnSvcRes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MtvnSvcVer">
          <xs:annotation>
            <xs:documentation>The version of this message.   Currently 1.0</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="1.0" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MsgUUID" type="xs:string">
          <xs:annotation>
            <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Svc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SvcParms">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ApplID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The application ID of the service.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SvcID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The service ID.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="SvcVer" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>The service version.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="RqstUUID" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>A UUID in the format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MsgData">
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="DefaultResData" type="xs:string" />
                    <xs:element ref="cw084:CBNewCrdAcctResData" />
                    <xs:element ref="cw095:CIAcctToAcctRltResData" />
                    <xs:element ref="cw138:CICustEmailMaintResData" />
                    <xs:element ref="cw016:CICustToAcctRltResData" />
                    <xs:element ref="cw017:CIOpenIndvCustResData" />
                    <xs:element ref="cw018:CIOpenOrgCustResData" />
                    <xs:element ref="cw324:CIProdIDMaintResData" />
                    <xs:element ref="cw034:DPNewAcctResData" />
                    <xs:element ref="cw037:DPOnlnDolrResData" />
                    <xs:element ref="cw058:LNAutoFeeSetpResData" />
                    <xs:element ref="cw059:LNBillDateMaintResData" />
                    <xs:element ref="cw060:LNBillMaintResData" />
                    <xs:element ref="cw146:LNCommtPrtMaintResData" />
                    <xs:element ref="cw061:LNCommtUpdtResData" />
                    <xs:element ref="cw101:LNCpnOrdrResData" />
                    <xs:element ref="cw062:LNEscrMaintResData" />
                    <xs:element ref="cw100:LNExtensionResData" />
                    <xs:element ref="cw199:LNFeePmtResData" />
                    <xs:element ref="cw188:LNFeeWavResData" />
                    <xs:element ref="cw375:LNFloodTrackingMaintResData" />
                    <xs:element ref="cw099:LNKywrdResData" />
                    <xs:element ref="cw064:LNManFeeResData" />
                    <xs:element ref="cw251:LNMultCollResData" />
                    <xs:element ref="cw065:LNNewAcctResData" />
                    <xs:element ref="cw066:LNNewCommtResData" />
                    <xs:element ref="cw106:LNNewIndirectLiabResData" />
                    <xs:element ref="cw068:LNNewNmeAddrResData" />
                    <xs:element ref="cw069:LNNewNoteResData" />
                    <xs:element ref="cw071:LNNoteIncrResData" />
                    <xs:element ref="cw070:LNNotePmtResData" />
                    <xs:element ref="cw072:LNNoteRnwlResData" />
                    <xs:element ref="cw075:LNPmtSchedMaintResData" />
                    <xs:element ref="cw135:LNRsrvMaintResData" />
                    <xs:element ref="cw200:LNUsrDefFldsResData" />
                    <xs:element ref="cw341:MBPassResData" />
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element ref="cw000:ErrCde" />
              <xs:element minOccurs="0" ref="cw000:ErrMsg" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="cw000:ErrCde" />
        <xs:element minOccurs="0" ref="cw000:ErrMsg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>