LoansPQWSWrappers/Web References/com.PayPal.svcs/AdaptivePayments.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:types="http://svcs.paypal.com/types/ap" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://svcs.paypal.com/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:common="http://svcs.paypal.com/types/common" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:services="http://svcs.paypal.com/services" services:version="1.7.0" targetNamespace="http://svcs.paypal.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:ppc="http://annox.dev.java.net/com.paypal.foundation.validation.oval.constraint" xmlns:sec="http://annox.dev.java.net/com.paypal.foundation.security.annotation" xmlns:annox="http://annox.dev.java.net" xmlns:ov="http://annox.dev.java.net/net.sf.oval.constraint" xmlns:ppv="http://annox.dev.java.net/com.paypal.foundation.validation.oval" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://svcs.paypal.com/types/common">
      <xs:complexType name="AccountIdentifier">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="phone" type="common:PhoneNumberType" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="AckCode">
        <xs:annotation>
          <xs:documentation>
						AckCodeType This code identifies the
						acknowledgment code types that could be used to
						communicate the status of processing a (request)
						message to an application. This code would be
						used as part of a response message that contains
						an application level acknowledgment element.
					</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
          <xs:enumeration value="Success">
            <xs:annotation>
              <xs:documentation>
								Request processing succeeded.
							</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Failure">
            <xs:annotation>
              <xs:documentation>
								Request processing failed.
							</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Warning">
            <xs:annotation>
              <xs:documentation>
								Request processing completed with
								warning information being included in
								the response message.
							</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="SuccessWithWarning">
            <xs:annotation>
              <xs:documentation>
								Request processing completed successful
								with some with some warning information
								that could be useful for the requesting
								application to process and/or record.
							</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FailureWithWarning">
            <xs:annotation>
              <xs:documentation>
								Request processing failed with some
								error and warning information that
								requesting application should process to
								determine cause(s) of failure.
							</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="BaseAddress">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="1" maxOccurs="1" name="line1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="line2" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="city" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="state" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="postalCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="countryCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClientDetailsType">
        <xs:annotation>
          <xs:documentation>
						Details about the end user of the application
						invoking this service.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ipAddress" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="deviceId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="applicationId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="model" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="geoLocation" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="customerType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="partnerName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="customerId" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CurrencyType">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="code" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="DayOfWeek">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NO_DAY_SPECIFIED" />
          <xs:enumeration value="SUNDAY" />
          <xs:enumeration value="MONDAY" />
          <xs:enumeration value="TUESDAY" />
          <xs:enumeration value="WEDNESDAY" />
          <xs:enumeration value="THURSDAY" />
          <xs:enumeration value="FRIDAY" />
          <xs:enumeration value="SATURDAY" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="DetailLevelCode">
        <xs:annotation>
          <xs:documentation>
						DetailLevelCodeType
					</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ReturnAll">
            <xs:annotation>
              <xs:documentation>
								Return in response message all detail
								levels.
							</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="ErrorCategory">
        <xs:restriction base="xs:string">
          <xs:enumeration value="System" />
          <xs:enumeration value="Application" />
          <xs:enumeration value="Request" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="ErrorData">
        <xs:annotation>
          <xs:documentation>
						This type contains the detailed error
						information resulting from the service
						operation.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="errorId" type="xs:long" />
          <xs:element name="domain" type="xs:string" />
          <xs:element minOccurs="0" name="subdomain" type="xs:string" />
          <xs:element name="severity" type="common:ErrorSeverity" />
          <xs:element name="category" type="common:ErrorCategory" />
          <xs:element name="message" type="xs:string" />
          <xs:element minOccurs="0" name="exceptionId" type="xs:token" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="parameter" nillable="true" type="common:ErrorParameter" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorParameter">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="name" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:simpleType name="ErrorSeverity">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Error" />
          <xs:enumeration value="Warning" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="FaultMessage">
        <xs:annotation>
          <xs:documentation>
						This specifies a fault, encapsulating error
						data, with specific error codes.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="error" nillable="true" type="common:ErrorData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PhoneNumberType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:element minOccurs="1" maxOccurs="1" name="countryCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="phoneNumber" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="extension" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RequestEnvelope">
        <xs:annotation>
          <xs:documentation>
						This specifies the list of parameters with every
						request to the service.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="detailLevel" type="common:DetailLevelCode">
            <xs:annotation>
              <xs:documentation>
								This specifies the required detail level
								that is needed by a client application
								pertaining to a particular data
								component (e.g., Item, Transaction,
								etc.). The detail level is specified in
								the DetailLevelCodeType which has all
								the enumerated values of the detail
								level for each component.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" default="en_US" name="errorLanguage" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								This should be the standard RFC 3066
								language identification tag, e.g.,
								en_US.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ResponseEnvelope">
        <xs:annotation>
          <xs:documentation>
						This specifies a list of parameters with every
						response from a service.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="timestamp" type="xs:dateTime" />
          <xs:element minOccurs="1" name="ack" type="common:AckCode">
            <xs:annotation>
              <xs:documentation>
								Application level acknowledgment code.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="correlationId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="build" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FaultMessage" nillable="true" type="common:FaultMessage" />
    </xs:schema>
    <xs:schema xmlns:ap="http://svcs.paypal.com/types/ap" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:annox="http://annox.dev.java.net" xmlns:sec="http://annox.dev.java.net/com.paypal.foundation.security.annotation" xmlns:ppm="http://annox.dev.java.net/com.paypal.foundation.logging" xmlns:ppv="http://annox.dev.java.net/com.paypal.foundation.validation.oval" xmlns:ppvc="http://annox.dev.java.net/com.paypal.foundation.validation.oval.constraint" xmlns:ov="http://annox.dev.java.net/net.sf.oval.constraint" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://svcs.paypal.com/types/ap" jaxb:version="2.1">
      <xs:import namespace="http://svcs.paypal.com/types/common" />
      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="addresseeName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="baseAddress" type="common:BaseAddress" />
          <xs:element maxOcurrs="1" minOccurs="0" name="addressId" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AddressList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="address" type="ap:Address" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CurrencyCodeList">
        <xs:annotation>
          <xs:documentation>
						A list of ISO currency codes.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="currencyCode" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CurrencyConversionList">
        <xs:annotation>
          <xs:documentation>
						A list of estimated currency conversions for a
						base currency.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="baseAmount" type="common:CurrencyType" />
          <xs:element minOccurs="1" maxOccurs="1" name="currencyList" type="ap:CurrencyList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CurrencyConversionTable">
        <xs:annotation>
          <xs:documentation>
						A table that contains a list of estimated
						currency conversions for a base currency in each
						row.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="currencyConversionList" type="ap:CurrencyConversionList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CurrencyList">
        <xs:annotation>
          <xs:documentation>
						A list of ISO currencies.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="currency" type="common:CurrencyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DisplayOptions">
        <xs:annotation>
          <xs:documentation>
						Customizable options that a client application
						can specify for display purposes.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="emailHeaderImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="emailMarketingImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="headerImageUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="businessName" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ErrorList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="error" type="common:ErrorData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FundingConstraint">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="allowedFundingType" type="ap:FundingTypeList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FundingTypeInfo">
        <xs:annotation>
          <xs:documentation>
						FundingTypeInfo represents one allowed funding
						type.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fundingType" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FundingTypeList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="fundingTypeInfo" type="ap:FundingTypeInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CurrencyConversion">
        <xs:annotation>
          <xs:documentation>
						Describes the conversion between 2 currencies.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="from" type="common:CurrencyType" />
          <xs:element minOccurs="1" maxOccurs="1" name="to" type="common:CurrencyType" />
          <xs:element minOccurs="1" maxOccurs="1" name="exchangeRate" type="xs:decimal" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FundingSource">
        <xs:annotation>
          <xs:documentation>
						Funding source information.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="lastFourOfAccountNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="displayName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fundingSourceId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="allowed" type="xs:boolean" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FundingPlanCharge">
        <xs:annotation>
          <xs:documentation>
						Amount to be charged to a particular funding
						source.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="charge" type="common:CurrencyType" />
          <xs:element minOccurs="1" maxOccurs="1" name="fundingSource" type="ap:FundingSource" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FundingPlan">
        <xs:annotation>
          <xs:documentation>
						FundingPlan describes the funding sources to be
						used for a specific payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="fundingPlanId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="fundingAmount" type="common:CurrencyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="backupFundingSource" type="ap:FundingSource" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderFees" type="common:CurrencyType" />
          <xs:element minOccurs="0" maxOccurs="1" name="currencyConversion" type="ap:CurrencyConversion" />
          <xs:element minOccurs="1" maxOccurs="unbounded" name="charge" type="ap:FundingPlanCharge" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InitiatingEntity">
        <xs:annotation>
          <xs:documentation>
						Details about the party that initiated this
						payment. The API user is making this payment on
						behalf of the initiator. The initiator can
						simply be an institution or a customer of the
						institution.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="institutionCustomer" type="ap:InstitutionCustomer" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InstitutionCustomer">
        <xs:annotation>
          <xs:documentation>
						The customer of the initiating institution
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="institutionId" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The unique identifier as assigned to the
								institution.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="firstName" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The first (given) name of the end
								consumer as known by the institution.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="lastName" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The last (family) name of the end
								consumer as known by the institution.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="displayName" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The full name of the end consumer as
								known by the institution.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="institutionCustomerId" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The unique identifier as assigned to the
								end consumer by the institution.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="countryCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The two-character ISO country code of
								the home country of the end consumer
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvoiceItem">
        <xs:annotation>
          <xs:documentation>
						Describes an individual item for an invoice.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="identifier" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="price" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="itemPrice" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="itemCount" type="xs:int" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="InvoiceData">
        <xs:annotation>
          <xs:documentation>
						Describes a payment for a particular receiver
						(merchant), contains list of additional per item
						details.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="ap:InvoiceItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="totalTax" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="totalShipping" type="xs:decimal" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PayError">
        <xs:annotation>
          <xs:documentation>
						The error that resulted from an attempt to make
						a payment to a receiver.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="receiver" type="ap:Receiver" />
          <xs:element minOccurs="1" maxOccurs="1" name="error" type="common:ErrorData" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PayErrorList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="payError" type="ap:PayError" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentInfo">
        <xs:annotation>
          <xs:documentation>
						PaymentInfo represents the payment attempt made
						to a Receiver of a PayRequest. If the execution
						of the payment has not yet completed, there will
						not be any transaction details.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="transactionId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="transactionStatus" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="receiver" type="ap:Receiver" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundedAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="pendingRefund" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderTransactionId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderTransactionStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pendingReason" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentInfoList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="paymentInfo" type="ap:PaymentInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Receiver">
        <xs:annotation>
          <xs:documentation>
						Receiver is the party where funds are
						transferred to. A primary receiver receives a
						payment directly from the sender in a chained
						split payment. A primary receiver should not be
						specified when making a single or parallel split
						payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="amount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="phone" type="common:PhoneNumberType" />
          <xs:element minOccurs="0" maxOccurs="1" name="primary" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="invoiceId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="paymentType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="paymentSubType" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReceiverList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="receiver" type="ap:Receiver" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ReceiverIdentifier">
        <xs:annotation>
          <xs:documentation>
						The sender identifier type contains information
						to identify a PayPal account.
					</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="common:AccountIdentifier" />
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="ReceiverOptions">
        <xs:annotation>
          <xs:documentation>
						Options that apply to the receiver of a payment,
						allows setting additional details for payment
						using invoice.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="customId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="invoiceData" type="ap:InvoiceData" />
          <xs:element minOccurs="1" maxOccurs="1" name="receiver" type="ap:ReceiverIdentifier" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RefundInfo">
        <xs:annotation>
          <xs:documentation>
						RefundInfo represents the refund attempt made to
						a Receiver of a PayRequest.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="receiver" type="ap:Receiver" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundNetAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundFeeAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundGrossAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="totalOfAllRefunds" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundHasBecomeFull" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="encryptedRefundTransactionId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="refundTransactionStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="errorList" type="ap:ErrorList" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RefundInfoList">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="refundInfo" type="ap:RefundInfo" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SenderOptions">
        <xs:annotation>
          <xs:documentation>
						Options that apply to the sender of a payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="requireShippingAddressSelection" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>
								Require the user to select a shipping
								address during the web flow.
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SenderIdentifier">
        <xs:annotation>
          <xs:documentation>
						The sender identifier type contains information
						to identify a PayPal account.
					</xs:documentation>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="common:AccountIdentifier">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="useCredentials" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="CancelPreapprovalRequest">
        <xs:annotation>
          <xs:documentation>
						The request to cancel a Preapproval.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="preapprovalKey" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelPreapprovalResponse">
        <xs:annotation>
          <xs:documentation>
						The result of the CancelPreapprovalRequest.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConfirmPreapprovalRequest">
        <xs:annotation>
          <xs:documentation>
						The request to confirm a Preapproval.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="preapprovalKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fundingSourceId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pin" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConfirmPreapprovalResponse">
        <xs:annotation>
          <xs:documentation>
						The result of the ConfirmPreapprovalRequest.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConvertCurrencyRequest">
        <xs:annotation>
          <xs:documentation>
						A request to convert one or more currencies into
						their estimated values in other currencies.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="baseAmountList" type="ap:CurrencyList" />
          <xs:element minOccurs="1" maxOccurs="1" name="convertToCurrencyList" type="ap:CurrencyCodeList" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ConvertCurrencyResponse">
        <xs:annotation>
          <xs:documentation>
						A response that contains a table of estimated
						converted currencies based on the Convert
						Currency Request.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="estimatedAmountTable" type="ap:CurrencyConversionTable" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExecutePaymentRequest">
        <xs:annotation>
          <xs:documentation>
						The request to execute the payment request.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="actionType" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								Describes the action that is performed
								by this API
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="fundingPlanId" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ExecutePaymentResponse">
        <xs:annotation>
          <xs:documentation>
						The result of a payment execution.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="paymentExecStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="payErrorList" type="ap:PayErrorList" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllowedFundingSourcesRequest">
        <xs:annotation>
          <xs:documentation>
						The request to get the allowed funding sources
						available for a preapproval.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="key" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAllowedFundingSourcesResponse">
        <xs:annotation>
          <xs:documentation>
						The response to get the backup funding sources
						available for a preapproval.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fundingSource" type="ap:FundingSource" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPaymentOptionsRequest">
        <xs:annotation>
          <xs:documentation>
						The request to get the options of a payment
						request.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetPaymentOptionsResponse">
        <xs:annotation>
          <xs:documentation>
						The response message for the GetPaymentOption
						request
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="0" maxOccurs="1" name="initiatingEntity" type="ap:InitiatingEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="displayOptions" type="ap:DisplayOptions" />
          <xs:element minOccurs="0" maxOccurs="1" name="shippingAddressId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderOptions" type="ap:SenderOptions" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="receiverOptions" type="ap:ReceiverOptions" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentDetailsRequest">
        <xs:annotation>
          <xs:documentation>
						The request to look up the details of a
						PayRequest. The PaymentDetailsRequest can be
						made with either a payKey, trackingId, or a
						transactionId of the PayRequest.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="0" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="transactionId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="trackingId" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PaymentDetailsResponse">
        <xs:annotation>
          <xs:documentation>
						The details of the PayRequest as specified in
						the Pay operation.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="cancelUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ipnNotificationUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="memo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="paymentInfoList" type="ap:PaymentInfoList" />
          <xs:element minOccurs="1" maxOccurs="1" name="returnUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderEmail" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="status" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="trackingId" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="actionType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="feesPayer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="reverseAllParallelPaymentsOnError" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="preapprovalKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fundingConstraint" type="ap:FundingConstraint" />
          <xs:element minOccurs="0" maxOccurs="1" name="sender" type="ap:SenderIdentifier" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PayRequest">
        <xs:annotation>
          <xs:documentation>
						The PayRequest contains the payment instructions
						to make from sender to receivers.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="0" name="clientDetails" type="common:ClientDetailsType" />
          <xs:element minOccurs="1" maxOccurs="1" name="actionType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="cancelUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="feesPayer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ipnNotificationUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="memo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pin" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="preapprovalKey" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="receiverList" type="ap:ReceiverList" />
          <xs:element minOccurs="0" maxOccurs="1" name="reverseAllParallelPaymentsOnError" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderEmail" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="returnUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="trackingId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fundingConstraint" type="ap:FundingConstraint" />
          <xs:element minOccurs="0" maxOccurs="1" name="sender" type="ap:SenderIdentifier" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PayResponse">
        <xs:annotation>
          <xs:documentation>
						The PayResponse contains the result of the Pay
						operation. The payKey and execution status of
						the request should always be provided.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="paymentExecStatus" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="payErrorList" type="ap:PayErrorList" />
          <xs:element minOccurs="0" maxOccurs="1" name="defaultFundingPlan" type="ap:FundingPlan" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PreapprovalDetailsRequest">
        <xs:annotation>
          <xs:documentation>
						The request to look up the details of a
						Preapproval.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="preapprovalKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="getBillingAddress" type="xs:boolean" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PreapprovalDetailsResponse">
        <xs:annotation>
          <xs:documentation>
						The details of the Preapproval as specified in
						the Preapproval operation.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="approved" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="cancelUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="curPayments" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="curPaymentsAmount" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="curPeriodAttempts" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="curPeriodEndingDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="dateOfMonth" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="dayOfWeek" type="common:DayOfWeek" />
          <xs:element minOccurs="0" maxOccurs="1" name="endingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxAmountPerPayment" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxNumberOfPayments" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxNumberOfPaymentsPerPeriod" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxTotalAmountOfAllPayments" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="paymentPeriod" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="pinType" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="returnUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderEmail" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="memo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="startingDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="status" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ipnNotificationUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="addressList" type="ap:AddressList" />
          <xs:element minOccurs="0" maxOccurs="1" name="feesPayer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="displayMaxTotalAmount" type="xs:boolean" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PreapprovalRequest">
        <xs:annotation>
          <xs:documentation>
						A request to create a Preapproval. A Preapproval
						is an agreement between a Paypal account holder
						(the sender) and the API caller (the service
						invoker) to make payment(s) on the the sender's
						behalf with various limitations defined.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="0" name="clientDetails" type="common:ClientDetailsType" />
          <xs:element minOccurs="1" maxOccurs="1" name="cancelUrl" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="dateOfMonth" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="dayOfWeek" type="common:DayOfWeek" />
          <xs:element minOccurs="0" maxOccurs="1" name="endingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxAmountPerPayment" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxNumberOfPayments" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxNumberOfPaymentsPerPeriod" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxTotalAmountOfAllPayments" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="paymentPeriod" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="returnUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="memo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ipnNotificationUrl" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderEmail" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="startingDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="pinType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="feesPayer" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="displayMaxTotalAmount" type="xs:boolean" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PreapprovalResponse">
        <xs:annotation>
          <xs:documentation>
						The result of the PreapprovalRequest is a
						preapprovalKey.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="preapprovalKey" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RefundRequest">
        <xs:annotation>
          <xs:documentation>
						A request to make a refund based on various
						criteria. A refund can be made against the
						entire payKey, an individual transaction
						belonging to a payKey, a tracking id, or a
						specific receiver of a payKey.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="0" maxOccurs="1" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="transactionId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="trackingId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="receiverList" type="ap:ReceiverList" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="RefundResponse">
        <xs:annotation>
          <xs:documentation>
						The result of a Refund request.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="currencyCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="refundInfoList" type="ap:RefundInfoList" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetPaymentOptionsRequest">
        <xs:annotation>
          <xs:documentation>
						The request to set the options of a payment
						request.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="initiatingEntity" type="ap:InitiatingEntity" />
          <xs:element minOccurs="0" maxOccurs="1" name="displayOptions" type="ap:DisplayOptions" />
          <xs:element minOccurs="0" maxOccurs="1" name="shippingAddressId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="senderOptions" type="ap:SenderOptions" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="receiverOptions" type="ap:ReceiverOptions" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SetPaymentOptionsResponse">
        <xs:annotation>
          <xs:documentation>
						The response message for the SetPaymentOption
						request
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetFundingPlansRequest">
        <xs:annotation>
          <xs:documentation>
						The request to get the funding plans available
						for a payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="payKey" type="xs:string" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetFundingPlansResponse">
        <xs:annotation>
          <xs:documentation>
						The response to get the funding plans available
						for a payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fundingPlan" type="ap:FundingPlan" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAvailableShippingAddressesRequest">
        <xs:annotation>
          <xs:documentation>
						The request to get the addresses available for a
						payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The key for which to provide the
								available addresses. Key can be an
								AdaptivePayments key such as payKey or
								preapprovalKey
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetAvailableShippingAddressesResponse">
        <xs:annotation>
          <xs:documentation>
						The response to get the shipping addresses
						available for a payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="availableAddress" type="ap:Address" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetShippingAddressesRequest">
        <xs:annotation>
          <xs:documentation>
						The request to get the addresses available for a
						payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="requestEnvelope" type="common:RequestEnvelope" />
          <xs:element minOccurs="1" maxOccurs="1" name="key" type="xs:string">
            <xs:annotation>
              <xs:documentation>
								The key for which to provide the
								available addresses. Key can be an
								AdaptivePayments key such as payKey or
								preapprovalKey
							</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetShippingAddressesResponse">
        <xs:annotation>
          <xs:documentation>
						The response to get the shipping addresses
						available for a payment.
					</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="responseEnvelope" type="common:ResponseEnvelope" />
          <xs:element minOccurs="0" maxOccurs="1" name="selectedAddress" type="ap:Address" />
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CancelPreapprovalRequest" nillable="true" type="ap:CancelPreapprovalRequest" />
      <xs:element name="CancelPreapprovalResponse" nillable="true" type="ap:CancelPreapprovalResponse" />
      <xs:element name="ConfirmPreapprovalRequest" nillable="true" type="ap:ConfirmPreapprovalRequest" />
      <xs:element name="ConfirmPreapprovalResponse" nillable="true" type="ap:ConfirmPreapprovalResponse" />
      <xs:element name="ConvertCurrencyRequest" nillable="true" type="ap:ConvertCurrencyRequest" />
      <xs:element name="ConvertCurrencyResponse" nillable="true" type="ap:ConvertCurrencyResponse" />
      <xs:element name="ExecutePaymentRequest" nillable="true" type="ap:ExecutePaymentRequest" />
      <xs:element name="ExecutePaymentResponse" nillable="true" type="ap:ExecutePaymentResponse" />
      <xs:element name="GetAllowedFundingSourcesRequest" nillable="true" type="ap:GetAllowedFundingSourcesRequest" />
      <xs:element name="GetAllowedFundingSourcesResponse" nillable="true" type="ap:GetAllowedFundingSourcesResponse" />
      <xs:element name="GetPaymentOptionsRequest" nillable="true" type="ap:GetPaymentOptionsRequest" />
      <xs:element name="GetPaymentOptionsResponse" nillable="true" type="ap:GetPaymentOptionsResponse" />
      <xs:element name="PaymentDetailsRequest" nillable="true" type="ap:PaymentDetailsRequest" />
      <xs:element name="PaymentDetailsResponse" nillable="true" type="ap:PaymentDetailsResponse" />
      <xs:element name="PayRequest" nillable="true" type="ap:PayRequest" />
      <xs:element name="PayResponse" nillable="true" type="ap:PayResponse" />
      <xs:element name="PreapprovalDetailsRequest" nillable="true" type="ap:PreapprovalDetailsRequest" />
      <xs:element name="PreapprovalDetailsResponse" nillable="true" type="ap:PreapprovalDetailsResponse" />
      <xs:element name="PreapprovalRequest" nillable="true" type="ap:PreapprovalRequest" />
      <xs:element name="PreapprovalResponse" nillable="true" type="ap:PreapprovalResponse" />
      <xs:element name="RefundRequest" nillable="true" type="ap:RefundRequest" />
      <xs:element name="RefundResponse" nillable="true" type="ap:RefundResponse" />
      <xs:element name="SetPaymentOptionsRequest" nillable="true" type="ap:SetPaymentOptionsRequest" />
      <xs:element name="SetPaymentOptionsResponse" nillable="true" type="ap:SetPaymentOptionsResponse" />
      <xs:element name="GetFundingPlansRequest" nillable="true" type="ap:GetFundingPlansRequest" />
      <xs:element name="GetFundingPlansResponse" nillable="true" type="ap:GetFundingPlansResponse" />
      <xs:element name="GetAvailableShippingAddressesRequest" nillable="true" type="ap:GetAvailableShippingAddressesRequest" />
      <xs:element name="GetAvailableShippingAddressesResponse" nillable="true" type="ap:GetAvailableShippingAddressesResponse" />
      <xs:element name="GetShippingAddressesRequest" nillable="true" type="ap:GetShippingAddressesRequest" />
      <xs:element name="GetShippingAddressesResponse" nillable="true" type="ap:GetShippingAddressesResponse" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="PPFaultMessage">
    <wsdl:part name="body" element="common:FaultMessage" />
  </wsdl:message>
  <wsdl:message name="CancelPreapprovalRequest">
    <wsdl:part name="body" element="types:CancelPreapprovalRequest" />
  </wsdl:message>
  <wsdl:message name="CancelPreapprovalResponse">
    <wsdl:part name="body" element="types:CancelPreapprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmPreapprovalRequest">
    <wsdl:part name="body" element="types:ConfirmPreapprovalRequest" />
  </wsdl:message>
  <wsdl:message name="ConfirmPreapprovalResponse">
    <wsdl:part name="body" element="types:ConfirmPreapprovalResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertCurrencyRequest">
    <wsdl:part name="body" element="types:ConvertCurrencyRequest" />
  </wsdl:message>
  <wsdl:message name="ConvertCurrencyResponse">
    <wsdl:part name="body" element="types:ConvertCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="ExecutePaymentRequest">
    <wsdl:part name="body" element="types:ExecutePaymentRequest" />
  </wsdl:message>
  <wsdl:message name="ExecutePaymentResponse">
    <wsdl:part name="body" element="types:ExecutePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllowedFundingSourcesRequest">
    <wsdl:part name="body" element="types:GetAllowedFundingSourcesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAllowedFundingSourcesResponse">
    <wsdl:part name="body" element="types:GetAllowedFundingSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaymentOptionsRequest">
    <wsdl:part name="body" element="types:GetPaymentOptionsRequest" />
  </wsdl:message>
  <wsdl:message name="GetPaymentOptionsResponse">
    <wsdl:part name="body" element="types:GetPaymentOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="PaymentDetailsRequest">
    <wsdl:part name="body" element="types:PaymentDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="PaymentDetailsResponse">
    <wsdl:part name="body" element="types:PaymentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="PayRequest">
    <wsdl:part name="body" element="types:PayRequest" />
  </wsdl:message>
  <wsdl:message name="PayResponse">
    <wsdl:part name="body" element="types:PayResponse" />
  </wsdl:message>
  <wsdl:message name="PreapprovalDetailsRequest">
    <wsdl:part name="body" element="types:PreapprovalDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="PreapprovalDetailsResponse">
    <wsdl:part name="body" element="types:PreapprovalDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="PreapprovalRequest">
    <wsdl:part name="body" element="types:PreapprovalRequest" />
  </wsdl:message>
  <wsdl:message name="PreapprovalResponse">
    <wsdl:part name="body" element="types:PreapprovalResponse" />
  </wsdl:message>
  <wsdl:message name="RefundRequest">
    <wsdl:part name="body" element="types:RefundRequest" />
  </wsdl:message>
  <wsdl:message name="RefundResponse">
    <wsdl:part name="body" element="types:RefundResponse" />
  </wsdl:message>
  <wsdl:message name="SetPaymentOptionsRequest">
    <wsdl:part name="body" element="types:SetPaymentOptionsRequest" />
  </wsdl:message>
  <wsdl:message name="SetPaymentOptionsResponse">
    <wsdl:part name="body" element="types:SetPaymentOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFundingPlansRequest">
    <wsdl:part name="body" element="types:GetFundingPlansRequest" />
  </wsdl:message>
  <wsdl:message name="GetFundingPlansResponse">
    <wsdl:part name="body" element="types:GetFundingPlansResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableShippingAddressesRequest">
    <wsdl:part name="body" element="types:GetAvailableShippingAddressesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableShippingAddressesResponse">
    <wsdl:part name="body" element="types:GetAvailableShippingAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="GetShippingAddressesRequest">
    <wsdl:part name="body" element="types:GetShippingAddressesRequest" />
  </wsdl:message>
  <wsdl:message name="GetShippingAddressesResponse">
    <wsdl:part name="body" element="types:GetShippingAddressesResponse" />
  </wsdl:message>
  <wsdl:portType name="AdaptivePaymentsPortType">
    <wsdl:operation name="CancelPreapproval">
      <wsdl:input name="CancelPreapprovalRequest" message="services:CancelPreapprovalRequest" />
      <wsdl:output name="CancelPreapprovalResponse" message="services:CancelPreapprovalResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmPreapproval">
      <wsdl:input name="ConfirmPreapprovalRequest" message="services:ConfirmPreapprovalRequest" />
      <wsdl:output name="ConfirmPreapprovalResponse" message="services:ConfirmPreapprovalResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertCurrency">
      <wsdl:input name="ConvertCurrencyRequest" message="services:ConvertCurrencyRequest" />
      <wsdl:output name="ConvertCurrencyResponse" message="services:ConvertCurrencyResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutePayment">
      <wsdl:input name="ExecutePaymentRequest" message="services:ExecutePaymentRequest" />
      <wsdl:output name="ExecutePaymentResponse" message="services:ExecutePaymentResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllowedFundingSources">
      <wsdl:input name="GetAllowedFundingSourcesRequest" message="services:GetAllowedFundingSourcesRequest" />
      <wsdl:output name="GetAllowedFundingSourcesResponse" message="services:GetAllowedFundingSourcesResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentOptions">
      <wsdl:input name="GetPaymentOptionsRequest" message="services:GetPaymentOptionsRequest" />
      <wsdl:output name="GetPaymentOptionsResponse" message="services:GetPaymentOptionsResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PaymentDetails">
      <wsdl:input name="PaymentDetailsRequest" message="services:PaymentDetailsRequest" />
      <wsdl:output name="PaymentDetailsResponse" message="services:PaymentDetailsResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input name="PayRequest" message="services:PayRequest" />
      <wsdl:output name="PayResponse" message="services:PayResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreapprovalDetails">
      <wsdl:input name="PreapprovalDetailsRequest" message="services:PreapprovalDetailsRequest" />
      <wsdl:output name="PreapprovalDetailsResponse" message="services:PreapprovalDetailsResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Preapproval">
      <wsdl:input name="PreapprovalRequest" message="services:PreapprovalRequest" />
      <wsdl:output name="PreapprovalResponse" message="services:PreapprovalResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <wsdl:input name="RefundRequest" message="services:RefundRequest" />
      <wsdl:output name="RefundResponse" message="services:RefundResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPaymentOptions">
      <wsdl:input name="SetPaymentOptionsRequest" message="services:SetPaymentOptionsRequest" />
      <wsdl:output name="SetPaymentOptionsResponse" message="services:SetPaymentOptionsResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFundingPlans">
      <wsdl:input name="GetFundingPlansRequest" message="services:GetFundingPlansRequest" />
      <wsdl:output name="GetFundingPlansResponse" message="services:GetFundingPlansResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableShippingAddresses">
      <wsdl:input name="GetAvailableShippingAddressesRequest" message="services:GetAvailableShippingAddressesRequest" />
      <wsdl:output name="GetAvailableShippingAddressesResponse" message="services:GetAvailableShippingAddressesResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShippingAddresses">
      <wsdl:input name="GetShippingAddressesRequest" message="services:GetShippingAddressesRequest" />
      <wsdl:output name="GetShippingAddressesResponse" message="services:GetShippingAddressesResponse" />
      <wsdl:fault name="PPFaultMessage" message="services:PPFaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdaptivePaymentsSOAP11Binding" type="services:AdaptivePaymentsPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CancelPreapproval">
      <soap:operation soapAction="urn:CancelPreapproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPreapproval">
      <soap:operation soapAction="urn:ConfirmPreapproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConvertCurrency">
      <soap:operation soapAction="urn:ConvertCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ExecutePayment">
      <soap:operation soapAction="urn:ExecutePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllowedFundingSources">
      <soap:operation soapAction="urn:GetAllowedFundingSources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentOptions">
      <soap:operation soapAction="urn:GetPaymentOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PaymentDetails">
      <soap:operation soapAction="urn:PaymentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="urn:Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PreapprovalDetails">
      <soap:operation soapAction="urn:PreapprovalDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Preapproval">
      <soap:operation soapAction="urn:Preapproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Refund">
      <soap:operation soapAction="urn:Refund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetPaymentOptions">
      <soap:operation soapAction="urn:SetPaymentOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFundingPlans">
      <soap:operation soapAction="urn:GetFundingPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableShippingAddresses">
      <soap:operation soapAction="urn:GetAvailableShippingAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetShippingAddresses">
      <soap:operation soapAction="urn:GetShippingAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PPFaultMessage">
        <soap:fault use="literal" name="PPFaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdaptivePayments">
    <wsdl:port name="AdaptivePaymentsSOAP11_http" binding="services:AdaptivePaymentsSOAP11Binding">
      <soap:address location="https://svcs.paypal.com/AdaptivePayments" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>