LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.IFMSDefictFundsTransfer/FMDfctTrsfrSetpResDataV2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWFMDfctTrsfrSetpResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWFMDfctTrsfrSetpResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FMDfctTrsfrSetpResData">
    <xs:annotation>
      <xs:documentation>IFMS Defict Funds Transfer (FMDEF) -  This function is used to add, change, delete, or inquire on transfer instructions that transfer funds from a sending account or accounts on the Deposit System, the Loan System, another Metavante system, or an external system to an account on the Deposit System when the Deposit System account's balance falls below a specified threshold.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E312" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Add/Change/Delete/Inquire Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="E70168" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Deposit System Receiving Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70142" type="xs:string">
          <xs:annotation>
            <xs:documentation>Receiving Account System Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70170" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Customer Name</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70171" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Deficit Transfer Sequence Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70172" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Start Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70173" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM End Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70195" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Threshold Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70196" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Balance Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70197" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Maintained Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70198" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Transfer Increment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70199" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Minimum Transfer Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70200" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Minimum Transfer Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70201" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Item-By-Item Transfer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70202" type="xs:string">
          <xs:annotation>
            <xs:documentation>FM Account to Service Charge</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E304" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Sending Accounts</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E70218" type="xs:string">
          <xs:annotation>
            <xs:documentation>Calculate and Pass Multiple Balance</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="FMDfctTrsfrRptDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="FMDfctTrsfrRptData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E70177" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Overdraw Balance Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70182" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Order</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70184" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Sending Account Number</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70185" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Note Number or Deposit ID</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70186" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM FMS Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70187" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Product Description</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70188" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM System Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70191" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Notice Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70192" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Notice Service Charge Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70193" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Notice Service Charge Type</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70194" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Transfer Service Charge Amount</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70203" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Deficit Transfer Related Available Balance to Teller</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70204" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Overdraw Indicator</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="E70212" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>FM Original Order</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>