LoansPQWSWrappers/Web References/Mortrac.LoanImport/LoanImportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://mortrac.flagstar.com/webservice/LoanImportService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanImportService" targetNamespace="http://mortrac.flagstar.com/webservice/LoanImportService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mortrac.flagstar.com/webservice/LoanImportService">
      <xsd:complexType name="importMismoMortgage">
        <xsd:sequence>
          <xsd:element name="ImportLoanProposalRequest" nillable="true" type="tns:ImportLoanProposalRequest" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImportLoanProposalRequest">
        <xsd:sequence>
          <xsd:element name="bussSourceID" nillable="true" type="xsd:string" />
          <xsd:element name="calledFromServlet" nillable="true" type="xsd:boolean" />
          <xsd:element name="lenderID" nillable="true" type="xsd:long" />
          <xsd:element name="loanNumber" nillable="true" type="xsd:string" />
          <xsd:element name="los" nillable="true" type="xsd:string" />
          <xsd:element name="marketingCode" nillable="true" type="xsd:string" />
          <xsd:element name="originatorSkSeq" nillable="true" type="xsd:long" />
          <xsd:element name="password" nillable="true" type="xsd:string" />
          <xsd:element name="processorSkSeq" nillable="true" type="xsd:long" />
          <xsd:element name="referral" nillable="true" type="xsd:long" />
          <xsd:element name="username" nillable="true" type="xsd:string" />
          <xsd:element name="xml" nillable="true" type="xsd:string" />
          <xsd:element name="isLoyalCustomer" nillable="true" type="xsd:boolean" />
          <xsd:element name="isClosingCostWaived" nillable="true" type="xsd:boolean" />
          <xsd:element name="branchCode" nillable="true" type="xsd:string" />
          <xsd:element name="creditScore" nillable="true" type="xsd:string" />
          <xsd:element name="nmlsID" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="importMismoMortgageResponse">
        <xsd:sequence>
          <xsd:element name="result" nillable="true" type="tns:ImportLoanProposalsResponse" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImportLoanProposalsResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="importMessages" nillable="true" type="tns:LoanProposalImportMessage" />
          <xsd:element name="importSuccessful" nillable="true" type="xsd:boolean" />
          <xsd:element name="loanNumber" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LoanProposalImportMessage">
        <xsd:sequence>
          <xsd:element name="loadMessageType" nillable="true" type="xsd:string" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
          <xsd:element name="messageHelp" nillable="true" type="xsd:string" />
          <xsd:element name="messageId" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ApplicationServiceException">
        <xsd:sequence>
          <xsd:element name="comments" nillable="true" type="xsd:string" />
          <xsd:element name="errorCode" nillable="true" type="xsd:string" />
          <xsd:element name="errorDesc" nillable="true" type="xsd:string" />
          <xsd:element name="message" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="importMismoMortgage" type="tns:importMismoMortgage" />
      <xsd:element name="importMismoMortgageResponse" type="tns:importMismoMortgageResponse" />
      <xsd:element name="ApplicationServiceException" type="tns:ApplicationServiceException" />
    </xsd:schema>
  </types>
  <message name="LoanImportServiceEndpoint_importMismoMortgageResponse">
    <part name="result" element="tns:importMismoMortgageResponse" />
  </message>
  <message name="LoanImportServiceEndpoint_importMismoMortgage">
    <part name="parameters" element="tns:importMismoMortgage" />
  </message>
  <message name="ApplicationServiceException">
    <part name="ApplicationServiceException" element="tns:ApplicationServiceException" />
  </message>
  <portType name="LoanImportServiceEndpoint">
    <operation name="importMismoMortgage">
      <input message="tns:LoanImportServiceEndpoint_importMismoMortgage" />
      <output message="tns:LoanImportServiceEndpoint_importMismoMortgageResponse" />
      <fault name="ApplicationServiceException" message="tns:ApplicationServiceException" />
    </operation>
  </portType>
  <binding name="LoanImportServiceEndpointBinding" type="tns:LoanImportServiceEndpoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="importMismoMortgage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="ApplicationServiceException">
        <soap:fault use="literal" name="ApplicationServiceException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="LoanImportService">
    <port name="LoanImportServiceEndpointPort" binding="tns:LoanImportServiceEndpointBinding">
      <soap:address location="http://10.108.4.75:8080/webservice/LoanImportService" />
    </port>
  </service>
</definitions>