LoansPQWSWrappers/Web References/EFundsAccountOwnershipService/efundsmicrenc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns3="http://V001.replyobjects.soap.penleyinc.com" xmlns:tns2="http://V001.queryobjects.soap.penleyinc.com" xmlns:impl="urn:efundsmicr" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="urn:efundsmicr" targetNamespace="urn:efundsmicr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://V001.queryobjects.soap.penleyinc.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="MicrIdentification">
        <xsd:sequence>
          <xsd:element name="acquirerid" nillable="true" type="xsd:string" />
          <xsd:element name="customerid" nillable="true" type="xsd:string" />
          <xsd:element name="locationid" nillable="true" type="xsd:string" />
          <xsd:element name="productcd" nillable="true" type="xsd:string" />
          <xsd:element name="productversionbr" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext1" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext2" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext3" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrConsumer">
        <xsd:sequence>
          <xsd:element name="accountnbr" nillable="true" type="xsd:string" />
          <xsd:element name="bankcd" nillable="true" type="xsd:string" />
          <xsd:element name="bankcheckdigitcd" nillable="true" type="xsd:string" />
          <xsd:element name="businessname" nillable="true" type="xsd:string" />
          <xsd:element name="cityname" nillable="true" type="xsd:string" />
          <xsd:element name="dlnbr" nillable="true" type="xsd:string" />
          <xsd:element name="dlstatecd" nillable="true" type="xsd:string" />
          <xsd:element name="federaltaxid" nillable="true" type="xsd:string" />
          <xsd:element name="firstname" nillable="true" type="xsd:string" />
          <xsd:element name="generationtext" nillable="true" type="xsd:string" />
          <xsd:element name="homephonenbr" nillable="true" type="xsd:string" />
          <xsd:element name="lastname" nillable="true" type="xsd:string" />
          <xsd:element name="middlename" nillable="true" type="xsd:string" />
          <xsd:element name="postalplusfourcd" nillable="true" type="xsd:string" />
          <xsd:element name="socialsecuritynbr" nillable="true" type="xsd:string" />
          <xsd:element name="statecd" nillable="true" type="xsd:string" />
          <xsd:element name="streetaddresstext" nillable="true" type="xsd:string" />
          <xsd:element name="suffixtext" nillable="true" type="xsd:string" />
          <xsd:element name="titletext" nillable="true" type="xsd:string" />
          <xsd:element name="workphonenbr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrRiskIdentification">
        <xsd:sequence>
          <xsd:element name="acquirerid" nillable="true" type="xsd:string" />
          <xsd:element name="customerid" nillable="true" type="xsd:string" />
          <xsd:element name="locationid" nillable="true" type="xsd:string" />
          <xsd:element name="productcd" nillable="true" type="xsd:string" />
          <xsd:element name="productversionbr" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrRiskConsumer">
        <xsd:sequence>
          <xsd:element name="accountNbr" nillable="true" type="xsd:string" />
          <xsd:element name="bankCd" nillable="true" type="xsd:string" />
          <xsd:element name="bankCheckDigitCd" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://V001.replyobjects.soap.penleyinc.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="MicrMatchData">
        <xsd:sequence>
          <xsd:element name="accountnbr" nillable="true" type="xsd:string" />
          <xsd:element name="bankcd" nillable="true" type="xsd:string" />
          <xsd:element name="bankcheckdigitcd" nillable="true" type="xsd:string" />
          <xsd:element name="businessname" nillable="true" type="xsd:string" />
          <xsd:element name="cityname" nillable="true" type="xsd:string" />
          <xsd:element name="dlnbr" nillable="true" type="xsd:string" />
          <xsd:element name="dlstatecd" nillable="true" type="xsd:string" />
          <xsd:element name="federaltaxid" nillable="true" type="xsd:string" />
          <xsd:element name="firstname" nillable="true" type="xsd:string" />
          <xsd:element name="generationtext" nillable="true" type="xsd:string" />
          <xsd:element name="homephonenbr" nillable="true" type="xsd:string" />
          <xsd:element name="lastname" nillable="true" type="xsd:string" />
          <xsd:element name="middlename" nillable="true" type="xsd:string" />
          <xsd:element name="postalplusfourcd" nillable="true" type="xsd:string" />
          <xsd:element name="socialsecuritynbr" nillable="true" type="xsd:string" />
          <xsd:element name="statecd" nillable="true" type="xsd:string" />
          <xsd:element name="streetaddresstext" nillable="true" type="xsd:string" />
          <xsd:element name="suffixtext" nillable="true" type="xsd:string" />
          <xsd:element name="titletext" nillable="true" type="xsd:string" />
          <xsd:element name="workphonenbr" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrValidationsResult">
        <xsd:sequence>
          <xsd:element name="micraddressmatch" nillable="true" type="xsd:string" />
          <xsd:element name="micrdlmatch" nillable="true" type="xsd:string" />
          <xsd:element name="micrgovtnbrmatch" nillable="true" type="xsd:string" />
          <xsd:element name="micrhomephonematch" nillable="true" type="xsd:string" />
          <xsd:element name="micrmatch" nillable="true" type="xsd:string" />
          <xsd:element name="micrnamematch" nillable="true" type="xsd:string" />
          <xsd:element name="micrworkphonematch" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrMatchResponse">
        <xsd:sequence>
          <xsd:element name="micrMatchData" nillable="true" type="tns3:MicrMatchData" />
          <xsd:element name="micrValidationsResult" nillable="true" type="tns3:MicrValidationsResult" />
          <xsd:element name="receiptTm" nillable="true" type="xsd:string" />
          <xsd:element name="responseTm" nillable="true" type="xsd:string" />
          <xsd:element name="transactiontrackingid" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext1" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext2" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext3" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrRiskData">
        <xsd:sequence>
          <xsd:element name="accountNbr" nillable="true" type="xsd:string" />
          <xsd:element name="bankCd" nillable="true" type="xsd:string" />
          <xsd:element name="bankCheckDigitCd" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrRiskResult">
        <xsd:sequence>
          <xsd:element name="acctAcceptTxt" nillable="true" type="xsd:string" />
          <xsd:element name="acctClsrInd" nillable="true" type="xsd:string" />
          <xsd:element name="riskMgmtScore" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MicrRiskResponse">
        <xsd:sequence>
          <xsd:element name="micrRiskData" nillable="true" type="tns3:MicrRiskData" />
          <xsd:element name="micrRiskResult" nillable="true" type="tns3:MicrRiskResult" />
          <xsd:element name="receiptTm" nillable="true" type="xsd:string" />
          <xsd:element name="responseTm" nillable="true" type="xsd:string" />
          <xsd:element name="transactiontrackingid" nillable="true" type="xsd:string" />
          <xsd:element name="userdefinedtransactiontext1" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="callMicrRiskServiceResponse">
    <wsdl:part name="callMicrRiskServiceReturn" type="tns3:MicrRiskResponse" />
  </wsdl:message>
  <wsdl:message name="micrAuthenticateRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="callMicrServiceRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="tns2:MicrIdentification" />
    <wsdl:part name="in2" type="tns2:MicrConsumer" />
  </wsdl:message>
  <wsdl:message name="micrAuthenticateResponse">
    <wsdl:part name="micrAuthenticateReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="callMicrRiskServiceRequest">
    <wsdl:part name="in0" type="xsd:string" />
    <wsdl:part name="in1" type="tns2:MicrRiskIdentification" />
    <wsdl:part name="in2" type="tns2:MicrRiskConsumer" />
  </wsdl:message>
  <wsdl:message name="callMicrServiceResponse">
    <wsdl:part name="callMicrServiceReturn" type="tns3:MicrMatchResponse" />
  </wsdl:message>
  <wsdl:portType name="MicrService">
    <wsdl:operation name="callMicrService" parameterOrder="in0 in1 in2">
      <wsdl:input name="callMicrServiceRequest" message="intf:callMicrServiceRequest" />
      <wsdl:output name="callMicrServiceResponse" message="intf:callMicrServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="callMicrRiskService" parameterOrder="in0 in1 in2">
      <wsdl:input name="callMicrRiskServiceRequest" message="intf:callMicrRiskServiceRequest" />
      <wsdl:output name="callMicrRiskServiceResponse" message="intf:callMicrRiskServiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="micrAuthenticate" parameterOrder="in0 in1">
      <wsdl:input name="micrAuthenticateRequest" message="intf:micrAuthenticateRequest" />
      <wsdl:output name="micrAuthenticateResponse" message="intf:micrAuthenticateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="efundsmicrSoapBinding" type="intf:MicrService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="callMicrService">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="callMicrServiceRequest">
        <wsdlsoap:body use="encoded" namespace="urn:efundsmicr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="callMicrServiceResponse">
        <wsdlsoap:body use="encoded" namespace="urn:efundsmicr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="callMicrRiskService">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="callMicrRiskServiceRequest">
        <wsdlsoap:body use="encoded" namespace="urn:efundsmicr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="callMicrRiskServiceResponse">
        <wsdlsoap:body use="encoded" namespace="urn:efundsmicr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="micrAuthenticate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="micrAuthenticateRequest">
        <wsdlsoap:body use="encoded" namespace="urn:efundsmicr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="micrAuthenticateResponse">
        <wsdlsoap:body use="encoded" namespace="urn:efundsmicr" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MicrServiceService">
    <wsdl:port name="efundsmicr" binding="intf:efundsmicrSoapBinding">
      <wsdlsoap:address location="https://penleyincqa.penleyinc.com/penleysoap3/services/efundsmicr" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>