LoansPQWSWrappers/Web References/CUDLConnectCreateAppService/ProcessDecisionrequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cudl.com/CUDLConnect/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.cudl.com/CUDLConnect/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cudl.com/CUDLConnect/">
      <s:element name="CreateApplicationFromCUDLConnect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CUDLConnectMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateApplicationFromCUDLConnectResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateApplicationFromCUDLConnectSoapIn">
    <wsdl:part name="parameters" element="tns:CreateApplicationFromCUDLConnect" />
  </wsdl:message>
  <wsdl:message name="CreateApplicationFromCUDLConnectSoapOut">
    <wsdl:part name="parameters" element="tns:CreateApplicationFromCUDLConnectResponse" />
  </wsdl:message>
  <wsdl:message name="CreateApplicationFromCUDLConnectHttpGetIn">
    <wsdl:part name="CUDLConnectMessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateApplicationFromCUDLConnectHttpGetOut" />
  <wsdl:message name="CreateApplicationFromCUDLConnectHttpPostIn">
    <wsdl:part name="CUDLConnectMessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateApplicationFromCUDLConnectHttpPostOut" />
  <wsdl:portType name="ProcessDecisionRequestServiceSoap">
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This WebMethod accepts a CUDL Connect application.</wsdl:documentation>
      <wsdl:input message="tns:CreateApplicationFromCUDLConnectSoapIn" />
      <wsdl:output message="tns:CreateApplicationFromCUDLConnectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProcessDecisionRequestServiceHttpGet">
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This WebMethod accepts a CUDL Connect application.</wsdl:documentation>
      <wsdl:input message="tns:CreateApplicationFromCUDLConnectHttpGetIn" />
      <wsdl:output message="tns:CreateApplicationFromCUDLConnectHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ProcessDecisionRequestServiceHttpPost">
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This WebMethod accepts a CUDL Connect application.</wsdl:documentation>
      <wsdl:input message="tns:CreateApplicationFromCUDLConnectHttpPostIn" />
      <wsdl:output message="tns:CreateApplicationFromCUDLConnectHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessDecisionRequestServiceSoap" type="tns:ProcessDecisionRequestServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <soap:operation soapAction="http://www.cudl.com/CUDLConnect/CreateApplicationFromCUDLConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessDecisionRequestServiceSoap12" type="tns:ProcessDecisionRequestServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <soap12:operation soapAction="http://www.cudl.com/CUDLConnect/CreateApplicationFromCUDLConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessDecisionRequestServiceHttpGet" type="tns:ProcessDecisionRequestServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <http:operation location="/CreateApplicationFromCUDLConnect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessDecisionRequestServiceHttpPost" type="tns:ProcessDecisionRequestServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CreateApplicationFromCUDLConnect">
      <http:operation location="/CreateApplicationFromCUDLConnect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessDecisionRequestService">
    <wsdl:port name="ProcessDecisionRequestServiceSoap" binding="tns:ProcessDecisionRequestServiceSoap">
      <soap:address location="http://loanspq.localhost/services/star/CudlConnect/ProcessDecisionrequestService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessDecisionRequestServiceSoap12" binding="tns:ProcessDecisionRequestServiceSoap12">
      <soap12:address location="http://loanspq.localhost/services/star/CudlConnect/ProcessDecisionrequestService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessDecisionRequestServiceHttpGet" binding="tns:ProcessDecisionRequestServiceHttpGet">
      <http:address location="http://loanspq.localhost/services/star/CudlConnect/ProcessDecisionrequestService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessDecisionRequestServiceHttpPost" binding="tns:ProcessDecisionRequestServiceHttpPost">
      <http:address location="http://loanspq.localhost/services/star/CudlConnect/ProcessDecisionrequestService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>