LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.CICustomerDueDiligence/CICustDueDiligenceResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWCICustDueDiligenceResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWCICustDueDiligenceResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CICustDueDiligenceResData">
    <xs:annotation>
      <xs:documentation>CIS Customer Due Diligence Demographics (CI013) - </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E10093" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E300214" type="xs:string">
          <xs:annotation>
            <xs:documentation>Inquiry Update Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10793" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Label Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10153" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10355" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Maintenance Operator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10356" type="xs:string">
          <xs:annotation>
            <xs:documentation>Last Maintenance Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10790" type="xs:string">
          <xs:annotation>
            <xs:documentation>Initinal Deposit </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10791" type="xs:string">
          <xs:annotation>
            <xs:documentation>Type of Funds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10792" type="xs:string">
          <xs:annotation>
            <xs:documentation>Source Of Funds</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10794" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Number of Deposits</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10795" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Deposit Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10800" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Cash Deposits</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10801" type="xs:string">
          <xs:annotation>
            <xs:documentation>Cash Deposit Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10798" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Cash Withdrawal</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10799" type="xs:string">
          <xs:annotation>
            <xs:documentation>Cash Withdrawal Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10802" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Checks Written</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10803" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Amount Written</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10806" type="xs:string">
          <xs:annotation>
            <xs:documentation>Anticipated Wire Activity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10964" type="xs:string">
          <xs:annotation>
            <xs:documentation>Domestic Incoming Wire Activity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10807" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number Domestic Incoming Wire</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10808" type="xs:string">
          <xs:annotation>
            <xs:documentation>Domestic Incoming Wire Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10965" type="xs:string">
          <xs:annotation>
            <xs:documentation>Domestic Outgoing Wire Activity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10809" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Domestic Outgoing Wire</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10810" type="xs:string">
          <xs:annotation>
            <xs:documentation>Domestic Outgoing Wire Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10811" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Incoming Wire Activity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10812" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Foreign Incoming Wire</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10813" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Incoming Wire Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10815" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Outgoing Wire Activity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10816" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number of Foreign Outgoing Wire</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10817" type="xs:string">
          <xs:annotation>
            <xs:documentation>Foreign Outgoing Wire Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10819" type="xs:string">
          <xs:annotation>
            <xs:documentation>Politically Exposed Person Organization</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10820" type="xs:string">
          <xs:annotation>
            <xs:documentation>Poticall Relationship</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10821" type="xs:string">
          <xs:annotation>
            <xs:documentation>Personal Relationship</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10822" type="xs:string">
          <xs:annotation>
            <xs:documentation>Personal Relationship Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10823" type="xs:string">
          <xs:annotation>
            <xs:documentation>Comments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10824" type="xs:string">
          <xs:annotation>
            <xs:documentation>Customer Risk Rating</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10825" type="xs:string">
          <xs:annotation>
            <xs:documentation>Accept ACH Payments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10826" type="xs:string">
          <xs:annotation>
            <xs:documentation>Originate ACH Payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10827" type="xs:string">
          <xs:annotation>
            <xs:documentation>Information Obtained By</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10828" type="xs:string">
          <xs:annotation>
            <xs:documentation>Completion Date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10860" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10861" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10862" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10863" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10864" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10865" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10866" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10867" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10868" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10869" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10870" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10871" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10872" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10873" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 7</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10874" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10875" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 8</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10876" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10877" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 9</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10878" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10879" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 10</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10880" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10881" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 11</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10882" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10883" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 12</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10884" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10885" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 13</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10886" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10887" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 14</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10888" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10889" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 15</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10890" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 16</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10891" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 16</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10892" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 17</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10893" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 17</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10894" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 18</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10895" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 18</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10896" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 19</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10897" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 19</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10898" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 20</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10899" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 20</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10900" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 21</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10901" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 21</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10902" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 22</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10903" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 22</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10904" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 23</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10905" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 23</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10906" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 24</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10907" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 24</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10908" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 25</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10909" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 25</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10910" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 26</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10911" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 26</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10912" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 27</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10913" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 27</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10914" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 28</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10915" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 28</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10916" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 29</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10917" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 29</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10918" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 30</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10919" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 30</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10920" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 31</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10921" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 31</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10922" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 32</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10923" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 32</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10924" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 33</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10925" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 33</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10926" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 34</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10927" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 34</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10928" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 35</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10929" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 35</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10930" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 36</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10931" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 36</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10932" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 37</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10933" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 37</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10934" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 38</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10935" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 38</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10936" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 39</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10937" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 39</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10938" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field 40</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10939" type="xs:string">
          <xs:annotation>
            <xs:documentation>User Defined Field Label 40</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10849" type="xs:string">
          <xs:annotation>
            <xs:documentation>Country of Citizenship</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10850" type="xs:string">
          <xs:annotation>
            <xs:documentation>Country of Dual Citizenship</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10851" type="xs:string">
          <xs:annotation>
            <xs:documentation>Resident NonResident Person</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10852" type="xs:string">
          <xs:annotation>
            <xs:documentation>Secondary Employer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10853" type="xs:string">
          <xs:annotation>
            <xs:documentation>Occupation Description</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10854" type="xs:string">
          <xs:annotation>
            <xs:documentation>Position Title</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10855" type="xs:string">
          <xs:annotation>
            <xs:documentation>Full Part Time</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10856" type="xs:string">
          <xs:annotation>
            <xs:documentation>Description Of Business</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10857" type="xs:string">
          <xs:annotation>
            <xs:documentation>High Risk Business</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10858" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Services Business</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10796" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Orders</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10797" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Orders Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10804" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Order Confirmation Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10805" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Order Acting as Agent For</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10829" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Order Maximum Daily Amount Per Person</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10830" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Order Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10831" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Order Percent Of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10832" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traveler's Checks</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10833" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traveler's Checks Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10834" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traveler's Checks Confirmation Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10835" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traveler's Checks Acting as Agent for</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10836" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traverler's Check Maximum Daily Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10837" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traverler's Checks Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10838" type="xs:string">
          <xs:annotation>
            <xs:documentation>Traveler's Checks Percent of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10839" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10840" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10841" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission Registration Confirmation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10842" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission Acting as Agent for</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10843" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission Maximum Daily Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10844" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10845" type="xs:string">
          <xs:annotation>
            <xs:documentation>Money Transmission Percent of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10846" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10847" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10848" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing Registration Confirmation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10859" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing Acting as Agent for</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10940" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing Maximum Daily Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10941" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10942" type="xs:string">
          <xs:annotation>
            <xs:documentation>Check Cashing Percent of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10943" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10944" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10945" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange Registration Confirmation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10946" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange Acting as Agent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10947" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange Maximum Daily Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10948" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10949" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Exchange Percent of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10950" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10951" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10952" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing Registration Confirmation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10953" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing Acting as Agent</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10954" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing Maximum Daily Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10955" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10956" type="xs:string">
          <xs:annotation>
            <xs:documentation>Currency Dealing Percent of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10957" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10958" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value Registration</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10959" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value Registration Confirmation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10960" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value Acting as Agent </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10961" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value Maximum Daily Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10962" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value Monthly Sales</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E10963" type="xs:string">
          <xs:annotation>
            <xs:documentation>Stored Value Percent of Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="CICustDueDiligenceInCtryCdeDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CICustDueDiligenceInCtryCdeData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E10814" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Incoming Country Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="CICustDueDiligenceOutCtryCdeDataLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="CICustDueDiligenceOutCtryCdeData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="E10818" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Outgoing Country Code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>