LoansPQWSWrappers/Web References/FIS.BizChexV12/BizChexCommonTypes_v1.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="tSoaTxnId">
		<xs:restriction base="xs:string">			
			<!-- <xs:maxLength value="17" /> -->
			<xs:pattern value="(\d{17})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tCustId">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="99999999" />
			<xs:pattern value="\d{8}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tAcqrId">
		<xs:restriction base="xs:string">			
			<xs:pattern value="(\d{1,6})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tProdCde">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tChnlId">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tTxnTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tVersion">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tInqId">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,15})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStrtgyTypId">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-Z0-9]{1,5})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tIndMktTypCd">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-Z0-9]{6})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tUsrDfndTxnTxt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tTxtRpt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="900000" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tEmailAddr">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9 \.\-@_ ]*" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tUsrNme">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9 \.\-@_ ]*" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tRptTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tBusTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tMMddyyyy"> <!-- Birthdt -->
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(19|20)\d\d" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptDte"> <!-- Date of Establishment -->
		<xs:restriction base="xs:string">
			<xs:pattern value="((0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(19|20)\d\d)?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tCity">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z '\.\- ]*" />
			<xs:minLength value="1" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tOptCity">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z '\.\- ]*" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tCompositePhoneNbr">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{10})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tBusNm">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9 &amp;\-'&quot;\+$#!\.,&apos;?/*()_=%@~`]*" />
			<xs:minLength value="1" />			
			<xs:maxLength value="85" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tSgnrTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptSgnrTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tFirstName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z \-'` ]*" />
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptFirstName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z \-'` ]*" />			
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tLastName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z \-'` ]*" />
			<xs:minLength value="1" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptLastName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z \-'` ]*" />			
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tMiddleName">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z \-'` ]*" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tGovtNbrTyp">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tSsn">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{9})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tAddress">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9 \-#/'\.,\\ ]*" />
			<xs:minLength value="1" />
			<xs:maxLength value="99" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tOptAddress">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9 \-#/'\.,\\ ]*" />
			<xs:maxLength value="99" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tCtryCde">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z]{2,3})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStateCde">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AA" />
			<xs:enumeration value="AE" />
			<xs:enumeration value="AK" />
			<xs:enumeration value="AL" />
			<xs:enumeration value="AP" />
			<xs:enumeration value="AR" />
			<xs:enumeration value="AS" />
			<xs:enumeration value="AZ" />
			<xs:enumeration value="CA" />
			<xs:enumeration value="CO" />
			<xs:enumeration value="CT" />
			<xs:enumeration value="DC" />
			<xs:enumeration value="DE" />
			<xs:enumeration value="FL" />
			<xs:enumeration value="FM" />
			<xs:enumeration value="GA" />
			<xs:enumeration value="GU" />
			<xs:enumeration value="HI" />
			<xs:enumeration value="IA" />
			<xs:enumeration value="ID" />
			<xs:enumeration value="IL" />
			<xs:enumeration value="IN" />
			<xs:enumeration value="KS" />
			<xs:enumeration value="KY" />
			<xs:enumeration value="LA" />
			<xs:enumeration value="MA" />
			<xs:enumeration value="MD" />
			<xs:enumeration value="ME" />
			<xs:enumeration value="MH" />
			<xs:enumeration value="MI" />
			<xs:enumeration value="MN" />
			<xs:enumeration value="MO" />
			<xs:enumeration value="MP" />
			<xs:enumeration value="MS" />
			<xs:enumeration value="MT" />
			<xs:enumeration value="NC" />
			<xs:enumeration value="ND" />
			<xs:enumeration value="NE" />
			<xs:enumeration value="NH" />
			<xs:enumeration value="NJ" />
			<xs:enumeration value="NM" />
			<xs:enumeration value="NV" />
			<xs:enumeration value="NY" />
			<xs:enumeration value="OH" />
			<xs:enumeration value="OK" />
			<xs:enumeration value="OR" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="PR" />
			<xs:enumeration value="PW" />
			<xs:enumeration value="RI" />
			<xs:enumeration value="SC" />
			<xs:enumeration value="SD" />
			<xs:enumeration value="TN" />
			<xs:enumeration value="TX" />
			<xs:enumeration value="UT" />
			<xs:enumeration value="VA" />
			<xs:enumeration value="VI" />
			<xs:enumeration value="VT" />
			<xs:enumeration value="WA" />
			<xs:enumeration value="WI" />
			<xs:enumeration value="WV" />
			<xs:enumeration value="WY" />
			<xs:enumeration value="XX" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tPstlCde">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{5}(\d{4})?)" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tOptPstlCde">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{5}(\d{4})?)?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tAddressMonthsNbr">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tAddressYearsNbr">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]*" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptStateCde"> <!-- Pattern for Prev State Code  -->
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="AA" />
			<xs:enumeration value="AE" />
			<xs:enumeration value="AK" />
			<xs:enumeration value="AL" />
			<xs:enumeration value="AP" />
			<xs:enumeration value="AR" />
			<xs:enumeration value="AS" />
			<xs:enumeration value="AZ" />
			<xs:enumeration value="CA" />
			<xs:enumeration value="CO" />
			<xs:enumeration value="CT" />
			<xs:enumeration value="DC" />
			<xs:enumeration value="DE" />
			<xs:enumeration value="FL" />
			<xs:enumeration value="FM" />
			<xs:enumeration value="GA" />
			<xs:enumeration value="GU" />
			<xs:enumeration value="HI" />
			<xs:enumeration value="IA" />
			<xs:enumeration value="ID" />
			<xs:enumeration value="IL" />
			<xs:enumeration value="IN" />
			<xs:enumeration value="KS" />
			<xs:enumeration value="KY" />
			<xs:enumeration value="LA" />
			<xs:enumeration value="MA" />
			<xs:enumeration value="MD" />
			<xs:enumeration value="ME" />
			<xs:enumeration value="MH" />
			<xs:enumeration value="MI" />
			<xs:enumeration value="MN" />
			<xs:enumeration value="MO" />
			<xs:enumeration value="MP" />
			<xs:enumeration value="MS" />
			<xs:enumeration value="MT" />
			<xs:enumeration value="NC" />
			<xs:enumeration value="ND" />
			<xs:enumeration value="NE" />
			<xs:enumeration value="NH" />
			<xs:enumeration value="NJ" />
			<xs:enumeration value="NM" />
			<xs:enumeration value="NV" />
			<xs:enumeration value="NY" />
			<xs:enumeration value="OH" />
			<xs:enumeration value="OK" />
			<xs:enumeration value="OR" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="PR" />
			<xs:enumeration value="PW" />
			<xs:enumeration value="RI" />
			<xs:enumeration value="SC" />
			<xs:enumeration value="SD" />
			<xs:enumeration value="TN" />
			<xs:enumeration value="TX" />
			<xs:enumeration value="UT" />
			<xs:enumeration value="VA" />
			<xs:enumeration value="VI" />
			<xs:enumeration value="VT" />
			<xs:enumeration value="WA" />
			<xs:enumeration value="WI" />
			<xs:enumeration value="WV" />
			<xs:enumeration value="WY" />
			<xs:enumeration value="XX" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptDLStateCde"> <!-- Pattern for DL State Code  -->
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />			
			<xs:enumeration value="AK" />
			<xs:enumeration value="AL" />			
			<xs:enumeration value="AR" />
			<xs:enumeration value="AS" />
			<xs:enumeration value="AZ" />
			<xs:enumeration value="CA" />
			<xs:enumeration value="CO" />
			<xs:enumeration value="CT" />
			<xs:enumeration value="DC" />
			<xs:enumeration value="DE" />
			<xs:enumeration value="FL" />
			<xs:enumeration value="FM" />
			<xs:enumeration value="GA" />
			<xs:enumeration value="GU" />
			<xs:enumeration value="HI" />
			<xs:enumeration value="IA" />
			<xs:enumeration value="ID" />
			<xs:enumeration value="IL" />
			<xs:enumeration value="IN" />
			<xs:enumeration value="KS" />
			<xs:enumeration value="KY" />
			<xs:enumeration value="LA" />
			<xs:enumeration value="MA" />
			<xs:enumeration value="MD" />
			<xs:enumeration value="ME" />
			<xs:enumeration value="MH" />
			<xs:enumeration value="MI" />
			<xs:enumeration value="MN" />
			<xs:enumeration value="MO" />
			<xs:enumeration value="MP" />
			<xs:enumeration value="MS" />
			<xs:enumeration value="MT" />
			<xs:enumeration value="NC" />
			<xs:enumeration value="ND" />
			<xs:enumeration value="NE" />
			<xs:enumeration value="NH" />
			<xs:enumeration value="NJ" />
			<xs:enumeration value="NM" />
			<xs:enumeration value="NV" />
			<xs:enumeration value="NY" />
			<xs:enumeration value="OH" />
			<xs:enumeration value="OK" />
			<xs:enumeration value="OR" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="PR" />
			<xs:enumeration value="PW" />
			<xs:enumeration value="RI" />
			<xs:enumeration value="SC" />
			<xs:enumeration value="SD" />
			<xs:enumeration value="TN" />
			<xs:enumeration value="TX" />
			<xs:enumeration value="UT" />
			<xs:enumeration value="VA" />
			<xs:enumeration value="VI" />
			<xs:enumeration value="VT" />
			<xs:enumeration value="WA" />
			<xs:enumeration value="WI" />
			<xs:enumeration value="WV" />
			<xs:enumeration value="WY" />			
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tDrvrLicNbr">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9 \*]*"/>	
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tOid">
		<xs:restriction base="xs:string">
			<xs:maxLength value="38" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tAddTxt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40000" />
		</xs:restriction>
	</xs:simpleType>


	<!-- Response Common Types -->

	<xs:simpleType name="tStringType65">
		<xs:restriction base="xs:string">
			<xs:maxLength value="65" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tCnsmrStmtTxt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1700" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tStringTypeMax">
			<xs:restriction base="xs:string">
				<xs:maxLength value="10000" />
			</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType16">
		<xs:restriction base="xs:string">
			<xs:maxLength value="16" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType22">
		<xs:restriction base="xs:string">
			<xs:maxLength value="22" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType38">
		<xs:restriction base="xs:string">
			<xs:maxLength value="38" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType120">
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType80">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType99">
		<xs:restriction base="xs:string">
			<xs:maxLength value="99" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType160">
		<xs:restriction base="xs:string">
			<xs:maxLength value="160" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tStringType200">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tStringType300">
		<xs:restriction base="xs:string">
			<xs:maxLength value="300" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType512">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tStringType4000">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tClsrRsnCd">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]*" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tAcctNbr">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]*" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tIDVAcctNbr">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{0,96}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tPrdStrtgyCdTxt">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]*" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tAmtFldLen11">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-9]{0,8}\.[0-9]{0,2})?)|([0-9]{0,11})?"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tAmtFldLen10">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([0-9]{0,7}\.[0-9]{0,2})?)|([0-9]{0,10})?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tProdOfrTxt">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tProdOfrRtePct">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{0,2}\.[0-9]{0,2})?|([0-9]{0,2})?" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tDteOfTxn">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{8})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tTmeOfTxn">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{0,2}:[0-9]{0,2})?" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="tYear">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{2,4})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tMonth">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,2})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tDay">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{1,2})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tBoolean">
		<xs:restriction base="xs:boolean">
			<xs:pattern value="false|true" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tOptBoolean">     
		<xs:restriction base="xs:string">
			<xs:pattern value="(false|true)?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tChar">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
		</xs:restriction>
	</xs:simpleType>	

	<xs:simpleType name="tRspCde">
		<xs:restriction base="xs:integer" />
	</xs:simpleType>

	<xs:simpleType name="tRspMsg">
		<xs:restriction base="tString128" />
	</xs:simpleType>

	<xs:simpleType name="tString64">
		<xs:restriction base="xs:string">
			<xs:maxLength value="64" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString65">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z\- \(\)0-9]{0,65}" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="tString128">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString2">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,2}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString3">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,3}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString4">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString5">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,5}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString6">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,6}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString8">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,8}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
			<xs:pattern value="(\d+)?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString10">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,10}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString11">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{0,11}" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="tString12">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,12}" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tString16">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,16}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tRspAmtField">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{0,8}\.[0-9]{0,2})?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tString15">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9]{0,15}" />
		</xs:restriction>
	</xs:simpleType>	

	<xs:simpleType name="tString60">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="tSubsystemRspDtl">
		<xs:sequence>
			<xs:element name="RspCde" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(\d{1,5})?" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RspMsg" type="tString65" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="RspTxt" type="tString128" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
