LoansPQWSWrappers/Web References/FIS.BizChexV12/RFC_BizChex_v1.2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:rqst="http://www.fisglobal.com/soa/riskfraudcomplianceRqst"
	xmlns:rsp="http://www.fisglobal.com/soa/riskfraudcomplianceRsp"		
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.fisglobal.com/soa/riskfraudcompliance" 
    targetNamespace="http://www.fisglobal.com/soa/riskfraudcompliance"> 
    
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.fisglobal.com/soa/riskfraudcomplianceRqst" schemaLocation="RiskFraudComplianceBizChexRqst_v1.2.xsd" />
			<xs:import namespace="http://www.fisglobal.com/soa/riskfraudcomplianceRsp" schemaLocation="RiskFraudComplianceBizChexRsp_v1.2.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="RiskFraudComplianceBizChexRqst">
		<wsdl:part element="rqst:RiskFraudComplianceBizChexRqst" name="RiskFraudComplianceBizChexRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceBizChexRsp">
		<wsdl:part element="rsp:RiskFraudComplianceBizChexRsp" name="RiskFraudComplianceBizChexRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst">
		<wsdl:part element="rqst:RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp">
		<wsdl:part element="rsp:RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp">
		<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp">
		<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp">
			<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp">
			<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" />
	</wsdl:message>
	
	
	<wsdl:message name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst">
		<wsdl:part element="rqst:RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp">
		<wsdl:part element="rsp:RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp">
		<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" />
	</wsdl:message>

	<wsdl:message name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp">
		<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst">
			<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp">
			<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst">
				<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp">
				<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" />
	</wsdl:message>
	

	<wsdl:message name="RiskFraudComplianceBusnAddOFACOverrideRqst">
		<wsdl:part element="rqst:RiskFraudComplianceBusnAddOFACOverrideRqst" name="RiskFraudComplianceBusnAddOFACOverrideRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceBusnAddOFACOverrideRsp">
		<wsdl:part element="rsp:RiskFraudComplianceBusnAddOFACOverrideRsp" name="RiskFraudComplianceBusnAddOFACOverrideRsp" />
	</wsdl:message>

	<wsdl:message name="RiskFraudCompliancePrncplOwnrAddActionsRqst">
		<wsdl:part element="rqst:RiskFraudCompliancePrncplOwnrAddActionsRqst" name="RiskFraudCompliancePrncplOwnrAddActionsRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudCompliancePrncplOwnrAddActionsRsp">
		<wsdl:part element="rsp:RiskFraudCompliancePrncplOwnrAddActionsRsp" name="RiskFraudCompliancePrncplOwnrAddActionsRsp" />
	</wsdl:message>

	<wsdl:message name="RiskFraudComplianceAuthSgnr2AddActionsRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr2AddActionsRqst" name="RiskFraudComplianceAuthSgnr2AddActionsRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr2AddActionsRsp">
		<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr2AddActionsRsp" name="RiskFraudComplianceAuthSgnr2AddActionsRsp" />
	</wsdl:message>

	<wsdl:message name="RiskFraudComplianceAuthSgnr3AddActionsRqst">
		<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr3AddActionsRqst" name="RiskFraudComplianceAuthSgnr3AddActionsRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr3AddActionsRsp">
		<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr3AddActionsRsp" name="RiskFraudComplianceAuthSgnr3AddActionsRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr4AddActionsRqst">
			<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr4AddActionsRqst" name="RiskFraudComplianceAuthSgnr4AddActionsRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr4AddActionsRsp">
			<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr4AddActionsRsp" name="RiskFraudComplianceAuthSgnr4AddActionsRsp" />
	</wsdl:message>
	
	<wsdl:message name="RiskFraudComplianceAuthSgnr5AddActionsRqst">
				<wsdl:part element="rqst:RiskFraudComplianceAuthSgnr5AddActionsRqst" name="RiskFraudComplianceAuthSgnr5AddActionsRqst" />
	</wsdl:message>
	<wsdl:message name="RiskFraudComplianceAuthSgnr5AddActionsRsp">
				<wsdl:part element="rsp:RiskFraudComplianceAuthSgnr5AddActionsRsp" name="RiskFraudComplianceAuthSgnr5AddActionsRsp" />
	</wsdl:message>
	
		
	<wsdl:portType name="RiskFraudCompliancePort">
		<wsdl:operation name="RiskFraudComplianceBizChex">
			<wsdl:input message="tns:RiskFraudComplianceBizChexRqst" name="RiskFraudComplianceBizChexRqst" />
			<wsdl:output message="tns:RiskFraudComplianceBizChexRsp" name="RiskFraudComplianceBizChexRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudCompliancePrncplOwnrAddIDVOverride">
			<wsdl:input message="tns:RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst" />
			<wsdl:output message="tns:RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr2AddIDVOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr3AddIDVOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr4AddIDVOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr5AddIDVOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudCompliancePrncplOwnrAddOFACOverride">
			<wsdl:input
				message="tns:RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst" />
			<wsdl:output
				message="tns:RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr2AddOFACOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr3AddOFACOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr4AddOFACOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr5AddOFACOverride">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceBusnAddOFACOverride">
			<wsdl:input message="tns:RiskFraudComplianceBusnAddOFACOverrideRqst" name="RiskFraudComplianceBusnAddOFACOverrideRqst" />
			<wsdl:output message="tns:RiskFraudComplianceBusnAddOFACOverrideRsp" name="RiskFraudComplianceBusnAddOFACOverrideRsp" />
		</wsdl:operation>

		<wsdl:operation name="RiskFraudCompliancePrncplOwnrAddActions">
			<wsdl:input message="tns:RiskFraudCompliancePrncplOwnrAddActionsRqst" name="RiskFraudCompliancePrncplOwnrAddActionsRqst" />
			<wsdl:output message="tns:RiskFraudCompliancePrncplOwnrAddActionsRsp" name="RiskFraudCompliancePrncplOwnrAddActionsRsp" />
		</wsdl:operation>

		<wsdl:operation name="RiskFraudComplianceAuthSgnr2AddActions">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr2AddActionsRqst" name="RiskFraudComplianceAuthSgnr2AddActionsRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr2AddActionsRsp" name="RiskFraudComplianceAuthSgnr2AddActionsRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr3AddActions">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr3AddActionsRqst" name="RiskFraudComplianceAuthSgnr3AddActionsRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr3AddActionsRsp" name="RiskFraudComplianceAuthSgnr3AddActionsRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr4AddActions">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr4AddActionsRqst" name="RiskFraudComplianceAuthSgnr4AddActionsRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr4AddActionsRsp" name="RiskFraudComplianceAuthSgnr4AddActionsRsp" />
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr5AddActions">
			<wsdl:input message="tns:RiskFraudComplianceAuthSgnr5AddActionsRqst" name="RiskFraudComplianceAuthSgnr5AddActionsRqst" />
			<wsdl:output message="tns:RiskFraudComplianceAuthSgnr5AddActionsRsp" name="RiskFraudComplianceAuthSgnr5AddActionsRsp" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="RiskFraudCompliancePortSoap11"
		type="tns:RiskFraudCompliancePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="RiskFraudComplianceBizChex">
			<soap:operation soapAction="RiskFraudComplianceBizChex" />
			<wsdl:input name="RiskFraudComplianceBizChexRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceBizChexRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudCompliancePrncplOwnrAddIDVOverride">
			<soap:operation soapAction="RiskFraudCompliancePrncplOwnrAddIDVOverride" />
			<wsdl:input name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudCompliancePrncplOwnrAddIDVOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr2AddIDVOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr2AddIDVOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr2AddIDVOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr3AddIDVOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr3AddIDVOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr3AddIDVOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr4AddIDVOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr4AddIDVOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr4AddIDVOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr5AddIDVOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr5AddIDVOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr5AddIDVOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudCompliancePrncplOwnrAddOFACOverride">
			<soap:operation soapAction="RiskFraudCompliancePrncplOwnrAddOFACOverride" />
			<wsdl:input name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudCompliancePrncplOwnrAddOFACOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr2AddOFACOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr2AddOFACOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr2AddOFACOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr3AddOFACOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr3AddOFACOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr3AddOFACOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr4AddOFACOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr4AddOFACOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr4AddOFACOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr5AddOFACOverride">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr5AddOFACOverride" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr5AddOFACOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
				
		<wsdl:operation name="RiskFraudComplianceBusnAddOFACOverride">
			<soap:operation soapAction="RiskFraudComplianceBusnAddOFACOverride" />
			<wsdl:input name="RiskFraudComplianceBusnAddOFACOverrideRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceBusnAddOFACOverrideRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="RiskFraudCompliancePrncplOwnrAddActions">
			<soap:operation soapAction="RiskFraudCompliancePrncplOwnrAddActions" />
			<wsdl:input name="RiskFraudCompliancePrncplOwnrAddActionsRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudCompliancePrncplOwnrAddActionsRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr2AddActions">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr2AddActions" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr2AddActionsRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr2AddActionsRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr3AddActions">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr3AddActions" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr3AddActionsRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr3AddActionsRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr4AddActions">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr4AddActions" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr4AddActionsRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr4AddActionsRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="RiskFraudComplianceAuthSgnr5AddActions">
			<soap:operation soapAction="RiskFraudComplianceAuthSgnr5AddActions" />
			<wsdl:input name="RiskFraudComplianceAuthSgnr5AddActionsRqst">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RiskFraudComplianceAuthSgnr5AddActionsRsp">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
				
	</wsdl:binding>

	<wsdl:service name="RiskFraudComplianceService">
		<wsdl:port binding="tns:RiskFraudCompliancePortSoap11" name="RiskFraudCompliancePortSoap11">
			<soap:address location="https://ih2-prd-12.fisglobal.com/DSSOA" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>