LoansPQWSWrappers.Acumen/Acumen/Web References/Acumen.Ejournal/Ejournal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:connections.ispectrum.summitsite.com" targetNamespace="urn:connections.ispectrum.summitsite.com" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SOAPException" type="tns:SOAPException" />
  <xs:element name="createMemo" type="tns:createMemo" />
  <xs:element name="createMemoResponse" type="tns:createMemoResponse" />
  <xs:element name="createUpdateEJournalEventAction" type="tns:createUpdateEJournalEventAction" />
  <xs:element name="createUpdateEJournalEventActionResponse" type="tns:createUpdateEJournalEventActionResponse" />
  <xs:element name="createUpdateEmailEventAction" type="tns:createUpdateEmailEventAction" />
  <xs:element name="createUpdateEmailEventActionResponse" type="tns:createUpdateEmailEventActionResponse" />
  <xs:element name="createUpdateMemoInfoObject" type="tns:createUpdateMemoInfoObject" />
  <xs:element name="createUpdateMemoInfoObjectResponse" type="tns:createUpdateMemoInfoObjectResponse" />
  <xs:element name="createUpdateMonitorEvent" type="tns:createUpdateMonitorEvent" />
  <xs:element name="createUpdateMonitorEventResponse" type="tns:createUpdateMonitorEventResponse" />
  <xs:element name="createUpdateViewConfig" type="tns:createUpdateViewConfig" />
  <xs:element name="createUpdateViewConfigResponse" type="tns:createUpdateViewConfigResponse" />
  <xs:element name="createUpdateWebServiceEventAction" type="tns:createUpdateWebServiceEventAction" />
  <xs:element name="createUpdateWebServiceEventActionResponse" type="tns:createUpdateWebServiceEventActionResponse" />
  <xs:element name="deleteMemo" type="tns:deleteMemo" />
  <xs:element name="deleteMemoResponse" type="tns:deleteMemoResponse" />
  <xs:element name="findMemoByMemoId" type="tns:findMemoByMemoId" />
  <xs:element name="findMemoByMemoIdResponse" type="tns:findMemoByMemoIdResponse" />
  <xs:element name="findMonitorEventByPrimaryKey" type="tns:findMonitorEventByPrimaryKey" />
  <xs:element name="findMonitorEventByPrimaryKeyResponse" type="tns:findMonitorEventByPrimaryKeyResponse" />
  <xs:element name="findMonitorEventByPrimaryKeyWithDBLock" type="tns:findMonitorEventByPrimaryKeyWithDBLock" />
  <xs:element name="findMonitorEventByPrimaryKeyWithDBLockResponse" type="tns:findMonitorEventByPrimaryKeyWithDBLockResponse" />
  <xs:element name="findViewConfigByPrimaryKey" type="tns:findViewConfigByPrimaryKey" />
  <xs:element name="findViewConfigByPrimaryKeyResponse" type="tns:findViewConfigByPrimaryKeyResponse" />
  <xs:element name="findViewConfigByPrimaryKeyWithDBLock" type="tns:findViewConfigByPrimaryKeyWithDBLock" />
  <xs:element name="findViewConfigByPrimaryKeyWithDBLockResponse" type="tns:findViewConfigByPrimaryKeyWithDBLockResponse" />
  <xs:element name="getAllMemosByCustomerId" type="tns:getAllMemosByCustomerId" />
  <xs:element name="getAllMemosByCustomerIdResponse" type="tns:getAllMemosByCustomerIdResponse" />
  <xs:element name="getAllMemosByCustomerIdUser" type="tns:getAllMemosByCustomerIdUser" />
  <xs:element name="getAllMemosByCustomerIdUserResponse" type="tns:getAllMemosByCustomerIdUserResponse" />
  <xs:element name="getAllMemosByFilterId" type="tns:getAllMemosByFilterId" />
  <xs:element name="getAllMemosByFilterIdResponse" type="tns:getAllMemosByFilterIdResponse" />
  <xs:element name="getAllMemosByJobInstanceId" type="tns:getAllMemosByJobInstanceId" />
  <xs:element name="getAllMemosByJobInstanceIdResponse" type="tns:getAllMemosByJobInstanceIdResponse" />
  <xs:element name="getAllMemosIncludingExpiryDateByCustomerId" type="tns:getAllMemosIncludingExpiryDateByCustomerId" />
  <xs:element name="getAllMemosIncludingExpiryDateByCustomerIdResponse" type="tns:getAllMemosIncludingExpiryDateByCustomerIdResponse" />
  <xs:element name="getAllMonitorEvents" type="tns:getAllMonitorEvents" />
  <xs:element name="getAllMonitorEventsResponse" type="tns:getAllMonitorEventsResponse" />
  <xs:element name="getAllRecords" type="tns:getAllRecords" />
  <xs:element name="getAllRecordsResponse" type="tns:getAllRecordsResponse" />
  <xs:element name="getAllUserMemos" type="tns:getAllUserMemos" />
  <xs:element name="getAllUserMemosResponse" type="tns:getAllUserMemosResponse" />
  <xs:element name="getAllViewFiltersByType" type="tns:getAllViewFiltersByType" />
  <xs:element name="getAllViewFiltersByTypeResponse" type="tns:getAllViewFiltersByTypeResponse" />
  <xs:element name="getCustomerActiveCriticalMemos" type="tns:getCustomerActiveCriticalMemos" />
  <xs:element name="getCustomerActiveCriticalMemosById" type="tns:getCustomerActiveCriticalMemosById" />
  <xs:element name="getCustomerActiveCriticalMemosByIdResponse" type="tns:getCustomerActiveCriticalMemosByIdResponse" />
  <xs:element name="getCustomerActiveCriticalMemosResponse" type="tns:getCustomerActiveCriticalMemosResponse" />
  <xs:element name="getCustomerMemosByConnection" type="tns:getCustomerMemosByConnection" />
  <xs:element name="getCustomerMemosByConnectionResponse" type="tns:getCustomerMemosByConnectionResponse" />
  <xs:element name="getEJournalEventActionByMonitorEventId" type="tns:getEJournalEventActionByMonitorEventId" />
  <xs:element name="getEJournalEventActionByMonitorEventIdResponse" type="tns:getEJournalEventActionByMonitorEventIdResponse" />
  <xs:element name="getEJournalIconColor" type="tns:getEJournalIconColor" />
  <xs:element name="getEJournalIconColorResponse" type="tns:getEJournalIconColorResponse" />
  <xs:element name="getEJournalLoanAppStatus" type="tns:getEJournalLoanAppStatus" />
  <xs:element name="getEJournalLoanAppStatusResponse" type="tns:getEJournalLoanAppStatusResponse" />
  <xs:element name="getEJournalSliderInfo" type="tns:getEJournalSliderInfo" />
  <xs:element name="getEJournalSliderInfoResponse" type="tns:getEJournalSliderInfoResponse" />
  <xs:element name="getEmailEventActionByMonitorEventId" type="tns:getEmailEventActionByMonitorEventId" />
  <xs:element name="getEmailEventActionByMonitorEventIdResponse" type="tns:getEmailEventActionByMonitorEventIdResponse" />
  <xs:element name="getMonitorEventInputActionInfos" type="tns:getMonitorEventInputActionInfos" />
  <xs:element name="getMonitorEventInputActionInfosResponse" type="tns:getMonitorEventInputActionInfosResponse" />
  <xs:element name="getWebServiceEventActionByMonitorEventId" type="tns:getWebServiceEventActionByMonitorEventId" />
  <xs:element name="getWebServiceEventActionByMonitorEventIdResponse" type="tns:getWebServiceEventActionByMonitorEventIdResponse" />
  <xs:element name="getWebServiceXML" type="tns:getWebServiceXML" />
  <xs:element name="getWebServiceXMLResponse" type="tns:getWebServiceXMLResponse" />
  <xs:element name="isAutoQuery" type="tns:isAutoQuery" />
  <xs:element name="isAutoQueryResponse" type="tns:isAutoQueryResponse" />
  <xs:element name="isLoanStatusPreDecision" type="tns:isLoanStatusPreDecision" />
  <xs:element name="isLoanStatusPreDecisionResponse" type="tns:isLoanStatusPreDecisionResponse" />
  <xs:element name="updateMemo" type="tns:updateMemo" />
  <xs:element name="updateMemoResponse" type="tns:updateMemoResponse" />
  <xs:complexType name="findMemoByMemoId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="memoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="iSpectrumWebServiceContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wsoverrideInfos" nillable="true" type="tns:wsOverrideInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsOverrideInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element minOccurs="0" name="credInfo" type="tns:wsCredentialInfo" />
          <xs:element minOccurs="0" name="deniedReason" type="xs:string" />
          <xs:element name="descriptionId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monetaryAccounts" nillable="true" type="tns:wsMonetaryOverrideDescInfo" />
          <xs:element name="overRideId" type="xs:int" />
          <xs:element name="overridden" type="xs:boolean" />
          <xs:element name="overriddenByTransaction" type="xs:boolean" />
          <xs:element minOccurs="0" name="overrideComment" type="xs:string" />
          <xs:element name="priority" type="xs:int" />
          <xs:element minOccurs="0" name="prodCode" type="xs:string" />
          <xs:element minOccurs="0" name="remoteOverride" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:wsRoleInfo" />
          <xs:element name="useDefault" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsBaseInfo">
    <xs:sequence>
      <xs:element name="actionCode" type="xs:int" />
      <xs:element minOccurs="0" name="input" type="tns:wsThirdPartyInfo" />
      <xs:element minOccurs="0" name="output" type="tns:wsThirdPartyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsCredentialInfo">
    <xs:sequence>
      <xs:element name="deleted" type="xs:int" />
      <xs:element name="locked" type="xs:boolean" />
      <xs:element name="logonAttempts" type="xs:int" />
      <xs:element minOccurs="0" name="logonName" type="xs:string" />
      <xs:element name="logonStatus" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="passwordEncrypted" type="xs:boolean" />
      <xs:element minOccurs="0" name="passwordExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="summitGUID" type="xs:string" />
      <xs:element name="userAuthId" type="xs:int" />
      <xs:element name="virtualUser" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsMonetaryOverrideDescInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element name="monAccPortfolio" type="xs:long" />
          <xs:element name="monAccSuffix" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsThirdPartyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="header" nillable="true" type="tns:wsThirdPartyHeaderInfo" />
      <xs:element minOccurs="0" name="vendorCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsThirdPartyHeaderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="details" nillable="true" type="tns:wsThirdPartyDetailInfo" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsThirdPartyDetailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataType" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsRoleInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accessLevel" type="xs:int" />
          <xs:element name="allLoansLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="assignments" nillable="true" type="tns:wsAssignmentInfo" />
          <xs:element name="depositLimit" type="xs:long" />
          <xs:element name="drawerCashLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="financialControls" nillable="true" type="tns:wsFinancialControlInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="indLoanAmts" nillable="true" type="tns:wsIndLoanAmtInfo" />
          <xs:element name="institutionDefinedLoanLimit" type="xs:long" />
          <xs:element name="journalEntryLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="menuInfos" nillable="true" type="tns:wsMenuInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monTranInfos" nillable="true" type="tns:wsMonTranInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="monTrans" nillable="true" type="tns:wsMonTranInfo" />
          <xs:element name="mortgageLimit" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="overRides" nillable="true" type="tns:wsOverrideInfo" />
          <xs:element minOccurs="0" name="roleCode" type="xs:string" />
          <xs:element minOccurs="0" name="roleCreateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="roleDescription" type="xs:string" />
          <xs:element name="roleId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roleLimitsInfos" nillable="true" type="tns:wsRoleLimitsInfo" />
          <xs:element name="roleMenuId" type="xs:int" />
          <xs:element minOccurs="0" name="roleName" type="xs:string" />
          <xs:element name="roleUpdateCounter" type="xs:int" />
          <xs:element name="securedLimit" type="xs:long" />
          <xs:element name="unsecuredLimit" type="xs:long" />
          <xs:element name="withdrawalLimit" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsAssignmentInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="enca_fieldDescription" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCodeAssign" type="xs:string" />
          <xs:element name="fieldId" type="xs:int" />
          <xs:element minOccurs="0" name="fieldtype" type="xs:string" />
          <xs:element minOccurs="0" name="frca_fieldDescription" type="xs:string" />
          <xs:element name="roleAssignId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:wsRoleInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsFinancialControlInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element name="displayGL" type="xs:int" />
          <xs:element minOccurs="0" name="financialControl3PtyGL" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlAction" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlCode" type="xs:string" />
          <xs:element name="financialControlCredit" type="xs:long" />
          <xs:element minOccurs="0" name="financialControlCurrencyCode" type="xs:string" />
          <xs:element name="financialControlDebit" type="xs:long" />
          <xs:element minOccurs="0" name="financialControlDescription" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlDescriptionFr" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlDescription_En" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlGLExtract" type="xs:string" />
          <xs:element name="financialControlId" type="xs:int" />
          <xs:element minOccurs="0" name="financialControlMICRNumber" type="xs:string" />
          <xs:element minOccurs="0" name="financialControlTimestamp" type="xs:dateTime" />
          <xs:element name="financialControlTypeId" type="xs:int" />
          <xs:element name="financialControlUpdateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="monHistPurgeDescription" type="xs:string" />
          <xs:element name="monHistPurgeRetentionPeriod" type="xs:long" />
          <xs:element name="monHistToBePurged" type="xs:boolean" />
          <xs:element name="monetaryInstrument" type="xs:boolean" />
          <xs:element minOccurs="0" name="regulatoryReportType" type="xs:string" />
          <xs:element minOccurs="0" name="summitType" type="xs:string" />
          <xs:element minOccurs="0" name="typeCode" type="xs:string" />
          <xs:element minOccurs="0" name="typeGroup" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsIndLoanAmtInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element minOccurs="0" name="categoryDescription" type="xs:string" />
          <xs:element minOccurs="0" name="categoryDescription_Fr" type="xs:string" />
          <xs:element minOccurs="0" name="code" type="xs:string" />
          <xs:element name="financialControlTypeId" type="xs:int" />
          <xs:element name="indLoanAmtId" type="xs:int" />
          <xs:element name="loanAmountLimit" type="xs:long" />
          <xs:element name="roleId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roles" nillable="true" type="tns:wsRoleInfo" />
          <xs:element minOccurs="0" name="typeCode" type="xs:string" />
          <xs:element minOccurs="0" name="typeDescription" type="xs:string" />
          <xs:element minOccurs="0" name="typeDescription_Fr" type="xs:string" />
          <xs:element minOccurs="0" name="typeGroup" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMenuInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="depth" type="xs:int" />
          <xs:element minOccurs="0" name="descriptionEn" type="xs:string" />
          <xs:element minOccurs="0" name="descriptionFr" type="xs:string" />
          <xs:element name="descriptionId" type="xs:int" />
          <xs:element minOccurs="0" name="menuCode" type="xs:string" />
          <xs:element minOccurs="0" name="menuCreateTimestamp" type="xs:dateTime" />
          <xs:element name="menuId" type="xs:int" />
          <xs:element minOccurs="0" name="menuLoadFrameLocation" type="xs:string" />
          <xs:element minOccurs="0" name="menuLocation" type="xs:string" />
          <xs:element name="menuParentId" type="xs:int" />
          <xs:element name="menuSequence" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="menuSubTabInfos" nillable="true" type="tns:wsMenuSubTabInfo" />
          <xs:element minOccurs="0" name="menuURL" type="xs:string" />
          <xs:element name="menuUpdateCounter" type="xs:int" />
          <xs:element name="openInNewWin" type="xs:boolean" />
          <xs:element name="readOnly" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roleInfos" nillable="true" type="tns:wsRoleInfo" />
          <xs:element minOccurs="0" name="uiCustomization" type="tns:wsuiCustomizationInfo" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="userDefined" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMenuSubTabInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="menuId" type="xs:long" />
          <xs:element name="menuSubTabId" type="xs:long" />
          <xs:element name="menuUrlSubTabId" type="xs:long" />
          <xs:element minOccurs="0" name="menuUrlSubTabInfo" type="tns:wsMenuUrlSubTabInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="roleMenuSubTabInfos" nillable="true" type="tns:wsRoleMenuSubTabInfo" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMenuUrlSubTabInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="menuUrlId" type="xs:long" />
          <xs:element name="menuUrlSubTabId" type="xs:long" />
          <xs:element name="parentMenuUrlSubTabId" type="xs:long" />
          <xs:element minOccurs="0" name="subTabDivIdAttribute" type="xs:string" />
          <xs:element minOccurs="0" name="tabName" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsRoleMenuSubTabInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="menuSubTabId" type="xs:long" />
          <xs:element name="roleId" type="xs:long" />
          <xs:element name="roleMenuSubTabId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiCustomizationInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="active" type="xs:boolean" />
          <xs:element name="appendToPage" type="xs:boolean" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customTokens" nillable="true" type="tns:wsuiExtCustLinkTokenInfo" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customXHTML" nillable="true" type="tns:wsuiCustomScriptInfo" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="description" type="xs:string" />
          <xs:element name="displayInPopup" type="xs:boolean" />
          <xs:element name="displayInSlider" type="xs:boolean" />
          <xs:element name="draggableFrame" type="xs:boolean" />
          <xs:element name="frameHeight" type="xs:int" />
          <xs:element name="frameWidth" type="xs:int" />
          <xs:element minOccurs="0" name="menuURL" type="xs:string" />
          <xs:element name="resizableFrame" type="xs:boolean" />
          <xs:element name="scrollableFrame" type="xs:boolean" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="url" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="urlAttributes" nillable="true" type="tns:wsuiExtCustLinkAttribInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiExtCustLinkTokenInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="ruleScriptObjMapInfo" type="tns:wsRuleScriptObjMapInfo" />
          <xs:element minOccurs="0" name="sourceAttribute" type="xs:string" />
          <xs:element minOccurs="0" name="sourceClassName" type="xs:string" />
          <xs:element name="tokenMapId" type="xs:long" />
          <xs:element minOccurs="0" name="tokenName" type="xs:string" />
          <xs:element name="tokenType" type="xs:int" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="uiExtCustLinkTokenId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsRuleScriptObjMapInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimeStamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:int" />
          <xs:element minOccurs="0" name="objAttrib" type="xs:string" />
          <xs:element minOccurs="0" name="objAttribType" type="xs:string" />
          <xs:element minOccurs="0" name="objJSPath" type="xs:string" />
          <xs:element minOccurs="0" name="objType" type="xs:string" />
          <xs:element name="objTypeId" type="xs:long" />
          <xs:element name="ruleScriptObjMapId" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimeStamp" type="xs:dateTime" />
          <xs:element name="updatecounter" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiCustomScriptInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="scriptText" type="xs:string" />
          <xs:element minOccurs="0" name="scriptType" type="xs:string" />
          <xs:element name="uiCustomScriptId" type="xs:long" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsuiExtCustLinkAttribInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="attribType" type="xs:string" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="deleted" type="xs:long" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="uiCustomizationId" type="xs:long" />
          <xs:element name="uiExtCustLinkAttribId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:long" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsMonTranInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="enca_fieldDescription" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCode" type="xs:string" />
          <xs:element name="fieldId" type="xs:int" />
          <xs:element minOccurs="0" name="fieldtype" type="xs:string" />
          <xs:element minOccurs="0" name="frca_fieldDescription" type="xs:string" />
          <xs:element name="monTranId" type="xs:int" />
          <xs:element name="roleId" type="xs:int" />
          <xs:element name="roleMonTranId" type="xs:int" />
          <xs:element name="transactionAmountLimit" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsRoleLimitsInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="enca_fieldDescription" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCode" type="xs:string" />
          <xs:element minOccurs="0" name="frca_fieldDescription" type="xs:string" />
          <xs:element name="limit" type="xs:long" />
          <xs:element name="roleId" type="xs:long" />
          <xs:element name="roleLimitsId" type="xs:long" />
          <xs:element minOccurs="0" name="roleName" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="findMemoByMemoIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="findMemoByMemoIdResponse" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsMemoInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="accountId" type="xs:int" />
          <xs:element name="action" type="xs:boolean" />
          <xs:element name="actionComplete" type="xs:boolean" />
          <xs:element minOccurs="0" name="actionDueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="actionRequirement" type="xs:string" />
          <xs:element name="assignedTo" type="xs:int" />
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element minOccurs="0" name="channel" type="xs:string" />
          <xs:element minOccurs="0" name="connectionCode" type="xs:string" />
          <xs:element name="constructionId" type="xs:long" />
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="customFieldValueInfos" nillable="true" type="tns:wsCustomFieldValueInfo" />
          <xs:element name="customerId" type="xs:int" />
          <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime" />
          <xs:element name="institutionMemoId" type="xs:int" />
          <xs:element minOccurs="0" name="institutionMemoText" type="xs:string" />
          <xs:element name="jobInstanceId" type="xs:long" />
          <xs:element minOccurs="0" name="loanAppStatus" type="xs:string" />
          <xs:element name="loanApplicationId" type="xs:int" />
          <xs:element minOccurs="0" name="logonName" type="xs:string" />
          <xs:element name="memoID" type="xs:int" />
          <xs:element minOccurs="0" name="memoNumber" type="xs:string" />
          <xs:element minOccurs="0" name="memoStatusCode" type="xs:string" />
          <xs:element minOccurs="0" name="memoText" type="xs:string" />
          <xs:element minOccurs="0" name="memoType" type="xs:string" />
          <xs:element minOccurs="0" name="priorityCode" type="xs:string" />
          <xs:element minOccurs="0" name="restrictionCode" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element name="userId" type="xs:int" />
          <xs:element name="viewed" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsCustomFieldValueInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="customFieldValueId" type="xs:long" />
          <xs:element name="customFormFieldId" type="xs:long" />
          <xs:element minOccurs="0" name="dataKey" type="xs:string" />
          <xs:element name="dataObjectId" type="xs:long" />
          <xs:element minOccurs="0" name="dataType" type="xs:string" />
          <xs:element minOccurs="0" name="fieldCode" type="xs:string" />
          <xs:element name="fieldLength" type="xs:int" />
          <xs:element name="required" type="xs:int" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SOAPException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmailEventActionByMonitorEventId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="monitorEventId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmailEventActionByMonitorEventIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getEmailEventActionByMonitorEventIdResponse" type="tns:wsEmailEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsEmailEventActionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="autoEmailEventTokenMapInfos" nillable="true" type="tns:wsAutoEmailEventTokenMapInfo" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dchTableName" type="xs:string" />
          <xs:element name="dchTableRowPk" type="xs:long" />
          <xs:element minOccurs="0" name="emailCC" type="xs:string" />
          <xs:element name="emailEventActionId" type="xs:long" />
          <xs:element minOccurs="0" name="emailFrom" type="xs:string" />
          <xs:element minOccurs="0" name="emailTo" type="xs:string" />
          <xs:element minOccurs="0" name="messageBody" type="xs:string" />
          <xs:element name="monitorEventId" type="xs:long" />
          <xs:element minOccurs="0" name="subject" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsAutoEmailEventTokenMapInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element name="autoEmailEventTokenId" type="xs:long" />
          <xs:element name="autoEmailEventTokenMapId" type="xs:long" />
          <xs:element minOccurs="0" name="columnName" type="xs:string" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="emailEventActionId" type="xs:long" />
          <xs:element minOccurs="0" name="propertyName" type="xs:string" />
          <xs:element minOccurs="0" name="tableName" type="xs:string" />
          <xs:element minOccurs="0" name="tokenName" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getMonitorEventInputActionInfos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getMonitorEventInputActionInfosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getMonitorEventInputActionInfosResponse" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWebServiceEventActionByMonitorEventId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="monitorEventId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWebServiceEventActionByMonitorEventIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getWebServiceEventActionByMonitorEventIdResponse" type="tns:wsWebServiceEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsWebServiceEventActionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dchTableName" type="xs:string" />
          <xs:element name="dchTableRowPk" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="detailInfo" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="eventName" type="xs:string" />
          <xs:element minOccurs="0" name="externalURL" type="xs:string" />
          <xs:element name="monitorEventId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element name="webSereventActionId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="deleteMemo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsmemoInfo" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deleteMemoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllMemosIncludingExpiryDateByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element minOccurs="0" name="sortColumn" type="xs:string" />
      <xs:element minOccurs="0" name="sortOrder" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosIncludingExpiryDateByCustomerIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllMemosIncludingExpiryDateByCustomerIdResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findViewConfigByPrimaryKeyWithDBLock">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="viewConfigId" type="xs:long" />
      <xs:element name="lock" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findViewConfigByPrimaryKeyWithDBLockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="findViewConfigByPrimaryKeyWithDBLockResponse" type="tns:wsViewConfigInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsViewConfigInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="jobFilterId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element name="viewConfigId" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="viewConfigRoleUserLinkInfos" nillable="true" type="tns:wsViewConfigRoleUserLinkInfo" />
          <xs:element minOccurs="0" name="viewName" type="xs:string" />
          <xs:element minOccurs="0" name="viewType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="wsViewConfigRoleUserLinkInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="roleId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element name="userId" type="xs:long" />
          <xs:element name="viewConfigId" type="xs:long" />
          <xs:element name="viewConfigRoleUserLinkId" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="updateMemo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsmemoInfo" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="updateMemoResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getAllMemosByFilterId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="filterId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByFilterIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllMemosByFilterIdResponse" nillable="true" type="tns:wsUserMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsUserMemoInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsMemoInfo">
        <xs:sequence>
          <xs:element name="acctPortfolioNumber" type="xs:long" />
          <xs:element name="acctSuffixNumber" type="xs:long" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="jobName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element name="loanApplicationNo" type="xs:long" />
          <xs:element minOccurs="0" name="mi" type="xs:string" />
          <xs:element minOccurs="0" name="userFirstName" type="xs:string" />
          <xs:element minOccurs="0" name="userLastName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getEJournalSliderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="callerURL" type="xs:string" />
      <xs:element name="subId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalSliderInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getEJournalSliderInfoResponse" type="tns:wseJournalSliderInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wseJournalSliderInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="connectionCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="memoInfos" nillable="true" type="tns:wsMemoInfo" />
      <xs:element name="viewOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByCustomerIdUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByCustomerIdUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllMemosByCustomerIdUserResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserMemos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllUserMemosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllUserMemosResponse" nillable="true" type="tns:wsUserMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateMemoInfoObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsmemoInfo" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateMemoInfoObjectResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getWebServiceXML">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wswebServiceEventActionInfo" type="tns:wsWebServiceEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getWebServiceXMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getWebServiceXMLResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateViewConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsviewConfigInfo" type="tns:wsViewConfigInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateViewConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="createUpdateViewConfigResponse" nillable="true" type="tns:wsViewConfigInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalEventActionByMonitorEventId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="monitorEventId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalEventActionByMonitorEventIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getEJournalEventActionByMonitorEventIdResponse" type="tns:wseJournalEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wseJournalEventActionInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string" />
          <xs:element minOccurs="0" name="commentText" type="xs:string" />
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element name="EJournalEventActionId" type="xs:long" />
          <xs:element name="institutionMemoId" type="xs:long" />
          <xs:element minOccurs="0" name="memoType" type="xs:string" />
          <xs:element name="monitorEventId" type="xs:long" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="getCustomerActiveCriticalMemos">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerActiveCriticalMemosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getCustomerActiveCriticalMemosResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateMonitorEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsmonitorEventInfo" type="tns:wsMonitorEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsMonitorEventInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:wsBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="createTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EJournalEventActionInfo" type="tns:wseJournalEventActionInfo" />
          <xs:element minOccurs="0" name="emailEventActionInfo" type="tns:wsEmailEventActionInfo" />
          <xs:element minOccurs="0" name="eventName" type="xs:string" />
          <xs:element name="monitorEventId" type="xs:long" />
          <xs:element minOccurs="0" name="sqlString" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="tableName" type="xs:string" />
          <xs:element name="updateCounter" type="xs:int" />
          <xs:element minOccurs="0" name="updateTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="usageArea" type="xs:string" />
          <xs:element minOccurs="0" name="webServiceEventActionInfo" type="tns:wsWebServiceEventActionInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="createUpdateMonitorEventResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="createUpdateMonitorEventResponse" type="tns:wsMonitorEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findMonitorEventByPrimaryKeyWithDBLock">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="monitorEventId" type="xs:long" />
      <xs:element name="details" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findMonitorEventByPrimaryKeyWithDBLockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="findMonitorEventByPrimaryKeyWithDBLockResponse" type="tns:wsMonitorEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateEJournalEventAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinfo" type="tns:wseJournalEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateEJournalEventActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="createUpdateEJournalEventActionResponse" type="tns:wseJournalEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findMonitorEventByPrimaryKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="monitorEventId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findMonitorEventByPrimaryKeyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="findMonitorEventByPrimaryKeyResponse" type="tns:wsMonitorEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateWebServiceEventAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinfo" type="tns:wsWebServiceEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateWebServiceEventActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="createUpdateWebServiceEventActionResponse" type="tns:wsWebServiceEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isLoanStatusPreDecision">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="loanApplicationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isLoanStatusPreDecisionResponse">
    <xs:sequence>
      <xs:element name="isLoanStatusPreDecisionResponse" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllViewFiltersByType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="viewType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllViewFiltersByTypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllViewFiltersByTypeResponse" nillable="true" type="tns:wsViewConfigInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalLoanAppStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="loanApplicationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalLoanAppStatusResponse">
    <xs:sequence>
      <xs:element name="getEJournalLoanAppStatusResponse" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateEmailEventAction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsinfo" type="tns:wsEmailEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUpdateEmailEventActionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="createUpdateEmailEventActionResponse" type="tns:wsEmailEventActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerActiveCriticalMemosById">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element name="accountId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerActiveCriticalMemosByIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getCustomerActiveCriticalMemosByIdResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalIconColor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="userId" type="xs:int" />
      <xs:element name="customerId" type="xs:long" />
      <xs:element minOccurs="0" name="contentFrameUrl" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEJournalIconColorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="getEJournalIconColorResponse" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByJobInstanceId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="userId" type="xs:int" />
      <xs:element name="jobInstanceId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByJobInstanceIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllMemosByJobInstanceIdResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isAutoQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="monitorEventId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isAutoQueryResponse">
    <xs:sequence>
      <xs:element name="isAutoQueryResponse" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findViewConfigByPrimaryKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="viewConfigId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findViewConfigByPrimaryKeyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="findViewConfigByPrimaryKeyResponse" type="tns:wsViewConfigInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByCustomerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element minOccurs="0" name="sortColumn" type="xs:string" />
      <xs:element minOccurs="0" name="sortOrder" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMemosByCustomerIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllMemosByCustomerIdResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMonitorEvents">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllMonitorEventsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllMonitorEventsResponse" nillable="true" type="tns:wsMonitorEventInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerMemosByConnection">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element name="customerId" type="xs:int" />
      <xs:element minOccurs="0" name="connectionCode" type="xs:string" />
      <xs:element name="userId" type="xs:int" />
      <xs:element name="subId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getCustomerMemosByConnectionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getCustomerMemosByConnectionResponse" nillable="true" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createMemo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
      <xs:element minOccurs="0" name="wsmemoInfo" type="tns:wsMemoInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createMemoResponse">
    <xs:sequence>
      <xs:element name="createMemoResponse" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllRecords">
    <xs:sequence>
      <xs:element minOccurs="0" name="ispecContext" type="tns:iSpectrumWebServiceContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllRecordsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="getAllRecordsResponse" nillable="true" type="tns:wsViewConfigInfo" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>