LoansPQWSWrappers/Web References/EPL.NewDepositAccountService/MessageHeader.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://ws.eplinc.com/common/MessageHeader/2008-08-01/" elementFormDefault="qualified" targetNamespace="http://ws.eplinc.com/common/MessageHeader/2008-08-01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="MessageHeader">
    <xsd:sequence>
      <xsd:element name="ServiceProviderId" type="xsd:string" />
      <xsd:element name="ServiceRequesterId" type="xsd:string" />
      <xsd:element name="InstitutionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="MessageDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="MessageTime" type="xsd:string" />
      <xsd:element minOccurs="0" name="MessageTraceNumber" type="xsd:int" />
      <xsd:element name="SessionToken" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestMessage">
    <xsd:sequence>
      <xsd:element name="MessageHeader" type="tns:MessageHeader" />
      <xsd:element minOccurs="0" name="UserOverride">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserId" type="xsd:string" />
            <xsd:element name="UserPassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseMessage">
    <xsd:sequence>
      <xsd:element name="MessageHeader" type="tns:MessageHeader" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ResponseError">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:string" />
            <xsd:element name="ErrorDescription" type="xsd:string" />
            <xsd:element name="UserOverrideAllowed" type="xsd:boolean" />
            <xsd:element name="UserOverrideLevelNeeded" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>