LoansPQWSWrappers/Web References/EPL.NewDepositAccountService/NewDepositAccountService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.eplinc.com/NewDepositAccountService/2008-08-01/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.eplinc.com/NewDepositAccountService/2008-08-01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified">
      <xsd:import schemaLocation="NewDepositAccountService.xsd" namespace="http://ws.eplinc.com/NewDepositAccountService/2008-08-01/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculateMICRRequest">
    <wsdl:part name="body" element="tns:CalculateMICRRequest" />
  </wsdl:message>
  <wsdl:message name="CalculateMICRResponse">
    <wsdl:part name="body" element="tns:CalculateMICRResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableSuffixesRequest">
    <wsdl:part name="body" element="tns:GetAvailableSuffixesRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableSuffixesResponse">
    <wsdl:part name="body" element="tns:GetAvailableSuffixesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRateRequest">
    <wsdl:part name="body" element="tns:GetCertificateRateRequest" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRateResponse">
    <wsdl:part name="body" element="tns:GetCertificateRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRatesRequest">
    <wsdl:part name="body" element="tns:GetCertificateRatesRequest" />
  </wsdl:message>
  <wsdl:message name="GetCertificateRatesResponse">
    <wsdl:part name="body" element="tns:GetCertificateRatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextAccountNumberRequest">
    <wsdl:part name="body" element="tns:GetNextAccountNumberRequest" />
  </wsdl:message>
  <wsdl:message name="GetNextAccountNumberResponse">
    <wsdl:part name="body" element="tns:GetNextAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetOverdraftSourcesRequest">
    <wsdl:part name="body" element="tns:GetOverdraftSourcesRequest" />
  </wsdl:message>
  <wsdl:message name="GetOverdraftSourcesResponse">
    <wsdl:part name="body" element="tns:GetOverdraftSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="NewCertificateRequest">
    <wsdl:part name="body" element="tns:NewCertificateRequest" />
  </wsdl:message>
  <wsdl:message name="NewCertificateResponse">
    <wsdl:part name="body" element="tns:NewCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="NewClubRequest">
    <wsdl:part name="body" element="tns:NewClubRequest" />
  </wsdl:message>
  <wsdl:message name="NewClubResponse">
    <wsdl:part name="body" element="tns:NewClubResponse" />
  </wsdl:message>
  <wsdl:message name="NewESACertificateRequest">
    <wsdl:part name="body" element="tns:NewESACertificateRequest" />
  </wsdl:message>
  <wsdl:message name="NewESACertificateResponse">
    <wsdl:part name="body" element="tns:NewESACertificateResponse" />
  </wsdl:message>
  <wsdl:message name="NewESAClubRequest">
    <wsdl:part name="body" element="tns:NewESAClubRequest" />
  </wsdl:message>
  <wsdl:message name="NewESAClubResponse">
    <wsdl:part name="body" element="tns:NewESAClubResponse" />
  </wsdl:message>
  <wsdl:message name="NewHSACertificateRequest">
    <wsdl:part name="body" element="tns:NewHSACertificateRequest" />
  </wsdl:message>
  <wsdl:message name="NewHSACertificateResponse">
    <wsdl:part name="body" element="tns:NewHSACertificateResponse" />
  </wsdl:message>
  <wsdl:message name="NewHSAClubRequest">
    <wsdl:part name="body" element="tns:NewHSAClubRequest" />
  </wsdl:message>
  <wsdl:message name="NewHSAClubResponse">
    <wsdl:part name="body" element="tns:NewHSAClubResponse" />
  </wsdl:message>
  <wsdl:message name="NewIRACertificateRequest">
    <wsdl:part name="body" element="tns:NewIRACertificateRequest" />
  </wsdl:message>
  <wsdl:message name="NewIRACertificateResponse">
    <wsdl:part name="body" element="tns:NewIRACertificateResponse" />
  </wsdl:message>
  <wsdl:message name="NewIRAClubRequest">
    <wsdl:part name="body" element="tns:NewIRAClubRequest" />
  </wsdl:message>
  <wsdl:message name="NewIRAClubResponse">
    <wsdl:part name="body" element="tns:NewIRAClubResponse" />
  </wsdl:message>
  <wsdl:message name="NewRothIRACertificateRequest">
    <wsdl:part name="body" element="tns:NewRothIRACertificateRequest" />
  </wsdl:message>
  <wsdl:message name="NewRothIRACertificateResponse">
    <wsdl:part name="body" element="tns:NewRothIRACertificateResponse" />
  </wsdl:message>
  <wsdl:message name="NewRothIRAClubRequest">
    <wsdl:part name="body" element="tns:NewRothIRAClubRequest" />
  </wsdl:message>
  <wsdl:message name="NewRothIRAClubResponse">
    <wsdl:part name="body" element="tns:NewRothIRAClubResponse" />
  </wsdl:message>
  <wsdl:message name="NewShareRequest">
    <wsdl:part name="body" element="tns:NewShareRequest" />
  </wsdl:message>
  <wsdl:message name="NewShareResponse">
    <wsdl:part name="body" element="tns:NewShareResponse" />
  </wsdl:message>
  <wsdl:message name="NewShareDraftRequest">
    <wsdl:part name="body" element="tns:NewShareDraftRequest" />
  </wsdl:message>
  <wsdl:message name="NewShareDraftResponse">
    <wsdl:part name="body" element="tns:NewShareDraftResponse" />
  </wsdl:message>
  <wsdl:portType name="NewDepositAccountServicePortType">
    <wsdl:operation name="CalculateMICR">
      <wsdl:input message="tns:CalculateMICRRequest" />
      <wsdl:output message="tns:CalculateMICRResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSuffixes">
      <wsdl:input message="tns:GetAvailableSuffixesRequest" />
      <wsdl:output message="tns:GetAvailableSuffixesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRate">
      <wsdl:input message="tns:GetCertificateRateRequest" />
      <wsdl:output message="tns:GetCertificateRateResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRates">
      <wsdl:input message="tns:GetCertificateRatesRequest" />
      <wsdl:output message="tns:GetCertificateRatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetNextAccountNumber">
      <wsdl:input message="tns:GetNextAccountNumberRequest" />
      <wsdl:output message="tns:GetNextAccountNumberResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOverdraftSources">
      <wsdl:input message="tns:GetOverdraftSourcesRequest" />
      <wsdl:output message="tns:GetOverdraftSourcesResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewCertificate">
      <wsdl:input message="tns:NewCertificateRequest" />
      <wsdl:output message="tns:NewCertificateResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewClub">
      <wsdl:input message="tns:NewClubRequest" />
      <wsdl:output message="tns:NewClubResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewESACertificate">
      <wsdl:input message="tns:NewESACertificateRequest" />
      <wsdl:output message="tns:NewESACertificateResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewESAClub">
      <wsdl:input message="tns:NewESAClubRequest" />
      <wsdl:output message="tns:NewESAClubResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewHSACertificate">
      <wsdl:input message="tns:NewHSACertificateRequest" />
      <wsdl:output message="tns:NewHSACertificateResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewHSAClub">
      <wsdl:input message="tns:NewHSAClubRequest" />
      <wsdl:output message="tns:NewHSAClubResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewIRACertificate">
      <wsdl:input message="tns:NewIRACertificateRequest" />
      <wsdl:output message="tns:NewIRACertificateResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewIRAClub">
      <wsdl:input message="tns:NewIRAClubRequest" />
      <wsdl:output message="tns:NewIRAClubResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewRothIRACertificate">
      <wsdl:input message="tns:NewRothIRACertificateRequest" />
      <wsdl:output message="tns:NewRothIRACertificateResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewRothIRAClub">
      <wsdl:input message="tns:NewRothIRAClubRequest" />
      <wsdl:output message="tns:NewRothIRAClubResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewShare">
      <wsdl:input message="tns:NewShareRequest" />
      <wsdl:output message="tns:NewShareResponse" />
    </wsdl:operation>
    <wsdl:operation name="NewShareDraft">
      <wsdl:input message="tns:NewShareDraftRequest" />
      <wsdl:output message="tns:NewShareDraftResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewDepositAccountServiceBinding" type="tns:NewDepositAccountServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateMICR">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableSuffixes">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateRates">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextAccountNumber">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOverdraftSources">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewCertificate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewClub">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewESACertificate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewESAClub">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewHSACertificate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewHSAClub">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewIRACertificate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewIRAClub">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRothIRACertificate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRothIRAClub">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewShare">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewShareDraft">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input>
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewDepositAccountService">
    <wsdl:port name="NewDepositAccountServicePort" binding="tns:NewDepositAccountServiceBinding">
      <wsdlsoap:address location="https://localhost:4443/webserv/services/NewDepositAccountService/2008-08-01" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>