LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanAccountNumberGenerator/LNAcctNbrGenReqDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNAcctNbrGenReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNAcctNbrGenReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNAcctNbrGenReqData">
    <xs:annotation>
      <xs:documentation>Loan Account Number Generator (LN058) - </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E34507" type="xs:string">
          <xs:annotation>
            <xs:documentation>Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34506" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>