LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanAccountNumberGenerator/LNAcctNbrGenResDataV1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNAcctNbrGenResData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNAcctNbrGenResData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNAcctNbrGenResData">
    <xs:annotation>
      <xs:documentation>Loan Account Number Generator (LN058) - </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="E34507" type="xs:string">
          <xs:annotation>
            <xs:documentation>Branch Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34506" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E34508" type="xs:string">
          <xs:annotation>
            <xs:documentation>Generated Loan Account Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ErrCde" type="xs:string" />
        <xs:element minOccurs="0" name="ErrResnCde" type="xs:string" />
        <xs:element minOccurs="0" name="ApplMsgLst">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="ApplMsg">
                <xs:complexType>
                  <xs:all>
                    <xs:element minOccurs="0" name="ApplMsgApplId" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgNbr" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgTxt" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgErrInd" type="xs:string" />
                    <xs:element minOccurs="0" name="ApplMsgFld" type="xs:string" />
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>