LoansPQWSWrappers/Web References/Mortrac.MortgageEntity/BaseLoanInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:baseLoanInfo="http://com.fsb.domain/services/BaseLoanInfo" elementFormDefault="qualified" targetNamespace="http://com.fsb.domain/services/BaseLoanInfo" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="BaseLoanInfo" type="baseLoanInfo:BaseLoanInfoType" />
  <complexType name="BaseLoanInfoType">
    <sequence>
      <element name="loanNumber" nillable="true" type="string" />
      <element name="loanId" nillable="true" type="long" />
    </sequence>
  </complexType>
</schema>