LoansPQWSWrappers/Web References/Mortrac.MortgageEntity/MortgageSecondaryFinancing.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:money="http://com.fsb.domain/services/Money" xmlns:mortgageSecondaryFinancing="http://com.fsb.domain/services/mortgage/MortgageSecondaryFinancing" xmlns:Q1="http://com.fsb.domain/services/BaseLoanInfo" elementFormDefault="qualified" targetNamespace="http://com.fsb.domain/services/mortgage/MortgageSecondaryFinancing" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="BaseLoanInfo.xsd" namespace="http://com.fsb.domain/services/BaseLoanInfo" />
  <import schemaLocation="Money.xsd" namespace="http://com.fsb.domain/services/Money" />
  <element name="MortgageSecondaryFinancing" type="mortgageSecondaryFinancing:MortgageSecondaryFinancingType" />
  <complexType name="MortgageSecondaryFinancingType">
    <complexContent mixed="false">
      <extension base="Q1:BaseLoanInfoType">
        <sequence>
          <element name="SecondaryFinancingBalance" nillable="true" type="money:MoneyType" />
          <element name="SecondaryFinancingBalanceMaximum" nillable="true" type="money:MoneyType" />
          <element name="SecondaryFinancingTypeCode" nillable="true" type="string" />
          <element name="SecondaryFinancingType" nillable="true" type="string" />
          <element name="IsSecondaryFinancing" type="boolean" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>