LoansPQWSWrappers/Web References/Mortrac.MortgageEntity/MortgageComment.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:mortComment="http://com.fsb.domain/services/mortgage/MortgageComment" xmlns:Q1="http://com.fsb.domain/services/BaseLoanInfo" elementFormDefault="qualified" targetNamespace="http://com.fsb.domain/services/mortgage/MortgageComment" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="BaseLoanInfo.xsd" namespace="http://com.fsb.domain/services/BaseLoanInfo" />
  <element name="MortgageComment" type="mortComment:MortgageCommentType" />
  <complexType name="MortgageCommentType">
    <complexContent mixed="false">
      <extension base="Q1:BaseLoanInfoType">
        <sequence>
          <element name="ReferenceType" nillable="true" type="string" />
          <element name="ReferenceTypeCode" nillable="true" type="string" />
          <element name="CommentType" nillable="true" type="string" />
          <element name="CommentTypeCode" nillable="true" type="string" />
          <element name="Comment" nillable="true" type="string" />
          <element name="CommentCreatedDateTime" nillable="true" type="dateTime" />
          <element name="CommentKey" nillable="true" type="long" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>