LoansPQWSWrappers/Web References/Mortrac.MortgageEntity/MortgageOriginator.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:mtgOriginator="http://com.fsb.domain/services/mortgage/MortgageOriginator" xmlns:Q1="http://com.fsb.domain/services/BaseLoanInfo" elementFormDefault="qualified" targetNamespace="http://com.fsb.domain/services/mortgage/MortgageOriginator" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="BaseLoanInfo.xsd" namespace="http://com.fsb.domain/services/BaseLoanInfo" />
  <complexType name="MortgageOriginatorType">
    <complexContent mixed="false">
      <extension base="Q1:BaseLoanInfoType">
        <sequence>
          <element name="MortgageOriginatorKey" nillable="true" type="string" />
          <element name="OriginatorKey" nillable="true" type="string" />
          <element name="OriginatorId" nillable="true" type="string" />
          <element name="OriginatorRoleCode" nillable="true" type="string" />
          <element name="OriginatorRole" nillable="true" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <element name="MortgageOriginator" type="mtgOriginator:MortgageOriginatorType" />
</schema>