LoansPQWSWrappers/Web References/Mortrac.MortgageEntity/MortgageCore.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:mortIdentity="http://com.fsb.domain/services/mortgage/MortgageCore" xmlns:Q1="http://com.fsb.domain/services/BaseLoanInfo" elementFormDefault="qualified" targetNamespace="http://com.fsb.domain/services/mortgage/MortgageCore" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="BaseLoanInfo.xsd" namespace="http://com.fsb.domain/services/BaseLoanInfo" />
  <element name="MortgageCore" type="mortIdentity:MortgageCoreType" />
  <complexType name="MortgageCoreType">
    <complexContent mixed="false">
      <extension base="Q1:BaseLoanInfoType">
        <sequence>
          <element name="OriginatorCompanyId" nillable="true" type="long" />
          <element name="OriginatorCompanyKey" nillable="true" type="long" />
          <element name="BusinessChannel" nillable="true" type="string" />
          <element name="BusinessChannelCode" nillable="true" type="string" />
          <element name="LoanPurposeType" nillable="true" type="string" />
          <element name="LoanPurposeTypeCode" nillable="true" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>