LoansPQWSWrappers.ConnectWare/ConnectWare/Web References/ConnectWare.LoanHMDAMaintenance/LNHMDAMaintWSV3SvcReqData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="mtvnCWLNHMDAMaintReqData" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="mtvnCWLNHMDAMaintReqData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LNHMDAMaintReqData">
    <xs:annotation>
      <xs:documentation>Loan HMDA Maintenance (LNARM) - </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="E30051" type="xs:string">
          <xs:annotation>
            <xs:documentation>Account</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30054" type="xs:string">
          <xs:annotation>
            <xs:documentation>Note Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35783" type="xs:string">
          <xs:annotation>
            <xs:documentation>Maintenance Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35955" type="xs:string">
          <xs:annotation>
            <xs:documentation>Date Application Received</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35956" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35957" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Purpose</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35958" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Amount</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35959" type="xs:string">
          <xs:annotation>
            <xs:documentation>Date Action Taken</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35960" type="xs:string">
          <xs:annotation>
            <xs:documentation>Action Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35961" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Origination Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35962" type="xs:string">
          <xs:annotation>
            <xs:documentation>Decision Center</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35963" type="xs:string">
          <xs:annotation>
            <xs:documentation>Metropolitan Area Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35784" type="xs:string">
          <xs:annotation>
            <xs:documentation>State and County Number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32020" type="xs:string">
          <xs:annotation>
            <xs:documentation>Census Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32273" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rate Spread</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32269" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lien Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32272" type="xs:string">
          <xs:annotation>
            <xs:documentation>Pre Approval</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32268" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32270" type="xs:string">
          <xs:annotation>
            <xs:documentation>Ethnicity </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32271" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35964" type="xs:string">
          <xs:annotation>
            <xs:documentation>Race 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32260" type="xs:string">
          <xs:annotation>
            <xs:documentation>Race 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32261" type="xs:string">
          <xs:annotation>
            <xs:documentation>Race 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32262" type="xs:string">
          <xs:annotation>
            <xs:documentation>Race 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32263" type="xs:string">
          <xs:annotation>
            <xs:documentation>Race 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35965" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32264" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32265" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32266" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E32267" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35966" type="xs:string">
          <xs:annotation>
            <xs:documentation>Sex Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35967" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Sex Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35972" type="xs:string">
          <xs:annotation>
            <xs:documentation>Marital Status</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35974" type="xs:string">
          <xs:annotation>
            <xs:documentation>Age</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35975" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Age</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35968" type="xs:string">
          <xs:annotation>
            <xs:documentation>Income</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35969" type="xs:string">
          <xs:annotation>
            <xs:documentation>Purchaser Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35970" type="xs:string">
          <xs:annotation>
            <xs:documentation>Reasons for Denial</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35971" type="xs:string">
          <xs:annotation>
            <xs:documentation>CRA Delineated Community</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35976" type="xs:string">
          <xs:annotation>
            <xs:documentation>Year Built</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E33349" type="xs:string">
          <xs:annotation>
            <xs:documentation>HOEPA Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35979" type="xs:string">
          <xs:annotation>
            <xs:documentation>Insurer Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35980" type="xs:string">
          <xs:annotation>
            <xs:documentation>Number Of Borrowers</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35981" type="xs:string">
          <xs:annotation>
            <xs:documentation>First Home Buyer Indicator</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35982" type="xs:string">
          <xs:annotation>
            <xs:documentation>Monthly House Expense</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35983" type="xs:string">
          <xs:annotation>
            <xs:documentation>Monthly Debt Payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35984" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bedroom Unit 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35985" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bedroom Unit 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35986" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bedroom Unit 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35987" type="xs:string">
          <xs:annotation>
            <xs:documentation>Bedroom Unit 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35988" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rental Income 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35989" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rental Income 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35990" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rental Income 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35991" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rental Income 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35992" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Character Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35993" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Character Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35994" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Character Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35995" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Character Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35996" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Character Code 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35997" type="xs:string">
          <xs:annotation>
            <xs:documentation>Special Character Code 6</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35998" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Source 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E35999" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Source 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36000" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Source 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36001" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Source 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36002" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Amount 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36003" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Amount 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36004" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Amount 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36005" type="xs:string">
          <xs:annotation>
            <xs:documentation>Down Payment Amount 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36006" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Source 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36007" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Source 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36008" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Source 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36009" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Source 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36010" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Amount 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36011" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Amount 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36012" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Amount 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36013" type="xs:string">
          <xs:annotation>
            <xs:documentation>Closing Cost Amount 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36014" type="xs:string">
          <xs:annotation>
            <xs:documentation>Secondary Financing Source 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36015" type="xs:string">
          <xs:annotation>
            <xs:documentation>Secondary Financing Source 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36016" type="xs:string">
          <xs:annotation>
            <xs:documentation>Secondary Financing Amount 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36017" type="xs:string">
          <xs:annotation>
            <xs:documentation>Secondary Financing Amount 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36018" type="xs:string">
          <xs:annotation>
            <xs:documentation>Borrower Education Code 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36019" type="xs:string">
          <xs:annotation>
            <xs:documentation>Borrower Education Code 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36020" type="xs:string">
          <xs:annotation>
            <xs:documentation>Borrower Education Code 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E36021" type="xs:string">
          <xs:annotation>
            <xs:documentation>Borrower Education Code 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38200" type="xs:string">
          <xs:annotation>
            <xs:documentation>Data Collection Year</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38201" type="xs:string">
          <xs:annotation>
            <xs:documentation>Universal Loan Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38202" type="xs:string">
          <xs:annotation>
            <xs:documentation>Legal Entity Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38203" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Purpose V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38204" type="xs:string">
          <xs:annotation>
            <xs:documentation>Construction Method</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38205" type="xs:string">
          <xs:annotation>
            <xs:documentation>Occupancy Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38206" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Amount V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38207" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property Address</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38208" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property City</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38209" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property State</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38210" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property ZIP Code</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38211" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property County</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38212" type="xs:string">
          <xs:annotation>
            <xs:documentation>Census Tract</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38213" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38214" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38215" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38216" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38217" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38218" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38219" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38220" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38221" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38222" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38223" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38224" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity Text </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38225" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Ethnicity Collection Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38226" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Ethnicity Collection Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38227" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38228" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38229" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38230" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38231" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38232" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race AI Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38233" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race OA Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38234" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race PI Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38235" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race V2_1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38236" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race V2_2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38237" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race V2_3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38238" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race V2_4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38239" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race V2_5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38240" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race AI Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38241" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race OA Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38242" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race PI Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38243" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Race Collection Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38244" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Race Collection Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38245" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Sex Collection Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38246" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Sex Collection Basis</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38247" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Age V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38248" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Age V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38249" type="xs:string">
          <xs:annotation>
            <xs:documentation>Income V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38250" type="xs:string">
          <xs:annotation>
            <xs:documentation>Rate Spread V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38251" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Loan Costs</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38252" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Points and Fees</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38253" type="xs:string">
          <xs:annotation>
            <xs:documentation>Origination Charges</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38254" type="xs:string">
          <xs:annotation>
            <xs:documentation>Discount Points</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38255" type="xs:string">
          <xs:annotation>
            <xs:documentation>Lender Credits</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38256" type="xs:string">
          <xs:annotation>
            <xs:documentation>Interest Rate</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38257" type="xs:string">
          <xs:annotation>
            <xs:documentation>Prepayment Penalty Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38258" type="xs:string">
          <xs:annotation>
            <xs:documentation>Debt To Income Ratio</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38259" type="xs:string">
          <xs:annotation>
            <xs:documentation>Combined Loan-to-Value Ratio</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38260" type="xs:string">
          <xs:annotation>
            <xs:documentation>Loan Term</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38261" type="xs:string">
          <xs:annotation>
            <xs:documentation>Introductory Rate Period</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38262" type="xs:string">
          <xs:annotation>
            <xs:documentation>Property Value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38263" type="xs:string">
          <xs:annotation>
            <xs:documentation>Purchaser Type V2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38264" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Credit Score</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38265" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Credit Score</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38266" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant Credit Scoring Model</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38267" type="xs:string">
          <xs:annotation>
            <xs:documentation>Applicant CS Model Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38268" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant Credit Scoring Model</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38269" type="xs:string">
          <xs:annotation>
            <xs:documentation>Co Applicant CS Model Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38270" type="xs:string">
          <xs:annotation>
            <xs:documentation>Denial Reason 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38271" type="xs:string">
          <xs:annotation>
            <xs:documentation>Denial Reason 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38272" type="xs:string">
          <xs:annotation>
            <xs:documentation>Denial Reason 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38273" type="xs:string">
          <xs:annotation>
            <xs:documentation>Denial Reason 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38274" type="xs:string">
          <xs:annotation>
            <xs:documentation>Balloon Payment</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38275" type="xs:string">
          <xs:annotation>
            <xs:documentation>Interest Only Payments</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38276" type="xs:string">
          <xs:annotation>
            <xs:documentation>Negative Amortization</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38277" type="xs:string">
          <xs:annotation>
            <xs:documentation>Other Nonamortizing Features</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38278" type="xs:string">
          <xs:annotation>
            <xs:documentation>Manufactured Home Secured Property Type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38279" type="xs:string">
          <xs:annotation>
            <xs:documentation>Manufactured Home Land Property Interest</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38280" type="xs:string">
          <xs:annotation>
            <xs:documentation>Total Units</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38281" type="xs:string">
          <xs:annotation>
            <xs:documentation>Multifamily Affordable Units</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38282" type="xs:string">
          <xs:annotation>
            <xs:documentation>Application Submission</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38283" type="xs:string">
          <xs:annotation>
            <xs:documentation>Institution Payable </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38284" type="xs:string">
          <xs:annotation>
            <xs:documentation>NMLSR Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38285" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting System 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38286" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting System 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38287" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting System 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38288" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting System 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38289" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting System 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38290" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting Result 1</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38291" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting Result 2</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38292" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting Result 3</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38293" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting Result 4</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38294" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting Result 5</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38295" type="xs:string">
          <xs:annotation>
            <xs:documentation>Reverse Mortgage</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38296" type="xs:string">
          <xs:annotation>
            <xs:documentation>Open End Line Of Credit</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38297" type="xs:string">
          <xs:annotation>
            <xs:documentation>Business Commercial Purpose</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38298" type="xs:string">
          <xs:annotation>
            <xs:documentation>Denial Reason Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38299" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting System Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E38300" type="xs:string">
          <xs:annotation>
            <xs:documentation>Automated Underwriting Result Text</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="E30299" type="xs:string">
          <xs:annotation>
            <xs:documentation>Non Universal Loan Identifier</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>