LoansPQWSWrappers/Web References/EPL.UserAuthentication/2006-05-01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.eplinc.com/services/UserAuthenticationService/2006-05-01/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:type="http://www.eplinc.com/services/UserAuthenticationService/2006-05-01/schema" targetNamespace="http://www.eplinc.com/services/UserAuthenticationService/2006-05-01/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.eplinc.com/services/UserAuthenticationService/2006-05-01/schema">
      <xsd:include schemaLocation="../../schema/UserAuthenticationService/2006-05-01/UserAuthenticationService.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SignOnRequest">
    <wsdl:part name="SignOnReq" element="type:SignOnReq" />
  </wsdl:message>
  <wsdl:message name="SignOnResponse">
    <wsdl:part name="SignOnResp" element="type:SignOnResp" />
  </wsdl:message>
  <wsdl:message name="SignOffRequest">
    <wsdl:part name="SignOffReq" element="type:SignOffReq" />
  </wsdl:message>
  <wsdl:message name="SignOffResponse">
    <wsdl:part name="SignOffResp" element="type:SignOffResp" />
  </wsdl:message>
  <wsdl:portType name="UserAuthenticationServicePortType">
    <wsdl:operation name="PerformSignOn">
      <wsdl:input name="SignOnRequest" message="tns:SignOnRequest" />
      <wsdl:output name="SignOnResponse" message="tns:SignOnResponse" />
    </wsdl:operation>
    <wsdl:operation name="PerformSignOff">
      <wsdl:input name="SignOffRequest" message="tns:SignOffRequest" />
      <wsdl:output name="SignOffResponse" message="tns:SignOffResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserAuthenticationServiceBinding" type="tns:UserAuthenticationServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformSignOn">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SignOnRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SignOnResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformSignOff">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SignOffRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SignOffResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserAuthenticationService">
    <wsdl:port name="UserAuthenticationServicePort" binding="tns:UserAuthenticationServiceBinding">
      <wsdlsoap:address location="http://localhost:9989/webserv/services/UserAuthenticationService/2006-05-01" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>