LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/AddStopPayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <annotation>
    <documentation>
		Uses Cobol Copybook for Stop Payment Add: TRAN_ASX
		</documentation>
  </annotation>
  <complexType name="AddStopPaymentRequest">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element name="subAccountID" type="cm:SubAccountID" />
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" name="expirationDate" nillable="true" type="date" />
          <element name="checkNumber" type="ctl:NonNegativeInteger_6" />
          <element minOccurs="0" name="endingCheckNumber" type="ctl:NonNegativeInteger_6" />
          <element name="companyName" type="ctl:String_15" />
          <element name="reason" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AddStopPaymentResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" maxOccurs="1" name="subAccountID" type="cm:SubAccountID" />
          <element minOccurs="0" maxOccurs="1" name="tranAmount" type="ctl:Decimal_15_2" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>