LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/CashBackForGL.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <annotation>
    <documentation>Uses Cobol Copybook for Chashback: TRAN_GCR Version V002 </documentation>
  </annotation>
  <complexType name="CashBackForGLRequest">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="glAccountNo" type="tns:GLAccountNo" />
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="checksInAmount" type="ctl:Decimal_15_2" />
          <element name="checksOnUsAmount" type="ctl:Decimal_15_2" />
          <element name="folio" type="ctl:String_6" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CashBackForGLResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="glAccountNo" type="tns:GLAccountNo" />
          <element minOccurs="0" maxOccurs="1" name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="checksInAmount" type="ctl:Decimal_15_2" />
          <element name="checksOnUsAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" maxOccurs="1" name="folio" type="ctl:String_6" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>