LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/CertFileMaintenance.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:cmlib="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <annotation>
    <documentation>Supports TRAN_FMC  -  CERTIFICATE FILE MAINT INPUT/OUTPUT </documentation>
  </annotation>
  <complexType name="CertFileMaintenanceRequest">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element name="subAccountID" type="cm:SubAccountID" />
          <element name="fieldName" type="cmlib:String_7" />
          <element minOccurs="0" name="newValue" type="cmlib:String_30" />
          <element name="certificateID" type="cm:CertificateID" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CertFileMaintenanceResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" maxOccurs="1" name="subAccountID" type="cm:SubAccountID" />
          <element name="certificateID" type="cm:CertificateID" />
          <element name="fieldName" type="cmlib:String_7" />
          <element minOccurs="0" name="newValue" type="cmlib:String_30" />
          <element minOccurs="0" name="oldValue" type="cmlib:String_30" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>