LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/GeneralLedgerDisbursement.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <annotation>
    <documentation>
			Uses Cobol Copybook for general Ledger Disbursement:
		</documentation>
  </annotation>
  <complexType name="GeneralLedgerDisbursementRequest">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="glAccountNo" type="tns:GLAccountNo" />
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="folio" type="ctl:String_6" />
          <element name="description" type="ctl:String_15" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeneralLedgerDisbursementResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="glAccountNo" type="tns:GLAccountNo" />
          <element minOccurs="0" maxOccurs="1" name="tranAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" maxOccurs="1" name="folio" type="ctl:String_6" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>