LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/LoanAdvanceFees.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <annotation>
    <documentation>Uses Cobol Copybook for Loan Advance Fees: TRAN_LAF</documentation>
  </annotation>
  <complexType name="LoanAdvanceFeesResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="folio" type="ctl:String_6" />
          <element name="description" type="ctl:String_15" />
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" maxOccurs="1" name="subAccountID" type="cm:SubAccountID" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>