LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/MortgagePayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <annotation>
    <documentation>
			Uses Cobol Copybook mortgage payment: TRAN_GER Uses Cobol Copybook
			and mortgage payment by	transfer: TRAN_GET 
			Regular Payment 43 REG 
			Regular Payment Plus 44 CUR 
			Principal Payment Only 51 
			Escrow Payment Only 61 
			Partial Payment Only No Code 
			Late Charge Only 82 LTC
		</documentation>
  </annotation>
  <complexType name="MortgagePaymentRequest">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" name="subAccountID" type="cm:SubAccountID" />
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="principalAmount" type="ctl:Decimal_15_2" />
          <element name="escrowAmount" type="ctl:Decimal_15_2" />
          <element name="unappliedAmount" type="ctl:Decimal_15_2" />
          <element name="lateFeesAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" name="interestAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" name="folio" type="ctl:String_6" />
          <element name="paymentType" type="tns:MortgagePaymentType" />
          <element name="mortgageID" type="ctl:NonNegativeInteger_12" />
          <element minOccurs="0" name="checksInAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" name="checksOnUsAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" default="false" name="paymentByXfer" type="boolean" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MortgagePaymentResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" name="subAccountID" type="cm:SubAccountID" />
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" name="folio" type="ctl:String_6" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>