LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/MortgagePaymentReversal.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <annotation>
    <documentation>Uses Cobol Copybook mortgage payment: TRAN_EIT
Regular Payment Amount	            43	REG
Regular Payment + Principal Amount	44	CUR
Principal Payment Only	            51	
Escrow Payment Only	                61	
Partial Payment Only	            No Code	
Late Charge Only	                82	LTC		
		</documentation>
  </annotation>
  <complexType name="MortgagePaymentReversalRequest">
    <annotation>
      <documentation />
    </annotation>
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element name="subAccountID" type="cm:SubAccountID" />
          <element name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="interestAmount" type="ctl:Decimal_15_2" />
          <element name="folio" type="ctl:String_6" />
          <element name="paymentType" type="tns:MortgagePaymentType" />
          <element name="mortgageID" type="ctl:NonNegativeInteger_12" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MortgagePaymentReversalResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" maxOccurs="1" name="subAccountID" type="cm:SubAccountID" />
          <element minOccurs="0" maxOccurs="1" name="tranAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" maxOccurs="1" name="folio" type="ctl:String_6" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>