LoansPQWSWrappers/Web References/AFCU17.MultiTransaction/OpenShareAccount.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://www.americafirst.com/20070315/AccountTransaction" xmlns:ctl="http://www.americafirst.com/20070315/CommonTypesLib" xmlns:cm="http://www.americafirst.com/20070315/CommonTypes" targetNamespace="http://www.americafirst.com/20070315/AccountTransaction" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="CommonTransactionTypes.xsd" />
  <import schemaLocation="../commontypeslib/CommonTypesLib.xsd" namespace="http://www.americafirst.com/20070315/CommonTypesLib" />
  <import schemaLocation="../commontypes/CommonTypes.xsd" namespace="http://www.americafirst.com/20070315/CommonTypes" />
  <annotation>
    <documentation>Uses Cobol Copybook for Share Deposit: TRAN_S_R V002 
		note: the response of theis request is a share deposit response
		</documentation>
  </annotation>
  <complexType name="OpenShareAccountRequest">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeRequest">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element name="subAccountID" type="cm:SubAccountID" />
          <element minOccurs="0" maxOccurs="1" name="shareTypeCode" type="ctl:String_1" />
          <element minOccurs="0" maxOccurs="1" name="shareRateCode" type="ctl:String_1" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OpenShareAccountResponse">
    <complexContent mixed="false">
      <extension base="tns:TranBaseTypeResponse">
        <sequence>
          <element name="accountID" type="cm:AccountID" />
          <element minOccurs="0" maxOccurs="1" name="subAccountID" type="cm:SubAccountID" />
          <element minOccurs="0" maxOccurs="1" name="tranAmount" type="ctl:Decimal_15_2" />
          <element name="checksInAmount" type="ctl:Decimal_15_2" />
          <element name="checksOnUsAmount" type="ctl:Decimal_15_2" />
          <element minOccurs="0" maxOccurs="1" name="folio" type="ctl:String_6" />
          <element minOccurs="0" name="checkCount" type="ctl:NonNegativeInteger_4" />
          <element minOccurs="0" maxOccurs="1" name="depositCode" type="ctl:String_2" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>