LoansPQWSWrappers.JXChange_2012/JXChange2017302/Web References/JXChange2017302.ENS/TPG_ENS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://jackhenry.com/jxchange/TPG/2008" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://jackhenry.com/jxchange/TPG/2008" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jackhenry.com/jxchange/TPG/2008" version="2017.3.02" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:include schemaLocation="TPG_ENSMaster.xsd" />
    </xsd:schema>
  </types>
  <message name="MessageFault">
    <part name="params" element="tns:HdrFault" />
  </message>
  <message name="PingInput">
    <part name="params" element="tns:Ping" />
  </message>
  <message name="PingOutput">
    <part name="params" element="tns:PingResponse" />
  </message>
  <message name="NotSndAddInput">
    <part name="params" element="tns:NotSndAdd" />
  </message>
  <message name="NotSndAddOutput">
    <part name="params" element="tns:NotSndAddResponse" />
  </message>
  <message name="NotRecipAddInput">
    <part name="params" element="tns:NotRecipAdd" />
  </message>
  <message name="NotRecipAddOutput">
    <part name="params" element="tns:NotRecipAddResponse" />
  </message>
  <message name="NotRecipModInput">
    <part name="params" element="tns:NotRecipMod" />
  </message>
  <message name="NotRecipModOutput">
    <part name="params" element="tns:NotRecipModResponse" />
  </message>
  <message name="NotRecipInqInput">
    <part name="params" element="tns:NotRecipInq" />
  </message>
  <message name="NotRecipInqOutput">
    <part name="params" element="tns:NotRecipInqResponse" />
  </message>
  <message name="NotRecipSrchInput">
    <part name="params" element="tns:NotRecipSrch" />
  </message>
  <message name="NotRecipSrchOutput">
    <part name="params" element="tns:NotRecipSrchResponse" />
  </message>
  <message name="NotRecipSubAddInput">
    <part name="params" element="tns:NotRecipSubAdd" />
  </message>
  <message name="NotRecipSubAddOutput">
    <part name="params" element="tns:NotRecipSubAddResponse" />
  </message>
  <message name="NotRecipSubModInput">
    <part name="params" element="tns:NotRecipSubMod" />
  </message>
  <message name="NotRecipSubModOutput">
    <part name="params" element="tns:NotRecipSubModResponse" />
  </message>
  <message name="NotRecipSubInqInput">
    <part name="params" element="tns:NotRecipSubInq" />
  </message>
  <message name="NotRecipSubInqOutput">
    <part name="params" element="tns:NotRecipSubInqResponse" />
  </message>
  <message name="NotRecipSubSrchInput">
    <part name="params" element="tns:NotRecipSubSrch" />
  </message>
  <message name="NotRecipSubSrchOutput">
    <part name="params" element="tns:NotRecipSubSrchResponse" />
  </message>
  <message name="NotMobPhoneValidateInput">
    <part name="params" element="tns:NotMobPhoneValidate" />
  </message>
  <message name="NotMobPhoneValidateOutput">
    <part name="params" element="tns:NotMobPhoneValidateResponse" />
  </message>
  <message name="NotSMSKeyWordAddInput">
    <part name="params" element="tns:NotSMSKeyWordAdd" />
  </message>
  <message name="NotSMSKeyWordAddOutput">
    <part name="params" element="tns:NotSMSKeyWordAddResponse" />
  </message>
  <message name="NotSMSKeyWordModInput">
    <part name="params" element="tns:NotSMSKeyWordMod" />
  </message>
  <message name="NotSMSKeyWordModOutput">
    <part name="params" element="tns:NotSMSKeyWordModResponse" />
  </message>
  <message name="NotSMSKeyWordInqInput">
    <part name="params" element="tns:NotSMSKeyWordInq" />
  </message>
  <message name="NotSMSKeyWordInqOutput">
    <part name="params" element="tns:NotSMSKeyWordInqResponse" />
  </message>
  <message name="NotSMSKeyWordSrchInput">
    <part name="params" element="tns:NotSMSKeyWordSrch" />
  </message>
  <message name="NotSMSKeyWordSrchOutput">
    <part name="params" element="tns:NotSMSKeyWordSrchResponse" />
  </message>
  <message name="NotExplDataAddInput">
    <part name="params" element="tns:NotExplDataAdd" />
  </message>
  <message name="NotExplDataAddOutput">
    <part name="params" element="tns:NotExplDataAddResponse" />
  </message>
  <message name="NotDistGroupAddInput">
    <part name="params" element="tns:NotDistGroupAdd" />
  </message>
  <message name="NotDistGroupAddOutput">
    <part name="params" element="tns:NotDistGroupAddResponse" />
  </message>
  <message name="NotDistGroupModInput">
    <part name="params" element="tns:NotDistGroupMod" />
  </message>
  <message name="NotDistGroupModOutput">
    <part name="params" element="tns:NotDistGroupModResponse" />
  </message>
  <message name="NotDistGroupInqInput">
    <part name="params" element="tns:NotDistGroupInq" />
  </message>
  <message name="NotDistGroupInqOutput">
    <part name="params" element="tns:NotDistGroupInqResponse" />
  </message>
  <message name="NotDistGroupSrchInput">
    <part name="params" element="tns:NotDistGroupSrch" />
  </message>
  <message name="NotDistGroupSrchOutput">
    <part name="params" element="tns:NotDistGroupSrchResponse" />
  </message>
  <message name="NotActSrchInput">
    <part name="params" element="tns:NotActSrch" />
  </message>
  <message name="NotActSrchOutput">
    <part name="params" element="tns:NotActSrchResponse" />
  </message>
  <message name="NotEmailAlrtAddInput">
    <part name="params" element="tns:NotEmailAlrtAdd" />
  </message>
  <message name="NotEmailAlrtAddOutput">
    <part name="params" element="tns:NotEmailAlrtAddResponse" />
  </message>
  <portType name="ENSService">
    <operation name="Ping">
      <input message="tns:PingInput" />
      <output message="tns:PingOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotSndAdd">
      <input message="tns:NotSndAddInput" />
      <output message="tns:NotSndAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipAdd">
      <input message="tns:NotRecipAddInput" />
      <output message="tns:NotRecipAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipMod">
      <input message="tns:NotRecipModInput" />
      <output message="tns:NotRecipModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipInq">
      <input message="tns:NotRecipInqInput" />
      <output message="tns:NotRecipInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipSrch">
      <input message="tns:NotRecipSrchInput" />
      <output message="tns:NotRecipSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipSubAdd">
      <input message="tns:NotRecipSubAddInput" />
      <output message="tns:NotRecipSubAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipSubMod">
      <input message="tns:NotRecipSubModInput" />
      <output message="tns:NotRecipSubModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipSubInq">
      <input message="tns:NotRecipSubInqInput" />
      <output message="tns:NotRecipSubInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotRecipSubSrch">
      <input message="tns:NotRecipSubSrchInput" />
      <output message="tns:NotRecipSubSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotMobPhoneValidate">
      <input message="tns:NotMobPhoneValidateInput" />
      <output message="tns:NotMobPhoneValidateOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotSMSKeyWordAdd">
      <input message="tns:NotSMSKeyWordAddInput" />
      <output message="tns:NotSMSKeyWordAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotSMSKeyWordMod">
      <input message="tns:NotSMSKeyWordModInput" />
      <output message="tns:NotSMSKeyWordModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotSMSKeyWordInq">
      <input message="tns:NotSMSKeyWordInqInput" />
      <output message="tns:NotSMSKeyWordInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotSMSKeyWordSrch">
      <input message="tns:NotSMSKeyWordSrchInput" />
      <output message="tns:NotSMSKeyWordSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotExplDataAdd">
      <input message="tns:NotExplDataAddInput" />
      <output message="tns:NotExplDataAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotDistGroupAdd">
      <input message="tns:NotDistGroupAddInput" />
      <output message="tns:NotDistGroupAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotDistGroupMod">
      <input message="tns:NotDistGroupModInput" />
      <output message="tns:NotDistGroupModOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotDistGroupInq">
      <input message="tns:NotDistGroupInqInput" />
      <output message="tns:NotDistGroupInqOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotDistGroupSrch">
      <input message="tns:NotDistGroupSrchInput" />
      <output message="tns:NotDistGroupSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotActSrch">
      <input message="tns:NotActSrchInput" />
      <output message="tns:NotActSrchOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
    <operation name="NotEmailAlrtAdd">
      <input message="tns:NotEmailAlrtAddInput" />
      <output message="tns:NotEmailAlrtAddOutput" />
      <fault name="Fault" message="tns:MessageFault" />
    </operation>
  </portType>
  <binding name="ENSServiceSoapBinding" type="tns:ENSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Ping">
      <soap:operation soapAction="http://jackhenry.com/ws/Ping" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotSndAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotSndAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipMod">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipInq">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipSubAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipSubAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipSubMod">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipSubMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipSubInq">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipSubInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotRecipSubSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/NotRecipSubSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotMobPhoneValidate">
      <soap:operation soapAction="http://jackhenry.com/ws/NotMobPhoneValidate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotSMSKeyWordAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotSMSKeyWordAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotSMSKeyWordMod">
      <soap:operation soapAction="http://jackhenry.com/ws/NotSMSKeyWordMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotSMSKeyWordInq">
      <soap:operation soapAction="http://jackhenry.com/ws/NotSMSKeyWordInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotSMSKeyWordSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/NotSMSKeyWordSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotExplDataAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotExplDataAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotDistGroupAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotDistGroupAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotDistGroupMod">
      <soap:operation soapAction="http://jackhenry.com/ws/NotDistGroupMod" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotDistGroupInq">
      <soap:operation soapAction="http://jackhenry.com/ws/NotDistGroupInq" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotDistGroupSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/NotDistGroupSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotActSrch">
      <soap:operation soapAction="http://jackhenry.com/ws/NotActSrch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
    <operation name="NotEmailAlrtAdd">
      <soap:operation soapAction="http://jackhenry.com/ws/NotEmailAlrtAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Fault">
        <soap:fault use="literal" name="Fault" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="ENSService">
    <documentation>Service Description for the ENSService Interface</documentation>
    <port name="ENSServiceSoap" binding="tns:ENSServiceSoapBinding">
      <soap:address location="https://jackhenry.com/jxchange/2008/ServiceGateway/ENS.svc" />
    </port>
  </service>
</definitions>