LoansPQWSWrappers.SecurityService/SecurityService/Service References/TRISM/Trism0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://DemoTeller.com" elementFormDefault="qualified" targetNamespace="http://DemoTeller.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="Trism2.xsd" namespace="http://schemas.datacontract.org/2004/07/Demoteller" />
  <xs:element name="GetPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="Cardinfo" nillable="true" type="q1:RepinCardApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="GetPinResult" nillable="true" type="q2:ResponseObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="CardInfo" nillable="true" type="q3:NewCardApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InstantIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="InstantIssueResult" nillable="true" type="q4:ResponseObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="Cardinfo" nillable="true" type="q5:NewCardApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="ReIssueResult" nillable="true" type="q6:ResponseObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RePin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="Cardinfo" nillable="true" type="q7:RepinCardApp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RePinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Demoteller" minOccurs="0" name="RePinResult" nillable="true" type="q8:ResponseObj" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>